@mixin link($is-hover-only: false) {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  color: inherit;
  text-decoration: none;

  @if ($is-hover-only) {
    border-bottom-color: transparent;
  } @else {
    border-bottom-color: colour('light-grey');
  }

  transition: border-color 200ms ease;

  &:hover {
    border-color: colour('mid-grey');
  }
}
