<div class="{{- [
    'tasl--top' if modifiers.full else 'tasl--bottom',
    {s:'LR3', m:'LR2'} | fontClasses
  ].join(' ') }} tasl drawer js-show-hide"
    data-track-action="toggle-image-credit"
    data-track-label="image:{{ model.contentUrl }}">
  {% if not modifiers.full %}
    <button class="tasl__button plain-button js-show-hide-trigger absolute">
      <span class="tasl__icon tasl__icon--open flex--v-center flex--h-center bg-transparent-black">
        {% icon 'information', 'information', ['icon--white'] %}
      </span>
      <span class="tasl__icon tasl__icon--close flex--v-center flex--h-center bg-transparent-black">
        {% icon 'cross', 'close', ['icon--white'] %}
      </span>
    </button>
  {% endif %}
  <div class="drawer__body js-show-hide-drawer bg-black font-white {{ {s:1} | spacingClasses({padding: ['top', 'bottom', 'left']}) }} {{ {s:6} | spacingClasses({padding: ['right']}) }}">
    {{ model | getTaslMarkup | safe }}
  </div>
  {% if modifiers.full %}
    <button class="tasl__button absolute plain-button js-show-hide-trigger">
      <span class="tasl__icon tasl__icon--open flex--v-center flex--h-center bg-transparent-black">
        {% icon 'information', 'information', ['icon--white'] %}
      </span>
      <span class="tasl__icon tasl__icon--close flex--v-center flex--h-center bg-transparent-black">
        {% icon 'cross', 'close', ['icon--white'] %}
      </span>
    </button>
  {% endif %}
</div>
