{% extends 'layout/default.njk' %}

{% set description = exhibition.promo.description %}
{% block pageMeta %}
  {% set metaContent = {
    type: 'website',
    title: exhibition.title,
    image: exhibition.featuredImageList[0] and exhibition.featuredImageList[0].contentUrl,
    description: description,
    url: pageConfig.canonicalUri
  } %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}
  <meta name="description" content="{{ description }}" />
{% endblock %}

{% block body %}
  {% set jsonLdExhibition = exhibition | objectAssign({ safeDescription: exhibition.description | prismicAsText }) %}

  <script type="application/ld+json">
    {{ jsonLdExhibition | jsonLd('exhibitionLd') | safe }}
  </script>

  <article data-wio-id="{{ exhibition.id }}">
    <div class="row relative">
      <div class="flush-container-left absolute {{ {s:2} | spacingClasses({margin: ['top', 'bottom']}) }}">
        {% componentJsx 'Tags', { tags: tags } %}
      </div>

      <div class="exhibition-hero">
        {% componentJsx 'Picture', {
          images: exhibition.featuredImageList,
          extraClasses: 'exhibition-hero__picture',
          isFull: true
        }%}

        <div class="exhibition-hero__copy {{ {l:10} | spacingClasses({margin: ['bottom']}) }}">
          <div class="is-hidden-l is-hidden-xl">
            {% componentJsx 'WobblyEdge', {background: 'white'} %}
          </div>

          <div class="container">
            <div class="grid">
              <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
                <div class="bg-white inline-block exhibition-hero__box {{ {l:4} | spacingClasses({'padding': ['right', 'left']}) }} {{ {s:4} | spacingClasses({'padding': ['top', 'bottom']}) }} rounded-diagonal">
                  <div class="flex flex--v-center flex--h-space-between">
                    <span class="{{ {s:'HNM4', m:'HNM3'} | fontClasses }} {{ {s: 6} | spacingClasses({margin: ['right']}) }}">Free admission</span>
                    {% componentJsx 'StatusIndicator', {start: exhibition.start, end: exhibition.end, statusOverride: exhibition.statusOverride} %}
                  </div>
                  <h1 class="{{ {s:'WB5', m:'WB4', xl:'WB3'} | fontClasses }}">{{ exhibition.title }}</h1>
                  <span class="{{ {s:'HNL4', m:'HNL3', l:'HNL3', xl:'HNL2'} | fontClasses }}">
                  {% if exhibition.start and exhibition.end %}
                    <time datetime="{{ exhibition.start }}">{{ exhibition.start | formatDate }}</time>&ndash;<time datetime="{{ exhibition.end }}">{{ exhibition.end | formatDate }}</time>
                  {% endif %}
                </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="is-hidden-s is-hidden-m">
        {% componentJsx 'WobblyEdge', {background: 'white', intensity: 30} %}
      </div>
    </div>

    <div class="row {{ {s:5} | spacingClasses({margin: ['top']}) }}">
      <div class="container">
        <div class="grid">
          <div class="{{ {s:12, m:10, shiftM:1, l:7, xl:7} | gridClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
            {% if exhibition.body.length === 0 and exhibition.intro %}
              {% componentJsx 'FeaturedText', { html: exhibition.intro } %}
            {% endif %}
            {% if exhibition.body.length > 0 %}
              {% for bodyPart in exhibition.body %}
                {% if bodyPart.type === 'text' %}
                  {% if bodyPart.weight === 'featured' %}
                    {% componentJsx 'FeaturedText', { html: bodyPart.value } %}
                  {% else %}
                    <div class="body-text">
                      {{ bodyPart.value | prismicAsHtml | safe }}
                    </div>
                  {% endif %}
                {% elif bodyPart.type === 'quote' %}
                  {% componentJsx 'Quote', bodyPart.value %}
                {% endif %}
              {% endfor %}
            {% else %}
              <div class="body-text">
                {{ exhibition.description | prismicAsHtml | safe }}
              </div>
            {% endif %}
          </div>
          <div class="{{ {s:12, m:10, shiftM:1, l:5, xl:5} | gridClasses }}">
            <hr class="divider divider--keyline divider--pumice {{ {s:2} | spacingClasses({margin: ['bottom']}) }}" />
            <div class="drawer js-show-hide"
                 data-track-action="opening-times-drawer">
              <button class="plain-button no-padding pointer js-show-hide-trigger font-green {{ {s:3} | spacingClasses({margin: ['bottom']}) }} {{ {s:'HNM4'} | fontClasses }}">
                <span class="flex flex--v-center">{% icon 'plus', null, ['icon--green', 'margin-right-s1'] %}Opening times</span>
              </button>
              <div class="drawer__body js-show-hide-drawer">
                {% componentJsx 'OpeningHours', {
                  id: 'exhibition-page',
                  extraClasses: 'opening-hours--light opening-hours--compressed',
                  groupedVenues: openingHours.groupedVenues,
                  upcomingExceptionalOpeningPeriods: openingHours.upcomingExceptionalOpeningPeriods
                } %}
              </div>
            </div>
            <hr class="divider divider--keyline divider--pumice {{ {s:2} | spacingClasses({margin: ['bottom']}) }}" />
            {% block accessStatements %}
              <h2 class="{{ {s:'HNM4'} | fontClasses }} {{ {s:3} | spacingClasses({margin: ['bottom']}) }}">Access information</h2>
              {% if exhibition.galleryLevel !== null %}
                <div class="flex {{ {s:1} | spacingClasses({margin: ['top', 'bottom']}) }} {{ {s:'HNL4'} | fontClasses}}">
                  <div class="{{ {s:1} | spacingClasses({margin:['right']}) }}">{% icon 'lifts' %}</div>
                  <p class="no-margin">This exhibition is on level {{ exhibition.galleryLevel }}</p>
                </div>
              {% endif %}
              <div class="flex {{ {s:1} | spacingClasses({margin: ['top', 'bottom']}) }} {{ {s:'HNL4'} | fontClasses}}">
                <div class="{{ {s:1} | spacingClasses({margin:['right']}) }}">{% icon 'a11y' %}</div>
                <p class="no-margin">Step-free access is available to all floors of the building</p>
              </div>
              <div class="flex {{ {s:1} | spacingClasses({margin: ['top', 'bottom']}) }} {{ {s:'HNL4'} | fontClasses}}">
                <div class="{{ {s:1} | spacingClasses({margin:['right']}) }}">{% icon 'a11y_visual' %}</div>
                <p class="no-margin">Large print guides, transcripts and magnifiers are available in the gallery</p>
              </div>
              {# TODO (hack) #}
              {% if exhibition.id === 'WgV_ACUAAIu2P_ZM' %}
                  <div class="flex {{ {s:1} | spacingClasses({margin: ['top', 'bottom']}) }} {{ {s:'HNL4'} | fontClasses}}">
                    <div class="{{ {s:1} | spacingClasses({margin:['right']}) }}">{% icon 'information' %}</div>
                    <p class="no-margin">A family activity pack is available in the gallery</p>
                  </div>
              {% endif %}

              <div class="{{ {s:5} | spacingClasses({margin: ['top']}) }}">
                {% if exhibition.textAndCaptionsDocument %}
                  <a href="/download?uri={{ exhibition.textAndCaptionsDocument.url }}"
                     download="{{ exhibition.textAndCaptionsDocument.name }}"
                     data-track-event='{"category": "component", "action": "download-pdf:click", "label": "name:{{ exhibition.textAndCaptionsDocument.name }}, url:{{ exhibition.textAndCaptionsDocument.url }}"}'
                     class="plain-link font-green font-hover-turquoise flex {{ {s:1} | spacingClasses({margin: ['bottom']}) }} {{ {s:'HNM4'} | fontClasses}}"
                     onclick="hj('trigger', 'exhibitions_texts_download');">
                    <div class="{{ {s:1} | spacingClasses({margin:['right']}) }} flex flex--v-center">{% icon 'pdf', null, ['icon--green'] %}</div>
                    <span>Download exhibition texts (PDF {{ exhibition.textAndCaptionsDocument.sizeInKb }}KB)</span>
                  </a>
                {% endif %}
                <div class="{{ {s:2} | spacingClasses({margin: ['bottom']}) }}">
                  {% componentJsx 'SecondaryLink', { text: 'Find out more about accessibility', url: 'https://wellcomecollection.org/access' } %}
                </div>
              </div>
            {% endblock %}

            <hr class="divider divider--pumice divider--keyline {{ {s:4} | spacingClasses({margin: ['bottom']}) }}" />
          </div>
        </div>
      </div>
    </div>

    {# We append the IDs here because that's how we need to query Prismic at the moment #}
    {% if exhibitIds.length > 0 %}
      {% component 'async', {
        endpoint: '/exhibitions/' + exhibition.id + '/exhibits?query=ids:' + (exhibitIds | join(',')),
        prefixEndpoint: false
      } %}
    {% endif %}

    {% if exhibition.relatedGalleries.length > 0 %}
      <div class="container">
        <div class="grid">
          <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
            <h2 class="{{ {s:'WB5', l:'WB4', xl:'WB3'} | fontClasses }} flex flex--v-center {{ {s:1} | spacingClasses({margin: ['bottom']}) }}">
              {% icon 'gallery_filled', null, ['margin-right-s2', 'icon--match-text'] %}Exhibition highlights
            </h2>
          </div>
        </div>
      </div>
    {% endif %}

    {% if exhibition.relatedGalleries.length > 0 %}
      <div class="row {{ {s:5} | spacingClasses({margin: ['bottom']}) }}">
        <div class="container">
          <div class="grid">
            {% for promo in exhibition.relatedGalleries %}
              <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
                <a href="{{ promo.url }}">
                  {% componentJsx 'UiImage', promo.image | objectAssign({
                    showTasl: false,
                    sizesQueries: '(min-width: 1420px) 1218px, (min-width: 600px) 87.75vw, calc(100vw - 36px)'
                  }) %}
                </a>
                <div class="{{ {s:2} | spacingClasses({margin: ['top']}) }}">
                  {% componentJsx 'PrimaryLink', { name: 'View images from the exhibition', url: promo.url } %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% macro relatedMarkup(promoList, heading, promoComponent, gridSizes, data, promoType) %}
      {% if promoList.length > 0 %}
        <div class="row">
          <div class="container">
            <div class="grid">
              <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
                <h2 class="{{ {s:'WB5', l:'WB4', xl:'WB3'} | fontClasses }}">{{ heading }}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container container--scroll touch-scroll">
            <div class="grid">
              <div class="{{ {s:12, m:10, shiftM:1} | gridClasses }}">
                <div class="grid grid--scroll">
                  {% for promo in promoList %}
                    <div class="{{ gridSizes | gridClasses }}">
                      {% componentJsx promoComponent, promo %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endmacro %}

    {{ relatedMarkup(exhibition.relatedEvents, 'Workshops, talks and tours', 'Promo', {s:12, m:6, l:3, xl:3}, {'lazyload': true, sizes: '(min-width: 1420px) 282px, (min-width: 960px) calc(21.36vw - 17px), (min-width: 600px) calc(41.76vw - 50px), calc(75vw - 18px)'}) }}
    {% if exhibition.relatedEvents.length > 0 %}
      <div class="row">
        <div class="container">
          <div class="grid">
            <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
              <hr class="divider divider--dashed {{ {s:5} | spacingClasses({margin: ['top']}) }}" />
            </div>
          </div>
        </div>
      </div>
    {% endif %}


    {{ relatedMarkup(exhibition.relatedArticles, 'Read and explore', 'Promo', {s:12, m:6, l:3, xl:3}, {'lazyload': true, sizes: '(min-width: 1420px) 282px, (min-width: 960px) calc(21.36vw - 17px), (min-width: 600px) calc(41.76vw - 50px), calc(75vw - 18px)'}) }}
    {% if exhibition.relatedArticles.length > 0 %}
      <div class="row">
        <div class="container">
          <div class="grid">
            <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
              <hr class="divider divider--dashed {{ {s:5} | spacingClasses({margin: ['top']}) }}" />
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {{ relatedMarkup(exhibition.relatedBooks, 'From the bookshop', 'BookPromo', {s:12, m:6, l:6, xl:6}, {'lazyload': true, index: loop.index, total: loop.total, sizes: '(min-width: 1420px) 282px, (min-width: 960px) calc(21.36vw - 17px), (min-width: 600px) calc(41.76vw - 50px), calc(75vw - 18px)'}) }}

  </article>
{% endblock %}
