{% extends 'layout/default.njk' %}

{% set description = installation.promo.caption | safe | striptags %}
{% block pageMeta %}
  {% set metaContent = {
    type: 'website',
    title: installation.title,
    description: description,
    url: pageConfig.canonicalUri
  } %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}
  <meta name="description" content="{{ description }}" />
{% endblock %}

{% block body %}
  {# TODO: ld+Json #}
  {% componentJsx "InstallationPage", { installation: installation } %}
  <script type="application/ld+json">
    {# {{ jsonLdExhibition | jsonLd('exhibitionLd') | safe }} #}
  </script>
{% endblock %}
