{% extends 'layout/default.njk' %}

{% set metaContent = {
  type: 'website',
  title: "What's On",
  image: exhibitionAndEventPromos.temporaryExhibitionPromos[0].image.contentUrl,
  url: pageConfig.canonicalUri,
  description: 'Discover all of the exhibitions, events and more on offer at Wellcome Collection, the free museum and library for the incurably curious.'
} %}

{% block pageMeta %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}
  <meta name="description" content="{{ metaContent.description }}" />
{% endblock %}

{% block body %}
  <script type="application/ld+json">
    [{% for exhibition in exhibitionAndEventPromos.temporaryExhibitionPromos %}
      {{ exhibition | jsonLd('exhibitionPromoLd') | safe }},
    {% endfor %}
    {% for event in exhibitionAndEventPromos.individualEventPromos %}
      {{ event | jsonLd('eventPromoLd') | safe }},
    {% endfor %}
    {% for exhibition in exhibitionAndEventPromos.permanentExhibitionPromos %}
      {{ exhibition | jsonLd('exhibitionPromoLd') | safe }}{{ ',' if not loop.last }}
    {% endfor %}]
  </script>

  {% set whatsOnData = {activeId: period, id: 'whatsOnFilter' } %}
  {% componentV2 'whats-on-list-header', exhibitionAndEventPromos.listHeader, {}, whatsOnData %}

  <div class="{{ {s:2, m:4} | spacingClasses({margin: ['top', 'bottom']}) }}">
    {% if period === 'current-and-coming-up' %}
      {% include 'partials/separate_exhibition_event_promos.njk' %}
    {% else %}
      {% include 'partials/mixed_exhibition_event_promos.njk' %}
    {% endif %}
  </div>

  {% componentJsx 'SectionHeader', {
    title: 'Try these too'
  } %}

  <div class="css-grid__container">
    <div class="css-grid {{ {s:2, m:4} | spacingClasses({margin: ['top', 'bottom']}) }}">
      <div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }} css-grid__scroll-container container--scroll touch-scroll">
        <div class="css-grid grid--scroll">
          {% for promo in tryTheseTooPromos %}
            <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses }}">
              {% componentJsx 'FacilityPromo', {
                title: promo.title,
                url: promo.url,
                description: promo.description,
                imageProps: promo.image,
                metaText: promo.metaText,
                metaIcon: promo.metaIcon
              } %}
            </div>
          {% endfor %}

          <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses }}">
            {% componentJsx 'InstallationPromo', exhibitionAndEventPromos.colourOfPharmacyPromo %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% componentJsx 'SectionHeader', {
    title: 'Eat and shop'
  } %}

  <div class="css-grid__container">
    <div class="css-grid {{ {s:2, m:4} | spacingClasses({margin: ['top', 'bottom']}) }}">
      <div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }} css-grid__scroll-container container--scroll touch-scroll">
        <div class="css-grid grid--scroll">
          {% for promo in eatShopPromos %}
            <div class="{{ {s: 12, m: 6, l: 3, xl:3} | cssGridClasses }}">
              {% componentJsx 'FacilityPromo', {
                title: promo.title,
                url: promo.url,
                description: promo.description,
                imageProps: promo.image,
                metaText: promo.metaText,
                metaIcon: promo.metaIcon
              } %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
