<a id="{{ model.id }}" href="{{ model.url }}" class="promo">
  <div class="promo__image-container">
    {% componentV2 'image', model.image, {}, {lazyload: true, defaultSize: data.defaultSize} %}
  </div>
  <div class="promo__description font-HNL5-s">
    <div class="">
      {% if model.format.shortName %}
        <abbr title="{{ event.format.title }}">{{ model.format.shortName }}</abbr>
      {% else %}
        <span>{{ model.format.title }}</span>
      {% endif %}
    </div>
    <div class="promo__heading">
      <h2 class="promo__title font-WB6-s">{{ model.title }}</h2>
    </div>

    <div class="border-top-width-1 border-color-pumice {{ {s: 2} | spacingClasses({padding: ['top', 'bottom']}) }}">
      {% set formattedDateRange = model.start | formatAndDedupeOnDate(model.end) %}
      <time class="block">
        <b class="{{ {s:'HNM4'} | fontClasses }}">{{ formattedDateRange | joinDateStrings }}</b>
      </time>
      {% if (formattedDateRange.size === 1) %}
        <time class="block">
          {{ model.start | formatAndDedupeOnTime(model.end) | joinDateStrings }}
        </time>
      {% endif %}
    </div>

    <span class="promo__copy">{{ model.description | striptags | safe }}</span>
  </div>
</a>
