.Modal {
  width: 40em;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}
.ModalWrapper {
  width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}
