<figure class="figure figure--{{type}} {% if bleed %}figure--bleed{% endif %}">
  {% if type === 'picture' %}
    <picture class="figure__picture">
      {%- for source in sources %}
        <source media="(min-width: {{ source.size }}px)"
          srcset="{{ source.src }}">
      {%- endfor %}
      <img class="figure__image"
        src="{{ sources[(sources | length) - 1].src }}"
        alt="{{ caption }}" />
    </picture>
  {% elif type === 'image' %}
    <img class="figure__image"
      src="{{ sources[(sources | length) - 1].src }}"
      srcset="{%- for source in sources %}
        {{ source.src }} {{ source.size }}w
        {%- if (source !== (sources | last)) %}, {%- endif %}
      {%- endfor %}"
      alt="{{ caption }}" />
  {% endif %}
    {% if full %}<div class="container">{% endif %}
      <figcaption class="figure__caption">
        {% component 'icon', {icon: icon, blockClass: 'figure'} %}{% endcomponent %}
        {{ caption }}
      </figcaption>
    {% if full %}</div>{% endif %}
</figure>
