<figure class="figure {% if full %} figure--full{% endif %} figure--{{type}} {% if bleed %}figure--bleed{% endif %} {% for modifier in modifiers %}figure--{{ modifier }} {% endfor %} {{jsClass}} ">
  {% if type === 'picture' %}
    <picture class="figure__picture">
      {%- for source in sources %}
        <source media="(min-width: {{ source.size }}px)"
          srcset="{{ source.src }}">
      {%- endfor %}
      <img class="figure__image"
        src="{{ sources[(sources | length) - 1].src }}"
        alt="{{ caption }}" />
    </picture>
  {% elif type === 'image' %}
    <img class="figure__image"
      src="{{ sources[(sources | length) - 1].src }}"
      srcset="{%- for source in sources %}
        {{ source.src }} {{ source.size }}w
        {%- if (source !== (sources | last)) %}, {%- endif %}
      {%- endfor %}"
      alt="{{ caption }}" />
  {% endif %}

  {% if full %}
    {% component 'wobbly-edge', {background: 'cream'} %}
  {% endif %}

  {% if caption %}
    <div class="{{ 'row row--cream' if full }}">
      <div class="{{ 'container' if full }}">
        <div class="grid">
          <div class="grid__cell {% for size in captionSizes %}grid__cell--{{ size }}{% endfor %} {% for shift in captionShifts %}grid__cell--shift-{{ shift }} {% endfor %}">
            <figcaption class="figure__caption">
              {% icon icon %}
              {{ caption }}
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</figure>
