{% extends 'layout/default.njk' %}

{% block body %}
 <h2>Temporary Exhibitions</h2>
   {% for exhibition in temporaryExhibitions %}
   {% componentV2 'thing-promo', exhibition %}
 {% endfor %}
 <h2>Permanent Exhibitions</h2>
 {% for exhibition in permanentExhibitions %}
   {% componentV2 'thing-promo', exhibition %}
 {% endfor %}
{% endblock %}
