<header class="header-block {% for modifier in modifiers %}header-block--{{ modifier }} {% endfor %}">
  <span class="header-block__intro">{{ intro }}</span>
  <h1 class="header-block__title">{{ title }}</h1>
  <span class="header-block__outro">
    {% if icon %}
      {% component 'icon', {icon: icon, extraClasses: ['header-block__icon']} %}{% endcomponent %}
    {% endif %}
    {{ outro }}
  </span>
</header>
