{% extends "layout/default.njk" %}

{% block body %}
<h1>{{ headline }}</h1>
{% if mainImage %}
<picture>
  <img src="{{mainImage.uri}}" alt="{{mainImage.altText}}" title="{{mainImage.title}}" />
</picture>
{% endif %}

<div>
  {% for bodyPart in articleBody | parseBody %}
    {{bodyPart.value | safe}}
  {% endfor %}
</div>

<div class="sharing-is-caring">
  {% component "share", { network: "Facebook", url: "https://facebook.com" } %}{% endcomponent %}
  {% component "share", { network: "VK", url: "https://vk.com" } %}{% endcomponent %}
  {% component "share", { network: "WeChat", url: "https://web.wechat.com/" } %}{% endcomponent %}
</div>
{% endblock %}
