{% extends "layout/default.njk" %}

{% block body %}
<div class="row row--lead row--lead--l">
  <div class="container">
    <div class="grid">
      <div class="grid__cell grid__cell--shift-l1">
        {% component 'page-description', {title: headline, modifiers: ['a']} %}{% endcomponent %}
      </div>
    </div>
  </div>
</div>
{% for media in mainMedia %}
  {% if media.weighting == 'leading' %}

    {% if media.mediaType == 'image' %}
      {% component 'figure', {
        type: 'image',
        icon: 'Picture',
        full: true,
        sources: [{size: 1000, src: media.uri}],
        caption: media.altText
      } %}{% endcomponent %}
    {% endif %}

    {% if media.mediaType == 'audio' %}
      <audio controls="controls" src="{{media.uri}}"></audio>
    {% endif %}

    {% if media.mediaType == 'video' %}
      <iframe width="640" height="360" src="{{media.uri | youtubeEmbedUrl}}" frameborder="0"></iframe>
    {% endif %}

  {% endif %}
{% endfor %}

<div class="row row--cream">
  <div class="container body-content">
    <div class="grid grid--spaced">
      <div class="grid__cell grid__cell--l7 grid__cell--shift-l1  grid__cell--m8">
        {% for bodyPart in articleBody | parseBody %}
          {{bodyPart.value | safe}}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
