<section class="transporter">
  {% if type !== 'theme' %}
  <h2 class="transporter__title">{{ title }}</h2>
  {% endif %}
  <div class="grid grid--dividers">
    {% if type === 'theme' %}
    <div class="{{ {s:4, m:8, l:3} | gridClasses }} transporter__item">
      <p class="transporter__more">More from this theme</p>
      <h2 class="transporter__title">{{ title }}</h2>
      <p class="transporter__intro">{{ introCopy }}</p>
    </div>
    {% endif %}

    {% for promo in promos %}
    <div class="{{ {s:4, m:8} | gridClasses }} transporter__item">
      {% set modifiers = promo.modifiers.concat('large-text') if (promos.length <= 4) else promo.modifiers %}

      {% component 'promo', { promo: promo | objectAssign({ modifiers: modifiers }) } %}
    </div>
    {% endfor %}
  </div>
  {% if themeUrl %}
  <a class="transporter__link" href="{{ themeUrl }}">
    {% icon 'actions/arrow-small' %}
    Full theme
  </a>
  {% endif %}
</section>
