<svg class="icon"{% if title %} role="img"{% else %}  aria-hidden="true"{% endif %}>
  {% if title %}<title>{{title}}</title>{% endif %}
  <use class="icon__use" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{icon}}"></use>
</svg>
