<svg class="icon"{% if title %} role="img"{% else %} aria-hidden="true"{% endif %}
    {% for attr in attrs %}
        {{attr.name}}="{{attr.value}}"
    {% endfor %}>
  {% if title %}<title>{{title}}</title>{% endif %}
  {{pathData|safe}}
</svg>
