{% if data.sizes %}
  {% set sizes = data.sizes %}
{% else %}
  {% set sizes = '100vw' %}
{% endif %}

<a id="{{model.id}}" href="{{ model.url }}" class="plain-link promo-link bg-cream rounded-top rounded-bottom overflow-hidden flex flex--column">

  {% componentV2 'image', model.image, {}, {lazyload: true, sizesQueries: sizes, defaultSize: data.defaultSize} %}

  <div class="{{- [
      {s:2} | spacingClasses({padding: ['top']}),
      {s:3} | spacingClasses({padding: ['left', 'right']}),
      {s:4} | spacingClasses({padding: ['bottom']})
    ].join(' ') }} flex flex--column flex-1">
      <div class="no-padding flex flex--v-center {{ {s:2} | spacingClasses({margin: ['bottom']}) }} {{ {s:'HNM5'} | fontClasses }}">
        {% for interpretation in model.interpretations %}
          {# TODO: This is not very nice #}
          <span class="{{ {s: 1} | spacingClasses({margin: ['right']}) }}">
            {% icon interpretation.interpretationType.title | replace(' ', '_') | replace('-', '_') | lower %}
          </span>
        {% endfor %}
        <span>{{ model.format.title }}</span>

        {% if model.audience.title %}
          <span class="border-left-width-1 border-color-pumice {{ {s: 1} | spacingClasses({padding: ['right', 'left']}) }}">
            {{ model.audience.title }}
          </span>
        {% endif %}
      </div>

      <h2 class="promo-link__title {{ {s:'WB5'} | fontClasses }}  {{ {s:0} | spacingClasses({margin: ['top']}) }}">{{ model.title }}</h2>

      {# TODO: add 'fully booked' status when available #}
      {% if model.start %}
        <p class="{{ {s:'HNL4'} | fontClasses }} no-padding no-margin">
          <time datetime="{{ model.start }}">{{ model.start | formatDayDate }}</time>
        </p>
        <p class="{{ {s:'HNL4'} | fontClasses }} {{ {s:2} | spacingClasses({margin: ['bottom']}) }} no-padding">
          <time datetime="{{ model.start }}">{{ model.start | formatTime }}</time>&mdash;<time datetime="{{ model.end }}">{{ model.end | formatTime }}</time>
        </p>
      {% endif %}

      {% if model.dateString %}
        <p class="{{ {s:'HNL4'} | fontClasses }} no-padding no-margin">
          {{ model.dateString }}
        </p>
      {% endif %}
      {% if model.timeString %}
        <p class="{{ {s:'HNL4'} | fontClasses }} {{ {s:2} | spacingClasses({margin: ['bottom']}) }} no-padding">
          {{ model.timeString }}
        </p>
      {% endif %}

      {% if model.bookingType %}
        <p class="{{ {s:'HNL4'} | fontClasses }} {{ {s:2} | spacingClasses({margin: ['bottom']}) }} no-padding">
          {{ model.bookingType }}
        </p>
      {% endif %}
    </div>
</a>
