<div class="event-promo">
  {% if data.isLink %}
    <a href="/events/{{ model.id }}" class="plain-link event-promo__link">
  {% endif %}

  <div class="event-promo__featured-media {{ {s:2} | spacingClasses({margin: ['bottom']}) }}">
    {% if model.featuredMedia %}
      {% componentV2 'image', model.featuredMedia, {}, {extraClasses: ['rounded-corners'], lazyload: true} %}
    {% endif %}
  </div>

  <div class="event-promo__details">
    <div class="{{ {s:2, m:1, l:2} | spacingClasses({margin: ['bottom']}) }}">
      <div class="flex flex--v-center font-elf-green {{ data.ticketInfoFont | fontClasses }}">
        {% icon 'ticket', null, ['icon--teal'] %}
        <strong class="caps {{ {s: 2}| spacingClasses({margin: ['left']}) }}">{{ model.ticketInfo }}</strong>
      </div>
    </div>

    <div class="{{ {s:2} | spacingClasses({margin: ['bottom']}) }}">
      <h1 class="{{ data.titleFont | fontClasses }} no-margin" itemprop="headline">
        {{ model.title }}
      </h1>
    </div>

    {% for dateRange in model.when.toJS() %}
      {% set formattedDateRange = dateRange.start | formatAndDedupeOnDate(dateRange.end) %}
      <div class="{{ {s:1} | spacingClasses({margin: ['bottom']}) }}">
        <div class="{{ data.dateFont | fontClasses }}">
          {{ formattedDateRange | joinDateStrings }}
        </div>

        {# This is going on the assumption that if we are over multiple days, we don't want to show the date #}
        {# This is an unsafe assuption, but works for now #}
        {% if (formattedDateRange.size === 1) %}
          <div class="{{ data.timeFont | fontClasses }}">
            {{ dateRange.start | formatAndDedupeOnTime(dateRange.end) | joinDateStrings }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% if data.isLink %}
    </a>
  {% endif %}
</div>
