{% if featuresCohort | isFlagEnabled('includeGA', featureFlags) %}
<style>.async-hide .header__nav{ opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-NXMJ6D9':true});
</script>
<script>
{# Google Analytics #}
{#
  We will have two triackers, one that has been used on the v1 site, and v2 site (UA-55614-6)
  The other is jsut for the v2 site UA-55614-24

  The v1 site was setup with a lot of configuration, which feels like it would be out of sync with
  the new questions we would like ask of our analytics, so this was for a clean slate.
#}
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-55614-24', 'auto', 'v2');

ga('create', 'UA-55614-6', 'auto');
ga('set', 'dimension1', '2');

{% if pageConfig.category %}
  ga('set', 'dimension2', '{{ pageConfig.category }}');
{% endif %}

{% if pageConfig.seriesUrl %}
  ga('set', 'dimension3', '{{ pageConfig.seriesUrl }}');
  ga('v2.set', 'dimension2', '{{ pageConfig.seriesUrl }}');
{% endif %}

{% if pageConfig.positionInSeries %}
  ga('set', 'dimension4', '{{ pageConfig.positionInSeries }}');
{% endif %}

{% if pageConfig.contentType %}
  ga('set', 'dimension6', '{{ pageConfig.contentType }}');
{% endif %}

{% if pageConfig.gaExp %}
  ga('set', 'exp', '{{ pageConfig.gaExp }}');
{% endif %}

ga('require', 'GTM-NXMJ6D9');
ga('send', 'pageview');
ga('v2.send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
{% endif %}
