<!DOCTYPE html>
<html id="top" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Wellcome Collection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
	{% include "views/partials/css-head.njk" %}
  <link rel="stylesheet" href="{{ '/assets/css/styleguide.css' | path }}">
  {% component 'head-js', { file:  'app.js' | getCacheBustFile  } %}
</head>
