<script src="https://cdn.ravenjs.com/3.9.2/raven.min.js"></script>
<script>
  Raven.config('https://f756b8d4b492473782987a054aa9a347@sentry.io/133634').install({
    whitelistUrls: [/next\.wellcomecollection\.org/]
  });
</script>
