<script src="https://cdn.ravenjs.com/3.9.2/raven.min.js"></script>
<script>
  var oldSafari = /^.*Version\/[0-8].*Safari.*$/;
  var ignoredUserAgentRegex = [
    oldSafari
  ];

  var shouldIgnore = ignoredUserAgentRegex.some(function(regex) {
    return regex.test(window.navigator.userAgent)
  });

  Raven.config('https://f756b8d4b492473782987a054aa9a347@sentry.io/133634', {
    whitelistUrls: [/next\.wellcomecollection\.org/],
    shouldSendCallback: function(data) {
      return !shouldIgnore;
    }
  }).install();
</script>
