<div class="row row--yellow row--text-bar new-site-notice">
  <div class="container">
    <div class="grid">
      <div class="{{ {} | gridClasses }}">
        <div class="new-site-notice__inner">
          <p class="new-site-notice__msg">
            <span class="new-site-notice__device-ico">{% icon 'other/devices' %}</span>
            <span class="new-site-notice__text">Welcome to the new reading experience for stories and articles. <span class="new-site-notice__cta"><a href="/articles/next-wellcome-website">Find out more</a>.</span></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
