<div class="row row--yellow row--text-bar new-site-notice-wrap">
  <div class="container">
    <div class="grid">
      <div class="grid__cell grid__cell--shift-l1">
        <div class="new-site-notice">
            <p class="new-site-notice__msg">
                <span class="new-site-notice__device-ico">{% icon 'other/devices' %}</span>
                <span class="new-site-notice__text">Welcome to the new reading experience for Wellcome editorial content.</span>
            </p>
            <div class="new-site-notice__ctas">
                <a class="new-site-notice__cta" href="/articles/next-wellcome-website">Find out more</a>
                <a class="new-site-notice__cta" href="?v=1">Take me back to the old site</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
