<div class="row row--yellow new-site-notice {{ {s:3, m:3, l:3} | spacingClasses({padding: ['top', 'bottom']}) }}">
  <div class="container">
    <div class="grid">
      <div class="{{ {} | gridClasses }}">
        <div class="new-site-notice__inner {{ {s:'HNL7', m:'HNL6'} | fontClasses }}">
          <p class="new-site-notice__msg">
            <span class="new-site-notice__device-ico">{% icon 'other/devices' %}</span>
            <span class="new-site-notice__text">Welcome to the new reading experience for stories and articles. {% if showLink %}<span class="new-site-notice__cta {{ {s:'HNM6', m:'HNM5'} | fontClasses }}"><a href="/">Find out more</a>.</span>{% endif %}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
