<div class="list-card">
  <header class="list-card__header">
    <h2 class="list-card__heading">{{ heading }}</h2>
  </header>
  <ol class="list-card__list">
    {% for item in items %}
      <li class="list-card__item">
        <a href="{{ item.url }}" class="list-card__link">
          <span class="list-card__number" aria-hidden="true">{{ loop.index }}</span>
          <h3 class="list-card__title">{{ item.title }}</h3>
          <p class="list-card__meta">{{ item.meta }}</p>
        </a>
      </li>
    {% endfor %}
  </ol>
</div>
