.container {
  margin: 0 auto;
  max-width: $container-width-max;
  padding: 0  map-get($container-padding, 'small');

  @include respond-to('medium') {
    padding: 0  map-get($container-padding, 'medium');
  }

  @include respond-to('large') {
    padding: 0  map-get($container-padding, 'large');
  }

  @include respond-to('xlarge') {
    box-sizing: content-box;
  }
}
