.container {
  margin: 0 auto;
  width: 100%;
  max-width: $container-width-max;
  padding: 0 map-get($container-padding, 'small');

  @include respond-to('medium') {
    padding: 0 map-get($container-padding, 'medium');
  }

  @include respond-to('large') {
    padding: 0 map-get($container-padding, 'large');
  }
}

.container--scroll {
  overflow: auto;
  padding: 0;

  &::-webkit-scrollbar {
    height: 18px;
    background: color('white');
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    border-style: solid;
    border-color: color('white');
    border-width: 0 18px 12px;
    background: color('cotton-seed');
  }
}

.container--scroll-cream {
  &::-webkit-scrollbar {
    background: color('cream');
  }

  &::-webkit-scrollbar-thumb {
    border-color: color('cream');
  }
}
