@font-face {
  font-family: 'Wellcome Bold Web';
  src: url('/assets/fonts/wellcome-bold.woff2') format('woff2'),
    url('/assets/fonts/wellcome-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light Web';
  src: local('Helvetica Neue Light'),
    local('HelveticaNeue-Light'),
    url('/assets/fonts/198fd78b-3655-4768-89c4-31caf65ea363.woff2') format('woff2'),
    url('/assets/fonts/49631ce8-9201-47a8-8874-45371417c35f.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium Web';
  src: local('Helvetica Neue Medium'),
    local('HelveticaNeue-Medium'),
    url('/assets/fonts/5393f1cf-e069-4466-bb37-f26f99fb4cf7.woff2') format('woff2'),
    url('/assets/fonts/26b8484e-52e3-44ac-b958-865809934ebb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * wellcomecollection.org
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2016
 */
@font-face {
  font-family: 'Lettera Regular Web';
  src: url('/assets/fonts/lineto-lettera-regular.woff2') format('woff2'),
    url('/assets/fonts/lineto-lettera-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
