.icon {
  display: inline-block;
  height: 1em;
  position: relative;
  user-select: none;
}

.icon__canvas {
  display: block;
  height: 100%;
  visibility: hidden;
}

.icon__svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.icon--2x {
  height: 2em;
}

.icon--4x {
  height: 4em;
}

.icon--fill svg {
  fill: color('black');
}

@each $color-key, $color-value in $colors {
  .icon--#{$color-key} svg {
    fill: nth($color-value, 1);
  }
}

.icon--stroke svg {
  stroke: color('black');
}

.icon--fill-negative svg {
  fill: color('white');
}

.icon--stroke-negative svg {
  stroke: color('white');
}

.icon--action svg {
  fill: color('mint');
}

.icon--90 {
  transform: rotate(90deg);
}

.icon--180 {
  transform: rotate(180deg);
}

.icon--270 {
  transform: rotate(270deg);
}

.icon-rounder {
  border: 1px solid color('silver');
  border-radius: 50%;
  width: $spacing-unit * 5;
  height: $spacing-unit * 5;
}
