* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

.is-mobile-nav-visible {
  position: fixed;
  width: 100%;
  height: 100%;

  @include respond-to('medium') {
    position: inherit;
    width: inherit;
    height: inherit;
  }
}
