//* @define row

.row {
  padding-top: $vertical-space-unit;
  padding-bottom: $vertical-space-unit;
}

.row--dark-black {
  background: color('dark-black');
}

.row--cream {
  background: color('cream');
}

.row--yellow {
  background: color('yellow');
}

.row--lead {
  position: relative;
  margin-bottom: $vertical-space-unit;

  &:before {
    position: absolute;
    content: '';
    background: color('keyline-grey');
    top: 0;
    bottom: 0;
    left: 0;
  }

  &.row--lead--s:before {
    @include respond-to('small') {
      width: map-get($container-padding, 'small');
    }
  }

  &.row--lead--m:before {
    @include respond-to('medium') {
      width: map-get($container-padding, 'medium');
    }
  }

  &.row--lead--l:before {
    @include respond-to('large') {
      width: map-get($container-padding, 'large');
    }
  }
}
