//* @define row

.row--dark-black {
  background: color('dark-black');
}

.row--cream {
  background: color('cream');
}

.row--yellow {
  background: color('yellow');
}

.row--mobile-only {
  @include respond-to('large') {
    display: none;
  }
}

.row--lead {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    background: color('smoke');
    top: 0;
    bottom: 0;
    left: 0;
  }

  &.row--lead--s:before {
    @include respond-to('small') {
      width: map-get($container-padding, 'small');
    }
  }

  &.row--lead--m:before {
    @include respond-to('medium') {
      width: map-get($container-padding, 'medium');
    }
  }

  &.row--lead--l:before {
    @include respond-to('large') {
      width: map-get($container-padding, 'large');
    }
  }
}

.row--has-wobbly-background {
  position: relative;
  z-index: 0;
}

.row__wobbly-background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 20%;
  transition: height 600ms ease;
  background: color('white');

  &:after {
    position: absolute;
    height: 10vw;
    top: 100%;
    left: 0;
    right: 0;
    content: '';
    margin-top: -5px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTAwMCAxMDAiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0wLDFsMTQyLjgsNTguMmMwLDAsNzQuNi0zNS43LDE2Ny00NC41YzAsMCwyMDEuMSw0Mi45LDI2MS45LDY4LjJTODgyLjksMTUsODgyLjksMTVMMTAwMCwxSDB6Ii8+PC9zdmc+');
    background-size: cover;
  }
}
