<div class="iframe-container relative js-iframe-container">
  <button class="iframe-container__trigger plain-button pointer no-padding no-visible-focus relative js-iframe-trigger">
    <div class="iframe-container__overlay absolute"></div>
    <span class="flex flex--v-center flex--h-center">
      <span class="iframe-container__play absolute btn js-play">{{ model.launchButtonText }}</span>
      {% componentV2 'image', model.image, {}, {lazyload: true} %}
    </span>
  </button>
  <button class="iframe-container__close plain-button pointer no-padding absolute is-hidden js-iframe-close">
    {% icon 'actions/clear', 'Close', ['icon--white'] %}
  </button>
  <iframe class="iframe-container__iframe absolute js-iframe"
    data-src="{{ model.src }}"
    frameborder="0"
    allowvr
    allowfullscreen
    mozallowfullscreen="true"
    webkitallowfullscreen="true"
    onmousewheel=""></iframe>
</div>
