<div class="iframe-container">
  <iframe class="iframe-container__iframe"
    src="{{ model.src }}"
    frameborder="0"
    allowvr
    allowfullscreen
    mozallowfullscreen="true"
    webkitallowfullscreen="true"
    onmousewheel=""></iframe>
</div>
