# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: 'npm' # See documentation for possible values
    directory: '/' # Location of package manifests
    schedule:
      interval: 'monthly'
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-patch'] # Ignore all patch updates for version updates only
      # Shouldn't get flagged as we will undertake these in a conscious manner when planned in
      - dependency-name: 'typescript'
      - dependency-name: '@typescript*'
      # Dependent on higher versions of the list above, remove from here once the upgrade it depends on has been done.
      - dependency-name: 'cookies-next'
      # Needs more work, they have their own ticket. Remove them from this list once tickets are Done.
      - dependency-name: '@babel/*'
      - dependency-name: 'openseadragon'
      - dependency-name: '@prismicio/*'
      - dependency-name: 'node-fetch'
      - dependency-name: '@auth0/nextjs-auth0'
      - dependency-name: 'react-window'
      # Storybook packages - major version updates require manual migration
      # Please also unignore webback once storybook gets upgraded - it currently has to be locked
      # edit: minor versions have also become a problem (https://github.com/storybookjs/storybook/issues/32301)
      - dependency-name: '@storybook/*'
      - dependency-name: 'webpack'
        update-types: ['version-update:semver-major']
        versions: ['5.103.0', '5.102.0']
    groups:
      all:
        patterns: ['*']
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    groups:
      all:
        patterns: ['*']
