// Flag to handle differences in build for NextJS vs standard apps
$is-next: false !default;

// Utilities
@import 'utilities/all';

// Non Critical
@import 'components/divider';
@import 'components/framed_header';
@import 'components/feature_flags';
@import 'components/highlighted_heading';
@import 'components/iframe_container';
@import 'components/image_gallery_v2';
@import 'components/is_preview';
@import 'components/opening_hours';
@import 'components/pre';
@import 'components/prismic_toolbar';
@import 'components/sort_search';
@import 'components/tabs';
@import 'components/tweet';

// TODO: Remove this
@import 'shame';
