// Flag to handle differences in build for NextJS vs standard apps
$is-next: false !default;

// Utilities
@import 'utilities/all';

// Non Critical
@import 'base/fonts';
@import 'components/book_promo';
@import 'components/control';
@import 'components/divider';
@import 'components/framed_header';
@import 'components/feature_flags';
@import 'components/find_us';
@import 'components/footer';
@import 'components/footer_nav';
@import 'components/footer_social';
@import 'components/highlighted_heading';
@import 'components/iframe_container';
@import 'components/image_gallery_v2';
@import 'components/is_preview';
@import 'components/map';
@import 'components/opening_hours';
@import 'components/pre';
@import 'components/prismic_toolbar';
@import 'components/quote';
@import 'components/slider';
@import 'components/slider__gallery';
@import 'components/slider__in-article';
@import 'components/slider__in-basic';
@import 'components/slider__in-content';
@import 'components/slider__in-explore';
@import 'components/slider__numbered-list';
@import 'components/slider__transporter';
@import 'components/sort_search';
@import 'components/tabs';
@import 'components/tweet';

// Tests
@import 'tests/digital_story_nav';

// TODO: Remove this
@import 'shame';
