// This is here as a precaution to unwanted iframes
// TODO: Don't allow unwanted / unparsed iframes
.body-part {
  iframe {
    max-width: 100%;
  }
}

.captioned-image {
  &.shame-block {
    display: block;
  }

  .shame-no-max-height {
    max-height: none;
  }
}
