$is-next: true;

// Utilities
@import 'utilities/all';

// Vendor
@import 'vendor/normalize';

// Base
@import 'base/wellcome_normalize';
@import 'base/layout';
@import 'base/container';
@import 'base/row';
@import 'base/typography';
@import 'base/icons';
@import 'base/inline_fonts';
@import 'base/fonts';
@import 'base/responsive-defaults';
@import 'base/transitions';
@import 'utilities/root-scope-classes.scss';

// Grids
@import 'grids/grid_base';
@import 'grids/grid_alignment';
@import 'grids/grid_breakout';
@import 'grids/grid_dividers';
@import 'grids/grid_scroll';
@import 'grids/grid_size';
@import 'grids/grid_theme';
@import 'grids/css_grid';

// Components
@import 'components/back-to-top';
@import 'components/buttons';
@import 'components/control';
@import 'components/captioned_image';
@import 'components/cookie_notification';
@import 'components/divider';
@import 'components/drawer';
@import 'components/find_us';
@import 'components/footer';
@import 'components/footer_nav';
@import 'components/footer_social';
@import 'components/header';
@import 'components/image_viewer';
@import 'components/input';
@import 'components/lazyload';
@import 'components/opening_hours';
@import 'components/page_description';
@import 'components/promo';
@import 'components/scroll_to_info';
@import 'components/search_box';
@import 'components/skip_link';
@import 'components/tabs';
@import 'components/tags';
@import 'components/tasl';
@import 'components/work_media';
