{% extends 'layout/default.njk' %}

{% block pageMeta %}

{% endblock %}

{% block body %}
    {{exhibitionAndEventPromos.date}}
     {{exhibitionAndEventPromos.fromDate}} - {{exhibitionAndEventPromos.toDate}}
  <div class="css-grid-container">
    <div class="css-grid">
     {% for exhibition in exhibitionAndEventPromos.temporaryExhibitionPromos %}
        <div class="{{ {s: 12, m: 6, l: 6, xl:6} | cssGridClasses }}">
          {% componentV2 'exhibition-promo', exhibition %}
        </div>
      {% endfor %}
      {% for event in exhibitionAndEventPromos.eventPromos %}
        <div class="{{ {s: 12, m: 6, l: 3, xl:3} | cssGridClasses }}">
          {% componentV2 'event-promo', event %}
        </div>
      {% endfor %}
     {% for exhibition in exhibitionAndEventPromos.permanentExhibitionPromos %}
        <div class="{{ {s: 12, m: 6, l: 6, xl:6} | cssGridClasses }}">
          {% componentV2 'exhibition-promo', exhibition %}
        </div>
      {% endfor %}
      {# <div class="{{ {s: 12, m: 6, l: 6, xl:6} | cssGridClasses }}">library promo</div>
      <div class="{{ {s: 12, m: 6, l: 6, xl:6} | cssGridClasses }}">reading room promo</div>
      <div class="{{ {s: 12, m: 6, l: 6, xl:6} | cssGridClasses }}">cafe and kitchen</div>
      <div class="{{ {s: 12, m: 6, l: 6, xl:6} | cssGridClasses }}">Shop</div> #}
    </div>
  </div>
{% endblock %}
