{% set fromDate = exhibitionAndEventPromos.dates.queriedDates[0] %}
{% set toDate = exhibitionAndEventPromos.dates.queriedDates[1] %}

<p class="{{- [
  {s:'HNM4', m:'HNM4'} | fontClasses,
  {s:0} | spacingClasses({margin: ['top']}),
  {s:1} | spacingClasses({margin: ['bottom']})
].join(' ') -}}">
  {% if exhibitionAndEventPromos.active == 'today' %}
    <time datetime="{{ fromDate }}">{{ fromDate | formatDate }}</time>
  {% elseif exhibitionAndEventPromos.active == 'weekend' %}
    <time datetime="{{ fromDate }}">{{ fromDate | formatDay }}</time>&ndash;<time datetime="{{ toDate }}">{{ toDate | formatDay }}</time>
  {% elseif exhibitionAndEventPromos.active == 'everything' %}
    <time datetime="{{ fromDate }}">{{ fromDate | formatMonthYear }}</time>&ndash;<time datetime="{{ toDate }}">{{ toDate | formatMonthYear }}</time>
  {% endif %}
</p>
