<div class="{{{s:3, m:5, l:5} | spacingClasses({ margin: ['top'] })}}">
  <div class="css-grid__container">
    <div class="css-grid">
      <div class="{{ {s: 12, m: 12, l: 12, xl:12} | cssGridClasses }} {{ {s: 0} | spacingClasses({margin: ['top', 'bottom']}) }}">
        {% include './date_range.njk' %}
        <div class="flex flex--v-center flex--h-space-between">
          <h2 class="h1">Exhibitions</h2>
          <span class="{{ {s:'HNM5', m:'HNM4'} | fontClasses }}">Free admission</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% componentJsx 'CardGrid', { items: exhibitions.results } %}
<div class="css-grid__container {{{s:3, m:5, l:5} | spacingClasses({ margin: ['top'] })}}">
  <div class="css-grid">
    <div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }} {{ {s:4} | spacingClasses({margin: ['top']}) }}">
      {% componentJsx 'PrimaryLink', { name: 'View past exhibitions', url: '/exhibitions/past' } %}
    </div>

    <div class="{{ {s: 12, m: 12, l: 12, xl:12} | cssGridClasses }}">
      {% componentV2 'divider', null, {'dashed': true} %}
    </div>
  </div>
</div>


<div class="{{{s:1} | spacingClasses({ margin: ['top'] })}}">
  <div class="css-grid__container">
    <div class="css-grid">
      <div class="{{ {s: 12, m: 12, l: 12, xl:12} | cssGridClasses }}">
        <div class="flex flex--v-center flex--h-space-between">
          <h2 class="h1">Events</h2>
          <span class="{{ {s:'HNM5', m:'HNM4'} | fontClasses }}">Free admission</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% componentJsx 'EventsByMonth', { events: events.results } %}
<div class="css-grid__container">
  <div class="css-grid">
    <div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }}">
      {% componentJsx 'PrimaryLink', { name: 'View past events', url: '/events' } %}
    </div>
  </div>
</div>
