<div class="{{ {s: 12, m: 12, l: 12, xl:12} | cssGridClasses }} {{ {s:0} | spacingClasses({margin: ['top', 'bottom']}) }}">
  {% include './date_range.njk' %}
  <div class="flex flex--v-center flex--h-space-between">
    <h2 class="{{ {s:'WB6', m:'WB5', l:'WB4'} | fontClasses }} {{ {s:0} | spacingClasses({margin: ['top']}) }} {{ {s:1} | spacingClasses({margin: ['bottom']}) }}">Exhibitions</h2>
    <span class="{{ {s:'HNM5', m:'HNM4'} | fontClasses }}">Free admission</span>
  </div>
</div>

{% for exhibition in exhibitionAndEventPromos.currentTemporaryExhibitionPromos %}
  <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
    {% componentJsx 'ExhibitionPromo', exhibition %}
  </div>
{% endfor %}

{% for exhibition in exhibitionAndEventPromos.permanentExhibitionPromos %}
  <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
    {% componentJsx 'ExhibitionPromo', exhibition %}
  </div>
{% endfor %}

{% for exhibition in exhibitionAndEventPromos.upcomingTemporaryExhibitionPromos %}
  <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
    {% componentJsx 'ExhibitionPromo', exhibition %}
  </div>
{% endfor %}

<div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }} {{ {s:4} | spacingClasses({margin: ['top']}) }}">
  {% componentJsx 'PrimaryLink', { name: 'View all exhibitions', url: '/exhibitions' } %}
</div>

<div class="{{ {s: 12, m: 12, l: 12, xl:12} | cssGridClasses }}">
  {% componentV2 'divider', null, {'dashed': true} %}
</div>

<div class="{{ {s: 12, m: 12, l: 12, xl:12} | cssGridClasses }} flex flex--v-center flex--h-space-between">
  <h2 class="{{ {s:'WB6', m:'WB5', l:'WB4'} | fontClasses }} {{ {s:0} | spacingClasses({margin: ['top']}) }} {{ {s:1} | spacingClasses({margin: ['bottom']}) }}">Events</h2>
  <span class="{{ {s:'HNM5', m:'HNM4'} | fontClasses }}">Free admission</span>
</div>

<div class="js-events-filter tabs {{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }}">
  {% componentV2 'segmented-control', exhibitionAndEventPromos.monthControls, null, {id: 'monthControls', isTabControl: true, activeId: exhibitionAndEventPromos.monthControls[0].id} %}
  {% for yearKey, year in exhibitionAndEventPromos.eventPromosSplitAcrossMonths %}
    {% for monthKey, month in year %}
      <div class="js-tabpanel tabpanel {{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }}">
        <div class="css-grid">
          <h2 id="{{monthKey}}-{{yearKey}}" class="js-tabfocus tabfocus {{ {s: 12, m: 12, l: 12, xl:12} | cssGridClasses }}">{{monthKey}}</h2>
          {% for event in month %}
            <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
              {% componentJsx 'EventPromo', event %}
            </div>
          {% endfor %}
          <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
            {% componentJsx 'EventPromo', dailyTourPromo %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>

<div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }} {{ {s:4} | spacingClasses({margin: ['top']}) }}">
  {% componentJsx 'PrimaryLink', { name: 'View all events', url: '/events' } %}
</div>
