<div class="{{ {s: 12, m: 12, l: 12, xl:12} | cssGridClasses }} {{ {s:0} | spacingClasses({margin: ['top', 'bottom']}) }}">
  {% include './date_range.njk' %}
  <h2 class="{{ {s:'WB4'} | fontClasses }} {{ {s:0} | spacingClasses({margin: ['top', 'bottom']}) }}">Exhibitions</h2>
</div>

{% for exhibition in exhibitionAndEventPromos.temporaryExhibitionPromos %}
  <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
    {% componentV2 'exhibition-promo', exhibition, {}, {sizes: '(min-width: 1420px) 386px, (min-width: 960px) calc(28.64vw - 15px), (min-width: 600px) calc(50vw - 54px), calc(100vw - 36px)' } %}
  </div>
{% endfor %}

{% for exhibition in exhibitionAndEventPromos.permanentExhibitionPromos %}
  <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
    {% componentV2 'exhibition-promo', exhibition, {}, {sizes: '(min-width: 1420px) 386px, (min-width: 960px) calc(28.64vw - 15px), (min-width: 600px) calc(50vw - 54px), calc(100vw - 36px)' } %}
  </div>
{% endfor %}

<div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }} {{ {s:4} | spacingClasses({margin: ['top']}) }}">
  {% componentV2 'more-info-link', {name: 'View all exhibitions', url: '/exhibitions'} %}
</div>

<div class="{{ {s: 12, m: 12, l: 12, xl:12} | cssGridClasses }}">
  {% componentV2 'divider', null, {'dashed': true} %}
</div>
<div class="{{ {s: 12, m: 12, l: 12, xl:12} | cssGridClasses }}">
  <h2 class="{{ {s:'WB4'}  | fontClasses }} {{ {s:0} | spacingClasses({margin: ['top', 'bottom']}) }}">Events</h2>
</div>

<div class="js-events-filter tabs {{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }}">

  {% componentV2 'segmented-control', exhibitionAndEventPromos.monthControls, null, {id: 'monthControls', isTabControl: true, activeId: exhibitionAndEventPromos.monthControls[0].id} %}

  {% for yearKey, year in exhibitionAndEventPromos.eventPromosSplitAcrossMonths %}
    {% for monthKey, month in year %}
      <div class="js-tabpanel tabpanel {{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }}">
        <div class="css-grid">
          <h2 id="{{monthKey}}-{{yearKey}}" class="js-tabfocus tabfocus {{ {s: 12, m: 12, l: 12, xl:12} | cssGridClasses }}">{{monthKey}}</h2>
          {% for event in month %}
            <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
              {% componentV2 'event-promo', event, {}, {sizes: '(min-width: 1420px) 386px, (min-width: 960px) calc(28.64vw - 15px), (min-width: 600px) calc(50vw - 54px), calc(100vw - 36px)' } %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>

<div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }} {{ {s:4} | spacingClasses({margin: ['top']}) }}">
  {% componentV2 'more-info-link', {name: 'View all events', url: '/events'} %}
</div>
