<div class="soundcloud-embed {{ {s:2} | spacingClasses({margin: ['bottom']}) }}">
  <iframe
    width="100%"
    height="20"
    scrolling="no"
    frameborder="no"
    src="{{ model.iframeSrc }}"></iframe>
</div>
