#ignore node modules
npm-debug.log
node_modules/

#ignore built files
dist/
build/

# Ignore .sass-cache
*.sass-cache*

/server/config/css-assets.json
/server/config/js-assets.json

/server/views/partials/critical.css.njk
/client/scss/utilities/compiled_variables/

.terraform/
*.tfvars
*.tfstate
*.tfstate.backup
