# NPM / Yarn
yarn-error.log*
npm-debug.log
node_modules/

# Our built files
dist/
.dist/
*.sass-cache*
critical.css.njk
pa11y-report.html
.next/

# terraform
.terraform/
*.tfvars
*.tfstate
*.tfstate.backup

# Privates
.env
