
# NPM / Yarn
yarn-error.log*
npm-debug.log
node_modules/

# Our built files
.dist/
*.sass-cache*
pa11y-report.html
.next/

# terraform
.terraform/
*.tfvars
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
terraform.plan

# Privates
.env
.env.local

# Next exclusive see - https://nextjs.org/docs/basic-features/typescript
next-env.d.ts

# Next export
out/

.DS_Store
.idea

tsconfig.tsbuildinfo
.server-data

# Code editor
.zed/
