<div itemscope itemtype="http://schema.org/ItemList">
  <ul class="body-content-list">
    {% for item in list.items %}
      <li class="body-content-list__item" itemprop="itemListElement">{{ item | safe }}</li>
    {% endfor %}
  </ul>
</div>
