{% set fontStyles = {s:'HNL5', m:'HNL4'} %}
{% componentV2 'input', {id:'share', type: 'text', label: 'share url', value: model.url}, null, {isLabelHidden: true, fontStyles: fontStyles} %}
<button aria-live="polite"
  data-copy-text="{{ model.url }}"
  data-track-event='{"category": "component", "action": "copy-url:click", "label": "id:{{ model.id }}"}'
  class="{{ {s:2} | spacingClasses({margin: ['top']}) }} {{ {s:'HNM5' , m:'HNM4'} | fontClasses }} btn btn--light is-hidden js-copy-url pointer">
    {% icon 'other/check', null, ['icon--black', 'is-hidden'] -%}
    <span class="js-copy-text">Copy link</span>
</button>
