<div class="header">
  <div class="header__upper">
    <a href="#" class="header__brand">
      <img class="header__logo" src="https://wellcomecollection.org/sites/all/themes/col_base/images/wellcomecollection-logo.svg" />
    </a>
  </div>
  <div class="header__lower">
    <nav class="header__nav">
      <ul class="header__list">
        {% for navLink in navLinks %}
          <li class="header__item {{ "is-active" if navLink.isActive }}"><a href="{{ navLink.url }}" class="header__link">{{ navLink.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <form class="header__search">
      <button class="header__button">Search</button>
      <input class="header__input" type="text" />
    </form>
  </div>
</div>
