<div class="header js-header">
  <div class="header__upper-wrap">
    <div class="header__upper container">
      <a href="#" class="header__brand">
        {# TODO: use svg-sprite logo #}
        <img class="header__logo" src="https://wellcomecollection.org/sites/all/themes/col_base/images/wellcomecollection-logo.svg" />
      </a>
      <form class="header__search js-header-search">
        <input class="header__input js-search-input js-show-hide-drawer" type="text" placeholder="Search" />
        <button class="header__button js-show-hide-trigger">
          <span class="header__button-icon">
            {# TODO: use svg-sprite search #}
          </span>
          <span class="header__button-text">Search</span>
        </button>
      </form>
    </div>
  </div>
  <div class="header__lower container js-show-hide js-header-lower">
    <button
      id="header-burger-trigger"
      class="header__burger-trigger js-show-hide-trigger"
      aria-controls="header-nav"
      aria-label="menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav id="header-nav"
      class="header__nav js-header-nav"
      aria-labelledby="header-burger-trigger">
      <ul class="header__list">
        {% for navLink in navLinks %}
          <li class="header__item js-show-hide {{ "is-current" if navLink.isCurrent }}">
            <a href="{{ navLink.url }}"
              id="{{ navLink.id }}"
              class="header__link js-show-hide-trigger"
              aria-controls="{{ navLink.subnavId }}">{{ navLink.title }}</a>
            <div class="header__dropdown grid grid--breakout js-show-hide-drawer">
              <div class="grid__cell">
                <div class="grid container header__container">
                  <nav id="{{ navLink.subnavId }}"
                    class="grid__cell header__subnav"
                    aria-labelledby="{{ navLink.id }}">
                    <ul class="header__subnav-list">
                      {% if navLink.subnavLinks %}
                        {% for subnavLink in navLink.subnavLinks %}
                          <li class="header__subnav-item">
                            <a href="{{ subnavLink.url }}" class="header__subnav-link">{{ subnavLink.title }}</a>
                          </li>
                        {% endfor %}
                      {% endif %}
                    </ul>
                  </nav>
                  <div class="grid__cell">
                    {% include "views/grid/_placeholder/placeholder.njk" %}
                  </div>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
