<div class="header js-header-burger">
  <div class="header__upper">
    <div class="header__inner container">
      <button id="header-burger-trigger"
        class="header__burger-trigger js-header-burger-trigger"
        aria-controls="header-nav"
        aria-label="menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="#" class="header__brand">
        {# TODO: use svg-sprite logo #}
        <img class="header__logo" src="https://wellcomecollection.org/sites/all/themes/col_base/images/wellcomecollection-logo.svg" />
      </a>
    </div>
  </div>
  <div class="header__lower container">
    <nav id="header-nav"
      class="header__nav js-header-burger-drawer"
      aria-labelledby="header-burger-trigger">
      <ul class="header__list">
        {% for navLink in navLinks %}
          <li class="header__item {{ "header__item--is-current" if navLink.isCurrent }}">
            <a href="{{ navLink.href }}" class="header__link js-header-nav-link">{{ navLink.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
