{% import '../../../views/macros.njk' as macro %}

<div class="grid">
  <div class="{{ macro.grid(s=4, m=4, l=4) }}">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
  <div class="grid__cell">
    <div class="grid">
      <div class="{{ macro.grid(m=8) }}">
        {% include "views/grid/placeholder/placeholder.njk" %}
      </div>
      <div class="{{ macro.grid(m=8) }}">
        {% include "views/grid/placeholder/placeholder.njk" %}
      </div>
    </div>
  </div>
</div>
