<div class="grid">
  <div class="{{ {s:12, m:6, l:4} | gridClasses }}">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
  <div class="grid__cell">
    <div class="grid">
      <div class="{{ {m:12} | gridClasses }}">
        {% include "views/grid/placeholder/placeholder.njk" %}
      </div>
      <div class="{{ {m:12} | gridClasses }}">
        {% include "views/grid/placeholder/placeholder.njk" %}
      </div>
    </div>
  </div>
</div>
