<div class="grid">
  <div class="grid__cell grid__cell--s4 grid__cell--m4 grid__cell--l4">
    {% include "views/grid/_placeholder/placeholder.njk" %}
  </div>
  <div class="grid__cell">
    <div class="grid">
      <div class="grid__cell grid__cell--m8">
        {% include "views/grid/_placeholder/placeholder.njk" %}
      </div>
      <div class="grid__cell grid__cell--m8">
        {% include "views/grid/_placeholder/placeholder.njk" %}
      </div>
    </div>
  </div>
</div>
