<div class="icon {% for class in extraClasses %}{{ class }} {% endfor %}"{% if not title %} aria-hidden="true"{% endif %}>
  {% set viewBox = attrs | getViewBox %}
  <canvas class="icon__canvas" height="{{ viewBox.height }}" width="{{ viewBox.width }}"></canvas>
  <svg class="icon__svg"
    {% if title %} role="img"{% else %} aria-hidden="true"{% endif %}
    {% for attr in attrs %}
      {{ attr.name }}="{{ attr.value }}"
    {% endfor %}>

    {% if title %}
      <title>{{ title }}</title>
    {% endif %}
    {{ pathData | safe }}
  </svg>
</div>
