<div class="js-tabs">
  <ul class="js-tablist">
    <li class="js-tabitem"><a class="js-tablink" href="#one">One</a></li>
    <li class="js-tabitem"><a class="js-tablink" href="#two">Two</a></li>
    <li class="js-tabitem"><a class="js-tablink" href="#three">Three</a></li>
  </ul>
  <div class="js-tabpanel">
    <h2 class="js-tabfocus" id="one">One</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, iure earum nemo totam magnam, accusamus facere est minima commodi soluta officia expedita voluptatum facilis saepe, reiciendis ab non pariatur repellendus.</p>
  </div>
  <div class="js-tabpanel">
    <h2 class="js-tabfocus" id="two">Two</h2>
    <p>Blah blah something else</p>
  </div>
  <div class="js-tabpanel">
    <h2 class="js-tabfocus" id="three">Three</h2>
    <p>Consectetur adipisicing elit. Accusamus veritatis aliquam vel. Libero molestiae provident saepe quod blanditiis animi esse totam eaque, nobis fugiat nisi neque maxime, sint qui repellat.</p>
  </div>
</div>
