<div class="image-gallery touch-scroll js-image-gallery"
  id="{{ id }}"
  data-modifiers="{% for modifier in modifiers %}{{ modifier }} {% endfor %}">
  {% for item in imageGallery.items %}
    {% set slideNumbers = {current: loop.index, total: loop.length} %}
    {% set queries = '(max-width: 600px) 100vw, ' + (item.width/item.height)*640 + 'px' %}
    <div class="image-gallery__item">
      {% componentV2 'captioned-image', item, [], {truncateCaption: true, sizesQueries: queries, slideNumbers: slideNumbers, showCopyright: true} %}
    </div>
  {% endfor %}
</div>
