handle: image-gallery
label: Image gallery
context:
  items:
    - description: This is an image
    - description: This is another image
    - description: And another
    - description: Yet again another
