<div class="image-gallery">
  <h2>{{ imageGallery.name or 'Image gallery' }}</h2>
  {% for item in imageGallery.items %}
    <div class="image-gallery__item">
      {% component 'figure', {
        type: 'picture',
        sources: [{src: item.contentUrl, size: item.width}],
        caption: item.caption,
        icon: 'other/picture'
      } %}
    </div>
  {% endfor %}
</div>
