{% set sizes = model | getImageSizesFor %}
{% set useIiifOrigin = featuresCohort | isFlagEnabled('imagesFromOrigin', featureFlags) %}

{% set comma = joiner() %}
{# Note to future selves - having the clipPathClass means we need 2 images on the page (with slightly different classes). Creating an array here, so can loop over the image code instead of repeating it. #}
{% if data.clipPathClass %}
  {% set loop = [1, 2] %}
{% else %}
  {% set loop = [1] %}
{% endif %}

<noscript>
  <img width="{{model.width}}" height="{{model.height}}" class="image image--noscript" src="{{ model.contentUrl | convertImageUri(640, useIiifOrigin) }}"
alt="{% if model.alt %} {{ model.alt | striptags() }}{% elif model.caption %} {{ model.caption | striptags() }}{% endif %}" />
</noscript>

 {% for item in loop %}
  {% set defaultSize = data.defaultSize or 30 %}
  <img width="{{model.width}}" height="{{model.height}}" class="image{{ ' lazy-image lazyload' if data.lazyload }}
  {% if loop.index0 === 1 %}
    promo__image-mask {{data.clipPathClass}}
  {% endif %}
  "
  src="{{ model.contentUrl | convertImageUri(defaultSize, useIiifOrigin) }}"
  data-srcset="
  {%- for size in sizes -%}
    {{ comma() }}{{ model.contentUrl | convertImageUri(size, useIiifOrigin) }} {{ size }}w
  {%- endfor %}"
  {% if data.sizesQueries %}
    sizes="{{ data.sizesQueries }}"
  {% else %}
    sizes="100vw"
  {% endif %}
  {% if model.copyright %}
    data-copyright="{{ model.copyright }}"
  {% endif %}
  alt="{% if model.alt %} {{ model.alt | striptags() }}{% elif model.caption %} {{ model.caption | striptags() }}{% endif %}" />
{% endfor %}
