{% set sizes = image | getImageSizesFor %}
{% set comma = joiner() %}
{% set queryComma = joiner() %}  
<img class="image{% for class in classes %} {{class}}{% endfor %}"
      src="{{ image.contentUrl }}?w={{ sizes[3] }}"
      srcset="
      {%- for size in sizes -%}
        {{ comma() }}{{ image.contentUrl }}?w={{ size }} {{ size }}w
      {%- endfor %}"
      {% if sizesQueries %}
        sizes="{{ sizesQueries }}"
      {% endif %}
      alt="{{ image.caption | striptags() }}" />
