<figure class="figure
               {{ ' figure--full' if full }}
               {{ ' figure--bleed' if bleed }}
               {{ ' figure--max-out-height' if maxOutHeight }}
               {{ ' image-gallery__figure' if galleryImage }}">
  {% set sizes = image | getImageSizesFor %}
  {% if type === 'picture' %}
    <picture class="figure__picture figure__image-container">
      {%- for size in sizes -%}
        <source media="(min-width: {{ size }}px)"
                srcset="{{ image.contentUrl }}?w={{ size }}">
      {%- endfor %}
      <img class="figure__image{{' image-gallery__image' if galleryImage }}"
           src="{{ image.contentUrl }}"
           alt="{{ image.caption | striptags() }}" />
    </picture>
  {% else %}
    <div class="figure__image-container">
      {% set comma = joiner() %}

      <img class="figure__image{{' image-gallery__image' if galleryImage }}"
           src="{{ image.contentUrl }}?w={{ sizes[3] }}"
           srcset="
            {%- for size in sizes -%}
              {{ comma() }}{{ image.contentUrl }}?w={{ size }} {{ size }}w
            {%- endfor %}"
           alt="{{ image.caption | striptags() }}" />
    </div>
  {% endif %}

  {% block figcaption %}
    {% if image.caption %}
      <figcaption class="figure__caption{{' image-gallery__figure-caption' if galleryImage }}">
        <div class="flex">
          <div>{% icon 'other/picture' %}</div>
          <div>{{ image.caption }}</div>
        </div>
      </figcaption>
    {% endif %}
  {% endblock %}
</figure>
