* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

.is-scroll-locked {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.is-scroll-locked--to-medium {
  @include respond-between('small', 'medium') {
    margin: 0;
    height: 100vh;
    overflow: hidden;
  }
}

// We use noscript to provide default images, which are otherwise lazyloaded
// Without the width specified below it can cause issues with centering of the images, such as on the work page
noscript {
  width: 100%;
  background: color('white');
  color: color('black');
  display: inline-block;

  .image {
    display: block;
  }
}
