html {
  // stylelint-disable sh-waqar/declaration-use-variable
  font-size: 100%;
  // stylelint-enable sh-waqar/declaration-use-variable
}

body {
  @include font('HNL4');

  @include respond-to('medium') {
    @include font('HNL3');
  }

  font-variant-ligatures: no-common-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // stylelint-disable sh-waqar/declaration-use-variable
  font-size: 1em;
  // stylelint-enable sh-waqar/declaration-use-variable
  margin: 0;
  font-weight: normal;
}

a {
  color: color('inherit');
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 1.6em;

  &:empty {
    display: none;
  }
}

ul,
ol {
  &:last-child {
    margin-bottom: 0;
  }
}

hr {
  margin: 0;
}

// Standard heading sizes
%h0,
.h0 {
  @include font('WB4');

  @include respond-to('medium') {
    @include font('WB3');
  }
}

%h1,
.h1 {
  @include font('WB5');

  @include respond-to('medium') {
    @include font('WB4');
  }
}

%h2,
.h2 {
  @include font('WB6');

  @include respond-to('medium') {
    @include font('WB5');
  }
}

%h3,
.h3 {
  @include font('WB7');

  @include respond-to('medium') {
    @include font('WB6');
  }
}

.primary-link { // Applied to the PrimaryLink component
  color: color('green');

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.plain-text { // Applied to non-body text blocks
  a {
    @include default-link;
  }
}

.secondary-link {
  @include default-link;
}

.spaced-text {
  p,
  ul {
    margin-bottom: 0;
  }

  // All elements with a preceding sibling get margin-top
  // https://alistapart.com/article/axiomatic-css-and-lobotomized-owls
  * + * {
    margin-top: 1.6em;
  }

  // …but not as much margin-top for list items
  li + li {
    margin-top: 0.3em;
  }
}
