$helvetica-neue-medium-base: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Arial Black', sans-serif;
$helvetica-neue-light-base: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$wellcome-bold-base: 'Arial Black', sans-serif;
$lettera-base: 'Courier New', Courier, Monospace;
$font-sizes-all: (
  1: 14px,
  2: 15px,
  3: 16px,
  4: 18px,
  5: 20px,
  6: 22px,
  7: 24px,
  8: 28px,
  9: 32px,
  10: 40px,
  11: 50px,
);
$font-sizes-at-breakpoints: (
  'small': (
    0: map-get($font-sizes-all, 9),
    1: map-get($font-sizes-all, 8),
    2: map-get($font-sizes-all, 7),
    3: map-get($font-sizes-all, 6),
    4: map-get($font-sizes-all, 3),
    5: map-get($font-sizes-all, 2),
    6: map-get($font-sizes-all, 1),
  ),
  'medium': (
    0: map-get($font-sizes-all, 10),
    1: map-get($font-sizes-all, 9),
    2: map-get($font-sizes-all, 8),
    3: map-get($font-sizes-all, 6),
    4: map-get($font-sizes-all, 4),
    5: map-get($font-sizes-all, 2),
    6: map-get($font-sizes-all, 1),
  ),
  'large': (
    0: map-get($font-sizes-all, 11),
    1: map-get($font-sizes-all, 10),
    2: map-get($font-sizes-all, 9),
    3: map-get($font-sizes-all, 7),
    4: map-get($font-sizes-all, 5),
    5: map-get($font-sizes-all, 3),
    6: map-get($font-sizes-all, 1),
  )
);

%font-hnm,
%font-hnl {
  font-weight: normal;
}





%font-wb {
  font-family: 'Wellcome Bold Web Subset', $wellcome-bold-base;

  .fonts-loaded & {
    font-family: 'Wellcome Bold Web', 'Wellcome Bold Web Subset', $wellcome-bold-base;
  }
}


@each $font-breakpoint-key, $font-breakpoint-value in $font-sizes-at-breakpoints {
  @include respond-to($font-breakpoint-key) {
    @each $font-size-key, $font-size-value in $font-breakpoint-value {
      %font-size-#{$font-size-key} {
        font-size: $font-size-value;
      }
    }
  }
}



// Standard heading sizes
%h0,
.h0 {
  @extend %font-wb;
  @extend %font-size-1;
}

%h1,
.h1 {
  @extend %font-wb;
  @extend %font-size-2;
}

%h2,
.h2 {
  @extend %font-wb;
  @extend %font-size-3;
}

%h3,
.h3 {
  @extend %font-wb;
  @extend %font-size-4;
}

.more-link { // Applied to the MoreLink component
  color: color('green');
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.spaced-text {
  p,
  ul,
  h2,
  h3 {
    margin-bottom: 0;
  }

  // All elements with a preceding sibling get margin-top
  // https://alistapart.com/article/axiomatic-css-and-lobotomized-owls
  * + * {
    margin-top: 1.55em;
  }

  // …but not as much margin-top for list items
  li + li {
    margin-top: 0.3em;
  }

  // …and paragraphs after headings have a specific margin-top too
  h2 + p,
  h2 + ul {
    margin-top: 1.2em;
  }

  h3 + p,
  h3 + ul {
    margin-top: 0.3em;
  }
}
