{# button-link component data: modifierClasses, href, text, icon #}
<a class="btn {{ 'HNM5' | fontClasses }} {{ modifierClasses }}" href="{{ href }}">
  {% if icon %}
    {% icon icon, null, iconExtraClasses %}
  {% endif %}
  {{ text }}
</a>
