{# button-link component data: modifierClasses, href, text, icon #}
<a class="btn {{modifierClasses}}" href="{{href}}">
  {% if icon %}
      {% component "icon", { icon: icon } %}{% endcomponent %}
  {% endif %}
  {{text}}
</a>
