{# TODO: remove data-modifiers - it's an unweildy hack to pass modifiers down to inner components #}
<div data-component="{{ component }}" class="async-content {{ component }}-placeholder" data-endpoint="{{ endpoint }}" data-modifiers="{{ modifiers }}"></div>
