$colors: (
  'white': #ffffff,
  'black': #010101,
  'purple': #944aa0,
  'teal': #006272,
  'cyan': #298187,
  'turquoise': #5cb8bf,
  'red': #e01b2f,
  'orange': #e87500,
  'yellow': #ffce3c,
  'brown': #815e48,
  'cream': #f0ede3,
  'green': #088574,
  'charcoal': #323232,
  'pewter': #6b6b6b,
  'silver': #8f8f8f,
  'marble': #bcbab5,
  'pumice': #d9d6ce,
  'smoke': #e8e8e8,
  'transparent': transparent,
  'transparent-black': rgba(29, 29, 29, 0.61),
  'inherit': inherit,
  'currentColor': currentColor
);
