<div class="numbered-list{% for modifier in modifiers %} numbered-list--{{modifier}}{% endfor %} {% for class in data.classes %} {{class}}{% endfor %}">
  <header class="numbered-list__header {{ 'numbered-list__header--has-image' if model.image }}">
    <h2 class="numbered-list__heading">{{ model.name }}</h2>
    {% if model.image %}
      <img class="numbered-list__image" src="{{ model.image.contentUrl }}?w=300" alt="" />
      {# TODO: don't hardcode series colour #}
      {% set seriesInfo = {color: 'turquoise', total: model.items.length} %}
      {% componentV2 'chapter-indicator', {series: seriesInfo}, {'full': true}, {showTotal: true} %}
    {% endif %}
  </header>
  <ol class="numbered-list__list{% if data.sliderId %} js-numbered-slider{% endif %}"{% if data.sliderId %} id="{{data.sliderId}}" {% endif %}>
    {% for item in model.items -%}
      <li class="numbered-list__item {{ 'numbered-list__item--inactive' if not item.url }}">
        <span class="numbered-list__number" aria-hidden="true">{{ loop.index }}</span>
      {% if item.url %}
        <a href="{{ item.url }}" class="numbered-list__link">
      {% else %}
        <span class="numbered-list__link-surrogate">
      {% endif %}
          <h3 class="numbered-list__title {% if current === item.url %}numbered-list__title--{{ seriesInfo.color }}{% endif %}">
            {%- if current === item.url -%}
              Currently viewing<span class="numbered-list__visually-hidden-title"> {{ item.title }}</span>
            {%- else -%}
              {{ item.title }}
            {%- endif -%}
          </h3>
          <p class="numbered-list__date">{{ item.date | formatDate }}</p>
      {% if item.url %}
        </a>
      {% else %}
        </span>
      {% endif %}
      </li>
    {%- endfor %}
  </ol>
</div>
