{% import '../../../views/macros.njk' as macro %}

<div class="numbered-list">
  <header class="numbered-list__header">
    <h2 class="numbered-list__heading">{{ heading }}</h2>
  </header>
  <ol class="numbered-list__list">
    {% for item in items %}
      <li class="numbered-list__item">
        <a href="{{ item.url }}" class="numbered-list__link">
          <span class="numbered-list__number" aria-hidden="true">{{ loop.index }}</span>
          <h3 class="numbered-list__title">{{ item.title }}</h3>
          <p class="numbered-list__meta">{{ item.meta }}</p>
        </a>
      </li>
    {% endfor %}
  </ol>
</div>
