{% set isTransporter = modifiers and modifiers | contains('transporter') %}
<div {% if data.sliderId %}data-id="{{ data.sliderId }}"{% endif %} class="numbered-list{% for modifier in modifiers %} numbered-list--{{modifier}}{% endfor %} {% for class in data.classes %} {{class}}{% endfor %} numbered-list--{{ model.color }}">
  {% if model.name %}
    <header class="numbered-list__header {{ 'numbered-list__header--has-image' if model.image }}">
      <h2 class="numbered-list__heading {{ {s:'WB5', m:'WB4', l:'WB3'} | fontClasses if isTransporter else {s:'WB6'} | fontClasses }}">{{ model.name }}</h2>
      {% if model.image and not isTransporter %}
        <img class="numbered-list__image" src="{{ model.image.contentUrl | convertImageUri(300, false) }}" alt=" " />
        {% set seriesInfo = {color: model.color, commissionedLength: model.items.length} %}
        {% componentV2 'chapter-indicator', {series: seriesInfo}, {'full': true}, {showTotal: true} %}
      {% endif %}
    </header>
  {% endif %}
  <ol class="plain-list numbered-list__list{% if data.sliderId %} js-numbered-slider{% endif %} {{ 'grid grid--dividers' if isTransporter }} {{ {s:0} | spacingClasses({margin: ['top', 'left', 'bottom', 'right'], padding: ['top', 'left', 'bottom', 'right']}) }}"
    {% if data.sliderId %}data-id="{{ data.sliderId }}"{% endif %}>
    {% for item in model.items -%}
      {% set isCurrent = current === item.url %}

        <li class="numbered-list__item
          {{ 'numbered-list__item--inactive' if not item.url }}
          {{ 'grid__cell' if isTransporter }}
          {% if isCurrent %} numbered-list__item--{{model.color}}{% endif %}"{% if isCurrent %}data-current="true" {% endif %}>

          <span class="numbered-list__number {{ {s:'WB1'} | fontClasses }} line-height-1" aria-hidden="true">{{ loop.index }}</span>

          {% if isTransporter %}
            <span data-track-event='{"category": "component", "action": "transporter-promo:click", "label": "position:{{ loop.index }}, url:{{ item.url }}"}'>
              {% componentV2 'promo', item | objectAssign({ modifiers: ['slider-transporter-child'] }), {} , {sizes: '(min-width: 1340px) calc(15vw + 120px), (min-width: 960px) calc(40vw - 84px), (min-width: 600px) calc(60vw - 83px), calc(75vw - 72px)'} %}
            </span>
          {% else %}
            {% if item.url %}
              <a href="{{ item.url }}" class="numbered-list__link">
            {% else %}
              <span class="numbered-list__link-surrogate">
            {% endif %}

            <h3 class="numbered-list__title {{ {s:'WB7'} | fontClasses }}">
              {% if data.sliderId %}Part {{ loop.index }}: {% endif %}
              {%- if isCurrent -%}
                Currently reading<span class="numbered-list__visually-hidden-title"> {{ item.title }}</span>
              {%- else -%}
                {{ item.title }}
              {%- endif -%}
            </h3>

            <p class="numbered-list__date {{ {s:'HNL6'} | fontClasses }}">{{ item.datePublished | formatDateWithComingSoon }}</p>
            {% if item.url %}
              </a>
            {% else %}
              </span>
            {% endif %}
          {% endif %}
        </li>

    {%- endfor %}
  </ol>
</div>
