<div class="c-opening-times">
  <div class="c-opening-times__selection">
    <div class="c-opening-times__inner">
      <span class="c-opening-times__heading">Opening times</span>
      <form class="c-opening-times__form">
        <label class="c-opening-times__label">I need opening times for</label>
        <select class="a-select c-opening-times__select">
          <option value="">Wellcome collection</option>
        </select>
        <label class="c-opening-times__label">on</label>
        <select class="a-select c-opening-times__select">
          <option value="">Thursdays</option>
        </select>
        <button class="a-button c-opening-times__button">Look up times</button>
      </form>
    </div>
  </div>
  <div class="c-opening-times__results">
    <div class="c-opening-times__inner">
      <span class="c-opening-times__label c-opening-times__label--results">Results:</span>
      <span class="c-opening-times__times">Open from 1pm to 6pm</span>
    </div>
  </div>
</div>
