<div class="grid grid--dividers">
    <div class="grid__cell">
        {% include "grid/_placeholder/placeholder.njk" %}
    </div>
    <div class="grid__cell">
        {% include "grid/_placeholder/placeholder.njk" %}
    </div>
    <div class="grid__cell">
        {% include "grid/_placeholder/placeholder.njk" %}
    </div>
</div>
