.grid__cell {
  [class*='grid--theme-'] & {
    flex-basis: 100%;
  }

  .grid--theme-4 & {
    @include respond-to('medium') {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  .grid--theme-4 & {
    @include respond-to('xlarge') {
      flex-basis: 25%;
      max-width: 25%;
    }
  }
}
