<form class="form">
  <fieldset class="form__fieldset">
    <span class="form__heading">Type</span>
    <div class="form__group">
      <input type="radio" name="type" id="type-match" />
      <label for="type-match">Best match</label>
    </div>
    <div class="form__group">
      <input type="radio" name="type" id="type-oldest" />
      <label for="type-oldest">Oldest first</label>
    </div>
    <div class="form__group">
      <input type="radio" name="type" id="type-newest" />
      <label for="type-newest">Newest first</label>
    </div>
  </fieldset>
  <fieldset class="form__fieldset">
    <span class="form__heading">License</span>
    <div class="form__group">
      <input type="radio" name="license-search" id="license-search-rights" />
      <label for="license-search-rights">Rights managed</label>
    </div>
    <div class="form__group">
      <input type="radio" name="license-search" id="license-search-free" />
      <label for="license-search-free">Free</label>
    </div>
  </fieldset>
</form>
