{% if data.sizes %}
  {% set sizes = data.sizes %}
{% else %}
  {% set sizes = '100vw' %}
{% endif %}

<a id="{{model.id}}" href="{{ model.url }} "class="">
    <h3 class="">{{ model.title }}</h3>
    {{ model.start }} - {{ model.end }}
    {% componentV2 'image', model.image, {}, {lazyload: true, sizesQueries: sizes, defaultSize: data.defaultSize} %}
    {% if model.description %}
      {{ model.description | striptags | safe | truncate(140) }}
    {% endif %}
</a>
