<label class="input__label flex flex--v-center" for="{{ model.id }}">
  <input id="{{ model.id }}"
    class="input no-border-radius input--{{ model.type }} {% if data.fontStyles %} {{data.fontStyles | fontClasses}} {% else %} {{ {s:'HNL3', m:'HNL2'} | fontClasses }} {% endif %} js-input"
    type="{{ model.type }}"
    name="{{ model.name }}"
    value="{{ model.value }}"
    placeholder="{{ model.placeholder }}"
    {{ 'disabled' if model.disabled }}
    {{ 'autofocus' if model.autofocus and not model.value }} />
  {% if ['radio', 'checkbox'] | contains(model.type) %}
    <span class="input__control-indicator input__control-indicator--{{ model.type }}"></span>
  {% endif %}

  <span class="input__label-wrap {{ {s:1} | spacingClasses({margin: ['left']}) }} {{ 'input__label-wrap--hidden' if data.isLabelHidden }}">
    {{ model.label }}
  </span>
</label>
