{% extends "views/layout/patterns.njk" %}
{% block body %}
<h1 class="styleguide__heading">Grids</h1>
<h3 class="styleguide__item-subheading">Grid 1</h3>
<div class="grid">
    {% include "views/components/sample.njk" %}
</div>

<h3 class="styleguide__item-subheading">Grid 1 - breakout</h3>
<div class="grid grid--breakout">
    {% include "views/components/sample.njk" %}
</div>

<h3 class="styleguide__item-subheading">Grid 2</h3>
<div class="grid">
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
</div>

<h3 class="styleguide__item-subheading">Grid 3 - one up</h3>
<div class="grid grid--3-1-up">
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
</div>

<h3 class="styleguide__item-subheading">Grid 3 - one left</h3>
<div class="grid grid--3-1-left">
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}

</div>

<h3 class="styleguide__item-subheading">Grid 4</h3>
<div class="grid">
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}

</div>

<h3 class="styleguide__item-subheading">Grid 6</h3>
<div class="grid">
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
    {% include "views/components/sample.njk" %}
</div>
{% endblock %}
