{% extends 'components/captioned-image/captioned-image.njk' %}
{% block figcaption %}
  <div class="row bg-cream">
    <div class="container">
      <div class="grid">
        <div class="{{ {m:10, xl:10, shiftM:1, shiftXl:1} | gridClasses }}">
          <figcaption class="captioned-image__caption {{ {s:'LR3', m:'LR2'} | fontClasses }}">
          {% icon 'other/picture', {}, ['float-l', 'margin-right-s2', 'margin-right-m2', 'margin-right-l2', 'margin-right-xl2'] %}
          {% componentV2 'license', {subject: model.contentUrl, licenseType: 'CC-BY-NC'} %}
          {{ model.caption | safe }}
        </figcaption>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
