{% extends 'components/captioned-image/captioned-image.njk' %}
{% block figcaption %}
  <div class="row row--cream">
    <div class="container">
      <div class="grid">
        <div class="{{ {m:10, xl:10, shiftM:1, shiftXl:1} | gridClasses }}">
          <figcaption class="captioned-image__caption {{ {s:'LR3', m:'LR2'} | fontClasses }}">
            {% icon 'other/picture' %}
            {% icon 'other/cc_logo' %}
            {% icon 'other/cc_non_commercial' %}
            {% icon 'other/cc_attribution' %}
            <div class="captioned-image__caption-text" tabindex="0">
              <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
              {{ model.caption | safe }}
            </div>
          </figcaption>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
