<div class="row bg-cream  {{ {s:3, m:5, l:5} | spacingClasses({padding: ['top', 'bottom']}) }} }}">
  <div class="container">
    <div class="grid">
      <div class="{{ {s: 12, m: 12, l: 12, xl: 12} | gridClasses }}">
        <div class="flex flex--v-center flex--h-space-between flex--wrap">
          <h1 class="{{- [
            {s:'WB6', m:'WB4'} | fontClasses,
            {s:4} | spacingClasses({padding: ['right']})
          ].join(' ') }} no-margin">{{ model.name }}</h1>
          <div class="flex flex--v-center flex--wrap">
            <div class="flex flex--v-center">
              <span class="{{- [
                {s:'HNM5', m:'HNM4'} | fontClasses,
                {s:2} | spacingClasses({margin: ['right']})
              ].join(' ') }}">Galleries open today</span>


              {% icon 'clock', null, ['margin-right-s1'] %}
              <span class="{{- [
                {s:'HNL5', m:'HNL4'} | fontClasses,
                {s:2} | spacingClasses({margin: ['right']})
              ].join(' ') }}">
                <time>10:00</time>&ndash;<time>18:00</time>
              </span>
            </div>
            <a class="{{ {s:'HNL5', m:'HNL4'} | fontClasses }}" href="#">Opening hours</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
