{% extends 'components/list-header/list-header.njk' %}

{# TODO: correct urls #}
{% set model = [
  {title: 'Today', url: '#', isActive: true},
  {title: 'This weekend', url: '#', isActive: false},
  {title: 'Everything', url: '#', isActive: false}
] %}

{% block extra %}
  <div class="{{ {s:5} | spacingClasses({padding: ['bottom']}) }}">
    <div class="grid">
      <div class="{{ {s: 12, m: 10, l: 8, xl: 6} | gridClasses }}">
        {% componentV2 'segmented-control', model %}
      </div>
    </div>
  </div>
{% endblock %}

{% block items %}{% endblock %}
