{%- macro gridClasses(s, m, l, xl, sShift, mShift, lShift, xlShift) %}
  {%- set gc="grid__cell" -%}
  {{ gc }} {# Output as variable to control whitespace #}
  {%- if s %}grid__cell--s{{ s }} {% endif %}
  {%- if m %}grid__cell--m{{ m }} {% endif %}
  {%- if l %}grid__cell--l{{ l }} {% endif %}
  {%- if xl %}grid__cell--xl{{ xl }} {% endif %}
  {%- if sShift %}grid__cell--shift-s{{ sShift }} {% endif %}
  {%- if mShift %}grid__cell--shift-m{{ mShift }} {% endif %}
  {%- if lShift %}grid__cell--shift-l{{ lShift }} {% endif %}
  {%- if xlShift %}grid__cell--shift-xl{{ xlShift }} {% endif %}
{%- endmacro %}
