body,
html,
.app {
  height: 100%;
}

.app {
  position: relative;
}

.styleguide {
  position: relative;
  height: 100%;
}

.styleguide__section {
  margin-top: 30px;

  .styleguide__sidebar & {
    margin-top: 0;
  }
}

.styleguide__item-heading {
  font-family: $font-mono;
  font-size: $font-large;
  font-weight: bold;
}

.styleguide__item-subheading {
  font-family: $font-mono;
  font-size: $font-medium;
  font-weight: bold;
  display: inline-block;
  color: color('dark-grey');
  border-bottom: 3px solid color('dark-grey');

  a {
    text-decoration: none;
  }
}

.styleguide__heading {
  margin-bottom: 4rem;
}

.styleguide__logo-wrap {
  @include clearfix;
  color: color('charcoal');

  span {
    font-family: $font-mono;
    font-size: $font-medium;
    font-weight: bold;
    margin-left: 1.4rem;
    margin-top: 0.2em;
    float: left;
    width: 16rem;
  }
}

.styleguide__logo {
  float: left;
  width: 6rem;
  height: 6rem;
}

.styleguide__subheading {
  font-size: $font-xsmall;
  cursor: pointer;
  position: relative;
  margin-left: -0.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.8em;
}

.styleguide__chevron {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  fill: color('currentColor');

  .styleguide__section.is-active & {
    transform: rotate(90deg);
  }
}

.styleguide__main {
  position: absolute;
  left: 270px;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  right: 0;
  background: color('white');
  transition: left 200ms ease;
  border-left: 1px solid color('smoke');
  padding: 60px 15px 15px;

  &.is-fullscreen {
    left: 0;
  }
}

.styleguide__top-nav {
  position: absolute;
  top: 15px;
  left: 0;
  height: 30px;
  border-bottom: 1px solid color('smoke');
  right: 0;
}

.styleguide__menu {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 15px;
  cursor: pointer;

  span {
    display: block;
    height: 4px;
    margin-bottom: 3px;
    background: color('light-grey');
    transition: background 200ms ease;
  }

  &:hover span {
    background: color('charcoal');
  }
}

.styleguide__sidebar {
  padding: 15px;
  background: color('mist');
  top: 0;
  bottom: 0;
  width: 270px;
  position: absolute;
  overflow-y: auto;
}

.styleguide__list {
  list-style: none;
  display: none;

  .styleguide__section.is-active & {
    display: block;
  }
}

.styleguide__item {
  font-size: $font-xsmall;
  margin: 0 0 0.4em;

  &:last-child {
    margin-bottom: 1.6em;
  }
}

.styleguide__link {
  display: block;
  text-decoration: none;
  padding-right: 1rem;
  color: color('granite');
  border-bottom: 0;
  transition: color 200ms ease;

  &:hover,
  &:focus,
  &.is-active {
    color: color('blue');
  }

  &--standalone {
    color: color('inherit');
    font-weight: 500;
    font-size: $font-xsmall;
    text-transform: uppercase;
    margin-bottom: 0.8em;
  }
}

.styleguide__standalone {
  margin-bottom: 30px;
}

@function color-list($colors) {
  $list: null;

  @each $color in $colors {
    $list: append($list, $color);
  }

  @return '#{$list}';
}

.styleguide__palette {
  @include clearfix;

  &:after {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
    content: color-list($colors);
  }
}

.styleguide__hex {
  position: relative;
  width: 200px;
  height: 200px;
  float: left;
}

.styleguide__color {
  position: absolute;
  font-size: $font-xsmall;
  top: 5px;
  left: 5px;
  background: color('white');
  padding: 5px;
  max-width: 190px;
  border-radius: 3px;
  border: 1px solid color('smoke');
}

.styleguide__hex-code {
  font-family: $font-mono;
  font-size: $font-xsmall;
  padding: 0.2em 0.5em;
  background: color('granite');
  color: color('white');
  text-shadow: 0.05em 0.05em 0 rgba(33, 33, 33, 0.8);
  border-radius: 2px;
}

.styleguide__code {
  font-family: $font-mono;
  font-size: $font-small;
  max-width: 100%;
  overflow: auto;
  padding: 20px;
  background: color('granite');
  color: color('white');
  text-shadow: 0.05em 0.05em 0 rgba(33, 33, 33, 0.8);
  border-radius: 3px;
  display: none;

  .styleguide__section.is-active & {
    display: block;
  }
}

.styleguide__icon-sprite {
  height: 0;
  width: 0;
  position: absolute;
  visibility: hidden;
}

.styleguide__icon-wrap {
  svg {
    display: block;
    width: 4em;
    height: 4em;
  }
}
