<form class="search-box" action="{{ model.action }}">
  {% componentV2 'input', {id: model.id, type: 'text', name: model.name, value: model.query, placeholder: 'Search', autofocus: model.autofocus}, null, {isLabelHidden: true} %}
  <button class="search-box__button plain-button v-center {{ {s:0} | spacingClasses({padding: ['top', 'right', 'bottom', 'left']}) }}">
    {% icon 'actions/search', 'Search' %}
  </button>
</form>
