{# TODO: pass in font sizes as data? #}
{% if model.modifiers and model.modifiers | contains('large-text') %}
  {% set typeFontSizes = {s:'HNL6', l:'HNL5'} %}
{% elif model.modifiers and model.modifiers | contains('transporter-child') %}
  {% set typeFontSizes = {s:'HNL6'} %}
{% else %}
  {% set typeFontSizes = {s:'HNL5'} %}
{% endif %}

{% if model.modifiers and model.modifiers | contains('large-text') %}
  {% set titleFontSizes = {s:'WB7', l:'WB6'} %}
{% elif model.modifiers and model.modifiers | contains('transporter-child') %}
  {% set titleFontSizes = {s:'WB7'} %}
{% elif model.modifiers and model.modifiers | contains('standalone') %}
  {% set titleFontSizes = {s:'WB6', m:'WB4', l:'WB6', xl:'WB4'} %}
{% else %}
  {% set titleFontSizes = {s:'WB6'} %}
{% endif %}

{% if model.contentType and model.contentType === 'work' %}
  {% set titleFontSizes = {s:'HNL5'} %}
{% endif %}

{% if model.modifiers and model.modifiers | contains('transporter-child') %}
  {% set dateFontSizes = {s:'HNL6'} %}
{% else %}
  {% set dateFontSizes = {s:'HNL5'} %}
{% endif %}


{% if data.sizes %}
  {% set sizes = data.sizes %}
{% else %}
  {% set sizes = '100vw' %}
{% endif %}

{% if model.series %}
  {% set seriesTitle = model.series | getSeriesTitle %}
  {% set commissionedSeries = model.series | getCommissionedSeries %}
  {% if commissionedSeries and model.positionInSeries and model.url %}
    {% set addImageMask = true %}
    {% set addIndicatorBars = true %}
    {% if model.modifiers and model.modifiers | contains('standalone') %}
      {% set clipPathClass = 'promo__clip-path--chapters-half' %}
    {% else %}
      {% set clipPathClass = 'promo__clip-path--chapters-third' %}
    {% endif %}
  {% endif %}
{% endif %}

<{{ 'a' if model.url else 'span' }} id="{{model.id}}"
  {% if model.url %}href="{{ model.url }}"{% endif %}
  class="promo {% for modifier in model.modifiers %}promo--{{ modifier }} {% endfor %} promo--{{ model.contentType }} {{ 'promo--surrogate' if not model.url }}">
    <div class="promo__image-container {% if data.isConstrained %} promo__image-container--constrained {% endif %}">
      {% if model.image %}
        {% componentV2 'image', model.image, {}, {lazyload: true, sizesQueries: sizes, clipPathClass: clipPathClass, defaultSize: data.defaultSize} %}
      {% else %}
        <div class="promo__image-surrogate">
          <div class="promo__image-surrogate-inner"></div>
        </div>
      {% endif %}

      {% if addIndicatorBars %}
          {% componentV2 'chapter-indicator', {series: commissionedSeries, position: model.positionInSeries}, {'half': model.modifiers and model.modifiers | contains('standalone')}, {showSingle: model.modifiers and model.modifiers | contains('standalone')} %}
      {% endif %}

      {% if model.contentType === 'gallery' or model.contentType === 'audio' or model.contentType === 'video' %}
        <div class="promo__icon-container {{ {s:'HNL6'} | fontClasses }}">
          {% icon model.contentType | getIconForContentType %}
          {% if model.contentType === 'gallery' and model.length %}
            <span class="promo__length"><span class="promo__sr">Gallery with</span> {{ model.length }} <span class="promo__sr">item{{ 's' if model.length > 1 }}</span></span>
          {% endif %}
          {% if model.contentType === 'audio' or model.contentType === 'video' and model.length %}
            <span class="promo__sr">{% if model.contentType === 'audio' %}Audio{% else %}Video{% endif %} lasting</span>
            <span class="promo__length">{{ model.length }}</span>
          {% endif %}
        </div>
      {% endif %}
  </div>
  {% if model.modifiers and model.modifiers | contains('standalone') %}
    <div class="row bg-cream {{ {s:10} | spacingClasses({padding: ['top']}) }} ">
      <div class="container">
        <div class="grid">
          <div class="{{ {l:10, shiftL:1, m:10, shiftM:1, s:12} | gridClasses }}">
          {% endif %}
            <header class="promo__description {{ {s:'HNL5'} | fontClasses }}">
              <div class="promo__heading">
                {% if model.contentType %}
                  <span class="promo__type font-charcoal {{ {s:1} | spacingClasses({margin: ['bottom']}) }} {{ typeFontSizes | fontClasses }}" aria-hidden="true">
                    {% if commissionedSeries and model.positionInSeries %}
                      {{ commissionedSeries.name }}: Part {{ model.positionInSeries }}
                    {% elif seriesTitle %}
                      {{ seriesTitle }}
                    {% elseif model.contentType != 'work' %}
                      {{ model.contentType }}
                    {% endif %}
                  </span>
                {% endif %}
                  <{{ headingLevel or 'h2'}} class="promo__title{{ ' promo__title--lead' if model.weight === 'lead' }} {{ titleFontSizes | fontClasses }}{%if model.contentType == 'work'%} text--truncate {% endif %}">
                    {{ model.title if model.url else 'Coming soon…' }}
                  </{{ headingLevel or 'h2'}}>
              </div>
              {% if model.datePublished and model.contentType == 'work' %}
                <p class="promo {{ dateFontSizes | fontClasses }}  font-pewter relative">{{ model.datePublished }}</p>
              {% endif %}
              {% if model.description %}
                <span class="promo__copy">{{ model.description | striptags | safe | truncate(140) }}</span>
              {% endif %}
            </header>
          {% if model.modifiers and model.modifiers | contains('standalone') %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</{{ 'a' if model.url else 'span' }}>
