{% if media.mediaType == 'image' %}
    {% component 'figure', {
      type: 'image',
      icon: 'other/picture',
      full: true,
      captionGrid: {m:6, xl:10, mShift:1, xlShift:1},
      sources: [{size: 1000, src: media.uri}],
      caption: media.altText,
      maxOutHeight: true
    }%}
{% endif %}

{% if media.mediaType == 'audio' %}
  <audio controls="controls" src="{{ media.uri }}"></audio>
{% endif %}

{% if media.mediaType == 'video' %}
  <iframe width="640" height="360" src="{{ media.uri | youtubeEmbedUrl }}" frameborder="0"></iframe>
{% endif %}

{% if media.mediaType == 'gallery' %}
  {% component 'gallery', { items: media.items } %}
{% endif %}
