{% extends 'components/drawer/drawer.njk' %}

{% block drawerHeader %}
  {% if data.topDivider %}
    <hr class="divider divider--black divider--keyline" />
  {% endif %}
  {{ super() }}
{% endblock %}

{% block drawerBody %}
  {% for item in data.data %}
    <div class="{{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
      {% componentV2 'meta-unit', {headingText: item.title, content: item.content} %}
    </div>
  {% endfor %}
{% endblock %}

{% block drawerDivider %}
  {{ super() }}
{% endblock %}
