{% extends 'components/drawer/drawer.njk' %}

{% block drawerHeader %}
  {% if data.topDivider %}
    {% set dividerClasses = 'divider--black divider--keyline ' + {s:1} | spacingClasses({margin: ['top', 'bottom']}) %}
    {% componentJsx 'Divider', {extraClasses: dividerClasses } %}
  {% endif %}
  {{ super() }}
{% endblock %}

{% block drawerBody %}
  {% for item in data.data %}
    <div class="{{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
      {% componentV2 'meta-unit', {headingText: item.title, content: item.content} %}
    </div>
  {% endfor %}
{% endblock %}

{% block drawerDivider %}
  {{ super() }}
{% endblock %}
