<div class="grid grid--start">
  <div class="grid__cell grid__cell--s2 grid__cell--m4 grid__cell--l6">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
</div>

<div class="grid grid--center">
  <div class="grid__cell grid__cell--s2 grid__cell--m4 grid__cell--l6">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
</div>

<div class="grid grid--end">
  <div class="grid__cell grid__cell--s2 grid__cell--m4 grid__cell--l6">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
</div>
