<div class="grid grid--start">
  <div class="grid__cell grid__cell--s2 grid__cell--m4 grid__cell--l6">
    {% include "views/grid/_placeholder/placeholder.njk" %}
  </div>
</div>

<div class="grid grid--center">
  <div class="grid__cell grid__cell--s2 grid__cell--m4 grid__cell--l6">
    {% include "views/grid/_placeholder/placeholder.njk" %}
  </div>
</div>

<div class="grid grid--end">
  <div class="grid__cell grid__cell--s2 grid__cell--m4 grid__cell--l6">
    {% include "views/grid/_placeholder/placeholder.njk" %}
  </div>
</div>

<div class="grid grid--spaced">
  <div class="grid__cell grid__cell--s1 grid__cell--m3 grid__cell--l5">
    {% include "views/grid/_placeholder/placeholder.njk" %}
  </div>

  <div class="grid__cell grid__cell--s1 grid__cell--m3 grid__cell--l5">
    {% include "views/grid/_placeholder/placeholder.njk" %}
  </div>
</div>

<div class="grid">
  <div class="grid__cell grid__cell--l5 grid__cell--shift-l1 grid__cell--m3 grid__cell--shift-m1 grid__cell--s1 grid__cell--shift-s1">
    {% include "views/grid/_placeholder/placeholder.njk" %}
  </div>
  <div class="grid__cell grid__cell--l5 grid__cell--shift-l1 grid__cell--m3 grid__cell--shift-m1 grid__cell--s1 grid__cell--shift-s1">
    {% include "views/grid/_placeholder/placeholder.njk" %}
  </div>
</div>
