<div class="grid">
  <div class="grid__cell grid__cell--l12">

    <div class="card">
      <img class="card__image" src="http://placehold.it/900x600" alt="" />
      <header class="card__description">
        <span class="card__intro">Article</span>
        <h2 class="card__title"><a href="#" class="card__link">Animating the Body</a></h2>
        <span class="card__copy">Incidunt vitae voluptate obcaecati, alias optio pariatur doloremque sint suscipit illo, recusandae labore facere asperiores explicabo expedita hic sit itaque quos. Doloribus.</span>
      </header>
    </div>

  </div>

  <div class="grid__cell grid__cell--l8">

    <div class="card">
      <img class="card__image" src="http://placehold.it/900x600" alt="" />
      <header class="card__description">
        <span class="card__intro">Article</span>
        <h2 class="card__title"><a href="#" class="card__link">Animating the Body</a></h2>
        <span class="card__copy">Incidunt vitae voluptate obcaecati, alias optio pariatur doloremque sint suscipit illo, recusandae labore facere asperiores explicabo expedita hic sit itaque quos. Doloribus.</span>
      </header>
    </div>

  </div>

  <div class="grid__cell">

    <div class="card">
      <img class="card__image" src="http://placehold.it/900x600" alt="" />
      <header class="card__description">
        <span class="card__intro">Article</span>
        <h2 class="card__title"><a href="#" class="card__link">Animating the Body</a></h2>
        <span class="card__copy">Incidunt vitae voluptate obcaecati, alias optio pariatur doloremque sint suscipit illo, recusandae labore facere asperiores explicabo expedita hic sit itaque quos. Doloribus.</span>
      </header>
    </div>

</div>
