{% extends 'layout/default.njk' %}

{% block siteNotice %}
  {% component 'new-site-notice', {showLink: false} %}
{% endblock %}
{% block body %}
  {% componentV2 'captioned-image', {
    contentUrl: 'https://wellcomecollection.files.wordpress.com/2017/02/wc_promo_next_02.png',
    width: 1600,
    height: 618
  }, {'full': true} %}
<div class="row {{ {s:10} | spacingClasses({padding: ['top']}) }}">
    <div class="container">
        <div class="grid">
            <div class="grid__cell">
              <div class="body-content">
                {% markdown %}
                  {% include '../docs/PROGRESS_NOTES.md' %}
                {% endmarkdown %}
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
