@each $spacing-size in $grid-config {
  $spacing-size-key: nth($spacing-size, 1);
  $spacing-size-map: nth($spacing-size, 2);
  $spacing-size-respond: map-get($spacing-size-map, 'respond');

  @if (length($spacing-size-respond) > 1) {
    @include respond-between(nth($spacing-size-respond, 1), nth($spacing-size-respond, 2)) {
      @include spacing-classes($spacing-size-key);
    }
  } @else {
    @include respond-to($spacing-size-respond) {
      @include spacing-classes($spacing-size-key);
    }
  }
}

@each $font-key, $font-value in $fonts {
  @each $breakpoint-key, $breakpoint-value in $grid-config {
    $breakpoint-respond: map-get($breakpoint-value, 'respond');

    .font-#{$font-key}-#{$breakpoint-key} {
      @if (length($breakpoint-respond) > 1) {
        @include respond-between(nth($breakpoint-respond, 1), nth($breakpoint-respond, 2)) {
          @include font($font-key);
        }
      } @else {
        @include respond-to($breakpoint-respond) {
          @include font($font-key);
        }
      }
    }
  }
}

.is-hidden {
  display: none;
}

// Adds momentum scrolling to iOS
// TODO: consider removing if/when scroll snapping is implemented
.touch-scroll {
  -webkit-overflow-scrolling: touch;
}

.v-center {
  top: 50%;
  transform: translateY(-50%);
}

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.flex--v-center {
  align-items: center;
}

.flex--h-center {
  justify-content: center;
}

.flex--h-space-between {
  justify-content: space-between;
}

.plain-button {
  appearance: none;
  font-family: inherit;
  letter-spacing: inherit;
  background: color('transparent');
  border: 0;
  padding: 0;
  text-align: left;
}

.float-r {
  float: right;
}

.h-center {
  margin-left: auto;
  margin-right: auto;
}

.heading--large {
  @include font('WB6');

  @include respond-to('medium') {
    @include font('WB5');
  }

  @include respond-to('large') {
    @include font('WB4');
  }
}

.text--meta {
  @include font('LR3');

  color: color('pewter');

  @include respond-to('medium') {
    @include font('LR2');
  }
}

.border-left {
  border-left: 5px solid color('black');
}

.border-left--smoke {
  border-left: 5px solid color('smoke');
}

.bg-white {
  background: color('white');
}
