$font-sans: 'helvetica neue', helvetica, arial, sans-serif;
$font-mono: 'source code pro', courier, monospace;

$font-xsmall: 1.3rem;
$font-small: 1.6rem;
$font-medium: 2rem;
$font-large: 2.6rem;
$font-xlarge: 3.4rem;
$font-xxlarge: 4rem;

$container-width-max: 1424px;

$gutter-width: (
  'small': 18px,
  'medium': 24px,
  'large': 30px
);

$container-padding: (
  'small': 30px,
  'medium': 42px,
  'large': 60px
);

$grid-config: (
  's': (
    'padding': map-get($container-padding, 'small'),
    'gutter': map-get($gutter-width, 'small'),
    'columns': 4,
    'respond': ('small', 'medium')
  ),
  'm': (
    'padding': map-get($container-padding, 'medium'),
    'gutter': map-get($gutter-width, 'medium'),
    'columns': 8,
    'respond': ('medium', 'large')
  ),
  'l': (
    'padding': map-get($container-padding, 'large'),
    'gutter': map-get($gutter-width, 'large'),
    'columns': 12,
    'respond': 'large'
  )
);

$vertical-space-unit: 15px;

$colors: (
  'charcoal': #333333,
  'granite': #555555,
  'mid-grey': #cbc6c3,
  'light-grey': #e5e5e5,
  'blue': #168dfb,
  'mist': #fafafa,
  'smoke': #f5f5f5,
  'white': #fff,
  'black': #000,
  'red': #aa0000,
  'green': #00a490,
  'transparent': transparent,
  'inherit': inherit,
  'currentColor': currentColor
);

$breakpoints: (
  'small': 0,
  'medium': 600px,
  'large': 960px,
  'xlarge': 1424px
);

// Empty map for respond-to mixin
// Override in component Sass files
$tweakpoints: ();
