$font-sans: 'helvetica neue', helvetica, arial, sans-serif;
$font-mono: 'source code pro', courier, monospace;

$font-xsmall: 1.3rem;
$font-small: 1.6rem;
$font-medium: 2rem;
$font-large: 2.6rem;
$font-xlarge: 3.4rem;
$font-xxlarge: 4rem;

$container-width: (
  'large': 1424px,
  'medium': 100%,
  'small': 100%
);

$container-padding: (
  'large': 60px,
  'medium': 42px,
  'small': 30px
);
  
$gutter-width: (
  'small': 18px,
  'medium': 24px,
  'large': 30px
);

$vertical-space-unit: 15px;

$colours: (
  'charcoal': #333333,
  'granite': #555555,
  'mid-grey': #cbc6c3,
  'light-grey': #e5e5e5,
  'blue': #168dfb,
  'mist': #fafafa,
  'smoke': #f5f5f5,
  'white': #fff,
  'black': #000,
  'red': #aa0000
);

$breakpoints: (
  'large': 1424px,
  'medium': 960px,
  'small': 600px
);

// Empty map for respond-to mixin
// Override in component Sass files
$tweakpoints: ();
