$base-font-size: 16; // Used for calculating ems from px;
$wellcome-bold-base: 'Arial Black', Gadget, sans-serif;
$wellcome-bold-subset: 'Wellcome Bold Web Subset';
$wellcome-bold: 'Wellcome Bold Web';

$helvetica-neue-light-base: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$helvetica-neue-light: 'Helvetica Neue Light Web';

$helvetica-neue-medium-base: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Arial Black', Gadget, sans-serif;
$helvetica-neue-medium: 'Helvetica Neue Medium Web';

$lettera-regular-base: 'Courier New', Courier, Monospace;
$lettera-regular: 'Lettera Regular Web';

//N.B. The letter-spacing value is the tracking value provided from Photoshop
//The @font mixin which utilises this map, converts this to the correct CSS em value.
$fonts: (
  'WB1': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 156px,
    'letter-spacing': -20,
    'line-height': 200px
  ),
  'WB2': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 60px,
    'letter-spacing': -20,
    'line-height': 78px
  ),
  'WB3': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 44px,
    'letter-spacing': 0,
    'line-height': 60px
  ),
  'WB4': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 33px,
    'letter-spacing': 0,
    'line-height': 48px
  ),
  'WB5': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 22px,
    'letter-spacing': 20,
    'line-height': 32px
  ),
  'WB6': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 19px,
    'letter-spacing': 20,
    'line-height': 28px
  ),
  'WB7': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 15px,
    'letter-spacing': 20,
    'line-height': 24px
  ),
  'HNM1': (
    'font-family-base': $helvetica-neue-medium-base,
    'font-family-web': $helvetica-neue-medium,
    'font-size': 36px,
    'letter-spacing': 20,
    'line-height': 48px
  ),
  'HNM2': (
    'font-family-base': $helvetica-neue-medium-base,
    'font-family-web': $helvetica-neue-medium,
    'font-size': 26px,
    'letter-spacing': 20,
    'line-height': 38px
  ),
  'HNM3': (
    'font-family-base': $helvetica-neue-medium-base,
    'font-family-web': $helvetica-neue-medium,
    'font-size': 20px,
    'letter-spacing': 40,
    'line-height': 32px
  ),
  'HNM4': (
    'font-family-base': $helvetica-neue-medium-base,
    'font-family-web': $helvetica-neue-medium,
    'font-size': 16px,
    'letter-spacing': 40,
    'line-height': 24px
  ),
  'HNM5': (
    'font-family-base': $helvetica-neue-medium-base,
    'font-family-web': $helvetica-neue-medium,
    'font-size': 14px,
    'letter-spacing': 80,
    'line-height': 24px
  ),
  'HNM6': (
    'font-family-base': $helvetica-neue-medium-base,
    'font-family-web': $helvetica-neue-medium,
    'font-size': 12px,
    'letter-spacing': 80,
    'line-height': 18px
  ),
  'HNL1': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-size': 36px,
    'letter-spacing': 40,
    'line-height': 48px
  ),
  'HNL2': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-size': 26px,
    'letter-spacing': 40,
    'line-height': 38px
  ),
  'HNL3': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-size': 20px,
    'letter-spacing': 40,
    'line-height': 32px
  ),
  'HNL4': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-size': 16px,
    'letter-spacing': 40,
    'line-height': 24px
  ),
  'HNL5': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-size': 14px,
    'letter-spacing': 80,
    'line-height': 24px
  ),
  'HNL6': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-size': 14px,
    'letter-spacing': 40,
    'line-height': 24px
  ),
  'HNL7': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-size': 12px,
    'letter-spacing': 80,
    'line-height': 18px
  ),
  'HNL8': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-size': 11px,
    'letter-spacing': 80,
    'line-height': 18px
  ),
  'LR1': (
    'font-family-base': $lettera-regular-base,
    'font-family-web': $lettera-regular,
    'font-size': 18px,
    'letter-spacing': 0,
    'line-height': 24px
  ),
  'LR2': (
    'font-family-base': $lettera-regular-base,
    'font-family-web': $lettera-regular,
    'font-size': 14px,
    'letter-spacing': -40,
    'line-height': 24px
  ),
  'LR3': (
    'font-family-base': $lettera-regular-base,
    'font-family-web': $lettera-regular,
    'font-size': 12px,
    'letter-spacing': -20,
    'line-height': 18px
  )
);

$container-width-max: 1424px;

$container-padding: (
  'small': 30px,
  'medium': 42px,
  'large': 60px
);

$gutter-width: (
  'small': 18px,
  'medium': 24px,
  'large': 30px
);

$total-columns: (
  'small': 4,
  'medium': 8,
  'large': 12
);

$grid-config: (
  's': (
    'padding': map-get($container-padding, 'small'),
    'gutter': map-get($gutter-width, 'small'),
    'columns': map-get($total-columns, 'small'),
    'respond': ('small', 'medium')
  ),
  'm': (
    'padding': map-get($container-padding, 'medium'),
    'gutter': map-get($gutter-width, 'medium'),
    'columns': map-get($total-columns, 'medium'),
    'respond': ('medium', 'large')
  ),
  'l': (
    'padding': map-get($container-padding, 'large'),
    'gutter': map-get($gutter-width, 'large'),
    'columns': map-get($total-columns, 'large'),
    'respond': 'large'
  )
);

$vertical-space-unit: 15px;

$colors: (
  'action-green-1': (#088574, 'primary'),
  'action-green-2': (#0aa38f, 'primary'),
  'white': (#fff, 'primary'),
  'cream': (#f8f7f4, 'primary'),
  'black': (#1d1d1d, 'primary'),
  'turquoise': (#5cb8bf, 'secondary'),
  'teal': (#006272, 'secondary'),
  'collection-teal': (#00424d, 'secondary'),
  'purple': (#8c4799, 'secondary'),
  'archive-purple': (#46284d, 'secondary'),
  'red': (#ff4355, 'secondary'),
  'orange': (#e87500, 'secondary'),
  'yellow': (#ffce3c, 'secondary'),
  'accessible-grey-1': (#717171, 'secondary'),
  'accessible-grey-2': (#8f8f8f, 'secondary'),
  'keyline-grey': (#e5e5e5, 'secondary'),
  'transparent': (transparent, 'secondary'),
  'inherit': (inherit, 'secondary'),
  'currentColor': (currentColor, 'secondary'),
  'highlight-green': (#1fbea9, 'tertiary')
);

$breakpoints: (
  'small': 0,
  'medium': 600px,
  'large': 960px,
  'xlarge': 1424px
);

// Empty map for respond-to mixin
// Override in component Sass files
$tweakpoints: ();
