$base-font-size: 16; // Used for calculating ems from px;
$wellcome-bold-base: 'Arial Black', Gadget, sans-serif;
$wellcome-bold-subset: 'Wellcome Bold Web Subset';
$wellcome-bold: 'Wellcome Bold Web';

$helvetica-neue-light-base: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$helvetica-neue-light: 'Helvetica Neue Light Web';

$helvetica-neue-medium-base: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Arial Black', Gadget, sans-serif;
$helvetica-neue-medium: 'Helvetica Neue Medium Web';

$lettera-regular-base: 'Courier New', Courier, Monospace;
$lettera-regular: 'Lettera Regular Web';

//N.B. The letter-spacing value is the tracking value provided from Photoshop
//The @font mixin which utilises this map, converts this to the correct CSS em value.
$fonts: (
  'WB1': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 90px,
    'letter-spacing': -20,
    'line-height': 120px
  ),
  'WB2': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 60px,
    'letter-spacing': -20,
    'line-height': 78px
  ),
  'WB3': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 44px,
    'letter-spacing': 0,
    'line-height': 60px
  ),
  'WB4': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 33px,
    'letter-spacing': 0,
    'line-height': 48px
  ),
  'WB5': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 22px,
    'letter-spacing': 20,
    'line-height': 32px
  ),
  'WB6': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 19px,
    'letter-spacing': 20,
    'line-height': 28px
  ),
  'WB7': (
    'font-family-base': $wellcome-bold-base,
    'font-family-subset': $wellcome-bold-subset,
    'font-family-web': $wellcome-bold,
    'font-size': 15px,
    'letter-spacing': 20,
    'line-height': 24px
  ),
  'HNM1': (
    'font-family-base': $helvetica-neue-medium-base,
    'font-family-web': $helvetica-neue-medium,
    'font-size': 36px,
    'letter-spacing': 20,
    'line-height': 48px
  ),
  'HNM2': (
    'font-family-base': $helvetica-neue-medium-base,
    'font-family-web': $helvetica-neue-medium,
    'font-size': 26px,
    'letter-spacing': 20,
    'line-height': 38px
  ),
  'HNM3': (
    'font-family-base': $helvetica-neue-medium-base,
    'font-family-web': $helvetica-neue-medium,
    'font-size': 20px,
    'letter-spacing': 40,
    'line-height': 32px
  ),
  'HNM4': (
    'font-family-base': $helvetica-neue-medium-base,
    'font-family-web': $helvetica-neue-medium,
    'font-size': 16px,
    'letter-spacing': 40,
    'line-height': 24px
  ),
  'HNM5': (
    'font-family-base': $helvetica-neue-medium-base,
    'font-family-web': $helvetica-neue-medium,
    'font-size': 14px,
    'letter-spacing': 80,
    'line-height': 24px
  ),
  'HNM6': (
    'font-family-base': $helvetica-neue-medium-base,
    'font-family-web': $helvetica-neue-medium,
    'font-size': 12px,
    'letter-spacing': 80,
    'line-height': 18px
  ),
  'HNL1': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-weight': normal,
    'font-size': 36px,
    'letter-spacing': 40,
    'line-height': 48px
  ),
  'HNL2': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-weight': normal,
    'font-size': 26px,
    'letter-spacing': 40,
    'line-height': 38px
  ),
  'HNL3': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-weight': normal,
    'font-size': 20px,
    'letter-spacing': 40,
    'line-height': 32px
  ),
  'HNL4': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-size': 16px,
    'font-weight': normal,
    'letter-spacing': 40,
    'line-height': 24px
  ),
  'HNL5': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-weight': normal,
    'font-size': 14px,
    'letter-spacing': 40,
    'line-height': 24px
  ),
  'HNL6': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-weight': normal,
    'font-size': 12px,
    'letter-spacing': 80,
    'line-height': 18px
  ),
  'HNL7': (
    'font-family-base': $helvetica-neue-light-base,
    'font-family-web': $helvetica-neue-light,
    'font-weight': normal,
    'font-size': 11px,
    'letter-spacing': 80,
    'line-height': 18px
  ),
  'LR1': (
    'font-family-base': $lettera-regular-base,
    'font-family-web': $lettera-regular,
    'font-size': 18px,
    'letter-spacing': 0,
    'line-height': 24px
  ),
  'LR2': (
    'font-family-base': $lettera-regular-base,
    'font-family-web': $lettera-regular,
    'font-size': 14px,
    'letter-spacing': -40,
    'line-height': 24px
  ),
  'LR3': (
    'font-family-base': $lettera-regular-base,
    'font-family-web': $lettera-regular,
    'font-size': 12px,
    'letter-spacing': -20,
    'line-height': 18px
  )
);

$border-radius-unit: 6px;

$total-columns: 12;

$vertical-space-unit: 15px; // Deprecated - please use a multiple of $v-spacing-unit
$v-spacing-unit: 6px;
$spacing-unit: 6px;
$article-top-space: 2 * $vertical-space-unit;
$border-radius-unit: 6px;
$spacing-directions: ('top', 'right', 'bottom', 'left');

$container-padding-s: map-get($container-padding, 'small');
$container-padding-m: map-get($container-padding, 'medium');
$container-padding-l: map-get($container-padding, 'large');
$container-padding-xl: map-get($container-padding, 'xlarge');

$breakpoints: (
  'small': 0,
  'medium': 600px,
  'large': 960px,
  'xlarge': $container-width-max
);

// Empty map for respond-to mixin
// Override in component Sass files
$tweakpoints: ();
