<div class="tags {{ {s:2} | spacingClasses({margin: ['bottom']}) }}">
  <ul class="tags__list plain-list no-margin no-padding flex">
    {% for tag in model.tags %}
      <li class="tags__tag {{ {s:'HNL5', m:'WB7'} | fontClasses }} {{ {s:2} | spacingClasses({margin: ['right', 'bottom']}) }}"
        data-track-event='{"category": "component", "action": "tag:click", "label": "text:{{ tag.prefix }}{{ tag.text }}, url:{{ tag.url }}"}'>
        <{{'a' if tag.url else 'div'}}
          {% if tag.url %}href="{{ tag.url }}"{% endif %}
          class="flex plain-link">
          {% if tag.prefix %}
            <span class="tags__inner font-white bg-black {{ {s:1} | spacingClasses({padding: ['left', 'right', 'top', 'bottom']}) }}">{{ tag.prefix }}</span>
          {% endif %}
          <span class="tags__inner font-white bg-{{ tag.bgColor or 'black' }} {{ {s:1} | spacingClasses({padding: ['left', 'right', 'top', 'bottom']}) }}">{{ tag.text }}</span>
        </{{'a' if tag.url else 'div'}}>
      </li>
    {% endfor %}
  </ul>
</div>
