<div class="tags">
  <ul class="tags__list plain-list no-margin no-padding flex flex--wrap">
    {% for tag in model %}
      {% set isLink = tag.url %}
      <li class="tags__tag {{ {s:'HNL5', m:'WB7'} | fontClasses }} {{ {s:2} | spacingClasses({margin: ['right', 'bottom']}) }}"
        data-track-event='{"category": "component", "action": "tag:click", "label": "text:{{ tag.prefix + ' ' if tag.prefix }}{{ tag.text }}, url:{{ tag.url }}"}'>
        <{{'a' if isLink else 'div'}}
          {% if isLink %}href="{{ tag.url }}"{% endif %}
          class="plain-link flex font-white bg-charcoal {% if isLink %}bg-hover-elf-green transition-bg{% endif %} {{ {s:1} | spacingClasses({padding: ['top', 'bottom']}) }} {{ {s:2} | spacingClasses({padding: ['left', 'right']}) }} rounded-diagonal">
          {{ tag.text }}
        </{{'a' if isLink else 'div'}}>
      </li>
    {% endfor %}
  </ul>
</div>
