{% set findUsMapUrl = 'https://www.google.co.uk/maps/dir//Wellcome+Collection,+Euston+Road,+London/@51.5258128,-0.136211,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x48761b25f10b008f:0xed51ac6f865b038a!2m2!1d-0.133945!2d51.525851' %}
<div class="find-us {{ {s:'HNL5'} | fontClasses }}">
  <a href="{{ findUsMapUrl }}" class="find-us__link">
    <span class="find-us__address">
      {% icon 'other/location', {}, ['float-l', 'margin-right-s2', 'margin-right-m2', 'margin-right-l2', 'margin-right-xl2'] %}
      <p>
        <span class="find-us__street">{{ model.streetAddress }}</span>
        <span class="find-us__locality">{{ model.addressLocality }}</span>
        <span class="find-us__postal-code">{{ model.postalCode }}</span>
        <span class="find-us__country">{{ model.addressCountry }}</span>
      </p>
    </span>
    {% set baseUrl = 'https://api.mapbox.com/v4/mapbox.outdoors/pin-s-building+285A98(-0.133860,51.525840)/-0.133938,51.525883,16/' %}
    {% set accessToken = 'access_token=pk.eyJ1Ijoid2VsbGNvbWVjb2xsZWN0aW9uIiwiYSI6ImNpeGx5eXJubTAwMnkycW4xZHBieTRuZjEifQ.P16Hv5SbMGnteeldt8T-Cw' %}
    {% set sizes = [563, 425, 282, 600] %}
    {% set comma = joiner() %}
    <div class="find-us__map-container">
      <noscript>
        <img width="282" height="282" class="image" src="{{ baseUrl }}285x285.png32?{{ accessToken }}"
      alt="Street map showing Wellcome Collection's location" />
      </noscript>
      <img class="find-us__map lazy-image lazyload"
        src="{{ baseUrl }}10x10.png32?{{ accessToken }}"
        data-srcset="
          {%- for size in sizes %}
            {{ comma() }}
            {{ baseUrl }}{{ size }}x{{ size }}.png32?{{ accessToken }} {{ size }}w,
            {{ baseUrl }}{{ size }}x{{ size }}@2x.png32?{{ accessToken }} {{ size * 2 }}w
          {%- endfor %}
        "
        sizes="(min-width: 1420px) 282px, (min-width: 960px) calc(21.36vw - 17px), (min-width: 600px) calc(50vw - 54px), calc(100vw - 36px)"
        alt="Directions to Wellcome Collection">
    </div>
  </a>

  <div class="find-us__mapbox">
    <a href="http://mapbox.com/about/maps" class="find-us__mapbox-wordmark">Mapbox</a>
    <div class="find-us__mapbox-attribution-container {{ {s:'HNL8'} | fontClasses }}">
      <a class="find-us__mapbox-credit-link find-us__mapbox-credit-link--first" href="https://www.mapbox.com/map-feedback/">© Mapbox | </a>
      <a class="find-us__mapbox-credit-link" href="http://www.openstreetmap.org/copyright">© OpenStreetMap | </a>
      <a class="find-us__mapbox-credit-link" href="https://www.mapbox.com/map-feedback/"><strong>Improve this map</strong></a>
    </div>
  </div>
</div>
