<a href="https://www.google.com/maps/dir//nw12be/" class="find-us">
  <span class="find-us__address">
    {% icon 'other/location' %}
    <p>
      <span class="find-us__street">{{ model.streetAddress }}</span>
      <span class="find-us__locality">{{ model.addressLocality }}</span>
      <span class="find-us__postal-code">{{ model.postalCode }}</span>
      <span class="find-us__country">{{ model.addressCountry }}</span>
    </p>
  </span>
  {% set baseUrl = 'https://api.mapbox.com/v4/mapbox.outdoors/pin-s-building+285A98(-0.133860,51.525840)/-0.133938,51.525883,16/' %}
  {% set accessToken = 'access_token=pk.eyJ1Ijoid2VsbGNvbWVjb2xsZWN0aW9uIiwiYSI6ImNpeGx5eXJubTAwMnkycW4xZHBieTRuZjEifQ.P16Hv5SbMGnteeldt8T-Cw' %}
  {% set sizes = [284, 336, 436] %}
  {% set comma = joiner() %}
  <img class="find-us__map"
    src="{{ baseUrl }}284x284.png32?{{ accessToken }}"
    srcset="
      {%- for size in sizes %}
        {{ comma() }}
        {{ baseUrl }}{{ size }}x{{ size }}.png32?{{ accessToken }} {{ size }}w,
        {{ baseUrl }}{{ size }}x{{ size }}@2x.png32?{{ accessToken }} {{ size * 2 }}w
      {%- endfor %}
    "
    sizes="
    (min-width: 600px) 336px,
    (min-width: 780px) 436px,
    (min-width: 960px) 282px,
    284px
    "
    alt="Directions to Wellcome Collection">
</a>

