{% import '../../../views/macros.njk' as macro %}

<a href="https://www.google.com/maps/dir//nw12be/" class="find-us">
  <span class="find-us__address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
    {% icon 'other/location' %}
    <p>
      <span class="find-us__street" itemprop="streetAddress">183 Euston Road,</span>
      <span class="find-us__locality" itemprop="addressLocality">London</span>
      <span class="find-us__postal-code" itemprop="postalCode">NW1 2BE</span>
    </p>
  </span>
  <img class="find-us__map"
       src="https://api.mapbox.com/v4/mapbox.outdoors/pin-s-building+285A98(-0.133860,51.525840)/-0.133938,51.525883,16/288x288@2x.png?access_token=pk.eyJ1Ijoid2VsbGNvbWVjb2xsZWN0aW9uIiwiYSI6ImNpeGx5eXJubTAwMnkycW4xZHBieTRuZjEifQ.P16Hv5SbMGnteeldt8T-Cw"
       alt="Directions to Wellcome Collection">
</a>
