//* @define divider

.divider {
  text-align: left;
  border: 0;
}

.divider--black {
  background-color: color('black');
}

.divider--pumice {
  background-color: color('pumice');
}

.divider--stub {
  width: 60px;
  height: 5px;
}

.divider--keyline {
  height: 1px;
}

.divider--thin {
  height: 2px;
}

.divider--thick {
  height: 22px;
}

.divider--dashed {
  height: 10px;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20viewBox%3D%220%200%205%2010%22%3E%0A%09%3Cline%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20class%3D%22st0%22%20x1%3D%220.5%22%20y1%3D%2210%22%20x2%3D%220.5%22%20y2%3D%220%22%20/%3E%0A%3C/svg%3E%0A');
  background-repeat: repeat;
}
