.gif-video {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.gif-video__inner {
  position: relative;
}

.gif-video__video {
  display: block;
  width: 100%;
}

.gif-video__play-pause {
  background: transparent;
  border: 0;
  appearance: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  display: none;
  transition: opacity 600ms ease;

  .enhanced & {
    display: block;
  }

  &:hover,
  &:focus,
  .gif-video:hover & {
    .enhanced & {
      opacity: 1;
    }
  }
}

.gif-video__button-text {
  @include visually-hidden();
}

.gif-video__caption {
  border-bottom: 1px solid color('pumice');

  .icon {
    vertical-align: top;
    float: left;
  }
}
