//* @define grid-placeholder; weak

.grid-placeholder {
  min-height: 20px;
  height: 100%;
  background: color('pewter');
  padding: 20px;
  border-radius: $border-radius-unit;
  color: color('white');

  // Example used in grids.njk
  @include container-query(('s': ('3'))) {
    background: color('red-graphics');

    &:before {
      content: 's3';
    }
  }

  @include container-query(('m': ('5'))) {
    background: color('orange-graphics');

    &:before {
      content: 'm5';
    }
  }

  @include container-query(('l': ('3'))) {
    background: color('yellow');

    &:before {
      content: 'l3';
    }
  }
  // Example ends
}
