{% extends 'components/captioned-image/captioned-image.njk' %}
{% block figcaption %}
  {% component 'wobbly-edge', {background: 'cream'} %}
  <div class="row row--cream">
    <div class="container">
      <div class="grid">
        <div class="{{ {m:10, xl:10, shiftM:1, shiftXl:1} | gridClasses }}">
          {{ super() }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
