<!DOCTYPE html>
<html id="top" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Wellcome Collection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {% include "partials/css-head.njk" %}
    <link rel="stylesheet" href="/assets/css/application.css" />
    {# TODO: - come up with better way of including javscript in the head #}
    {% include "partials/js-head.njk" %}
    {# TODO: Add apple icons, different sizes icons etc #}
  </head>

  <body>
    {% component 'skip-link' %}

    {% set navLinks = [
      {
        href: "https://wellcomecollection.org/visit",
        title: "Visit us"
      },
      {
        href: "https://wellcomecollection.org/whats-on",
        title: "What's on"
      },
      {
        href: "/explore",
        title: "Explore",
        isCurrent: pageConfig.inSection === 'explore'
      },
      {
        href: "https://wellcomecollection.org/what-we-do",
        title: "What we do"
      }
    ] %}
    {% component 'header', { navLinks: navLinks } %}

    {% component 'new-site-notice' %}
    <div id="main" class="main" role="main">
      {% block body %}
      {% endblock %}
    </div>
    {% component 'footer', {
      navLinks: navLinks,
      openingHours: {places: pageConfig.openingHours},
      footerSocial: footerSocial
    } %}

    {% component 'cookie-notification' %}

    {% include "partials/analytics.njk" %}
  </body>
</html>
