<!DOCTYPE html>
<html id="top" lang="en">
  <head>
    <meta charset="utf-8" />
    {% include 'partials/analytics.njk' %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ pageConfig.title + ' | ' if pageConfig.title }}Wellcome Collection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block pageMeta %}{% endblock %}
    <style>
      {% include "partials/critical.css.njk" %}
    </style>
    <link rel="preload" href="{{ '/assets/css/' | getHashedFile('non-critical.css') }}" as="style" onload="this.rel='stylesheet'">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/' | getHashedFile('apple-touch-icon.png') }}">
    <link rel="shortcut icon" href="{{ '/assets/icons/' | getHashedFile('favicon.ico') }}" type="image/ico">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/' | getHashedFile('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/' | getHashedFile('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ '/assets/icons/' | getHashedFile('manifest.json') }}">
    <link rel="mask-icon" href="{{ '/assets/icons/' | getHashedFile('safari-pinned-tab.svg') }}" color="#944aa0">
    <meta name="msapplication-config" content="{{ '/assets/icons/' | getHashedFile('browserconfig.xml') }}" />
    <meta name="msapplication-TileColor" content="#944aa0">
    <meta name="theme-color" content="#000000"/>

    <script src="{{ '/assets/libs/' | getHashedFile('picturefill.min.js') }}" async></script>
    {% component 'head-js', { file: ('/assets/js/' | getHashedFile('app.js')) } %}
    <script type="application/ld+json">
      {{ pageConfig.organization | jsonLd('museumLd') | safe }}
    </script>
    <script>
      window.WC = {
        featuresCohort: '{{featuresCohort | safe}}',
        featureFlags: {{featureFlags | dump | safe}}
      }
    </script>
    {% if pageConfig.canonicalUri %}
      <link rel="canonical" href="{{ pageConfig.canonicalUri }}" />
    {% endif %}
    {% if isPreview %}
      <script>
        window.prismic = {
          endpoint: 'https://wellcomecollection.prismic.io/api/v2'
        };
      </script>
      <script type="text/javascript" src="//static.cdn.prismic.io/prismic.min.js"></script>
      <script>
        (function () {
          var validationBar = document.createElement('div');
          validationBar.style.position = 'fixed';
          validationBar.style.width = '375px';
          validationBar.style.padding = '15px';
          validationBar.style.background = '#ffce3c';
          validationBar.style.bottom = '75px';
          validationBar.style.fontSize = '12px';

          window.addEventListener('load', function() {
            const validationFails = [];
            if (!document.querySelector('meta[name="description"]').content) {
              validationFails.push(`
                Warning:
                This piece of content is missing it's description.
                This is helps with search engine results and sharing on social channels.
                (If this is from Prismic, it's the promo text)
              `);
            }

            if (validationFails.length > 0) {
              validationFails.forEach(function(validationFail) {
                var div = document.createElement('div');
                div.innerHTML = validationFail;
                validationBar.appendChild(div);
              });
              document.body.appendChild(validationBar);
            }
          });
        })();
      </script>
    {% endif %}
  </head>
  <body {% if isPreview %}class="is-preview"{% endif %} data-page-state='{{ (pageConfig.pageState or {}) | dump | safe }}'>
    {% component 'skip-link' %}

    {% if featuresCohort === 'testB' %}
      {% component 'cookie-notification', { isFixed: false } %}
    {% endif %}

    {% set navLinks = [
      {
        href: 'https://wellcomecollection.org/visit',
        title: 'Visit us',
        isCurrent: pageConfig.inSection === 'visit-us'
      },
      {
        href: '/whats-on',
        title: 'What\'s on',
        isCurrent: pageConfig.inSection === 'whatson'
      },
      {
        href: '/explore',
        title: 'Stories',
        isCurrent: pageConfig.inSection === 'explore'
      },
      {
        href: '/works',
        title: 'Images',
        isCurrent: pageConfig.inSection === 'images'
      },
      {
        href: 'https://wellcomecollection.org/what-we-do',
        title: 'What we do',
        isCurrent: pageConfig.inSection === 'what-we-do'
      }
    ] %}
    {% component 'header', { navLinks: navLinks } %}

    {% if globalAlert.isShown %}
      {% componentJsx 'InfoBanner', {
        text: globalAlert.text,
        cookieName: 'WC_globalAlert'
      } %}
    {% endif %}

    <div id="main" class="main" role="main">
      {% block body %}
      {% endblock %}
    </div>

    {% if featuresCohort == 'wellcomeUser' and pageConfig.title !== 'Newsletter' %}
      {% componentJsx 'NewsletterPromo' %}
    {% endif %}

    {% componentJsx 'Footer', {
      openingHoursId: 'footer',
      groupedVenues: openingHours.groupedVenues,
      upcomingExceptionalOpeningPeriods: openingHours.upcomingExceptionalOpeningPeriods
    } %}

    {% if featuresCohort !== 'testB' %}
      {% component 'cookie-notification', { isFixed: true } %}
    {% endif %}

    <noscript>
      <link rel="stylesheet" href="{{ '/assets/css/' | getHashedFile('non-critical.css') }}">
    </noscript>
    <script>
      if (['localhost', 'cardigan.wellcomecollection.org'].indexOf(document.location.hostname) === -1) {
        {% include 'partials/hotjar.js.njk' %}
      }
    </script>
    {% include 'partials/monitoring.njk' %}
  </body>
</html>
