<!DOCTYPE html>
<html id="top" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Wellcome Collection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {% include "partials/css-head.njk" %}
    <link rel="stylesheet" href="/assets/css/application.css" />
    {# TODO: - come up with better way of including javscript in the head #}
    {% include "partials/js-head.njk" %}
  </head>

  <body>
    {% component "skip-link" %}

    {% set navLinks = [
      { href: "/visit", title: "Visit us",        isCurrent: pageConfig.inSection === 'visit' },
      { href: "/whats-on", title: "What's on",    isCurrent: pageConfig.inSection === 'whats-on' },
      { href: "/explore", title: "Explore",       isCurrent: pageConfig.inSection === 'explore' },
      { href: "/what-we-do", title: "What we do", isCurrent: pageConfig.inSection === 'what-we-do' }
    ] %}
    {% component "header", { navLinks: navLinks } %}

    {% component "new-site-notice" %}
    <div id="main" class="main" role="main">
      {% block body %}
      {% endblock %}
    </div>
    {% component "footer", {
      navLinks: navLinks,
      openingHours: {places: pageConfig.openingHours},
      footerSocial: footerSocial
    } %}

    {% component "cookie-notification" %}

    {% include "partials/analytics.njk" %}
  </body>
</html>
