<!--[if IE ]><![endif]-->
<!DOCTYPE html>
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>Wellcome Styleguide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', '');
    </script>
    <link rel="stylesheet" type="text/css" href="/assets/css/styleguide.css" id="main-stylesheet" />
</head>
<body>
{% include "views/partials/svg-sprite.njk" %}
<div class="styleguide">
    <div class="styleguide__sidebar">
        <h1 class="styleguide__heading">
            <a href="/patterns" class="styleguide__logo-wrap">
                <svg class="styleguide__logo" aria-hidden=true>
                    <use xlink:href="#icon-wellcome-logo"></use>
                </svg>
                <span>Pattern library</span>
            </a>
        </h1>

        <section class="styleguide__standalone">
            <a href="/patterns/typography" class="styleguide__link styleguide__link--standalone">Typography</a>
            <a href="/patterns/grids" class="styleguide__link styleguide__link--standalone">Grids</a>
            <a href="/patterns/palette" class="styleguide__link styleguide__link--standalone">Palette</a>
            <a href="/patterns/icons" class="styleguide__link styleguide__link--standalone">Icons</a>
        </section>

        <section class="styleguide__section" data-component="drawer">
            <h2 class="styleguide__subheading js-trigger">
                <svg class="styleguide__chevron" aria-hidden=true>
                    <use xlink:href="#icon-chevron"></use>
                </svg>
                Templates
            </h2>
            <ul class="styleguide__list">
                {#{each templates as |template|}#}
                <li class="styleguide__item"><a class="styleguide__link" href="/templates/{{template.key}}">{{template.name}}</a></li>
                {#{!/each}#}
            </ul>
        </section>

        <section class="styleguide__section" data-component="drawer">
            <h2 class="styleguide__subheading js-trigger">
                <svg class="styleguide__chevron" aria-hidden=true>
                    <use xlink:href="#icon-chevron"></use>
                </svg>
                Components
            </h2>
            <ul class="styleguide__list">
                <li class="styleguide__item"><a class="styleguide__link" href="/components">All components</a></li>
                {#{each components as |component|}#}
                <li class="styleguide__item"><a class="styleguide__link" href="/components/{{component.key}}">{{component.name}}</a></li>
                {#{/each}#}
            </ul>
        </section>
    </div>

    <div class="styleguide__main js-main">
        <nav class="styleguide__top-nav">
            <a class="styleguide__menu js-toggle-fullscreen" title="menu">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </nav>
        {% block body %}
        {% endblock %}
    </div>
</div>
{# Not massively sure this is the way forward, but async and other things cause trouble with DomContentLoaded #}
<script src="/assets/js/app.js"></script>
</body>
</html>
