<div class="pagination float-r flex-inline flex--v-center text--meta {{ {s:2, m:2, l:2} | spacingClasses({margin: ['top', 'bottom']}) }}">
  {% if (model.prevPage) %}
    {% set prevQueryString = '?page=' + model.prevPage %}
    {% if data.query %}
      {% set prevQueryString = prevQueryString + '&query=' + data.query %}
    {% endif %}
    <a href="{{ prevQueryString }}" rel="prev" class="{{ {s:2, m:2, l:2} | spacingClasses({margin: ['right']}) }}">
      <div class="icon-rounder flex flex--v-center">
        {% icon 'actions/arrow-big', 'Previous (page '+ model.prevPage +')', ['icon--90', 'icon--2x', 'h-center'] %}
      </div>
    </a>
  {% endif %}

  <span>Page {{ model.currentPage }} of {{ model.pageCount }}</span>
  {% set nextQueryString = '?page=' + model.nextPage %}
  {% if data.query %}
    {% set nextQueryString = nextQueryString + '&query=' + data.query %}
  {% endif %}
  {% if (model.nextPage) %}
    <a href="{{ nextQueryString }}" rel="next" class="{{ {s:2, m:2, l:2} | spacingClasses({margin: ['left']}) }}">
      <div class="icon-rounder flex flex--v-center">
        {% icon 'actions/arrow-big', 'Next (page '+ model.nextPage +')', ['icon--270', 'icon--2x', 'h-center'] %}
      </div>
    </a>
  {% endif %}
</div>
