{% set fromDate = exhibitionAndEventPromos.dates.queriedDates[0] %}
{% set toDate = exhibitionAndEventPromos.dates.queriedDates[1] %}
{% set isMoreThanOneDay =  fromDate !== toDate %}

<p class="{{ {s:'HNM4', m:'HNM4'} | fontClasses }} {{ {s:0} | spacingClasses({margin: ['top', 'bottom']}) }}"><time datetime="{{ fromDate }}">{{ fromDate | formatDate }}</time>{%- if isMoreThanOneDay -%}&ndash;<time datetime="{{ toDate }}">{{ toDate | formatDate }}</time>{%- endif -%}</p>
