<div class="{{ {s: 12, m: 12, l: 12, xl:12} | cssGridClasses }} {{ {s:0} | spacingClasses({margin: ['top', 'bottom']}) }}">
  {% include './date_range.njk' %}
  <h2 class="{{ {s:'WB4'} | fontClasses }} {{ {s:1} | spacingClasses({margin: ['top']}) }}">Exhibitions and Events</h2>
</div>

{% for exhibition in exhibitionAndEventPromos.temporaryExhibitionPromos %}
  <div class="{{ {s: 12, m: 6, l: 6, xl:6} | cssGridClasses }}">
    {% componentV2 'exhibition-promo', exhibition, {}, {sizes: '(min-width: 1420px) 475px, (min-width: 960px) 34.32vw, (min-width: 600px) calc(50vw - 54px), calc(100vw - 36px)'} %}
  </div>
{% endfor %}
{% for event in exhibitionAndEventPromos.eventPromos %}
  <div class="{{ {s: 12, m: 6, l: 3, xl:3} | cssGridClasses }}">
    {% componentV2 'event-promo', event, {}, {sizes: '(min-width: 1420px) 282px, (min-width: 960px) calc(21.36vw - 17px), (min-width: 600px) calc(50vw - 54px), calc(100vw - 36px)'} %}
  </div>
{% endfor %}
{% for exhibition in exhibitionAndEventPromos.permanentExhibitionPromos %}
  <div class="{{ {s: 12, m: 6, l: 6, xl:6} | cssGridClasses }}">
    {% componentV2 'exhibition-promo', exhibition, {}, {sizes: '(min-width: 1420px) 475px, (min-width: 960px) 34.32vw, (min-width: 600px) calc(50vw - 54px), calc(100vw - 36px)'} %}
  </div>
{% endfor %}
<div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }} {{ {s:4} | spacingClasses({margin: ['top']}) }}">
  {% componentV2 'more-info-link', {name: 'View all exhibitions', url: '/exhibitions'} %}
  <br>
  {% componentV2 'more-info-link', {name: 'View all events', url: '/events'} %}
</div>
