<h2 class="{{ {s:'WB4'} | fontClasses }} {{ {s: 12, m: 12, l: 12, xl:12} | cssGridClasses }} {{ {s:0} | spacingClasses({margin: ['top', 'bottom']}) }}">Exhibitions and Events</h2>

{% for exhibition in exhibitionAndEventPromos.temporaryExhibitionPromos %}
  <div class="{{ {s: 12, m: 6, l: 6, xl:6} | cssGridClasses }}">
    {% componentV2 'exhibition-promo', exhibition %}
  </div>
{% endfor %}
{% for event in exhibitionAndEventPromos.eventPromos %}
  <div class="{{ {s: 12, m: 6, l: 3, xl:3} | cssGridClasses }}">
    {% componentV2 'event-promo', event %}
  </div>
{% endfor %}
{% for exhibition in exhibitionAndEventPromos.permanentExhibitionPromos %}
  <div class="{{ {s: 12, m: 6, l: 6, xl:6} | cssGridClasses }}">
    {% componentV2 'exhibition-promo', exhibition %}
  </div>
{% endfor %}
<div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }} {{ {s:4} | spacingClasses({margin: ['top']}) }}">
  {% componentV2 'more-info-link', {name: 'View all exhibitions', url: '/exhibitions'} %}
  <br>
  {% componentV2 'more-info-link', {name: 'View all events', url: '/events'} %}
</div>
