{% set sizes = data.sizes if data.sizes else '100vw' %}
<a data-component="FacilityPromo"
   data-track-event="{{ {category: 'component', action: 'facility-promo:click' } | dump }}"
   id="{{model.id}}"
   href="{{ model.url }}"
   class="plain-link promo-link">
  <div>

    <div class="rounded-corners overflow-hidden">
      {% componentV2 'image', model.image, {}, {lazyload: true, sizesQueries: sizes, defaultSize: data.defaultSize} %}
    </div>

    <h2 class="promo-link__title {{ {s:'WB6'} | fontClasses }}  {{ {s:2} | spacingClasses({margin: ['top']}) }}">{{ model.title }}</h2>

    <p class="{{ {s:'HNL5'} | fontClasses }} no-margin no-padding">{{ model.description | striptags | safe }}</p>

    {% if model.metaText %}
      <div class="{{ {s:3} | spacingClasses({padding: ['top']}) }}">
        <div class="{{ {s:'HNM5'} | fontClasses }} flex flex--v-center">
          {% if model.metaIcon %}
            {% icon model.metaIcon, null, ['margin-right-s1'] %}
          {% endif %}
          <span>{{ model.metaText }}</span>
        </div>
      </div>
    {% endif %}

  </div>
</a>
