{% if data.sizes %}
  {% set sizes = data.sizes %}
{% else %}
  {% set sizes = '100vw' %}
{% endif %}

<a id="{{model.id}}" href="{{ model.url }} "class="promo">
  <div class="promo__image-container">
    {% componentV2 'image', model.image, {}, {lazyload: true, sizesQueries: sizes, defaultSize: data.defaultSize} %}
  </div>
  <header class="promo__description font-HNL5-s">
    <div class="promo__heading">
      <h3 class="promo__title font-WB6-s">{{ model.title }}</h3>
      {% if model.start and model.end %}
        <p>{{ model.start | formatDate }} &mdash; {{ model.end | formatDate }}</p>
      {% endif %}
    </div>
    <span class="promo__copy">{{ model.description | striptags | safe }}</span>
  </header>
</a>
