{% if data.sizes %}
  {% set sizes = data.sizes %}
{% else %}
  {% set sizes = '100vw' %}
{% endif %}
<a id="{{model.id}}" href="{{ model.url }}" class="exhibition-promo {{ {s:4} | spacingClasses({padding: ['bottom']}) }}">
  <div class="exhibition-promo__image-container rounded-corners">
    <div class="exhibition-promo__label">
      {% componentV2 'tags', [{text: 'Exhibition'}] %}
    </div>
    {% componentV2 'image', model.image, {}, {lazyload: true, sizesQueries: sizes, defaultSize: data.defaultSize} %}
  </div>
  <div class="{{- [
      {s:2} | spacingClasses({padding: ['top']}),
      {s:2} | spacingClasses({padding: ['left', 'right']}),
      {s:4} | spacingClasses({padding: ['bottom']})
    ].join(' ') }} exhibition-promo__description bg-cream rounded-diagonal">
    <div class="exhibition-promo__meta flex flex--h-space-between flex--wrap {{ {s:2} | spacingClasses({margin: ['bottom']}) }}">
      <div class="{{- [
        {s:'HNM5', m:'HNM4'} | fontClasses,
        {s:1} | spacingClasses({margin: ['bottom']})
        ].join(' ') }} exhibition-promo__cost flex flex--v-center">
        {% icon 'ticket', null, [''] %}
        <span class="{{ {s:1} | spacingClasses({padding: ['left', 'right']}) }}">FREE</span>
      </div>

      <span class="{{- [
          {s:'HNM4'} | fontClasses,
          {s:1} | spacingClasses({margin: ['bottom']})
        ].join(' ') }} exhibition-promo__status flex flex--v-center">
        {% set dateMessageAndColor = {start: model.start, end: model.end} | formatDateRangeWithMessage %}
        <span class="{{ {s:1} | spacingClasses({margin: ['right']}) }} flex flex--v-center">
          {% set statusColor = 'icon--' + dateMessageAndColor.color %}
          {% icon 'status_indicator', null, [statusColor, 'icon--match-text'] %}
        </span>
        <span class="{{ {s:'HNM5'} | fontClasses }}">{{ dateMessageAndColor.text }}</span>
      </span>
    </div>

    <h2 class="exhibition-promo__title {{ {s:'WB5'} | fontClasses }}  {{ {s:0} | spacingClasses({margin: ['top']}) }}">{{ model.title }}</h2>

    {% if model.start and model.end %}
      <p class="{{ {s:'HNL4'} | fontClasses }} no-margin no-padding"><time datetime="{{model.start}}">{{ model.start | formatDate }}</time>&ndash;<time datetime="{{model.end}}">{{ model.end | formatDate }}</time></p>
    {% else %}
      <p class="{{ {s:'HNL5'} | fontClasses }} no-margin no-padding">{{ model.description | striptags | safe }}</p>
    {% endif %}
  </div>
</a>
