{% for promo in promos %}
  {% if loop.length % 3 == 0 %}
    {% set sizes = sizes2 %}
  {% endif %}
  {% if loop.length % 4 == 0 %}
    {% set sizes = sizes3 %}
  {% endif %}
  {% if loop.length === 5 %}
    {% if loop.index0 < 2 %}
      {% set sizes = sizes1 %}
    {% else %}
      {% set sizes = sizes2 %}
    {% endif %}
  {% endif %}
  {% if loop.length === 7 %}
    {% if loop.index0 < 3 %}
      {% set sizes = sizes2 %}
      {% elif loop.index0 === 3 %}
      {% set sizes = sizes4 %}
    {% else %}
      {% set sizes = sizes3 %}
    {% endif %}
  {% endif %}
  <div class="grid__cell">
    {% componentV2 'promo', promo, {}, {sizes: sizes} %}
  </div>
{% endfor %}
