<div class="cookie-notification is-hidden {{ {s:'HNM6', m:'HNM4'} | fontClasses }} js-info-banner"
  data-cookie-name="WC_cookiesAccepted">
  <div class="container">
    <div class="grid">
      <div class="grid__cell">
        <div class="cookie-notification__inner">
          <div class="cookie-notification__content">
            {% icon 'cookies', null, ['icon--white'] %}
            <div class="cookie-notification__text">
            <h2 class="no-margin inline">Wellcome uses cookies.</h2>
            <a href="https://wellcome.ac.uk/about-us/terms-use#cookies">Read our policy</a>.
            </div>
          </div>
          <button class="cookie-notification__close js-info-banner-close">
            {% icon 'cross', 'Close cookie notification', ['icon--white'] %}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
