<div class="flex">
  <input style="flex-grow: 1;" type="text" value="{{ model.url }}" />
  <button
    data-copy-text="{{ model.url }}"
    class="btn btn--dark is-hidden js-copy-url">Copy link</button>
</div>
