{% extends 'docs/cardigan.njk' %}

{% block mainMedia %}
  <div class="{{ {s:3, m:5, l:10} | spacingClasses({margin: ['top']}) }}">
    <img src="/cardigan-theme/assets/images/cardigan.jpg" alt="" />
  </div>
{% endblock %}

{% block body %}
  <p>
    <a href="https://wellcomecollection.org/explore">Explore</a> and our
    <a href="https://wellcomecollection.org/explore">images search</a>
    are currently running on Cardigan.
  </p>

  <p>All code is available to peruse in our <a href="https://github.com/wellcometrust/wellcomecollection.org">Github repo</a></p>

  <h2>Status codes</h2>
  <p>Components and their variants have been given statuses reflecting their state of completion. The available statuses are listed below.</p>
  <table>
    <tbody>
      {% for status in statuses | arrayFromObject %}
        <tr>
          <td><span style="background: {{ status.color }}; display: inline-block; padding: 0.2em 0.5em; border-radius: 6px; color: #fff; font-family: 'Wellcome Bold Web'">{{ status.label }}</span></td>
          <td>{{ status.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

