<div class="grid">
  <div class="{{ {s:2, m:2, l:4} | grid }}">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
  <div class="grid__cell">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
</div>
