<div class="grid">
  <div class="grid__cell  grid__cell--s2 grid__cell--m2 grid__cell--l4">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
  <div class="grid__cell">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
</div>
