{% import '../../../views/macros.njk' as macro %}

<div class="grid">
  <div class="{{ macro.grid(s=2, m=2, l=4) }}">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
  <div class="grid__cell">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
</div>
