{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "ignore": [
    "node_modules",
    "views/partials/analytics.js"
  ],
  "plugins": ["transform-flow-strip-types"]
}
