{% set leadPromoSizes = '(max-width: 599px) 564px, (max-width: 959px) 876px, 812px' %}
{% set defaultPromoSizes = '(max-width: 599px) 564px, (max-width: 959px) 276px, 386px' %}
{% if promo.weight === 'lead' %}
  {% set sizes = leadPromoSizes %}
{% else %}
  {% set sizes = defaultPromoSizes %}
{% endif %}

<a href="{{ promo.article.url }}" class="promo {% for modifier in promo.modifiers %}promo--{{ modifier }} {% endfor %}">
  <div class="promo__image-container">

    {% componentV2 'image', promo.article.thumbnail, {}, {lazyload: true, sizesQueries: sizes} %}

    {% for modifier in promo.modifiers %}
      {% if modifier === 'series' %}
        <svg class="promo__defs">{# TODO proper filter - see Tomi; and only want this on the page once, where's best to move?#}
          <defs>
            <filter id="duotone" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
              <feColorMatrix type="matrix"
                values="0.90 0 0 0   0.40
                        0.95 0 0 0  -0.10
                      -0.20 0 0 0   0.65
                          0  0 0 1   0" />
            </filter>
          </defs>
        </svg>
        <img class="promo__image-mask promo__clip-path--{{ [1,2,3,4,5,6,7,8,9,10] | random }}" src="{{ promo.article.thumbnail.contentUrl }}?w=600" alt="" />
      {% endif %}
    {% endfor %}

    {% if promo.article.series.items.length and promo.article.positionInSeries %}
      <img class="promo__image-mask {{'promo__clip-path--chapters-half' if promo.modifiers and promo.modifiers | contains('standalone') else 'promo__clip-path--chapters-third'}}" src="{{ promo.article.thumbnail.contentUrl }}?w=600" alt="" />
      {% componentV2 'chapter-indicator', {series: promo.article.series, position: promo.article.positionInSeries}, ['large' if promo.modifiers and promo.modifiers | contains('standalone')] %}
    {% endif %}

    {% if promo.meta.type === 'gallery' or promo.meta.type === 'podcast' or promo.meta.type === 'video' %}
      <div class="promo__icon-container">
        {% if promo.meta.type === 'gallery' %}
          {% icon 'actions/gallery-link' %}
        {% elif promo.meta.type === 'podcast' %}
          {% icon 'actions/volume'  %}
        {% elif promo.meta.type === 'video' %}
            {% icon 'actions/play' %}
        {% endif %}
        {% if promo.meta.type === 'gallery' and promo.meta.length %}
          <span class="promo__length"><span class="promo__sr">Gallery with</span> {{ promo.meta.length }} <span class="promo__sr">item{{ 's' if promo.meta.length > 1 }}</span></span>
        {% endif %}
        {% if promo.meta.type === 'podcast' or promo.meta.type === 'video' and promo.meta.length %}
          <span class="promo__sr">{% if promo.meta.type === 'podcast' %}Podcast{%else%}Video{% endif %} lasting</span>
          {{ promo.meta.length }}
        {% endif %}
      </div>
    {% endif %}
  </div>
  {% if promo.modifiers and promo.modifiers | contains('standalone') %}
    <div class="row row--cream">
      <div class="container">
        <div class="grid">
          <div class="{{ {l:10, shiftL:1, m:6, shiftM:1, s:4} | gridClasses }}">
          {% endif %}
            <header class="promo__description">
              <div class="promo__heading">
                {% if promo.meta.type %}
                  <span class="promo__type" aria-hidden="true">{{ promo.meta.type }}</span>
                {% endif %}
                  <{{ headingLevel or 'h2'}} class="promo__title{{ ' promo__title--lead' if promo.weight === 'lead' }}">
                    {{ promo.article.headline }}
                  </{{ headingLevel or 'h2'}}>
              </div>
              {% if promo.article.description %}
                <span class="promo__copy">{{ promo.article.description | striptags | safe | truncate(140) }}</span>
              {% endif %}
            </header>
          {% if promo.modifiers and promo.modifiers | contains('standalone') %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</a>
