{% if promo.weight === 'lead' %}
  {% set sizes = '(min-width: 1420px) 812px, (min-width: 600px) 58.5vw, calc(100vw - 36px)' %}
{% else %}
  {% if promo.modifiers and promo.modifiers | contains('standalone') %}
    {% set sizes = '100vw' %}
  {% else %}
    {% set sizes = '(min-width: 1340px) 178px, (min-width: 960px) calc(33.33vw - 60px), (min-width: 600px) calc(50vw - 54px), calc(66.79vw - 18px)' %}
  {% endif %}
{% endif %}

{% if promo.series %}
  {% set seriesTitle = promo.series | getSeriesTitle %}
  {% set commissionedSeries = promo.series | getCommissionedSeries %}
  {% if commissionedSeries and promo.positionInSeries and promo.url %}
    {% set addImageMask = true %}
    {% set addIndicatorBars = true %}
    {% if promo.modifiers and promo.modifiers | contains('standalone') %}
      {% set clipPathClass = 'promo__clip-path--chapters-half' %}
    {% else %}
      {% set clipPathClass = 'promo__clip-path--chapters-third' %}
    {% endif %}
  {% endif %}
{% endif %}

<{{ 'a' if promo.url else 'span' }}
  {% if promo.url %}href="{{ promo.url }}"{% endif %}
  class="promo {% for modifier in promo.modifiers %}promo--{{ modifier }} {% endfor %} promo--{{ promo.contentType }} {{ 'promo--surrogate' if not promo.url }}">
  <div class="promo__image-container">
    {% if promo.image %}
      {% componentV2 'image', promo.image, {}, {lazyload: true, sizesQueries: sizes, clipPathClass: clipPathClass} %}
    {% else %}
      <div class="promo__image-surrogate">
        <div class="promo__image-surrogate-inner"></div>
      </div>
    {% endif %}

    {% if addIndicatorBars %}
        {% componentV2 'chapter-indicator', {series: commissionedSeries, position: promo.positionInSeries}, {'half': promo.modifiers and promo.modifiers | contains('standalone')}, {showSingle: promo.modifiers and promo.modifiers | contains('standalone')} %}
    {% endif %}

    {% if promo.contentType === 'gallery' or promo.contentType === 'audio' or promo.contentType === 'video' %}
      <div class="promo__icon-container">
        {% icon promo.contentType | getIconForContentType %}
        {% if promo.contentType === 'gallery' and promo.length %}
          <span class="promo__length"><span class="promo__sr">Gallery with</span> {{ promo.length }} <span class="promo__sr">item{{ 's' if promo.length > 1 }}</span></span>
        {% endif %}
        {% if promo.contentType === 'audio' or promo.contentType === 'video' and promo.length %}
          <span class="promo__sr">{% if promo.contentType === 'audio' %}Audio{% else %}Video{% endif %} lasting</span>
          <span class="promo__length">{{ promo.length }}</span>
        {% endif %}
      </div>
    {% endif %}
  </div>
  {% if promo.modifiers and promo.modifiers | contains('standalone') %}
    <div class="row row--cream {{ {s:10, m:10, l:10} | spacingClasses({padding: ['top']}) }} ">
      <div class="container">
        <div class="grid">
          <div class="{{ {l:10, shiftL:1, m:6, shiftM:1, s:4} | gridClasses }}">
          {% endif %}
            <header class="promo__description">
              <div class="promo__heading">
                {% if promo.contentType %}
                  <span class="promo__type" aria-hidden="true">
                    {% if commissionedSeries and promo.positionInSeries %}
                      {{ commissionedSeries.name }}: Part {{ promo.positionInSeries }}
                    {% elif seriesTitle %}
                      {{ seriesTitle }}
                    {% else %}
                      {{ promo.contentType }}
                    {% endif %}
                  </span>
                {% endif %}
                  <{{ headingLevel or 'h2'}} class="promo__title{{ ' promo__title--lead' if promo.weight === 'lead' }}">
                    {{ promo.title if promo.url else 'Coming soon…' }}
                  </{{ headingLevel or 'h2'}}>
              </div>
              {% if promo.description %}
                <span class="promo__copy">{{ promo.description | striptags | safe | truncate(140) }}</span>
              {% endif %}
            </header>
          {% if promo.modifiers and promo.modifiers | contains('standalone') %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</{{ 'a' if promo.url else 'span' }}>
