<div>
  <div class="row">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
          <h2 class="{{ {s:'WB5', l:'WB4', xl:'WB3'} | fontClasses }}">In this exhibition</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container container--scroll touch-scroll">
      <div class="grid">
        <div class="{{ {s:12, m:10, shiftM:1} | gridClasses }}">
          <div class="grid grid--scroll">
            {% for exhibit in exhibits %}
              <div class="{{ {s: 2} | spacingClasses({ margin: ['bottom'] }) }} {{ {s:12, m:6, l:3, xl:3} | gridClasses }}">
                {% componentJsx 'InstallationPromo', {
                  id: exhibit.item.id,
                  title: exhibit.item.title,
                  description: exhibit.item.promo.caption,
                  image: exhibit.item.promo.image,
                  start: exhibit.item.start,
                  end: exhibit.item.end
                } %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
