{% for font in fonts %}
  {% component 'font-example', {
    font__name: font.font__name,
    font__example: font.font__example,
    font__size: font.font__size,
    letter__spacing: font.letter__spacing,
    line__height: font.line__height,
    usage__text: font.usage__text
} %}
{% endfor %}

<article>
  <section>
    <div class="example">
      <h1>First-level heading <a href="#">Linked</a></h1>
      <h2>Second-level heading <a href="#">Linked</a></h2>
      <h3>Third-Level Header <a href="#">Linked</a></h3>
      <h4>Fourth-Level Header <a href="#">Linked</a></h4>
      <h5>Fifth-Level Header <a href="#">Linked</a></h5>
      <h6>Sixth-Level Header <a href="#">Linked</a></h6>
    </div>
  </section>

  <h2 id="grouping">Grouping content</h2>

  <h3>Paragraphs</h3>
  <div class="example">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eaque cupiditate quis rem, quasi asperiores neque, ut error, praesentium, expedita laborum esse eum ipsum temporibus aspernatur ullam vero molestias soluta?</p>
    <p>Voluptatum harum distinctio quae, neque! Facilis minus deserunt tenetur minima voluptatem quia dolore beatae inventore. Facilis facere nam ea asperiores, ratione nihil odit sit totam. Libero quas, minima accusamus aut.</p>
    <p>Aliquid accusantium magnam, autem provident maxime ab quod nesciunt numquam totam velit similique! Modi pariatur, inventore omnis harum illo tempore suscipit voluptates sint natus, assumenda, eligendi commodi nisi eaque eos.</p>
  </div>

  <h3>Horizontal rule</h3>
  <div class="example">
    <hr/>
  </div>

  <h3>Pre-formatted text</h3>
  <div class="example">
    <pre>
<samp>
&#32; ! " # $ % &amp; ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~
</samp>
    </pre>
  </div>

  <h3>Blockquotes</h3>
  <div class="example">
    <blockquote cite="http://hansard.millbanksystems.com/commons/1947/nov/11/parliament-bill#column_206">
      <p>Many forms of Government have been tried, and will be tried in this world of sin and woe. No one pretends that democracy is perfect or all-wise. Indeed, it has been said that democracy is the worst form of government except all those other forms that have been tried from time to time.</p>
      <footer>
        Winston Churchill, in <cite><a href="http://hansard.millbanksystems.com/commons/1947/nov/11/parliament-bill#column_206">a speech to the House of Commons</a></cite>, 11th November 1947.
      </footer>
    </blockquote>
  </div>

  <h3>Lists</h3>

  <h4>Ordered list</h4>
  <div class="example">
    <ol>
      <li>This is an ordered list.</li>
      <li>
        This is the second item, which contains a sub list
        <ol>
          <li>This is the sub list, which is also ordered.</li>
          <li>It has two items.</li>
        </ol>
      </li>
      <li>This is the final item on this list.</li>
    </ol>
  </div>

  <h4>Unordered list</h4>
  <div class="example">
    <ul>
      <li>
        United Kingdom of Great Britain and Northern Ireland:
        <ul>
          <li>England</li>
          <li>Scotland</li>
          <li>Wales</li>
          <li>Northern Ireland</li>
        </ul>
      </li>
      <li>Republic of Ireland</li>
      <li>Isle of Man</li>
      <li>
        Channel Islands:
        <ul>
          <li>Bailiwick of Guernsey</li>
          <li>Bailiwick of Jersey</li>
        </ul>
      </li>
    </ul>
  </div>

  <h4>Unordered list with items containing block elements</h4>
  <div class="example">
    <ul>
      <li>
        <p>The British Isles is an archipelago consisting of the two large islands of Great Britain and Ireland, and many smaller surrounding islands.</p>
      </li>
      <li>
        <p>Great Britain is the largest island of the archipelago. Ireland is the second largest island of the archipelago and lies directly to the west of Great Britain.</p>
      </li>
      <li>
        <p>The full list of islands in the British Isles includes over 1,000 islands, of which 51 have an area larger than 20 km<sup>2</sup>.</p>
      </li>
    </ul>
  </div>

  <h4>Definition list</h4>
  <div class="example">
    <dl>
      <dt>This is a term.</dt>
      <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
      <dt>Here is another term.</dt>
      <dd>And it gets a definition too, which is this line.</dd>
      <dt>Here is term that shares a definition with the term below.</dt>
      <dt>Here is a defined term.</dt>
      <dd><code>dt</code> terms may stand on their own without an accompanying <code>dd</code>, but in that case they <em>share</em> descriptions with the next available <code>dt</code>. You may not have a <code>dd</code> without a parent <code>dt</code>.</dd>
    </dl>
  </div>

  <h3>Figures</h3>

  <h4>Image-based figure</h4>
  <div class="example">
    <figure>
      <img style="max-width: 100%;"
        src="https://placehold.it/350x150"
        srcset="https://placehold.it/350x150 350w,
                https://placehold.it/700x300 700w,
                https://placehold.it/1050x450 1050w"
        sizes="(min-width: 800px) 50vw, 100vw"
        alt="Example image">
        <!-- Leaving off the sizes attribute, it would default to 100vw (maybe not a bad assumption) -->
      <figcaption>
        This is a placeholder image, with supporting caption.
      </figcaption>
    </figure>
  </div>

  <h4>Picture-based figure</h4>
  <div class="example">
    <figure>
      <picture style="max-width: 100%">
        <source media="(min-width: 1000px)"
                srcset="https://placehold.it/1050/450 1050w,
                        https://placehold.it/700/300 700w"
                sizes="33.3vw" />
        <source srcset="https://placehold.it/400/800 400w,
                        https://placehold.it/600/1200 600w" />
        <img style="max-width: 100%" src="https://placehold.it/700/300" alt="Example image" />
      </picture>
      <figcaption>
        This is a placeholder "art-directed" image, with supporting caption.
      </figcaption>
    </figure>
  </div>

  <h4>Text-based figure</h4>
  <div class="example">
    <figure>
      <figcaption>Get browser details using navigator</figcaption>
      <pre>
        function NavigatorExample() {
          var txt;
          txt = "Browser CodeName: " + navigator.appCodeName;
          txt+= "Browser Name: " + navigator.appName;
          txt+= "Browser Version: " + navigator.appVersion ;
          txt+= "Cookies Enabled: " + navigator.cookieEnabled;
          txt+= "Platform: " + navigator.platform;
          txt+= "User-agent header: " + navigator.userAgent;
        }
      </pre>
    </figure>
  </div>

  <h2 id="text">Text-level Semantics</h2>

  <h3>Links and anchors</h3>
  <div class="example">
    <p><a href="/">Go to the home page</a> or <a href="#banner">return to the top of this page</a>.</p>
  </div>

  <h3>Stressed emphasis</h3>
  <div class="example">
    <p>You simply <em>must</em> try the negitoro maki!</p>
  </div>

  <h3>Strong importance</h3>
  <div class="example">
    <p><strong>Don&#8217;t</strong> stick nails in the electrical outlet.</p>
  </div>

  <h3>Small print</h3>
  <div class="example">
    <p><small>Copyright &#169; 1922-2011 Acme Corporation. All Rights Reserved.</small></p>
  </div>

  <h3>Strikethrough</h3>
  <div class="example">
    <p><s>Recommended retail price: &#163;3.99 per bottle</s>
      <br/><strong>Now selling for just &#163;2.99 a bottle!</strong></p>
  </div>

  <h3>Citations</h3>
  <div class="example">
    <p><cite>Universal Declaration of Human Rights</cite>, United Nations, December 1948. Adopted by General Assembly resolution 217 A (III).</p>
  </div>

  <h3>Inline quotes</h3>
  <div class="example">
    <p>John said, <q>I saw Lucy at lunch, she told me <q>Mary wants you to get some ice cream on your way home</q>. I think I will get some at Ben and Jerry&#8217;s, on Gloucester Road.</q>
    </p>
  </div>

  <h3>Definition</h3>
  <div class="example">
    <p>Bob&#8217;s <dfn title="Dog">canine</dfn> mother and <dfn title="Horse">equine</dfn> father sat him down and carefully explained that he was an <dfn title="A mutation that combines two or more sets of chromosomes from different species">allopolyploid</dfn> organism.</p>
  </div>

  <h3>Abbreviation</h3>
  <div class="example">
    <p><abbr title="British Broadcasting Corportation">BBC</abbr>, <abbr title="HyperText Markup Language">HTML</abbr>, and <abbr title="Staffordshire">Staffs.</abbr></p>
  </div>

  <h3>Time</h3>
  <div class="example">
    <p>Queen Elizabeth II was proclaimed sovereign of each of the Commonwealth realms on
      <time datetime="1952-02-6">6</time> and
      <time datetime="1952-02-7">7 February 1952</time>, after the death of her father, King George VI.</p>
  </div>

  <h3>Code</h3>
  <div class="example">
    <p>When you call the <code>activate()</code> method on the <code>robotSnowman</code> object, the eyes glow.</p>
  </div>
  <h4><code>Code</code> with <code>pre</code></h4>
  <div class="example">
    <pre><code>function getJelly() {
    &#160;&#160;echo $aDeliciousSnack;
}</code></pre>
  </div>

  <h3>Variable</h3>
  <div class="example">
    <p>If there are <var>n</var> pipes leading to the ice cream factory then I expect at <em>least</em> <var>n</var> flavours of ice cream to be available for purchase!</p>
  </div>

  <h3>Sample output</h3>
  <div class="example">
    <p>The computer said <samp>Too much cheese in tray two</samp> but I didn&#8217;t know what that meant.</p>
  </div>

  <h3>Keyboard entry</h3>
  <div class="example">
    <p>To take a screenshot on your Mac, press <kbd>&#8984; Cmd</kbd> + <kbd>&#8679; Shift</kbd> + <kbd>3</kbd>.</p>
  </div>

  <h3>Superscript and subscript text</h3>
  <div class="example">
    <p>The coordinate of the <var>i</var>th point is (<var>x<sub><var>i</var></sub>
      </var>, <var>y<sub><var>i</var></sub>
      </var>). For example, the 10th point has coordinate (<var>x<sub>10</sub></var>, <var>y<sub>10</sub></var>).</p>
    <p>f(<var>x</var>, <var>n</var>) = log<sub>4</sub><var>x</var><sup><var>n</var></sup></p>
  </div>

  <h3>Italicised</h3>
  <div class="example">
    <p>There is a certain <i lang="fr">je ne sais quoi</i> in the air.</p>
  </div>

  <h3>Emboldened</h3>
  <div class="example">
    <p>You enter a small room. Your <b>sword</b> glows brighter. A <b>rat</b> scurries past the corner wall.</p>
  </div>

  <h3>Marked or highlighted text</h3>
  <div class="example">
    <p>I also have some <mark>kitten</mark>s who are visiting me these days. They&#8217;re really cute. I think they like my garden! Maybe I should adopt a <mark>kitten</mark>.</p>
  </div>

  <h3>Edits</h3>
  <div class="example">
    <p>She bought <del datetime="2005-05-30T13:00:00">two</del> <ins datetime="2005-05-30T13:00:00">five</ins> pairs of shoes.</p>
  </div>

  <h2>Tabular data</h2>
  <div class="example">
    <table>
      <caption>The Very Best Eggnog</caption>
      <colgroup>
        <col style="width:50%" />
        <col style="width:25%" />
        <col style="width:25%" />
      </colgroup>
      <thead>
        <tr>
          <th scope="col">Ingredients</th>
          <th scope="col">Serves 12</th>
          <th scope="col">Serves 24</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Milk</td>
          <td>1 quart</td>
          <td>2 quart</td>
        </tr>
        <tr>
          <td>Cinnamon Sticks</td>
          <td>2</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Vanilla Bean, Split</td>
          <td>1</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Cloves</td>
          <td>5</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Mace</td>
          <td>10 blades</td>
          <td>20 blades</td>
        </tr>
        <tr>
          <td>Egg Yolks</td>
          <td>12</td>
          <td>24</td>
        </tr>
        <tr>
          <td>Cups Sugar</td>
          <td>1 &frac12; cups</td>
          <td>3 cups</td>
        </tr>
        <tr>
          <td>Dark Rum</td>
          <td>1 &frac12; cups</td>
          <td>3 cups</td>
        </tr>
        <tr>
          <td>Brandy</td>
          <td>1 &frac12; cups</td>
          <td>3 cups</td>
        </tr>
        <tr>
          <td>Vanilla</td>
          <td>1 tbsp</td>
          <td>2 tbsp</td>
        </tr>
        <tr>
          <td>Half-and-half or Light Cream</td>
          <td>1 quart</td>
          <td>2 quart</td>
        </tr>
        <tr>
          <td>Freshly grated nutmeg to taste</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <footer role="contentinfo">
    <p><small>Copyright &#169; 2013 <a href="http://paulrobertlloyd.com">Paul Robert Lloyd</a>. Code covered by the <a rel="license" href="http://paulrobertlloyd.mit-license.org/">MIT license</a>.</small></p>
  </footer>
</article>
