{% for font in fonts %}
  <div class="styleguide__font">
    <h2 class="styleguide__font__name">{{ font.name }}</h2>
    <p class="styleguide__font__example--{{ font.name }}">{{ font.example }}</p>
    <dl class="styleguide__font__properties">
      <dt class="styleguide__font__property">Font-size:</dt>
      <dd class="styleguide__font__value">{{ font.size }}</dd>
      <dt class="styleguide__font__property">Letter-spacing:</dt>
      <dd class="styleguide__font__value">{{ font.spacing }}</dd>
      <dt class="styleguide__font__property">Line-height:</dt>
      <dd class="styleguide__font__value">{{ font.lineHeight }}</dd>
    </dl>
    <h2 class="styleguide__font__usage-title">Usage:</h2>
    <p class="styleguide__font__usage-text">{{ font.usage }}</p>
  </div>
{% endfor %}
