
{% set sizes = data.sizes if data.sizes else '100vw' %}

<div class="daily-promo">
  <div class="daily-promo__inner bg-cream">
    <div class="{{ {s: -4} | spacingClases({margin: ['top']}) }} daily-promo__image-container rounded-corners overflow-hidden">
      <img src="http://fillmurray.com/600/900" alt="" />
      {# {% componentV2 'image', model.image, {}, {lazyload: true, sizesQueries: sizes, defaultSize: data.defaultSize} %} #}
    </div>
    <h2 class="data-promo__title">Reading room</h2>
    <div class="data-promo__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo nulla, molestias eaque voluptatum officiis voluptatibus illum repellat accusamus sequi corporis ut rerum similique! Sapiente hic libero enim odio perferendis ipsum.</div>
    <div class="data-promo__meta">
      {% icon 'clock' %} <span>Open during gallery hours</span>
    </div>
  </div>
</div>
