 {% macro controlButtonInner(controlText) %}
    <span class="{{- [
      {s:'WB6'} | fontClasses,
      {s:2} | spacingClasses({padding: ['top', 'right', 'bottom', 'left']})
    ].join(' ') }} segmented-control__button-text flex bg-black font-white smooth-font flex--h-space-between rounded-diagonal">
      <span class="js-segmented-control__button-text">{{ controlText }}</span>
      {% icon 'chevron', null, ['icon--white'] %}
    </span>
    <span class="segmented-control__close">
      {% icon 'cross', 'Close' %}
    </span>
 {% endmacro%}
 <div class="segmented-control js-segmented-control {{ {s:2} | spacingClasses({margin: ['top', 'bottom']}) }}">
  <div class="segmented-control__drawer js-segmented-control-show-hide js-focus-trap">
    <span class="visually-hidden js-trap-reverse-end">reset focus</span>
    <button class="segmented-control__header plain-button no-margin no-padding js-show-hide-trigger js-trap-start">
      {% if not data.activeId %}
        {{controlButtonInner('Select')}}
      {% endif %}
      {% for item in model %}
        {%if item.id === data.activeId %}
        {{controlButtonInner(item.title)}}
        {% endif %}
      {% endfor %}
    </button>
    <div id="{{data.id}}"
      class="{{- [
        {s:3} | spacingClasses({padding: ['left', 'right']}),
        {s:4} | spacingClasses({padding: ['top']})
      ].join(' ') }} segmented-control__body bg-white js-show-hide-drawer">

      <span class="{{ {s:3} | spacingClasses({margin: ['bottom']}) }} segmented-control__label block">See:</span>

      <ul class="segmented-control__drawer-list no-margin no-padding plain-list">
        {% for item in model %}
          <li class="{{- [
            {s:'WB6'} | fontClasses,
            {s:3} | spacingClasses({padding: ['top', 'bottom']}),
            'border-top-width-1' if loop.first
          ].join(' ') }} segmented-control__drawer-item border-bottom-width-1 border-color-smoke">
            <a href="{{ item.url }}" class="js-segmented-control__drawer-link segmented-control__drawer-link block plain-link {{ 'js-trap-reverse-start' if loop.last }}  {{'js-proxy-tablink' if data.isTabControl }}">
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <span class="visually-hidden js-trap-end">reset focus</span>
    </div>
  </div>
  <ul class="segmented-control__list no-margin no-padding plain-list border-width-1 border-color-black rounded-diagonal overflow-hidden {{'js-tablist segmented-control__list--inline' if data.isTabControl }}">
    {% for item in model %}
      <li class="{{- [
        {s:'WB7'} | fontClasses,
        'border-right-width-1 border-right-color-black' if not loop.last
      ].join(' ') }} segmented-control__item line-height-1 flex {{'js-tabitem segmented-control__item--inline' if data.isTabControl }}">
        <a href="{{ item.url }}"
          class="{{- [
            {s:2} | spacingClasses({padding: ['top', 'right', 'bottom', 'left']}),
            'is-active smooth-font bg-black font-white bg-hover-pewter' if item.id === data.activeId else 'bg-white font-black bg-hover-pumice'
          ].join(' ') }} block plain-link js-segmented-control__link segmented-control__link transition-bg no-visible-focus {{'js-tablink' if data.isTabControl }}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
