<div class="row b-black work-media js-work-media">
  <div class="work-media__controls js-work-media-controls pointer-events-none">
    {% if model.queryString %}
      <div class="flush-container-left {{ {s:2} | spacingClasses({padding: ['top']}) }}">
      {% set btnHref = '/works' + model.queryString + '#' + model.id %}
      {% set btnTracking = '{"category": "component", "action": "return-to-results:click", "label": "id:' + model.id + ', query:' + model.queryString + ', title:' + model.trackTitle +'"}' %}

      {% component 'button-link', {href: btnHref, text: 'Return to results', icon: 'actions/arrow', modifierClasses: 'btn--transparent-black pointer-events-all', eventTracking: btnTracking, extraIconClasses: ['icon--180'] } %}
      </div>
    {% endif %}

    {% componentV2 'scroll-to-info', {elementId: 'work-info'}, {'work': true}, {extraClasses: ['flush-container-right','js-work-media-control', 'pointer-events-all', 'icon-rounder', 'border-color-white'], extraIconClasses: ['icon--white']} %}
  </div>

  {% componentV2 'image', model.iiifModel, {}, model.iiifData %}
</div>
