$font-sans: 'helvetica neue', helvetica, arial, sans-serif;
$font-mono: 'source code pro', courier, monospace;

$font-xsmall: 1.3rem;
$font-small: 1.6rem;
$font-medium: 2rem;
$font-large: 2.6rem;
$font-xlarge: 3.4rem;
$font-xxlarge: 4rem;

$colours: (
  'charcoal': #333333,
  'granite': #555555,
  'mid-grey': #cbc6c3,
  'light-grey': #e5e5e5,
  'blue': #168dfb,
  'mist': #fafafa,
  'smoke': #f5f5f5,
  'white': #fff,
  'black': #000,
  'red': #aa0000
);

$breakpoints: (
  'xxxlarge': 1260px,
  'xxlarge': 1000px,
  'xlarge': 900px,
  'large': 850px,
  'medium': 700px,
  'small': 600px,
  'xsmall': 480px
);

// Empty map for respond-to mixin
// Override in component Sass files
$tweakpoints: ();
