<meta property="og:type" content="{{ metaContent.type }}" />
<meta property="og:title" content="{{ metaContent.title }}" />
{# we add itemprop="image" as it's required for WhatsApp #}
<meta property="og:image" content="{{ metaContent.image | convertImageUri(1200, false) }}" itemprop="image" />
<meta property="og:image:width" content="1200" />
<meta property="og:url" content="{{ pageConfig.organization.url }}{{ metaContent.url }}" />
<meta property="og:site_name" content="{{ pageConfig.organization.name }}" />

{% if metaContent.description %}
  <meta property="og:description" content="{{ metaContent.description | striptags | safe | truncate(200) }}" />
{% endif %}

{% if metaContent.author.name %}
  <meta property="og:article:author" content="{{ metaContent.author.name }}" />
{% endif %}

{% if metaContent.datePublished %}
  <meta property="og:article:published_time" content="{{ metaContent.datePublished }}" />
{% endif %}

{% if metaContent.video %}
  <meta property="og:video" content="{{ metaContent.video }}" />
{% endif %}
