{% import 'views/macros.njk' as macro %}

<div class="grid grid--align-end">
  {% for column in columns %}
    <div class="{{ macro.gridClasses(s=4, m=4, l=3) }}">
      {% for item in column.items %}
        <a class="footer-social__link" href="{{ item.url }}">
          {% icon item.icon %}
          <span class="footer-social__title">{{ item.title }}</span>
          <span class="footer-social__service">{{ item.service }}</span>
        </a>
      {% endfor %}
    </div>
  {% endfor %}
</div>
