<div class="row">
  <div class="container">
    <div class="grid">
      <div class="{{ {s:4, m:8, l:12, xl: 12} | gridClasses }}">
        <h2 class="heading--large v-margin-0">{{ model.name }}</h2>
      </div>
      <div class="{{ {s:4, m:8, l:8} | gridClasses }}">
        <p class="v-margin-0">{{ model.description }}</p>
        {% componentV2 'more-info-link', model %}
      </div>
    </div>
  </div>
</div>

{% set themeSize = model.items.size %}

{% if themeSize <= 6 %}
  <div class="row row--small-top-padding">
    <div class="container">
      <div class="grid grid--theme-{{ themeSize }}">
        {% for promo in model.items.take(6).toJS() %}
          <div class="grid__cell">
            {% component 'promo', { promo: promo } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
  <div class="row row--small-top-padding">
    <div class="container">
      <div class="grid grid--theme-many">
        {% for promo in model.items.take(3).toJS() %}
          <div class="grid__cell">
            {% component 'promo', { promo: promo } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row row--no-padding">
    <div class="container container--scroll container--no-max-width touch-scroll">
      <div class="grid grid--scroll">
        {% for promo in model.items.skip(3).toJS() %}
          <div class="{{ {s:4, m:4, l:3, xl:3} | gridClasses }}">
            {% component 'promo', { promo: promo } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
