<div class="row">
  <div class="container">
    <div class="grid">
      <div class="{{ {s:4, m:8, l:12, xl: 12} | gridClasses }}">
        <h2 class="heading--large no-v-margin">{{ model.name }}</h2>
      </div>
      <div class="{{ {s:4, m:8, l:8} | gridClasses }}">
        <p class="no-v-margin">{{ model.description }}</p>
        {% componentV2 'more-info-link', model %}
      </div>
    </div>
  </div>
</div>

<div class="row row--small-top-padding">
  <div class="container">
    <div class="grid">
      {% for promo in model.items.take(3).toJS() %}
        <div class="{{ {s:4, l:4, xl:4} | gridClasses }}">
          {% component 'promo', { promo: promo } %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row row--no-padding">
  <div class="container container--scroll touch-scroll">
    <div class="grid grid--featured">
      {% for promo in model.items.skip(3).toJS() %}
        <div class="{{ {s:4, m:4, l:3, xl:3} | gridClasses }}">
          {% component 'promo', { promo: promo } %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
