{% set sizes1 = '(min-width: 1400px) 594px, (min-width: 600px) calc(44.62vw - 22px), calc(66.79vw - 18px)' %}
{% set sizes2 = '(min-width: 1420px) 386px, (min-width: 960px) calc(28.64vw - 15px), (min-width: 600px) calc(50vw - 54px), calc(66.79vw - 18px)' %}
{% set sizes3 = '(min-width: 1420px) 282px, (min-width: 960px) calc(21.36vw - 17px), (min-width: 600px) calc(33.24vw - 43px), calc(66.79vw - 18px)' %}
{% set sizes4 = '(min-width: 1420px) 282px, (min-width: 960px) calc(21.36vw - 17px), (min-width: 600px) calc(50vw - 54px), calc(66.79vw - 18px)' %}

<div class="row {{ {s:4, m:4, l:4} | spacingClasses({padding: ['top']}) }} ">
  <div class="container">
    <div class="grid">
      <div class="{{ {s:12, m:12, l:12, xl: 12} | gridClasses }}">
        <h2 class="heading--large {{ {s:0, m:0, l:0} | spacingClasses({margin: ['top', 'bottom']}) }}">{{ model.name }}</h2>
      </div>
      <div class="{{ {s:12, m:12, l:8} | gridClasses }}">
        <p class="{{ {s:0, m:0, l:0} | spacingClasses({margin: ['top', 'bottom']}) }}">{{ model.description }}</p>
        {% componentV2 'more-info-link', model %}
      </div>
    </div>
  </div>
</div>

<div class="row {{ {s:4, m:4, l:4} | spacingClasses({padding: ['top']}) }} ">
  <div class="container container--scroll touch-scroll">
    <div class="grid grid--dividers grid--scroll grid--theme-{{ model.items.size if model.items.size < 8 else '8' }}">
      {% for promo in model.items.take(8).toJS() %}
        {% if loop.length % 3 == 0 %}
          {% set sizes = sizes2 %}
        {% endif %}
        {% if loop.length % 4 == 0 %}
          {% set sizes = sizes3 %}
        {% endif %}
        {% if loop.length === 5 %}
          {% if loop.index0 < 2 %}
            {% set sizes = sizes1 %}
          {% else %}
            {% set sizes = sizes2 %}
          {% endif %}
        {% endif %}
        {% if loop.length === 7 %}
          {% if loop.index0 < 3 %}
            {% set sizes = sizes2 %}
          {% elif loop.index0 === 3 %}
            {% set sizes = sizes4 %}
          {% else %}
            {% set sizes = sizes3 %}
          {% endif %}
        {% endif %}
        <div class="grid__cell">
          {% componentV2 'promo', promo, {}, {sizes: sizes} %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="container container--no-collape">
    {% componentV2 'divider', {}, {'thick': true, 'black': true}, {extraClasses: [{s:5, m:5, l:5} | spacingClasses({margin: ['bottom']})]} %}
  </div>
</div>

