{% extends 'layout/default.njk' %}

{% block pageMeta %}
  {% set metaContent = {
    type: 'website',
    title: 'Events',
    image: paginatedEvents.results[0].image.contentUrl,
    url: pageConfig.canonicalUri,
    description: 'Choose from an inspiring range of free talks, tours, discussions and more on at Wellcome Collection in London.'
  } %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}
 <meta name="description" content="{{ metaContent.description }}" />
{% endblock %}

{% block body %}
  <script type="application/ld+json">
    [{% for event in paginatedEvents.results %}
      {{ event | jsonLd('eventPromoLd') | safe }}
      {{ ',' if not loop.last }}
    {% endfor %}]
  </script>

  <div class="framed-header row relative">
    <div class="framed-header__image overflow-hidden bg-turquoise"
    {% if backgroundTexture.image %}style="background-image: url({{ backgroundTexture.image }});"{% endif %}>
      <div class="framed-header__wobbly-edge absolute">
        {% componentJsx 'WobblyEdge', {
          background: 'white',
          isValley: true,
          intensity: 100
        } %}
      </div>
    </div>
    <div class="relative container container--with-frame bg-white {{ {s: 1} | spacingClasses({padding: ['bottom']}) }}">
      <div class="grid {{ {s:5, m:7} | spacingClasses({padding: ['top']}) }}">
        <div class="{{ {s: 12, m: 10, l: 8, xl: 9} | gridClasses }}">
          <h1 class="{{ {s: 'WB5', m: 'WB4', l: 'WB3'} | fontClasses }} {{ {s: 3} | spacingClasses({margin: ['bottom']}) }} {{ {s: 0} | spacingClasses({margin: ['top']}) }}">{{  pageConfig.title }}</h1>
        </div>
        <div class="{{ {s: 12, m: 10, l: 8, xl: 9} | gridClasses }}">
          {{ series.body[0].value | prismicAsHtml | safe }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {% if paginatedEvents.length > 0 %}
      <div class="container container--with-frame bg-white {{ {s: 6} | spacingClasses({padding: ['top']}) }}">
        <h2 class="{{ {s: 'WB5'} | fontClasses }} no-margin">Upcoming events</h2>
      </div>
      <div class="container container--with-frame bg-white {{ {s: 4} | spacingClasses({padding: ['top']}) }} {{ {s: 10} | spacingClasses({padding: ['bottom']}) }}">
        <div class="grid">
          {% for event in paginatedEvents %}
            <div class="{{ {s: 12, m: 6, l: 4, xl:4} | gridClasses}}">
              <div class="{{ {s: 3} | spacingClasses({margin: ['bottom']}) }}">
                {% componentJsx 'EventPromo', event %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="container container--with-frame bg-white">
          <div class="grid">
            <div class="{{ {s: 12, m: 12, l: 8, xl: 8} | gridClasses }}">
              <h2 class="{{ {s: 'WB5'} | fontClasses }} {{ {s: 2} | spacingClasses({margin: ['bottom']}) }}">No upcoming events</h2>
              <p>We don’t have any events of this type scheduled, but we do have other events you might enjoy. See our <a href="/events">full events listing</a>.</p>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    {% if pastEvents.length > 0 %}
      <div class="container container--with-frame bg-white">
        <h2 class="{{ {s: 'WB5'} | fontClasses }} no-margin">Past events</h2>
      </div>
      <div class="container container--with-frame bg-white {{ {s: 4} | spacingClasses({padding: ['top']}) }}  {{ {s: 10} | spacingClasses({padding: ['bottom']}) }}">
        <div class="grid">
          {% for event in pastEvents %}
            <div class="{{ {s: 12, m: 6, l: 4, xl:4} | gridClasses}}">
              <div class="{{ {s: 3} | spacingClasses({margin: ['bottom']}) }}">
                {% componentJsx 'EventPromo', event %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
