{% extends 'layout/default.njk' %}

{% block pageMeta %}
  {% set metaContent = {
  type: 'website',
  title: event.title,
  image: event.featuredImage and event.featuredImage.contentUrl,
  url: pageConfig.canonicalUri
  } %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}
  <meta name="description" content="{{ event.description | safe | striptags }}" />
{% endblock %}

{% block body %}
<script type="application/ld+json">
  {{ event | jsonLd('eventLd') | safe }}
</script>
<div class="row">
  <div class="container {{ {s:2} | spacingClasses({margin: ['top']}) }}">
    {% componentV2 'tags', tags %}
  </div>
</div>

<div class="row">
  <div>
    {% if event.promo.image %}
      {% componentV2 'image', event.promo.image, [], { lazyload: true } %}
    {% endif %}
  </div>
  <div class="container relative {{ {s: -4} | spacingClasses({margin: ['top']}) }}">
    <div class="bg-cream rounded-diagonal {{ {s: 4} | spacingClasses({padding: ['top', 'bottom', 'left', 'right']}) }}">
      <div class="{{ {s:'HNM4'} | fontClasses }}">
        {{ event.format.title }}
      </div>

      <div class="{{- [
        {s:'WB5'} | fontClasses,
        {s: 2} | spacingClasses({margin: ['top']}),
        {s: 1} | spacingClasses({margin: ['bottom']})
      ].join(' ') -}}">
        {{ event.title }}
      </div>

      <div class="flex flex--v-center {{ {s:'HNM5'} | fontClasses }} {{ {s:3} | spacingClasses({margin: ['bottom']}) }}">
        <span class="{{ {s: 2} | spacingClasses({margin: ['right']}) }}">{% icon 'other/ticket' %}</span>
        <span class="caps {{ {s: 1} | spacingClasses({padding: ['right']}) }}">Free</span>
        <span class="border-left-width-1 border-color-pumice {{ {s: 1} | spacingClasses({padding: ['right', 'left']}) }}">
          Enquire to book
        </span>
      </div>

      <div class="{{ {s:'HNL4'} | fontClasses }}">
        {% for dateRange in event.times %}
          <div class="flex border-top-width-1 border-color-pumice {{ {s: 2} | spacingClasses({padding: ['top', 'bottom']}) }}">
            {% set formattedDateRange = dateRange.startDateTime | formatAndDedupeOnDate(dateRange.endDateTime) %}
            <span class="{{ {s: 2} | spacingClasses({margin: ['right']}) }}">{% icon 'other/calendar' %}</span>
            <div>
              <time class="block">
                <b class="{{ {s:'HNM4'} | fontClasses }}">{{ formattedDateRange | joinDateStrings }}</b>
              </time>
              {% if (formattedDateRange.size === 1) %}
                <time class="block">
                  {{ dateRange.startDateTime | formatAndDedupeOnTime(dateRange.endDateTime) | joinDateStrings }}
                </time>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="{{ {s: 1} | spacingClasses({margin: ['top']}) }} {{ {s:'HNM4'} | fontClasses }}">
        <div class="flex {{ {s:'HNM4'} | fontClasses }}">
          <span class="{{ {s: 2} | spacingClasses({margin: ['right']}) }}">{% icon 'other/location' %}</span>
          <div>
            {% for location in event.locations %}
              <div>{{ location.title }}</div>
              <div>level / floor: {{ location.level }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row {{ {s:2} | spacingClasses({margin: ['top']}) }}">
      <div class="container">
        <h2 class="{{ {s: 'HNM4'} | fontClasses }}">What to expect?</h2>
        <div class="{{ {s:'HNL4'} | fontClasses }}">
          {{ event.description | safe }}
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
