{% extends 'layout/default.njk' %}
{# TODO: add description list-header #}
{% block pageMeta %}
  {% set metaContent = {
    type: 'website',
    title: 'Events',
    image: paginatedEvents.results[0].image.contentUrl,
    url: pageConfig.canonicalUri,
    description: 'Take part in a range of free talks, tours, performances and workshops. Join artists, scientists, and educators to unravel big ideas around health and wellbeing.'
  } %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}

 <meta name="description" content="{{ metaContent.description }}" />
{% endblock %}

{% block body %}
  <script type="application/ld+json">
    [{% for event in paginatedEvents.results %}
      {{ event | jsonLd('eventPromoLd') | safe }}
      {{ ',' if not loop.last }}
    {% endfor %}]
  </script>

  {% componentV2 'list-header', {name: 'Events', total: paginatedEvents.results.length} %}

  {% if paginatedEvents.pagination.pageCount > 1  %}
  <div class="css-grid__container">
    <div class="css-grid">
      <div class="{{ {s:12, m:12, l:12, xl:12} | cssGridClasses }}">
        <div class="{{ {s:5, m:5, l:5} | spacingClasses({padding: ['top']}) }}  {{ {s:5, m:5, l:5} | spacingClasses({padding: ['bottom']}) }} flex flex--v-center font-pewter {{ {s:'LR3', m:'LR2'} | fontClasses }}">
          {{ paginatedEvents.pagination.range.beginning }} - {{ paginatedEvents.pagination.range.end }}
        </div>
        {% componentV2 'divider', null, {'keyline': true, 'pumice': true} %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="css-grid__container {{ {s:4} | spacingClasses({padding: ['top']}) }} ">
    <div class="css-grid">
      {% for event in paginatedEvents.results %}
        <div class="{{ {s: 12, m: 6, l:3, xl:3} | cssGridClasses }}">
          {% componentV2 'event-promo', event %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="css-grid__container {{ {s:2, m:2, l:2} | spacingClasses({padding: ['top']}) }} {{ {s:3, m:3, l:3} | spacingClasses({padding: ['bottom']}) }} ">
    <div class="css-grid">

      {% if paginatedEvents.pagination.pageCount > 1  %}
        <div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }}"  style="text-align: right">
          {% componentV2 'pagination', paginatedEvents.pagination %}
        </div>
      {% endif %}
      {% if paginatedEvents.currentPage === paginatedEvents.totalPages %}
        <div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }} {{ {s:4} | spacingClasses({margin: ['top']}) }}"  style="text-align: right">
          {% componentV2 'more-info-link', {name: 'Past events', url: '/events/past'} %}
        </div>
      {% endif %}

    </div>
  </div>
{% endblock %}
