<a class="more-info-link {{ {s:'HNM4'} | fontClasses }}" href="{{ model.url }}">
  <span class="width-1-em flex flex--v-center">
    {% icon 'actions/arrow-small', null, ['icon--270', 'icon--mint'] %}
  </span>
  <span class="more-info-link__text">{{ model.name }}</span>
</a>
