<a class="flex-inline flex-v-center {{ {s:'HNM4'} | fontClasses }} plain-link font-elf-green font-hover-mint" href="{{ model.url }}">
  <span class="width-1-em">
    {% icon 'arrow', null, ['icon--elf-green'] %}
  </span>
  <span class="{{ {s:1} | spacingClasses({margin: ['left']}) }}">{{ model.name }}</span>
</a>
