<a class="more-info-link {{ {s:'HNM6'} | fontClasses }}" href="{{ model.url }}">
  {% icon 'actions/arrow-small', null, ['icon--270', 'icon--action'] %}
  <span class="more-info-link__text">{{ model.name }}</span>
</a>
