.styleguide__container {
  padding-top: 20px;
}

.styleguide__icon {
  display: inline-block;
  margin: 0 10px 20px;
  text-align: center;
  width: 140px;

  .icon {
    max-width: 80px;
  }
}

.styleguide__icon__id {
  font-family: 'Lettera Regular Web', 'Courier New', Courier, Monospace;
  font-size: 18px;
  hyphens: auto;
}

.styleguide__icon-wrap {
  svg {
    display: block;
    width: 4em;
    height: 4em;
  }
}

.styleguide__font {
  border: 1px solid color('silver');
  border-width: 1px 0;
  padding: 10px 0 25px;
}

.styleguide__font__name {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 15px;
  color: color('red');
}

.styleguide__font__properties {
  margin: 10px 0 0;
  color: color('red');
}

.styleguide__font__property {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 18px;
  display: inline;
  white-space: nowrap;
}

.styleguide__font__value {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 18px;
  display: inline;
  margin: 0 20px 0 0;
}

.styleguide__font__usage-title {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 18px;
  display: inline;
}

.styleguide__font__usage-text {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 18px;
  color: color('silver');
  display: inline;
}

@import 'components/grid_placeholder';

