$base-font-size: 16; // Used for calculating ems from px;
$wellcome-bold-base: 'Arial Black', Gadget, sans-serif;
$wellcome-bold-subset: 'Wellcome Bold Web Subset';
$wellcome-bold: 'Wellcome Bold Web';

$helvetica-neue-light-base: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$helvetica-neue-light: 'Helvetica Neue Light Web';

$helvetica-neue-medium-base: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Arial Black', Gadget, sans-serif;
$helvetica-neue-medium: 'Helvetica Neue Medium Web';

$lettera-regular-base: 'Courier New', Courier, Monospace;
$lettera-regular: 'Lettera Regular Web';

$border-radius-unit: 6px;

$total-columns: 12;

$vertical-space-unit: 15px; // Deprecated - please use a multiple of $v-spacing-unit
$v-spacing-unit: 6px;
$spacing-unit: 6px;
$article-top-space: 2 * $vertical-space-unit;
$border-radius-unit: 6px;
$spacing-directions: ('top', 'right', 'bottom', 'left');

$container-padding-s: map-get($container-padding, 'small');
$container-padding-m: map-get($container-padding, 'medium');
$container-padding-l: map-get($container-padding, 'large');
$container-padding-xl: map-get($container-padding, 'xlarge');

$icon-dimension: 26px;
$icon-container-dimension: 46px;
$transition-properties: 150ms ease;

$header-medium-breakpoint: 825px;
$icon-shapes: '.icon svg *';
// Empty map for respond-to mixin
// Override in component Sass files
$tweakpoints: ();
