<div class="iframe-container relative">
    <iframe
      allowfullscreen="allowfullscreen"
      mozallowfullscreen="mozallowfullscreen"
      msallowfullscreen="msallowfullscreen"
      oallowfullscreen="oallowfullscreen"
      webkitallowfullscreen="webkitallowfullscreen"
      src="{{ model.embedUrl }}"
      frameborder="0"
      class="iframe-container__iframe absolute"></iframe>
</div>
