{% import '../../../views/macros.njk' as macro %}

<div class="iframed-video">
    <iframe src="{{ video.embedUrl }}" frameborder="0" class="iframed-video__iframe"></iframe>
</div>
{{ video.description }}
