<div class="iframed-video">
    <iframe allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" src="{{ model.embedUrl }}" frameborder="0" class="iframed-video__iframe"></iframe>
</div>
{{ model.description }}
