<div>
  <a class="{{- [
    'js-eventbrite-ticket-button',
    'flex-inline',
    'flex--v-center',
    'flex--h-center',
    'btn btn--full-width-s',
    {s:'HNM4'} | fontClasses,
    {s: 4} | spacingClasses({padding: ['left', 'right']})
  ].join(' ') }}"
     data-eventbrite-ticket-id="{{ ticket.eventbriteId }}"
     {% if ticket.onSaleStatus === 'available' %}
       href="https://www.eventbrite.com/e/{{ ticket.eventbriteId }}/"
     {% else %}
       disabled="disabled" aria-disabled="true"
     {% endif %}
    >
    <span>
      {% if ticket.onSaleStatus === 'available' %}
        {% icon 'ticket_available', null, ['icon--white'] %}
      {% elif ticket.onSaleStatus === 'sold_out' %}
        {% icon 'ticket_sold_out', null, ['icon--white'] %}
      {% elif ticket.onSaleStatus === 'not_yet_on_sale' %}
        {% icon 'ticket_not_yet_on_sale', null, ['icon--white'] %}
      {% endif %}
    </span>
    <span class="js-eventbrite-ticket-button-text">
      {% if ticket.onSaleStatus === 'available' %}
        Book free tickets
      {% elif ticket.onSaleStatus === 'sold_out' %}
        Fully booked
      {% elif ticket.onSaleStatus === 'not_yet_on_sale' %}
        Not yet available
      {% endif %}
    </span>
  </a>
  {% if ticket.onSaleStatus === 'not_yet_on_sale' %}
    <p class="{{- [
      'font-charcoal',
      {s:'HNM5'} | fontClasses, {s: 1},
      {s:1} | spacingClasses({margin: ['top']}),
      {s:0} | spacingClasses({margin: ['bottom']})
    ].join(' ') -}}">Tickets are available to book from {{ ticket.saleStarts }}</p>
  {% endif %}
  <p class="{{- [
    'font-charcoal',
    {s:'HNL5'} | fontClasses,
    {s:1} | spacingClasses({margin: ['top']}),
    {s:1} | spacingClasses({margin: ['bottom']})
  ].join(' ') -}}">with Eventbrite</p>

  {% if ticket.onSaleStatus === 'sold_out' %}
    <div class="border-top-width-1 border-color-pumice {{ {s: 2} | spacingClasses({padding: ['top']}) }} {{ {s: 2} | spacingClasses({margin: ['top']}) }}">
      <h3 class="{{ {s:'HNM4'} | fontClasses }} no-margin">This event has been fully booked – but there is a waiting list!</h3>
      <div class="{{ {s:'HNL4'} | fontClasses }} {{ {s:2} | spacingClasses({margin: ['bottom']}) }}">
        <p class="no-margin">
          Our waiting list opens an hour before a fully-booked event starts.
          Arrive early, and we’ll give you a numbered ticket.
          Just before the event starts, waiting list ticket holders will be
          allowed – in order – to take the seats that have not been filled.
        </p>
        <p>
          We hold some spaces for people with access requirements.
          Please email
          <a href="mailto:access@wellcomecollection.org">access@wellcomecollection.org</a>
          if you would like to request one of these spaces.
        </p>
      </div>
    </div>
  {% endif %}
</div>
