{% if ticket.onSaleStatus === 'sold_out' %}
  <div class="{{- [
    {s:'HNM5'} | fontClasses
  ].join(' ') }} flex flex--v-center">

    <span class="{{ {s:1} | spacingClasses({margin: ['right']}) }} flex flex--v-center">
      {% icon 'status_indicator', null, ['icon--red-graphics', 'icon--match-text'] %}
    </span>
    Fully booked
  </div>
{% endif %}
