<div class="sort-search js-sort-search">
  <button class="sort-search__toggle plain-button flex flex--v-center flex--h-space-between js-show-hide-trigger
    {{ {s:2} | spacingClasses({margin: ['bottom']}) }}">
    <div class="flex flex--v-center {{ {s:2, m:2, l:2} | spacingClasses({margin: ['right']}) }}">
      <span class="flex-inline {{ {s:1} | spacingClasses({margin: ['right']}) }}">Sort:</span>
      {% icon 'actions/sort', null, ['sort-search__sort-icon'] %}
    </div>
    {% icon 'actions/cross-big', null, ['sort-search__close-icon'] %}
  </button>
  <span class="sort-search__label flex-inline {{ {m:1, l:1} | spacingClasses({margin: ['right']}) }}">Sort:</span>
  <form action="" method="get" class="sort-search__form js-sort-search-form js-show-hide-drawer">
    {% for input in model.inputs %}
      <div class="sort-search__group {{ {s:2, m:2, l:2} | spacingClasses({margin: ['right']}) }}">
        {% componentV2 'input', input %}
      </div>
    {% endfor %}

    {% component 'button-button', {text: 'Apply', modifierClasses: 'sort-search__submit'} %}
  </form>
</div>
