<div class="drawer js-show-hide"
  data-track-action="drawer",
  data-track-label: "id:{{ model.id }}, section:{{ model.heading }}">
  {% block drawerHeader %}
    <button class="drawer__header plain-button {{ {s:0} | spacingClasses({padding: ['left', 'right']}) }} {{ {s:2} | spacingClasses({padding: ['top', 'bottom']}) }} js-show-hide-trigger {{ {s:'LR2'} | fontClasses }}">
      <span class="flex flex--v-center flex--h-space-between">
        <div class="drawer__heading">{{ model.heading }}</div>
        <div class="drawer__icon">
          {% icon 'actions/more-2', null, ['icon--match-text'] %}
        </div>
      </span>
    </button>
  {% endblock %}
  <div class="drawer__body {{ {s:2} | spacingClasses({padding: ['top', 'bottom']}) }} js-show-hide-drawer">
    {% block drawerBody %}
      {{ model.body }}
    {% endblock %}
  </div>
  {% block drawerDivider %}
    <hr class="divider divider--black divider--keyline" />
  {% endblock %}
</div>

