<div class="flex flex--v-center flex--h-space-between">
  <div class="flex flex--v-center">
    <span class="{{ {s:1, m:1, l:1, xl:1} | spacingClasses({margin: ['right']}) }}">Refine search</span>
    {% icon 'actions/filter', null, ['filter-form-header__icon'] %}
  </div>
  {% icon 'actions/cross-big', 'close cross', ['filter-form-header__cross', 'filter-form-header__icon']%}
</div>
