{% import '../../../views/macros.njk' as macro %}

<div class="grid grid--justify-start">
  <div class="{{ macro.grid(s=1, m=5, l=3) }}">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
</div>
