<div class="row bg-cream  {{ {s:3, m:5, l:5} | spacingClasses({padding: ['top', 'bottom']}) }} }}">
  <div class="container">
    <div class="grid">
      <div class="{{ {s: 12, m: 12, l: 12, xl: 12} | gridClasses }}">
        <div class="flex flex--v-center flex--h-space-between flex--wrap">
          <div>
            <h1 class="{{- [
              {s:'WB6', m:'WB5', l:'WB4'}| fontClasses,
              {s:4} | spacingClasses({padding: ['right']})
            ].join(' ') }} no-margin inline">{{ model.name }}</h1>
          </div>
          <div class="flex flex--v-center flex--wrap">
            {% if model.todayOpeningHours %}
              <div class="flex flex--v-center">
                <span class="{{- [
                  {s:'HNM5', m:'HNM4'} | fontClasses,
                  {s:2} | spacingClasses({margin: ['right']})
                ].join(' ') }}">Galleries {{ 'open' if model.todayOpeningHours.opens else 'closed' }} today</span>
                {% if model.todayOpeningHours.opens %}
                  {% icon 'clock', null, ['margin-right-s1'] %}
                  <span class="{{- [
                    {s:'HNL5', m:'HNL4'} | fontClasses,
                    {s:2} | spacingClasses({margin: ['right']})
                  ].join(' ') }}">
                    <time>{{ model.todayOpeningHours.opens }}</time>&ndash;<time>{{ model.todayOpeningHours.closes }}</time>
                  </span>
                {% endif %}
              </div>
            {% endif %}
            {% componentJsx 'SecondaryLink', {
              url: 'https://wellcomecollection.org/opening-times',
              text: 'Opening times'
            } %}
          </div>
        </div>
      </div>
      <div class="{{ {s: 12, m: 10, l: 8, xl: 6} | gridClasses }}">
        {% componentV2 'segmented-control', model.items, null, data %}
      </div>
    </div>
  </div>
</div>
