.article {
  @include respond-to('large') {
    position: relative;

    .author + & {
      margin-top: -$article-top-space;
      padding-top: $article-top-space;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 0;
      right: map-get($gutter-width, 'large') / 2;
      top: 0;
      width: 1px;
      height: 100%;
      background: color('pumice');
    }
  }
}
