.body-text {
  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }

  h3 {
    @extend %h3;
  }

  *::selection {
    background: transparentize(color('turquoise'), 0.7);
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding-left: $spacing-unit * 2;

      &:before {
        content: '';
        width: 0.35em;
        height: 0.35em;
        display: inline-block;
        vertical-align: middle;
        border-radius: 0.1em;
        background: color('currentColor');
        margin-right: $spacing-unit;
        margin-left: $spacing-unit * -2;
      }
    }
  }

  a:link,
  a:visited {
    text-decoration: none;
    border-bottom: 2px solid color('green');
    transition: color $transition-properties, border-bottom $transition-properties;

    &:hover,
    &:focus {
      color: color('green');
      border-bottom-color: color('transparent');
    }
  }

  strong,
  b {
    font-family: $helvetica-neue-medium;
  }
}
