.body-text {
  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }

  h3 {
    @extend %h3;
  }

  *::selection {
    background: transparentize(color('turquoise'), 0.7);
  }

  li {
    &:last-child {
      margin-bottom: 0;
    }
  }

  a:link,
  a:visited {
    text-decoration: none;
    border-bottom: 2px solid color('green');
    transition: color $transition-properties, border-bottom $transition-properties;

    &:hover,
    &:focus {
      color: color('green');
      border-bottom-color: color('transparent');
    }
  }

  strong,
  b {
    font-family: $helvetica-neue-medium;
  }
}
