.btn {
  border-radius: $border-radius-unit;
  text-decoration: none;
  text-align: center;
  transition: all $transition-properties;
  border: 0;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    cursor: pointer;
  }

  &[disabled] {
    background: color('pewter');
    border-color: color('pewter');
    cursor: not-allowed;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: $spacing-unit;
  }

  .icon__shape {
    transition: fill $transition-properties;
    fill: currentColor;
  }
}

.btn--primary,
.btn--secondary {
  padding: $spacing-unit 4 * $spacing-unit;
}

.btn--primary {
  background: color('green');
  color: color('white');
  padding: $spacing-unit 4 * $spacing-unit;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background: color('black');
  }
}

.btn--secondary,
.btn--tertiary {
  background: color('white');
  color: color('green');

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background: color('green');
    color: color('white');
  }
}

.btn--secondary {
  border: 2px solid color('green');
}

.btn--tertiary {
  padding: $spacing-unit 2 * $spacing-unit;
  border: 1px solid color('green');
}
