.btn {
  line-height: 1.5;
  border-radius: $border-radius-unit;
  text-decoration: none;
  text-align: center;
  transition: all $transition-properties;
  border: 0;
  white-space: nowrap;
  padding: $spacing-unit 2 * $spacing-unit;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    cursor: pointer;
  }

  &[disabled],
  &.disabled {
    background: color('pewter');
    border-color: color('pewter');
    cursor: not-allowed;
  }

  &.disabled {
    pointer-events: none;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
  }

  .icon__shape {
    transition: fill $transition-properties;
    fill: currentColor;
  }

  .icon__stroke {
    transition: stroke $transition-properties;
    stroke: currentColor;
  }
}

