.btn {
  border-radius: $border-radius-unit;
  text-decoration: none;
  text-align: center;
  transition: all $transition-properties;
  border: 0;
  white-space: nowrap;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    cursor: pointer;
  }

  &[disabled],
  &.disabled {
    background: color('pewter');
    border-color: color('pewter');
    cursor: not-allowed;
  }

  &.disabled {
    pointer-events: none;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
  }

  .icon__shape {
    transition: fill $transition-properties;
    fill: currentColor;
  }

  .icon__stroke {
    transition: stroke $transition-properties;
    stroke: currentColor;
  }
}

.btn--primary,
.btn--secondary {
  padding: $spacing-unit 4 * $spacing-unit;
}

.btn--primary {
  background: color('green');
  color: color('white');
  padding: $spacing-unit 4 * $spacing-unit;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background: color('black');
  }
}

.btn--secondary,
.btn--tertiary {
  background: color('white');
  color: color('green');

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background: color('green');
    color: color('white');
  }
}

.btn--secondary {
  border: 2px solid color('green');
}

.btn--tertiary {
  padding: $spacing-unit 2 * $spacing-unit;
  border: 1px solid color('green');
}

.btn--primary-black {
  border: none;
  color: color('white');
  background: transparent;
  outline: none;
  transition: all $transition-properties;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    border-color: color('black');
    background: color('yellow');
    color: color('black');
  }
}

.btn--secondary-black {
  border-color: color('charcoal');
  color: color('smoke');
  background: color('charcoal');
  outline: none;
  transition: all $transition-properties;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    border-color: color('black');
    background: color('yellow');
    color: color('black');
  }
}
