//* @define captioned-image
.captioned-image {
  margin: 0;
  display: inline-block;
  width: 100%;

  .image {
    max-height: 70vh;
    // width: auto;
    max-width: 100%;
  }
}

.captioned-image--fit-vh {
  @include respond-to('large') {
    background: color('black');

    .image {
      max-height: 95vh;
      width: auto;
      min-width: auto;
      margin: 0 auto;
    }
  }
}

.captioned-image__image-container {
  // display: inline-block;
}
