//* @define captioned-image
.captioned-image {
  margin: 0;
  display: inline-block;

  .image {
    max-height: 70vh;
    width: auto;
  }
}

.captioned-image--has-border-bottom {
  border-bottom: 1px solid color('pumice');
}

.captioned-image--bleed {
  @include bleed(map-get($gutter-width, 'small'));

  @include respond-to('medium') {
    @include bleed(map-get($gutter-width, 'medium'));
  }

  @include respond-to('large') {
    @include bleed(map-get($gutter-width, 'large'));
  }
}

.captioned-image--full {
  margin-bottom: 0;

  .image {
    margin-bottom: 0;
  }

  .image--clip-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 100%, 0% 67%, 100% 67%, 100% 100%);
    filter: grayscale(1);
  }
}

.captioned-image--fit-vh {
  @include respond-to('large') {
    background: color('black');

    .image {
      max-height: 95vh;
      width: auto;
      min-width: auto;
      margin: 0 auto;
    }
  }
}

.captioned-image__image-container {
  display: inline-block;
}
