//* @define captioned-image
.captioned-image {
  margin: 0;
  display: inline-block;
  width: 100%;
  text-align: center;

  .image {
    max-height: 80vh;
    max-width: 100%;

  }

  /* stylelint-disable */
  noscript .image {
    max-height: none;
  }
  /* stylelint-enable */
}

.captioned-image--fit-vh {
  @include respond-to('large') {
    background: color('black');

    .image {
      max-height: 95vh;
      width: auto;
      min-width: auto;
      margin: 0 auto;
    }
  }
}

/* stylelint-disable */
.caption {
  text-align: left;
}
/* stylelint-enable */
