.control {
  display: inline-block;
  border-radius: 50%;
  padding: 0;
  transition: background $transition-properties;
  cursor: pointer;
  width: 46px;
  height: 46px;
}

.control__inner {
  width: 100%;
  height: 100%;
}

.control--light {
  background: color('white');
  border: 2px solid color('green');

  #{$icon-shapes} {
    fill: color('green');
  }

  &:hover,
  &:focus {
    background: color('green');

    #{$icon-shapes} {
      fill: color('white');
    }
  }
}

.control--dark {
  border: 0;
  background: color('green');

  #{$icon-shapes} {
    fill: color('white');
  }

  &:hover,
  &:focus {
    background: color('black');
  }
}
