.control {
  display: inline-block;
  border-radius: 50%;
  padding: 0;
  transition: background $transition-properties;
  cursor: pointer;
  width: 46px;
  height: 46px;
}

.control__inner {
  width: 100%;
  height: 100%;
}

.control--light {
  background: color('white');
  border: 2px solid color('green');

  .icon__shape {
    fill: color('green');
  }

  &:hover,
  &:focus {
    background: color('green');

    .icon__shape {
      fill: color('white');
    }
  }
}

.control--dark {
  border: 0;
  background: color('green');

  .icon__shape {
    fill: color('white');
  }

  &:hover,
  &:focus {
    background: color('black');
  }
}

.control--on-black {
  border: 0;
  border-radius: 0;
  background: color('coal');

  .icon__shape {
    fill: color('white');
    transition: all $transition-properties;
  }

  &:hover,
  &:focus {
    .icon__shape {
      fill: color('yellow');
    }
  }
}

.control--black-on-white {
  background: color('white');
  border: none;

  .icon__shape {
    fill: color('charcoal');
  }

  &:hover,
  &:focus {
    background: color('yellow');

    .icon__shape {
      fill: color('charcoal');
    }
  }
}
