//* @define divider

.divider {
  text-align: left;
  border: 0;
}

.divider--black {
  background-color: color('black');
}

.divider--pumice {
  background-color: color('pumice');
}

.divider--charcoal {
  background-color: color('black');
}

.divider--stub {
  width: 60px;
  height: 5px;
}

.divider--keyline {
  height: 1px;
}

.divider--thin {
  height: 2px;
}

.divider--dashed {
  height: 12px;
  background-image: repeating-linear-gradient(to right, color('charcoal'), color('charcoal') 3px, transparent 3px, transparent 6px);
}
