//* @define divider

.divider {
  text-align: left;
  border: 0;
}

.divider--black {
  background-color: color('black');
}

.divider--pumice {
  background-color: color('pumice');
}

.divider--charcoal {
  background-color: color('black');
}

.divider--stub {
  width: 60px;
  height: 5px;
}

.divider--keyline {
  height: 1px;
}

.divider--thin {
  height: 2px;
}

.divider--dashed {
  height: 10px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzIDEwIj48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxMCIvPjwvc3ZnPg==');
  background-repeat: repeat;
}
