//* @define divider

.divider {
  text-align: left;
  border: 0;
}

.divider--black {
  background-color: color('black');
}

.divider--pumice {
  background-color: color('pumice');
}

.divider--charcoal {
  background-color: color('black');
}

.divider--stub {
  width: 60px;
  height: 5px;
}

.divider--keyline {
  height: 1px;
}

.divider--thin {
  height: 2px;
}

.divider--dashed {
  height: 12px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNiAxMiI+PHJlY3Qgd2lkdGg9IjMiIGhlaWdodD0iMTIiLz48L3N2Zz4=');
  background-repeat: repeat;
}
