.event-schedule {
  padding-top: 10vw;

  @include respond-to('large') {
    padding-top: 8vw;
  }

  @include respond-to('xlarge') {
    padding-top: 18 * $spacing-unit;
  }
}

.event-schedule__header-image {
  top: 0;
  position: fixed;
  z-index: -1;
  height: 60vh;
  width: 100%;
}

.event-schedule__partnership {
  @include respond-to('medium') {
    text-align: right;
  }
}

.event-schedule__free {
  @include respond-to('large') {
    text-align: right;
  }
}

.event-schedule__main {
  @include respond-to('large') {
    border-right: 1px solid color('smoke');
  }
}
