//* @define find-us;

.find-us {
  margin-bottom: 5 * $v-spacing-unit;
  color: color('white');
  border-bottom: 1px solid color('charcoal');
  position: relative;

  @include respond-to('large') {
    border-bottom: 0;
  }

  &:hover,
  &:focus {
    .icon {
      @include hover-bounce;
    }
  }
}

.find-us__link {
  text-decoration: none;
  transition: color 200ms ease;

  &:hover,
  &:focus {
    color: color('green');
  }
}

.find-us__address {
  display: flex;
}

.find-us__street,
.find-us__country {
  display: block;
}
