//* @define header; weak

$tweakpoints: (
  'header-medium': $header-medium-breakpoint,
  'large': map-get($breakpoints, 'large'),
  'small': map-get($breakpoints, 'small')
);

.header__upper {
  padding-top: $vertical-space-unit;
  padding-bottom: $vertical-space-unit;
  border-bottom: 1px solid color('pumice');
  position: relative;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__burger {
  flex: 1;
  display: block;

  @include respond-to('header-medium') {
    display: none;
  }
}

.header__burger-trigger {
  position: relative;
  width: 1.2rem;
  height: 0.9rem;
  display: block;

  // TODO: replace with svg-sprite icon
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: color('black');
    transition: transform 400ms ease;
    transform-origin: center center;

    &:nth-child(2) {
      top: 50%;
    }

    &:last-child {
      top: 100%;
    }

    .header--is-burger-open & {
      top: 0.5rem;

      &:first-child {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        display: none;
      }

      &:last-child {
        transform: rotate(-45deg);
        bottom: auto;
      }
    }
  }
}

.header__brand {
  display: flex;
  align-items: center;

  @include respond-to('header-medium') {
    margin-right: 1.5rem;
    padding-right: 1.5rem;
    border-right: 1px solid color('pumice');
    width: auto;
    display: block;
  }
}

.header__nav {
  display: none;
  background: color('white');
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  padding-left: map-get($container-padding, 'small') + map-get($gutter-width, 'small');
  padding-right: map-get($container-padding, 'small');

  @include respond-between('small', 'header-medium') {
    border-top: 1px solid color('pumice');
    min-height: 100vh;
  }

  @include respond-to('medium') {
    padding-left: map-get($container-padding, 'medium') + map-get($gutter-width, 'medium');
    padding-right: map-get($container-padding, 'medium');
  }

  @include respond-to('header-medium') {
    position: static;
    display: block;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .header--is-burger-open & {
    display: block;
  }
}

.header--is-burger-open {
  @include respond-between('small', 'header-medium') {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
}

.header__search {
  margin-top: 1rem;
  align-self: stretch;

  .enhanced & {
    margin-top: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.header__list {
  .enhanced & {
    margin-left: -0.3rem;
  }

  @include respond-to('header-medium') {
    display: flex;
  }
}

.header__item {
  border-bottom: 1px solid color('pumice');

  // TODO: the vw units below are tightly coupled to the
  // number of nav items and number of characters in them.
  // This is a stop-gap ahead of nav design rework.
  @include respond-to('header-medium') {
    border-bottom: 0;
    margin-right: 1vw;
  }

  @include respond-to('large') {
    margin-right: 2vw;
  }

  // stylelint-disable
  @include respond-between('header-medium', 'large') {
    font-size: 1.6vw;
  }
  // stylelint-enable

  @include respond-to('xlarge') {
    margin-right: 2rem;
  }
}

.header__link {
  padding: 2rem 0.3rem;
  display: inline-block;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: color 400ms ease;

  @include respond-to('header-medium') {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 1.9rem;
    height: 0.6rem;
    left: 0;
    width: 0;
    background: color('yellow');
    z-index: -1;
    transition: width 200ms ease;

    @include respond-to('header-medium') {
      bottom: 0.9rem;
    }
  }

  &:hover,
  &:focus {
    &:after {
      width: 100%;

      // Prevent iOS double-tap link issue
      // https://css-tricks.com/annoying-mobile-double-tap-link-issue/
      @media (pointer: coarse) {
        width: 0;
      }
    }
  }

  .header__item--is-current & {
    &:after {
      width: 100%;
    }
  }
}
