$image-gallery-v2-clip-height-s: 175px;
$image-gallery-v2-clip-height-m: 300px;
$image-gallery-v2-transition-properties: 400ms ease;

.image-gallery-v2 {
  figure {
    margin-left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    max-width: 100%;
  }

  img {
    max-height: 100vh;
    width: auto;
  }

  .caption {
    display: none;
    max-width: 55em;
  }

  .captioned-image__image-container {
    display: inline-block;
    max-width: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    top: 300px;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all $image-gallery-v2-transition-properties;
  }

  &.is-active {
    &:before {
      background: color('charcoal');
    }

    .caption {
      display: inherit;
    }
  }

  transition: all $image-gallery-v2-transition-properties;
}

.image-gallery-v2__inner {
  overflow: hidden;
}

.image-gallery-v2__wobbly-edge {
  bottom: -2px;
  width: 100%;
}

.image-gallery-v2__button {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  z-index: 2;
}
