// .image-viewer {
//   display: none; // shown with javascript if browser has the required support
// }

// .image-viewer__content {
//   background-color: color('charcoal');
//   position: absolute;
//   display: none;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   display: block;
// }

.image-viewer__controls {
  // TODO: keep an eye on https://github.com/openseadragon/openseadragon/issues/1586
  // for a less heavy handed solution to Openseadragon breaking on touch events
  &,
  button,
  a {
    touch-action: none;
  }

  button {
    display: block;
  }

  .icon {
    margin: 0;
  }

  .btn__text {
    @include visually-hidden;
  }

  position: absolute;
  top: 0;
  left: 12px;
  z-index: 1;
  background: color('coal');
  padding: 6px;
}

.image-viewer__image {
  cursor: zoom-in;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// .image-viewer__launch-button {
//   position: absolute;
//   bottom: 0;
//   right: 50%;
//   transform: translateX(50%) translateY(50%);
//   z-index: 2;

//   .icon {
//     margin: 0;
//   }

//   .btn__text {
//     @include visually-hidden;
//   }
// }

// react-transition-group classes
// .slideup-viewer-btn {
//   opacity: 0;
//   transform: translateX(50%) translateY(250%);
//   transition: transform 700ms;
// }

// .slideup-viewer-btn-entered {
//   opacity: 1;
//   transform: translateX(50%) translateY(50%);
//   transition: transform 700ms, opacity 700ms;
// }
