//* @define image-gallery
$image-gallery-control-size: 48px;
$image-gallery-control-margin: 18px;

.image-gallery {
  width: 100%;
  display: flex;
  margin-bottom: $vertical-space-unit;
  overflow: scroll;
  padding: 60px 0;

  @include respond-to('medium') {
    padding-top: 120px;
  }
}

.image-gallery__heading {
  position: relative;
  z-index: 3;
  top: $spacing-unit * 8;

  .article & {
    @include position-article-slides-container;
  }

  .basic-page & {
    @include position-basic-slides-container;
  }

  @include respond-to('xlarge') {
    position: absolute;
  }
}

.image-gallery__item {
  flex-shrink: 0;
  margin-right: map_get($gutter-width, 'small');

  .captioned-image {
    margin-bottom: 0;
    display: table;
  }

  .image {
    max-height: 70vh;
  }
}

.basic-page {
  .wobbly-edge {
    display: none;
  }

  .image-gallery__heading {
    position: static;
    margin-left: 0;
  }

  .image-gallery {
    padding-top: $vertical-space-unit * 2;
  }

  .slider--in-basic {
    .slider-inner {
      background: transparent;
     }
  }
}
