.image-viewer__controls {
  // TODO: keep an eye on https://github.com/openseadragon/openseadragon/issues/1586
  // for a less heavy handed solution to Openseadragon breaking on touch events
  &,
  button,
  a {
    touch-action: none;
  }

  button {
    display: block;
  }

  .icon {
    margin: 0;
  }

  .btn__text {
    @include visually-hidden;
  }

  position: absolute;
  top: 0;
  left: 12px;
  z-index: 1;
}

.image-viewer__image {
  cursor: zoom-in;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 24px 132px;
}
