//* @define interview

.interview {
  border-left: 5px solid color('pumice');
  padding-left: 1.2rem;
  margin-bottom: 2em;
}

.interview__participant {
  display: block;
  margin-bottom: 0.4em;
}

.interview__question,
.interview__answer {
  margin-bottom: 0.8em;
}
