.lazy-image.lazy-image {
  opacity: 0.6;
  transition: opacity $transition-properties;

  display: none;

  .enhanced & {
    display: block;
  }

  &.lazyloaded {
    opacity: 1;

    .captioned-image & {
      opacity: 1;
    }
  }

  .captioned-image & {
    opacity: 0;
  }
}
