//* @define opening-hours

.opening-hours {
  max-width: 600px;
  color: color('white');
}

.opening-hours--light {
  color: color('pewter');
}

.opening-hours--yellow {
  color: color('charcoal');
}

.opening-hours__tablist {
  border-bottom: 1px solid color('charcoal');

  .opening-hours--light & {
    border-bottom-color: color('pewter');
  }

  .opening-hours--yellow & {
    border-bottom-color: color('black');
  }
}

.opening-hours__tabitem {
  text-align: center;
  margin-bottom: -1px;
  margin-right: 0.2em;
  border: 1px solid color('transparent');
  display: inline-block;

  @include respond-to('medium') {
    padding: 0 0.6em;

    .opening-hours--compressed & {
      padding: 0;
    }
  }

  &:first-child {
    padding-left: 0;
    border-left: 0;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: -1px;
  }

  &.opening-hours__tabitem--is-current {
    color: color('silver');
    border-color: color('charcoal');
    border-bottom-color: color('black');

    .opening-hours--light & {
      color: color('black');
      border-color: color('pewter');
      border-bottom-color: color('white');
    }

    .opening-hours--yellow & {
      border-color: color('black');
      border-bottom-color: color('yellow');
    }
  }
}

.opening-hours__tablink {
  text-decoration: none;
  display: block;
  padding: 0.5em;
  transition: color 200ms ease;

  .opening-hours--compressed & {
    padding: $spacing-unit;
  }

  &:hover,
  &:focus {
    color: color('green');

    .opening-hours--light & {
      color: color('black');
    }
  }

  .opening-hours__tabitem:first-child & {
    padding-left: 0;
  }
}

.opening-hours__table {
  table-layout: fixed;
  max-width: 600px;
  color: color('silver');
  margin-bottom: 2 * $vertical-space-unit;

  .opening-hours--light & {
    color: color('black');
  }

}

.opening-hours__panel {
  .enhanced & {
    display: none;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    margin-bottom: 0;
  }

  &.opening-hours__panel--is-visible {
    display: block;
    width: 100%;
    height: auto;
    visibility: visible;
    overflow: auto;
  }
}

.opening-hours__caption {
  text-align: left;
  text-decoration: none;
}

.opening-hours__tr {
  border-bottom: 1px solid color('charcoal');

  .opening-hours--light & {
    border-bottom-color: color('pewter');
  }
}

.opening-hours__th {
  font-weight: normal;
  text-align: left;
}

.opening-hours__th--row {
  width: 100px;
}

.opening-hours__td {
  width: 150px;
  padding: 0.5em 0;

  .opening-hours--compressed & {
    padding: $spacing-unit 0;
  }

  &:last-child {
    transition: opacity 500ms ease;

    .enhanced .opening-hours__panel & {
      opacity: 0;
    }

    .opening-hours__panel--is-visible.opening-hours__panel & {
      opacity: 1;
    }
  }
}

.js-tabfocus {
  outline: none;
}
