//* @define promo
.promo {
  display: block;
  text-decoration: none;
  margin-bottom: 5 * $v-spacing-unit;

  @include container-query(('m': ('12'), 'l': ('8', '12'), 'xl': ('8', '12'))) {
    display: flex;
    align-items: flex-start;
  }

  @include container-query(('l': ('12'), 'xl': ('12'))) {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 3 * $v-spacing-unit;;
  }
}

.promo__image-surrogate {
  position: relative;

  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: percentage(9 / 16);
  }
}

.promo__content-type {
  bottom: 0;
  left: 0;
}

.promo__image-surrogate-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(-45deg, color('smoke'), color('smoke') 2px, color('transparent') 2px, color('transparent') 4px);
}

.promo__image-container {
  position: relative;
  width: 100%;
  display: block;
  z-index: 0;

  @include container-query(('m': ('12'), 'l': ('8', '12'), 'xl': ('8', '12'))) {
    order: 1;
    width: percentage(2 / 3);
    margin-bottom: 0;
  }

  .image {
    border-top-left-radius: $border-radius-unit;
    border-top-right-radius: $border-radius-unit;
  }
}

.promo__image-container--constrained {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 0;
  padding-top: 150%;

  .image {
    border-radius: 0;
  }
}

.promo__image-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.promo__clip-path--chapters-third {
  clip-path: polygon(0% 100%, 0% 67%, 100% 67%, 100% 100%);
  filter: grayscale(1);
}

.promo__clip-path--chapters-half {
  clip-path: polygon(0% 100%, 0% 50%, 100% 50%, 100% 100%);
  filter: grayscale(1);
}

.promo__icon-container {
  background: color('white');
  position: absolute;
  bottom: 0;
  left: 0;
  padding: map-get($gutter-width, 'small')/2;

  .icon {
    vertical-align: middle;
  }

  @include respond-to('medium') {
    padding: map-get($gutter-width, 'medium')/2;
  }

  @include respond-to('large') {
    padding: map-get($gutter-width, 'large')/2;
  }
}

.promo__title {
  color: color('black');
  transition: color 400ms ease;

  .promo--surrogate & {
    color: color('silver');
  }

  @include container-query(('xl': ('12'))) {
    @include font('WB3');
  }

  .promo:not(.promo--surrogate):hover &,
  .promo:not(.promo--surrogate):focus & {
    color: color('green');
  }
}

.promo__title--lead {
  @include container-query(('l': ('12'))) {
    @include font('WB4');
  }

  @include container-query(('xl': ('12'))) {
    @include font('WB3');
  }
}

.promo__description {
  align-items: center;
  color: color('black');
  min-width: 0;
  flex: 1;
  position: relative;

  @include container-query(('l': ('8', '12'), 'xl': ('8', '12'))) {
    padding-right: map-get($gutter-width, 'large');
  }

  @include container-query(('m': ('12'))) {
    padding-right: map-get($gutter-width, 'medium');
  }
}

.promo--work {
  .promo__title {
    margin-bottom: 0;
  }
}
