//* @define quote; weak

.quote {
  border-left: 12px solid color('pumice');
  padding-left: 0.9em;

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.quote--pull {
  border-color: color('transparent');
  position: relative;

  &:before {
    font-family: $wellcome-bold;
    position: absolute;
    content: '\201c';
    color: color('teal');
    left: -14px;
    top: 0.12em;
    // stylelint-disable sh-waqar/declaration-use-variable
    // Decorative quotes – not defined as part of the typography styles
    font-size: 2em;
    // stylelint-enable sh-waqar/declaration-use-variable
    line-height: 1;
  }
}

.quote__cite {
  font-style: normal;
}
