.scroll-to-info {
  display: none;
  bottom: 0;
  transform: translateY(50%);
  transition: background 0.7s ease, border-color 0.7s ease, color 0.7s ease;

  .enhanced & {
    display: flex;

    @include respond-to('medium') {
      display: none;
    }
  }
}
