.basic-body {
  .body-part {
    padding: 0;
  }
}
.slider--in-basic {

  .slider__inner {
    padding: 0!important;
  }

  &.slider--in-content {
    overflow: hidden;
    width: 100vw;

    @include respond-to('medium') {
      margin-right: 0;
      margin-left: 50%;
      left: -50vw;
    }
  }

  .slides-container--in-basic {
    @include position-basic-slides-container;
  }

  .slide-item {
    opacity: 1;

    .caption {
      width: calc(100vw - #{(map-get($container-padding, 'small') * 2)});

      @include respond-to('medium') {
        width: calc((100vw / 12) * 10);
      }

      @include respond-to('large') {
        width: calc(100vw - (#{map-get($container-padding, 'large')} * 2) - 50%);
      }

      @include respond-to('xlarge') {
        width: (($container-width-max / 12) * 8) - (map-get($container-padding, 'xlarge') * 2);
      }
    }
  }
}

.slider-controls--in-basic.flush-container-right {
  right: 0;
}
