.slider--numbered-list {
  border: 1px solid color('pumice');
  border-width: 1px 1px 0;

  @include respond-to('medium') {
    border-width: 1px;
    border-top: 0;
  }
}

.slides-container--numbered-list {
  border: 0;
}

.slider-controls--numbered-list {
  display: flex;
  flex-direction: row;
  border: 1px solid color('pumice');
  border-width: 1px;
  background: color('white');
  min-height: 40px;

  @include respond-to('medium') {
    flex-direction: column;
    border-width: 0 1px 1px 0;
  }

  .numbered-list--horizontal-narrow & {
    flex-direction: row;
  }

  .slider-control--prev,
  .slider-control--next {
    background: color('white');
    flex-grow: 1;
    width: 50px;
    cursor: pointer;
    overflow: hidden;
    border: 0;

    &:focus {
      background: color('smoke');
    }

  }

  .slider-control--prev {
    border: 1px solid color('pumice');
    border-width: 0 1px 0 0;

    @include respond-to('medium') {
      border-width: 0 0 1px;
    }

    .numbered-list--horizontal-narrow & {
      border-width: 0 1px 0 0;
    }
  }

  .slider-control--inactive {
    opacity: 1;
    // stylelint-disable declaration-no-important
    cursor: default !important;
    // stylelint-enable declaration-no-important
    .control-arrow {
      opacity: 0.3;
    }
  }
}
