.slider--in-basic {
  .slides-container {
    @include position-basic-slides-container;
  }
}

$slider-one-column-width: (100 / 12) * 1%;

.slider-controls--in-basic {
  @include respond-to('medium') {
    margin-right: $slider-one-column-width;
  }

  @include respond-to('large') {
    margin-right: $slider-one-column-width * 2;
  }
}
