.tasl {
  text-align: right;

  .enhanced & {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}

.tasl--bottom {
  .enhanced & {
    bottom: 0;
  }
}

.tasl__button {
  right: 0;

  .tasl--top & {
    top: 2px;
  }

  .tasl--bottom & {
    bottom: 2px;
  }
}

.tasl--top {
  .enhanced & {
    top: 0;
  }
}

.tasl__icon {
  display: none;
  width: $icon-dimension;
  height: $icon-dimension;
  border-radius: 50%;
}

.tasl__icon--close {
  display: none;

  .tasl.is-active & {
    display: flex;
  }
}

.tasl__icon--open {
  .enhanced & {
    display: flex;
  }

  .tasl.is-active & {
    display: none;
  }
}
