{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        "babel-plugin-transform-flow-strip-types"
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        "babel-plugin-transform-flow-strip-types"
      ]
    },
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]],
      "plugins": [
        "babel-plugin-transform-flow-strip-types"
      ]
    }
  }
}
