{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["flow-runtime", {
      "assert": false
    }],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "common": "../../server"
      }
    }]
  ]
}
