<div class="interview">
  {% for qAndA in interview %}
    <p class="interview__question {{ {s:'HNM4', m:'HNM3'} | fontClasses }}">
      <span class="interview__participant {{ {s:'HNM6'} | fontClasses }}">{{ qAndA.question.participant }}</span>
      {{ qAndA.question.content }}
    </p>
    <p class="interview__answer {{ {s:'HNL4', m:'HNL3'} | fontClasses }}">
      <span class="interview__participant {{ {s:'HNL7'} | fontClasses }}">{{ qAndA.answer.participant }}</span>
      {{ qAndA.answer.content }}
    </p>
  {% endfor %}
</div>
