<div class="{{ {s: 5} | spacingClasses({margin: ['bottom']}) }}">
  {% for bodyPartGroup in (articleBody | groupBodyParts) %}
    {% set mainLoopIndex = loop.index %}
    <div class="sticky-wrapper">
      {% for bodyPart in bodyPartGroup %}
        {% if bodyPart.value.name %}
          <h2>{{ bodyPart.value.name }}</h2>
        {% endif %}
        <div class="body-part
                {{- ' body-part--full-width' if bodyPart.weight === 'standalone'  -}}
                {{- ' body-part--sticky js-sticky' if bodyPart.weight === 'supporting'  -}}">
          {% if bodyPart.type === 'standfirst' or ((mainLoopIndex === 1 and loop.index === 1) and bodyPart.type !== 'imageList' ) %}
            {# checking the index here is a bit of a hack around when we have a video as the mainMedia #}
            {% if contentType === 'comic' %}
              {{ bodyPart.value | safe }}
            {% elif bodyPart.type === 'picture' %}
              <div class="{{ {s: 1} | spacingClasses({margin: ['bottom']}) }}">
                {% componentJsx 'CaptionedImageNew', bodyPart.value %}
              </div>
            {% else %}
              {% componentJsx 'FeaturedText', { html: bodyPart.value } %}
            {% endif %}
          {% elif bodyPart.type === 'heading' %}
            <h2>{{ bodyPart.value.value | safe }}</h2>
          {% elif bodyPart.type === 'gif-video' %}
            {% componentV2 'gif-video', bodyPart.value %}
          {% elif bodyPart.type === 'picture' %}
            {% if bodyPart.weight === 'standalone' %}
              {% set sizes = '100vw' %}
            {% elif bodyPart.weight === 'supporting' %}
              {% set sizes = '(min-width: 1420px) 507px, (min-width: 960px) 35.68vw, (min-width: 600px) calc(83.24vw - 69px), calc(100vw - 36px)' %}
            {% else %}
              {% set sizes ='(min-width: 1420px) 680px, (min-width: 960px) 50vw, (min-width: 600px) calc(83.24vw - 69px), calc(100vw - 36px)' %}
            {% endif %}

            <div class="bg-cream {{ {l: 2} | spacingClasses({ padding: ['bottom'] }) }}">
              <div class="{{ {s: 1} | spacingClasses({margin: ['bottom']}) }}">
                {% set caption = bodyPart.value.caption | prismicAsText %}
                {% if bodyPart.value.caption and caption !== '' %}
                  {% componentJsx 'CaptionedImageNew', bodyPart.value | objectAssign({ sizesQueries: sizes }) %}
                {% else %}
                  {% componentJsx 'UiImage', bodyPart.value.image | objectAssign({ sizesQueries: sizes }) %}
                {% endif %}
              </div>
            </div>
          {% elif bodyPart.type === 'video-embed' %}
            <div class="{{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
              {% componentJsx 'VideoEmbed', bodyPart.value %}
            </div>
          {% elif bodyPart.type === 'list' %}
            {% component 'list', {list: bodyPart.value} %}
          {% elif bodyPart.type === 'interview' %}
            {% component 'interview', { interview: bodyPart.value } %}
          {% elif bodyPart.type === 'imageGallery' %}
            {% set idNumber = mainLoopIndex - 1 %}
            {% componentJsx 'ImageGallery', {
              items: bodyPart.value.items,
              id: 'article-body-image-gallery--' + idNumber,
              title: bodyPart.value.title
            } %}
          {% elif bodyPart.type === 'tweet' %}
            {% componentV2 'tweet', bodyPart.value %}
          {% elif bodyPart.type === 'instagramEmbed' %}
            {% componentV2 'instagram-embed', bodyPart.value %}
          {% elif bodyPart.type === 'soundcloudEmbed' %}
            {% componentV2 'soundcloud-embed', bodyPart.value %}
          {% elif bodyPart.type === 'imageList' %}
            {% if bodyPart.value.items.length > 0 %}
              <ul class="plain-list no-margin no-padding">
                {% for item in bodyPart.value.items %}
                  <li>
                    <h2>
                      <div class="flex">
                        {% if bodyPart.value.listStyle === 'numeric' %}<div class="{{ {s: 1} | spacingClasses({margin: ['right']}) }}">{{ loop.index }}.</div>{% endif %}
                        <div>
                          <div>
                            {{ item.title }}
                          </div>
                          {% if item.subtitle %}
                            <div>
                              {{ item.subtitle }}
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    </h2>

                    {% set imageModel = item.image | objectAssign({lazyload: true}) %}

                    {% set tasl = {name: 'Tasl', model: imageModel | objectAssign({sourceName: imageModel.source.name, sourceLink: imageModel.source.link})}
                      if (imageModel.title or imageModel.source.name or imageModel.copyright.name or imageModel.license)
                      else null
                    %}

                    <div class="{{ {s: 1} | spacingClasses({margin: ['bottom']}) }}">
                      {% componentJsx 'CaptionedImage', imageModel, [
                        {name: 'Image', model:imageModel},
                        tasl
                      ] %}
                    </div>

                    {{item.description | safe}}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% elif bodyPart.type === 'quote' %}
            {% componentJsx 'ShameQuote', bodyPart.value %}
          {% elif bodyPart.type === 'excerpt' %}
            {% componentJsx 'Excerpt', bodyPart.value %}
          {% elif bodyPart.type === 'pre' %}
            <div class="bg-white">
              <div class="body-part__extend-to-right">
                <div class="{{ {s:3} | spacingClasses({padding: ['top', 'bottom'], margin: ['bottom']}) }}">
                  <pre class="pre {{ {s:'LR3'} | fontClasses }} border-color-smoke border-left-width-5 {{ {s:3} | spacingClasses({padding: ['left', 'right']}) }}">
                    {{- bodyPart.value -}}
                  </pre>
                </div>
              </div>
            </div>
          {% elif bodyPart.type === 'iframe' %}
            <div class="{{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
              {% componentV2 'iframe', bodyPart.value %}
            </div>
          {% elif bodyPart.type === 'gifVideo' %}
            <div class="{{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
              {% componentV2 'gif-video', bodyPart.value %}
            </div>
          {% elif bodyPart.type === 'text' %}
            <div class="body-text">
              {% componentJsx 'PrismicHtmlBlock', {html: bodyPart.value} %}
            </div>
          {% else %}
            <div class="body-text">
              {{ bodyPart.value | safe }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
