<div class="body-content">
  {% for bodyPartGroup in (articleBody | groupBodyParts) %}
    {% set mainLoopIndex = loop.index %}
    <div class="sticky-wrapper">
      {% for bodyPart in bodyPartGroup %}
        {% if bodyPart.value.name %}
          <h2>{{ bodyPart.value.name }}</h2>
        {% endif %}
        <div class="body-part
                {{- ' body-part--full-width' if bodyPart.weight === 'standalone'  -}}
                {{- ' body-part--sticky js-sticky' if bodyPart.weight === 'supporting'  -}}">
          {% if bodyPart.type === 'standfirst' or ((mainLoopIndex === 1 and loop.index === 1) and bodyPart.type !== 'imageList' ) %}
            {# checking the index here is a bit of a hack around when we have a video as the mainMedia #}
            {% if contentType === 'comic' %}
              {{ bodyPart.value | safe }}
            {% elif bodyPart.type === 'picture' %}
                {# On old content, the first paragraph is sometimes a picture #}
                {% componentV2 'captioned-image', bodyPart.value, {}, {sizesQueries: '(min-width: 960px) 710px, 100vw'} %}
            {% else %}
                {% component 'standfirst', { body: bodyPart.value } %}
            {% endif %}
          {% elif bodyPart.type === 'heading' %}
            <h2>{{ bodyPart.value.value | safe }}</h2>
          {% elif bodyPart.type === 'gif-video' %}
            {% componentV2 'gif-video', bodyPart.value %}
          {% elif bodyPart.type === 'picture' %}
            {% if bodyPart.weight === 'standalone' %}
              {% set sizes = '100vw' %}
              {% set wrapperClasses = 'bg-cream ' + ({l:2} | spacingClasses({ padding: ['bottom'] })) %}
            {% elif bodyPart.weight === 'supporting' %}
              {% set sizes = '(min-width: 1340px) 406px, (min-width: 960px) calc(41.67vw - 50px), (min-width: 600px) calc(75vw - 63px), calc(100vw - 36px)' %}
            {% else %}
              {% set sizes ='(min-width: 1340px) 579px, (min-width: 960px) calc(58.33vw - 100px), (min-width: 600px) calc(75vw - 63px), calc(100vw - 36px)' %}
            {% endif %}
            <div class="{{wrapperClasses}}">
              {% componentV2 'captioned-image', bodyPart.value, {'has-border-bottom': bodyPart.value.caption}, {sizesQueries: sizes, showCopyright: true} %}
            </div>
          {% elif bodyPart.type === 'video-embed' %}
            <div class="{{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
              {% componentV2 'iframed-video', bodyPart.value %}
            </div>
          {% elif bodyPart.type === 'list' %}
            {% component 'list', {list: bodyPart.value} %}
          {% elif bodyPart.type === 'interview' %}
            {% component 'interview', { interview: bodyPart.value } %}
          {% elif bodyPart.type === 'imageGallery' %}
          {% set idNumber = mainLoopIndex - 1 %}
            {% component 'image-gallery', { imageGallery: bodyPart.value, id: 'article-body-image-gallery--' + idNumber } %}
          {% elif bodyPart.type === 'tweet' %}
            {% componentV2 'tweet', bodyPart.value %}
          {% elif bodyPart.type === 'instagramEmbed' %}
            {% componentV2 'instagram-embed', bodyPart.value %}
          {% elif bodyPart.type === 'soundcloudEmbed' %}
            {% componentV2 'soundcloud-embed', bodyPart.value %}
          {% elif bodyPart.type === 'imageList' %}
            {% if bodyPart.value.items.length > 0 %}
              <ul class="plain-list no-margin no-padding">
                {% for item in bodyPart.value.items %}
                  <li>
                    <h2>
                      <div class="flex">
                        <div class="{{ {s: 1} | spacingClasses({margin: ['right']}) }}">{{ loop.index }}.</div>
                        <div>
                          <div>
                            {{ item.title }}
                          </div>
                          {% if item.subtitle %}
                            <div>
                              {{ item.subtitle }}
                            </div>
                          {% endif %}
                        </div>
                    </h2>
                    {% componentV2 'captioned-image', item.image, {'has-border-bottom': item.image.caption}, {showCopyright: true} %}
                    {{item.description | safe}}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% elif bodyPart.type === 'quote' %}
            {% set fontStyles = {s:'HNL3'} %}
            {% componentV2 'quote', {body: bodyPart.value.body | safe, footer: bodyPart.value.footer | safe}, {'block': true}, {fontStyles: fontStyles} %}
          {% elif bodyPart.type === 'pre' %}
            <div class="bg-white">
              <div class="body-part__extend-to-right">
                <div class="{{ {s:3} | spacingClasses({padding: ['top', 'bottom'], margin: ['bottom']}) }}">
                  <pre class="pre {{ {s:'LR3'} | fontClasses }} border-color-smoke border-left-width-5 {{ {s:3} | spacingClasses({padding: ['left', 'right']}) }}">
                    {{- bodyPart.value -}}
                  </pre>
                </div>
              </div>
            </div>
          {% elif bodyPart.type === 'iframe' %}
            <div class="{{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
              {% componentV2 'iframe', bodyPart.value %}
            </div>
          {% else %}
            {{ bodyPart.value | safe }}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

