<div class="body-content">
  {% for bodyPart in articleBody %}
    {% if bodyPart.value.name %}
      <h2>{{ bodyPart.value.name }}</h2>
    {% endif %}
    <div class="body-part
                {{- ' body-part--full-width js-full-width' if bodyPart.weight === 'standalone'  -}}
                {{- ' body-part--sticky js-sticky' if bodyPart.weight === 'supporting'  -}}">
      {% if bodyPart.type === 'standfirst' or loop.index === 1 %}
        {# checking the index here is a bit of a hack around when we have a video as the mainMedia #}
        {% component 'standfirst', { body: bodyPart.value } %}
      {% elif bodyPart.type === 'heading' %}
        <h2>{{ bodyPart.value.value | safe }}</h2>
      {% elif bodyPart.type === 'picture' %}
        {% componentV2 'captioned-image', bodyPart.value, {}, {sizesQueries: '(min-width: 960px) 710px, 100vw'} %}
      {% elif bodyPart.type === 'video' %}
        {% componentV2 'iframed-video', bodyPart.value %}
      {% elif bodyPart.type === 'list' %}
        {% component 'list', {list: bodyPart.value} %}
      {% elif bodyPart.type === 'interview' %}
        {% component 'interview', { interview: bodyPart.value } %}
      {% elif bodyPart.type === 'imageGallery' %}
        {% component 'image-gallery', { imageGallery: bodyPart.value, id: 'article-body-image-gallery--' + loop.index } %}
      {% elif bodyPart.type === 'tweet' %}
        {% component 'tweet', { tweet: bodyPart.value } %}
      {% elif bodyPart.type === 'instagramEmbed' %}
        {% component 'instagram-embed', { instagramEmbed: bodyPart.value } %}
      {% elif bodyPart.type === 'blockquote' %}
        {% component 'blockquote', { body: bodyPart.value.body | safe, footer: bodyPart.value.cite | safe, modifiers: ['small'] } %}
      {% else %}
        {{ bodyPart.value | safe }}
      {% endif %}
    </div>
  {% endfor %}
</div>

