<div class="body-content">
  {% for bodyPart in articleBody %}
    {% if bodyPart.value.name %}
      <h2>{{ bodyPart.value.name }}</h2>
    {% endif %}
    <div class="body-part
                {{- ' body-part--full-width js-full-width' if bodyPart.weight === 'standalone'  -}}
                {{- ' body-part--sticky js-sticky' if bodyPart.weight === 'supporting'  -}}">
      {% if bodyPart.type === 'standfirst' %}
        {% component 'standfirst', { body: bodyPart.value } %}
      {% elif bodyPart.type === 'heading' %}
        <h2>{{ bodyPart.value.value | safe }}</h2>
      {% elif bodyPart.type === 'picture' %}
        {% componentV2 'captioned-image', bodyPart.value %}
      {% elif bodyPart.type === 'video' %}
        {% component 'iframed-video', {video: bodyPart.value} %}
      {% elif bodyPart.type === 'list' %}
        {% component 'list', {list: bodyPart.value} %}
      {% elif bodyPart.type === 'interview' %}
        {% component 'interview', { interview: bodyPart.value } %}
      {% elif bodyPart.type === 'imageGallery' %}
        <div class="body-part__scroller touch-scroll">
          <div class="body-part__scroller-content">
            {% component 'image-gallery', { imageGallery: bodyPart.value } %}
          </div>
        </div>
      {% elif bodyPart.type === 'tweet' %}
        {% component 'tweet', { tweet: bodyPart.value } %}
      {% else %}
        {{ bodyPart.value | safe }}
      {% endif %}
    </div>
  {% endfor %}
</div>
