{% extends 'components/captioned-image/index.njk' %}
{% block figcaption %}
  <figcaption class="captioned-image__caption captioned-image__caption--no-underline image-gallery__caption">
    <div class="flex">
      <div>{% icon 'other/picture' %}</div>
      <div>{{ image.caption }}</div>
    </div>
  </figcaption>
{% endblock %}
