{% extends "pages/article.njk" %}

{% block articleBody %}
  <div class="body-content article__main">
    <div class="container">
      <div class="grid grid--dividers grid--flush-dividers">
        <div class="grid__cell grid__cell--xl6 grid__cell--shift-xl1 grid__cell--l7 grid__cell--m6 grid__cell--shift-m1 grid__cell--s4">
          {% for bodyPart in bodyParts %}
              {% if bodyPart.copy %}
                  {{ bodyPart.copy | safe }}
                {% if bodyPart.figure %}
                    {% component 'figure', {
                      type: 'picture',
                      sources: bodyPart.figure.sources,
                      caption: bodyPart.figure.caption,
                      modifiers: ['sticky'],
                      icon: bodyPart.figure.icon } %}
                {% endif %}
              {% elif bodyPart.figure %}
                  {% component 'figure', {
                    type: 'picture',
                    sources: bodyPart.figure.sources,
                    caption: bodyPart.figure.caption,
                    modifiers: ['full-width'],
                    icon: bodyPart.figure.icon } %}
              {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
