{% extends 'pages/event.njk' %}

{% block tags %}
  {% componentV2 'tags', tags %}
{% endblock %}

{% block eventDescription %}
  <p class="no-margin">Nature is sometimes seen as rural and remote, but what beautiful, wild, surprising or mundane natural things might city dwellers find closer to home?Join us for a series of walks that will take a fresh look at what nature means.</p>

  {% componentV2 'more-info-link', {name: 'More information', url: '#'} %}
{% endblock %}

{% block bookTickets %}
  <p class="{{ {s:'HNL3', m:'HNL4'} | fontClasses }}">These events are <strong class="{{ {s:'HNM3', m:'HNM4'} | fontClasses }} caps">free</strong>. Tickets will become available below from 11.00 on Friday 30 June.</p>
  <a class="btn font-HNM5-s btn--dark" href="wellcomecollection.org">{% icon 'other/ticket', null, ['icon--2x', 'icon--teal'] %}Reserve free tickets</a>
{% endblock %}

{% block body %}
  {{ super() }}


  <div class="row bg-black {{ {s:2} | spacingClasses({padding: ['top'], margin: ['bottom']}) }} {{ {s:10} | spacingClasses({padding: ['bottom']}) }}">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:12, m:8, shiftM:2, l:8, shiftL:2, xl:6, shiftXl:3} | gridClasses }}">
          <h2 class="{{ {s:'WB6'} | fontClasses }} font-white">Making Nature: Behind the scenes</h2>
          {% componentV2 'iframed-video', video %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <hr class="divider divider--dashed" />
      <h2 class="{{ {s:'WB6'} | fontClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">Related events</h2>
    </div>
  </div>
  <div class="row {{ {s:2} | spacingClasses({margin: ['bottom']}) }}">
    <div class="container container--scroll touch-scroll">
      <div class="grid grid--scroll">
        {% set eventPromoModel = {
          id: event.id,
          featuredMedia: event.featuredMedia,
          title: event.title,
          ticketInfo: 'Free',
          when: event.when
        } %}
        {% set eventPromoData = {
          ticketInfoFont: {s:'HNM6'},
          titleFont: {s:'WB6'},
          dateFont: {s: 'HNM5'},
          timeFont: {s: 'HNL5'},
          isLink: true
        } %}
        <div class="{{ {s:12, m:6, l:3} | gridClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
          {% componentV2 'event-promo', eventPromoModel, {}, eventPromoData %}
        </div>

        <div class="{{ {s:12, m:6, l:3} | gridClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
          {% componentV2 'event-promo', eventPromoModel, {}, eventPromoData %}
        </div>

        <div class="{{ {s:12, m:6, l:3} | gridClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
          {% componentV2 'event-promo', eventPromoModel, {}, eventPromoData %}
        </div>

        <div class="{{ {s:12, m:6, l:3} | gridClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
          {% componentV2 'event-promo', eventPromoModel, {}, eventPromoData %}
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="container">
      <hr class="divider divider--dashed" />
      <h2 class="{{ {s:'WB4'} | fontClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">Related Articles</h2>
    </div>
  </div>

  <div class="row {{ {s:2} | spacingClasses({margin: ['bottom']}) }}">
    <div class="container container--scroll touch-scroll">
      <div class="grid grid--scroll">
        {% for articlePromo in articlePromos %}
          <div class="{{ {s:12, m:6, l:3} | gridClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
            {% componentV2 'promo', articlePromo %}
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <div class="row bg-cream {{ {s:10} | spacingClasses({padding: ['bottom']}) }} {{ {s:2} | spacingClasses({padding: ['top']}) }}">
    <div class="container">
      <h2 class="{{ {s:'WB6'} | fontClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">Partners</h2>
      {% componentV2 'organization-list', partners %}
    </div>
  </div>
{% endblock %}
