{% extends 'pages/exhibition.njk' %}

{% block exhibitionDescription %}
  <p class="no-margin">Our summer exhibition shines a light on how each of us connects with nature. We are displaying objects borrowed from members of the public that tell a story about their relationship with nature.</p>

  {% componentV2 'more-info-link', {name: 'More information', url: '#'} %}
{% endblock %}

{% block social %}
  <div class="{{ {s:'WB6'} | fontClasses }}">
    <p class="{{ {s:2} | spacingClasses({margin: ['top', 'bottom']}) }}">Share your story</p>
    <p class="{{ {s:2} | spacingClasses({margin: ['bottom']}) }}"><a href="#" class="plain-link font-elf-green">#ModernNature</a></p>
    <div class="flex">
      <a href="#" class="{{ {s:2} | spacingClasses({margin: ['right']}) }}">{% icon 'social/twitter', null, ['icon--elf-green'] %}</a>
      <a href="#" class="{{ {s:2} | spacingClasses({margin: ['right']}) }}">{% icon 'social/facebook', null, ['icon--elf-green'] %}</a>
      <a href="#" class="{{ {s:2} | spacingClasses({margin: ['right']}) }}">{% icon 'social/instagram', null, ['icon--elf-green'] %}</a>
      <a href="#" class="{{ {s:2} | spacingClasses({margin: ['right']}) }}">{% icon 'social/youtube', null, ['icon--elf-green'] %}</a>
    </div>
  </div>
{% endblock %}

{% block accessStatements %}
  {{ super() }}
{% endblock %}

{% block body %}
  {{ super() }}
{% endblock %}
