{% extends "layout/default.njk" %}

{% block body %}
  {% componentV2 'page-description', { title: 'Explore' }, {'hidden': true} %}

  <div class="row row--cream row--has-wobbly-background {{ {s:10, m:10, l:10} | spacingClasses({padding: ['top']}) }}">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:4, m:8, l:12, xl:12} | gridClasses }}">
          {% component 'promo', { promo: seriesArticlePromo } %}
        </div>
      </div>
    </div>
    <div class="row__wobbly-background"></div>
  </div>

  <div class="row row--cream">
    <div class="container container--scroll container--scroll-cream touch-scroll">
      <div class="grid grid--dividers grid--scroll">
        <div class="{{ {s:4, m:4, l:4} | gridClasses }}">
          {% component 'promo', { promo: promo } %}
        </div>

        <div class="{{ {s:4, m:4, l:4} | gridClasses }}">
          {% component 'promo', { promo: promo } %}
        </div>

        <div class="{{ {s:4, m:8, l:4} | gridClasses }}">
          {% component 'promo', { promo: seriesArticlePromo } %}
        </div>
      </div>
    </div>
  </div>

  <div class="row {{ {s:10, m:10, l:10} | spacingClasses({padding: ['top']}) }}">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:4, m:4, l:12, xl:12} | gridClasses }}">
          {% component 'promo', { promo: promo } %}
        </div>
        <div class="{{ {s:4, m:4, l:8} | gridClasses }}">
          {% component 'promo', { promo: promo } %}
        </div>
        <div class="{{ {s:4, m:4, l:4} | gridClasses }}">
          {% component 'promo', { promo: promo } %}
        </div>
        <div class="{{ {s:4, m:4, l:4} | gridClasses }}">
          {% component 'numbered-list', { numberedList: numberedList } %}
        </div>
      </div>
    </div>
  </div>

  <div class="row {{ {s:10, m:10, l:10} | spacingClasses({padding: ['top']}) }}">
    {% component 'promo', { promo: standaloneArticlePromo } %}
  </div>

{% endblock %}
