{% extends "pages/explore-landing.njk" %}

{% block body %}
  {% component 'page-description', { title: 'Explore', modifiers: ['hidden'] } %}

  <div class="row row--no-bottom-padding row--cream">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:4, m:8, l:12} | gridClasses }}">
          {% component 'promo', { modifiers: ['series'], image: promo.image, meta: promo.meta, title: promo.title, url: promo.url, copy: promo.copy } %}
        </div>
      </div>
    </div>
  </div>

  <div class="row row--no-padding row--cream">
    <div class="container container--scroll">
      <div class="grid grid--scroll">
        <div class="grid__cell">
          <hr class="divider divider--keyline" />
        </div>
      </div>
    </div>
  </div>

  <div class="row row--cream row--no-padding">
    <div class="container container--scroll">
      <div class="grid grid--dividers grid--scroll">
        <div class="{{ {s:4, m:4, l:4} | gridClasses }}">
          {% component 'promo', {image: promo.image, meta: promo.meta, title: promo.title, url: promo.url, copy: promo.copy } %}
        </div>

        <div class="{{ {s:4, m:4, l:4} | gridClasses }}">
          {% component 'promo', {image: promo.image, meta: promo.meta, title: promo.title, url: promo.url, copy: promo.copy } %}
        </div>

        <div class="{{ {s:4, m:8, l:4} | gridClasses }}">
          {% component 'promo', { modifiers: ['series'], image: promo.image, meta: promo.meta, title: promo.title, url: promo.url, copy: promo.copy } %}
        </div>
      </div>
    </div>
  </div>

  <div class="row row--cream">
    <div class="container container--scroll">
      <div class="grid grid--scroll">
        <div class="grid__cell">
          <hr class="divider divider--wide" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:4, m:4, l:12} | gridClasses }}">
          {% component 'promo', { modifiers: promo.modifiers, image: promo.image, meta: promo.meta, title: promo.title, url: promo.url, copy: promo.copy } %}
        </div>
        <div class="{{ {s:4, m:4, l:8} | gridClasses }}">
          {% component 'promo', { modifiers: promo.modifiers, image: promo.image, meta: promo.meta, title: promo.title, url: promo.url, copy: promo.copy } %}
        </div>
        <div class="{{ {s:4, m:4, l:4} | gridClasses }}">
          {% component 'promo', { modifiers: promo.modifiers, image: promo.image, meta: promo.meta, title: promo.title, url: promo.url, copy: promo.copy } %}
        </div>
        <div class="{{ {s:4, m:4, l:4} | gridClasses }}">
          {% component 'numbered-list', { heading: numbered_list.heading, items: numbered_list.items } %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
