.article {
  @include respond-to('large') {
    position: relative;

    .author + & {
      margin-top: -2 * $vertical-space-unit;
      padding-top: 2 * $vertical-space-unit;
    }

    &:after {
      content: '';
      position: absolute;
      right: -(map-get($gutter-width, 'large')/2);
      top: 0;
      width: 1px;
      height: 100%;
      background: color('keyline-grey');
    }
  }
}
