//* @define author

.author {
  margin-bottom: 2 * $vertical-space-unit;
  padding-bottom: 0.2rem;

  &.author--border-bottom {
    padding-bottom: 1.2rem;
    border-bottom: 1px solid color('pumice');

    @include respond-to('medium') {
      padding-bottom: 1.5rem;
    }
  }

  &.author--border-left {
    padding-top: 0;
    padding-left: 1.2rem;
    border-left: 5px solid color('pumice');
  }
}

.author__upper {
  display: flex;
  align-items: center;
}

.author__image-wrap {
  width: 4rem;
  height: 4rem;
  margin-right: 1.2rem;
}

.author__image {
  width: 100%;
  border-radius: $border-radius-unit;
}

.author__name {
  @include font('WB6');
  display: block;
}

.author__twitter {
  @include font('HNM6');
  color: color('seaweed');

  .icon {
    width: 2em;
    height: 2em;
    margin-right: 0.2em;
  }

  .icon__shape {
    fill: color('seaweed');
  }
}

.author__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.author__description {
  @include font('LR3');

  @include respond-to('medium') {
    @include font('LR2');
  }

  margin-top: 2 * $vertical-space-unit;

  :last-child {
    margin-bottom: 0;
  }
}
