//* @define block-description

.block-description {
  &:not(.block-description--xlarge) {
    padding-bottom: 1.2rem;
    border-bottom: 1px solid color('keyline-grey');
  }
}

.block-description__title {
  margin-top: 0;
  margin-left: -0.06em;

  .block-description--small & {
    @include font('WB6');
    margin-bottom: 0.4em;
  }

  .block-description--medium & {
    @include font('WB4');
    margin-bottom: 0.1em;
  }

  .block-description--large & {
    @include font('WB2');
    margin-bottom: 0.05em;
  }

  .block-description--xlarge & {
    @include font('WB1');
    margin-bottom: 0.03em;
  }
}

.block-description__intro {
  @include font('HNL5');
  color: color('accessible-grey-1');
  display: block;

  .block-description--medium & {
    margin-bottom: -0.4em;
  }

  .block-description--large & {
    margin-bottom: -0.18em;
  }

  .block-description--xlarge & {
    margin-bottom: -1.8em;
  }

  .block-description--main & {
    color: color('black');
  }
}

.block-description__outro {
  @include font('HNL5');
  display: flex;
  align-items: center;
  color: color('accessible-grey-1');

  .block-description--main & {
    @include font('LR2');
  }
}
