.blockquote {
  @include font('HNM2');
  text-align: center;

  &--wb {
    @include font('WB5');
  }

  &--lr {
    @include font('LR2');
    text-align: left;
  }

  footer {
    @include font('HNM5');

    &:before {
      content: '\2015';
      margin-right: 0.5em;
    }
  }

  p {
    margin-top: 0;
  }

  cite {
    @include font('HNL5');
    font-style: normal;
  }

  &:before,
  &:after {
    // stylelint-disable sh-waqar/declaration-use-variable
    // Decorative quotes – not defined as part of the typography styles
    font-family: $helvetica-neue-medium-base;
    font-size: 6rem;
    // stylelint-enable sh-waqar/declaration-use-variable
    line-height: 1;
    display: block;
    color: color('action-green-1');
    height: 3rem;
  }

  &:before {
    content: '\201c';
    margin-bottom: 1rem;
  }

  &:after {
    content: '\201d';
    margin-top: 0.5rem;
  }
}
