.body-content {
  margin-bottom: 2 * $vertical-space-unit;

  h2 {
    @include font('WB6');

    @include respond-to('medium') {
      @include font('WB5');
    }

    margin-top: 0;
  }

  ul {
    @include plain-list();
    margin-bottom: 2em;

    li {
      list-style: none;

      &:before {
        content: '';
        width: 0.35em;
        height: 0.35em;
        display: inline-block;
        vertical-align: middle;
        border-radius: 0.1em;
        background: color('currentColor');
        margin-right: 0.4em;
      }
    }
  }

  *::selection {
    background: transparentize(color('turquoise'), 0.7);
  }

  a:link {
    text-decoration: none;
    box-shadow: inset 0 -0.1em 0 0 color('action-green-1');

    &:hover,
    &:focus {
      box-shadow: inset 0 -0.2em 0 0 color('action-green-1');
    }
  }
}

$large-width: (5/7 * 100)+'%';

.body-part {
  display: block;
}

// TODO: Update to be like figure--full-width, and then generify
.body-part--full-width {
  @include respond-to('medium') {
    margin-left: -18%;
    margin-right: -18%;
  }

  @include respond-to('large') {
    clear: both;
    position: relative;
    z-index: 1;
    margin-left: 0;
    margin-right: calc((#{$large-width} + #{map-get($gutter-width, 'large')})* -1);
    background-color: color('cream');
    padding-top: $vertical-space-unit;
    margin-top: -$vertical-space-unit;
    border-bottom: $vertical-space-unit solid color('cream');
    /* stylelint-disable declaration-no-important */
    opacity: 1 !important;
    /* stylelint-enable */
  }
}

$scroller-offset: map-get($container-padding, 'large');

.body-part__scroller {
  overflow: auto;

  @include respond-to('large') {
    margin-left: -$scroller-offset;
    width: calc(100% + #{$scroller-offset});
  }
}

.body-part__scroller-content {
  @include respond-to('medium') {
    margin-left: 12.5%;
  }

  @include respond-to('large') {
    margin-left: 60px;
  }
}
