.body-content {
  margin-bottom: 2 * $vertical-space-unit;

  h1 {
    @include font('WB5');

    @include respond-to('medium') {
      @include font('WB4');
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    @include font('WB6');

    @include respond-to('medium') {
      @include font('WB5');
    }

    margin-top: 0;
  }

  ul {
    @include plain-list();
    margin-bottom: 2em;

    li {
      list-style: none;

      &:before {
        content: '';
        width: 0.35em;
        height: 0.35em;
        display: inline-block;
        vertical-align: middle;
        border-radius: 0.1em;
        background: color('currentColor');
        margin-right: 0.4em;
      }
    }
  }

  *::selection {
    background: transparentize(color('turquoise'), 0.7);
  }

  a:link {
    text-decoration: none;
    box-shadow: inset 0 -0.1em 0 0 color('action-green-1');

    &:hover,
    &:focus {
      box-shadow: inset 0 -0.2em 0 0 color('action-green-1');
    }
  }
}

$narrow-width: (5/7) * 100%; // calculates the narrow column width as a percentage of the main column.
$center-width-large: (6/7) * 100%; // calculates the halfway point of the container, as a percentage of the main column.
$center-width-xlarge: (6/6) * 100%;

.body-part {
  display: block;
}

.body-part--full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  padding: 0 map-get($container-padding, 'small');

  @include respond-to('medium') {
    padding: 0 map-get($container-padding, 'medium');
  }

  @include respond-to('large') {
    clear: both;
    position: relative;
    left: $center-width-large;
    z-index: 1;
    margin-right: calc((#{$narrow-width} + #{map-get($gutter-width, 'large')})* -1);
    background-color: color('cream');
    padding: 0 map-get($container-padding, 'large');
    padding-top: $vertical-space-unit;
    margin-top: -$vertical-space-unit;
    border-bottom: $vertical-space-unit solid color('cream');
    /* stylelint-disable declaration-no-important */
    opacity: 1 !important;
    /* stylelint-enable */
  }

  @include respond-to('xlarge') {
    left: $center-width-xlarge;
    margin-left: calc((50vw + (1/6) * 100%) * -1); // compensates for grid cell shift
  }
}

.body-part--sticky {
  @include respond-to('large') {
    @supports (width: calc(10px + 10px)) {
      float: right;
      clear: right;
      width: #{$narrow-width};
      margin-right: calc((#{$narrow-width} + #{map-get($gutter-width, 'large')} ) * -1);

      .author + .article &:first-child {
        margin-top: -$article-top-space;
      }
    }
  }
}

/* stylelint-disable plugin/selector-bem-pattern */
.sticky-applied {
  @include respond-to('large') {
    @supports (width: calc(10px + 10px)) {
      position: sticky;
      top: $vertical-space-unit;
      transition: opacity 0.4s ease;
    }
  }
}
/* stylelint-enable */

$scroller-offset: map-get($container-padding, 'large');

.body-part__scroller {
  overflow: auto;
}
