@mixin secondary {
  background-color: color('transparent');
  border-width: 2px;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background-color: color('transparent');
  }
}

.btn {
  display: inline-block;
  min-height: 42px;
  padding: $v-spacing-unit $spacing-unit*2;
  color: color('white');
  background-color: color('elf-green');
  border: 2px solid color('elf-green');
  border-radius: $border-radius-unit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: background 0.7s ease, border-color 0.7s ease, color 0.7s ease;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background: color('mint');
    border-color: color('mint');
    cursor: pointer;
  }

  &[disabled] {
    opacity: 0.2;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: $spacing-unit;
  }

  .icon__shape {
    fill: currentColor;
  }
}

.btn--round {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  padding: 0;

  .icon {
    margin: 0;
  }
}

.btn--charcoal {
  @include secondary;
  color: color('white');
  border-color: color('charcoal');
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    background-color: color('black');
    border-color: color('charcoal');
  }
}

.btn--light {
  @include secondary;
  color: color('black');
  border-color: rgba(color('black'), 0.2);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    border-color: color('black');
  }
}

.btn--dark {
  @include secondary;
  color: color('mint');
  border-color: rgba(color('mint'), 0.4);

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    color: color('java');
    border-color: color('java');
  }
}

.btn--transparent-black {
  @include secondary;
  color: color('white');
  border-color: color('charcoal');
  background-color: color('transparent-black');

  &:not([disabled]):hover,
  &:not([disabled]):focus {
    border-color: color('white');
    background-color: color('black');
  }
}

.btn--full-width-s {
  width: 100%;

  @include respond-to('medium') {
    width: auto;
  }
}
