//* @define captioned-image
.captioned-image {
  margin: 0 0 $vertical-space-unit;
}

.captioned-image--has-border-bottom {
  border-bottom: 1px solid color('pumice');
}

.captioned-image--bleed {
  @include bleed(map-get($gutter-width, 'small'));

  @include respond-to('medium') {
    @include bleed(map-get($gutter-width, 'medium'));
  }

  @include respond-to('large') {
    @include bleed(map-get($gutter-width, 'large'));
  }
}

.captioned-image--full {
  margin-bottom: 0;

  .image {
    margin-bottom: 0;
  }

  .image--clip-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 100%, 0% 67%, 100% 67%, 100% 100%);
    filter: grayscale(1);
  }
}

.captioned-image--fit-vh {
  @include respond-to('large') {
    background: color('black');

    .image {
      max-height: 95vh;
      width: auto;
      min-width: auto;
      margin: 0 auto;
    }
  }
}

.captioned-image__image-container {
  position: relative;
}

.captioned-image__caption {
  @include clearfix;
  display: inline-flex; // this style is required to fix a firefox bug, no idea why it works: https://github.com/wellcometrust/wellcomecollection.org/pull/906
  color: color('black');
  padding-top: #{($v-spacing-unit * 4) - 8px}; // - to make to adjust for line-height, want padding from x-height
  padding-bottom: #{($v-spacing-unit * 4) - 8px};

  .icon__shape {
    fill: color('currentColor');
  }

  /* stylelint-disable plugin/selector-bem-pattern */
  p {
    display: inline;

    &:last-child {
      margin-bottom: 0;
    }
  }
  /* stylelint-enable plugin/selector-bem-pattern */
}

.captioned-image__number {
  display: inline-block;
  border-right: 1px solid color('pumice');
}

.captioned-image__caption-text {
  overflow: hidden;
  padding-right: map-get($gutter-width , 'small');

  @include respond-to('medium') {
    padding-right: map-get($gutter-width , 'medium');
  }

  @include respond-to('large') {
    padding-right: map-get($gutter-width , 'large');
  }
}

.captioned-image__caption-text--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.captioned-image__truncate-control {
  background: none;
  color: color('seaweed');
  border: 0;
  padding: $v-spacing-unit 0;
  margin-left: 2.1em;
  cursor: pointer;

  &:focus {
    text-decoration: underline;
  }

  &.captioned-image__truncate-control--is-hidden {
    display: none;
  }
}

.captioned-image__copyright-holder {
  text-align: right;

  .enhanced & {
    position: absolute;
    width: 100%;
  }
}

.captioned-image__copyright-holder--bottom {
  .enhanced & {
    bottom: 0;
  }
}

.captioned-image__copyright-holder--top {
  .enhanced & {
    top: 0;
  }
}

.captioned-image__icon {
  display: none;

  .enhanced & {
    display: block;
    width: $icon-dimension;
    height: $icon-dimension;
    border-radius: 50%;
  }
}
