$chapter-indicator-colors: 'purple', 'red', 'orange', 'turquoise';
$chapter-indicator-small-height: 30%;
$chapter-indicator-large-height: 50%;

.chapter-indicator {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: $chapter-indicator-small-height;

  &.chapter-indicator--large {
    height: $chapter-indicator-large-height;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
  }
}

@each $color in $chapter-indicator-colors {
  .chapter-indicator--#{$color} {
    &:after {
      background-color: color($color);
    }
  }
}

.chapter-indicator__bar {
  position: relative;
  display: inline-block;
  background-color: color('white');
  opacity: 0.2;
  height: 100%;
  margin-right: 3px;

  &.chapter-indicator__bar--filled {
    opacity: 1;

    @each $color in $chapter-indicator-colors {
      .chapter-indicator--#{$color} & {
        background-color: color($color);
      }
    }
  }
}

// We use an image for its 'replaced element' intrinsic dimensions in order to
// calculate the bar's width based on its height
// http://stackoverflow.com/questions/6148012/setting-element-width-based-on-height-via-css

.chapter-indicator__image {
  height: 25%;
}

.chapter-indicator__shim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
