.content-slider {
  overflow: hidden;
}

.content-slides-container {
  // stylelint-disable declaration-no-important
  overflow: visible !important;
  // stylelint-enable declaration-no-important
}

.content-slider-controls {
  .control-arrow {
    width: 16px;
    height: 16px;
  }
}

.content-slider-control--prev {
  .control-arrow {
    transform: rotate(90deg);
  }
}

.content-slider-control--next {
  .control-arrow {
    transform: rotate(-90deg);
  }
}

.content-slider-control--inactive {
  // stylelint-disable declaration-no-important
  cursor: default !important;
  // stylelint-enable declaration-no-important
  .control-arrow {
    opacity: 0.3;
  }
}

/*
This JS component then exposes these DOM Elements that you can style within your component
e.g:
.my-sliced {
  .content-slider__slider-control--next { background: hotpink; }
}
 */
.content-slider__slider {}
.content-slider__slider-inner {}
.content-slider__slides-container {}
.content-slider__slide-item {}
.content-slider__slide-item--current {}
.content-slider__slider-controls {}
.content-slider__slider-control--prev {}
.content-slider__slider-control--next {}
.content-slider__slider-control--inactive {}
