.daily-promo__image-container {
  @include respond-to('large') {
    width: percentage(2/3);
  }
}

.daily-promo__description {
  @include respond-to('large') {
    max-width: 90%;
  }
}

.daily-promo__title {
  transition: color 400ms ease;

  .daily-promo__link:hover &,
  .daily-promo__link:focus & {
    color: color('mint');
  }
}

.daily-promo__link {
  border-top-left-radius: $border-radius-unit;
}

.daily-promo__meta {
  border-bottom-right-radius: $border-radius-unit;
}
