.daily-promo__image-container {
  @include container-query(('l': ('6'), 'xl': ('6'))) {
    width: percentage(2/3);
  }
}

.daily-promo__description {
  @include container-query(('l': ('6'), 'xl': ('6'))) {
    max-width: 90%;
  }}

.daily-promo__title {
  transition: color 400ms ease;

  .daily-promo__link:hover &,
  .daily-promo__link:focus & {
    color: color('mint');
  }
}

.daily-promo__link {
  border-top-left-radius: $border-radius-unit;
}

.daily-promo__meta {
  border-bottom-right-radius: $border-radius-unit;
}
