//* @define divider

.divider {
  text-align: left;
  border: 0;
}

.divider--black {
  background-color: color('black');
}

.divider--pumice {
  background-color: color('pumice');
}

.divider--stub {
  width: 60px;
  height: 5px;
}

.divider--keyline {
  height: 1px;
}

.divider--thin {
  height: 2px;
}

.divider--thick {
  height: 22px;
}
