.drawer__header {
  appearance: none;
  border: 0;
  background: color('transparent');
  width: 100%;

  &:focus {
    outline: none;
  }
}

.drawer__body {
  .enhanced & {
    display: none;
  }

  .is-active & {
    display: block;
  }
}
