.event-promo {
  display: block;

  @include container-query(('m': ('12'), 'l': ('8', '12'), 'xl': ('8', '12'))) {
    display: flex;
    align-items: flex-start;
  }
}

.event-promo__featured-media {
  @include container-query(('m': ('12'), 'l': ('8', '12'), 'xl': ('8', '12'))) {
    order: 1;
    width: percentage(7 / 12);

    @include respond-to('medium') {
      padding-left: map-get($gutter-width, 'medium') / 2;
    }

    @include respond-to('large') {
      padding-left: map-get($gutter-width, 'large') / 2;
    }
  }
}

.event-promo__details {
  @include container-query(('m': ('12'), 'l': ('8', '12'), 'xl': ('8', '12'))) {
    width: percentage(5 / 12);
    padding-right: map-get($gutter-width, 'small');
  }
}
