.exhibition-hero {
  background: color('white');
  margin: 0 auto;

  @include respond-to('medium') {
    display: flex;
  }
}

.exhibition-hero__picture {
  width: 100%;

  img {
    display: block;
  }
}

.exhibition-hero__copy {
  @include respond-to('medium') {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: -50%;
    max-width: $container-width-max / 2;
  }

  @include respond-to('large') {
    align-items: flex-end;
  }
}

.exhibition-hero__box {
  // Fixes IE bug where background colour doesn't display on block flex items
  // but does on 100%-width inline block items (ノಠ益ಠ)ノ彡┻━┻
  width: 100%;
}
