.exhibition-promo {
  display: block;
  text-decoration: none;
}

.exhibition-promo__description {
  flex: 1;
}

.exhibition-promo__title {
  transition: color 400ms ease;

  .exhibition-promo:hover &,
  .exhibition-promo:focus & {
    color: color('mint');
  }
}

.exhibition-promo__meta {
  margin-top: auto;
}
