.exhibition-promo {
  @include clearfix;
  display: block;
  position: relative;
}

.exhibition-promo__label {
  position: absolute;
  top: 0;
  left: 0;
}

.exhibition-promo__cost {
  position: absolute;
  top: 0;
  right: 0;
}

.exhibition-promo__image-container {
  width: 80%;
  border-radius: $border-radius-unit;
  overflow: hidden;
}

.exhibition-promo__description {
  width: 66%;
  float: right;
  position: relative;
  z-index: 1;
  margin-top: -26%;
  min-height: 170px;
}
