.facility-promo {
  display: block;
  text-decoration: none;
}

.facility-promo__title {
  transition: color 400ms ease;

  .facility-promo:hover &,
  .facility-promo:focus & {
    color: color('mint');
  }
}
