//* @define figure

.figure {
  margin: 0 0 $vertical-space-unit;

  &.figure--bleed {
    @include bleed(map-get($gutter-width, 'small'));

    @include respond-to('medium') {
      @include bleed(map-get($gutter-width, 'medium'));
    }

    @include respond-to('large') {
      @include bleed(map-get($gutter-width, 'large'));
    }
  }

  &.figure--full {
    margin-bottom: 0;
  }
}

.figure__image {
  width: 100%;
  display: block;
  margin-bottom: 0.7rem;

  .figure--full & {
    margin-bottom: 0;
  }
}

.figure__caption {
  @include font('LR3');

  @include respond-to('medium') {
    @include font('LR2');
  }

  display: flex;
  color: color('accessible-grey-2');
  padding-bottom: 1rem;
  border-bottom: 1px solid color('keyline-grey');

  .icon {
    width: 1.3em;
    height: 1.3em;
    min-width: 1.3em;
    margin-right: 0.8em;
  }

  .icon__shape {
    fill: color('currentColor');
  }

  /* stylelint-disable plugin/selector-bem-pattern */
  p:last-child {
    margin-bottom: 0;
  }

  a:link {
    color: color('black');
    text-decoration: none;
    box-shadow: inset 0 -1px 0 0 color('teal');

    &:hover,
    &:focus {
      box-shadow: inset 0 -2px 0 0 color('teal');
    }
  }
  /* stylelint-enable plugin/selector-bem-pattern */
}

$narrow-width: (5/7) * 100%; // calculates the narrow column width as a percentage of the main column.
$narrow-width-xlarge: (4/6) * 100%;
$center-width-large: (6/7) * 100%; // calculates the halfway point of the container, as a percentage of the main column.
$center-width-xlarge: (6/6) * 100%;

.figure--full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  padding: 0 map-get($container-padding, 'small');

  @include respond-to('medium') {
    padding: 0 map-get($container-padding, 'medium');
  }

  @include respond-to('large') {
    clear: both;
    position: relative;
    left: $center-width-large;
    z-index: 1;
    background-color: color('cream');
    padding: 0 map-get($container-padding, 'large');
    padding-top: $vertical-space-unit;
    margin-top: -$vertical-space-unit;
    border-bottom: $vertical-space-unit solid color('cream');
    /* stylelint-disable declaration-no-important */
    opacity: 1 !important;
    /* stylelint-enable */
  }

  @include respond-to('xlarge') {
    left: $center-width-xlarge;
    margin-left: calc((50vw + (1/6) * 100%) * -1); // compensates for grid cell shift
  }
}

.figure--sticky {
  @include respond-to('large') {
    @supports (width: calc(10px + 10px)) {
      float: right;
      clear: right;
      width: calc(#{$narrow-width} - #{map-get($gutter-width, 'large')});
      margin-right: -#{$narrow-width};
    }
  }

  @include respond-to('xlarge') {
    width: calc(#{$narrow-width-xlarge} - #{map-get($gutter-width, 'large')});
    margin-right: calc(-#{$narrow-width} + #{map-get($gutter-width, 'large')});
  }
}

/* stylelint-disable plugin/selector-bem-pattern */
.sticky-applied {
  @include respond-to('large') {
    @supports (width: calc(10px + 10px)) {
      position: sticky;
      top: $vertical-space-unit;
      transition: opacity 0.4s ease;
    }
  }
}
/* stylelint-enable */
