//* @define figure

.figure {
  margin: 0;

  &:not(.figure--full) {
    @include bleed(map-get($gutter-width, 'small'));

    @include respond-to('medium') {
      @include bleed(map-get($gutter-width, 'medium'));
    }

    @include respond-to('large') {
      @include bleed(map-get($gutter-width, 'large'));
    }
  }
}

.figure__image {
  width: 100%;
  margin-bottom: 0.7rem;
}

.figure__caption {
  @include font('LR2');
  display: flex;
  color: color('accessible-grey-2');
  padding-bottom: 1rem;
  border-bottom: 1px solid color('keyline-grey');
}

.figure__icon {
  width: 1.3em;
  height: 1.3em;
  min-width: 1.3em;
  stroke: color('currentColor');
  margin-right: 0.8em;
}
