//* @define figure

.figure {
  margin: 0 0 $vertical-space-unit;

  &.figure--bleed {
    @include bleed(map-get($gutter-width, 'small'));

    @include respond-to('medium') {
      @include bleed(map-get($gutter-width, 'medium'));
    }

    @include respond-to('large') {
      @include bleed(map-get($gutter-width, 'large'));
    }
  }

  &.figure--full {
    margin-bottom: 0;
  }
}

.figure__image {
  width: 100%;
  display: block;
  margin-bottom: 0.7rem;

  .figure--full & {
    margin-bottom: 0;
  }
}

.figure__caption {
  @include font('LR3');

  @include respond-to('medium') {
    @include font('LR2');
  }

  display: flex;
  color: color('accessible-grey-2');
  padding-bottom: 1rem;
  border-bottom: 1px solid color('keyline-grey');

  .icon {
    width: 1.3em;
    height: 1.3em;
    min-width: 1.3em;
    margin-right: 0.8em;
  }

  .icon__shape {
    fill: color('currentColor');
  }

  /* stylelint-disable plugin/selector-bem-pattern */
  p:last-child {
    margin-bottom: 0;
  }

  a:link {
    color: color('black');
    text-decoration: none;
    box-shadow: inset 0 -1px 0 0 color('teal');

    &:hover,
    &:focus {
      box-shadow: inset 0 -2px 0 0 color('teal');
    }
  }
  /* stylelint-enable plugin/selector-bem-pattern */
}

$large-width: (5/7 * 100)+'%';

.figure--full-width {
  @include respond-to('medium') {
    margin-left: -18%;
    margin-right: -18%;
  }

  @include respond-to('large') {
    clear: both;
    position: relative;
    z-index: 1;
    margin-left: 0;
    margin-right: calc((#{$large-width} + #{map-get($gutter-width, 'large')})* -1);
    background-color: color('cream');
    padding-top: $vertical-space-unit;
    margin-top: -$vertical-space-unit;
    border-bottom: $vertical-space-unit solid color('cream');
    /* stylelint-disable declaration-no-important */
    opacity: 1 !important;
    /* stylelint-enable */
  }
}

.figure--sticky {
  @include respond-to('large') {
    @supports (width: calc(10px + 10px)) {
      float: right;
      clear: right;
      width: #{$large-width};
      margin-right: calc((#{$large-width} + #{map-get($gutter-width, 'large')} ) * -1);
    }
  }
}

/* stylelint-disable plugin/selector-bem-pattern */
.sticky-applied {
  @include respond-to('large') {
    @supports (width: calc(10px + 10px)) {
      position: sticky;
      top: $vertical-space-unit;
      transition: opacity 0.4s ease;
    }
  }
}
/* stylelint-enable */
