//* @define find-us;

.find-us {
  @include font('HNL5');
  margin-bottom: 2 * $vertical-space-unit;
  color: color('white');
  padding-bottom: $vertical-space-unit;
  border-bottom: 1px solid color('charcoal');
  text-decoration: none;
  display: block;

  @include respond-to('large') {
    border-bottom: 0;
    padding-top: 1.6rem;
    border-top: 1px solid color('charcoal');
  }

  .icon {
    width: 0.875em;
    height: 1.25em;
    margin-right: 1em;
    margin-top: 0.2em;
    position: relative;
    top: 0;
    transition: top 200ms ease;
  }

  .icon__shape {
    fill: currentColor;
  }
}

.find-us__address {
  display: flex;
  margin-bottom: 1.2rem;
  transition: color 200ms ease;

  .find-us:hover &,
  .find-us:focus & {
    color: color('action-green-2');

    .icon {
      animation-duration: 400ms;
      animation-name: find-us-icon-bounce;
    }
  }
}

.find-us__street {
  display: block;
}

.find-us__map {
  max-width: 100%;
  border-radius: $border-radius-unit;
  transition: transform 200ms ease;

  .find-us:hover &,
  .find-us:focus & {
    transform: scale(1.02, 1.02);
  }
}

@keyframes find-us-icon-bounce {
  0% {
    top: 0;
    animation-timing-function: ease-in;
  }

  50% {
    top: -0.4em;
    animation-timing-function: ease-out;
  }

  100% {
    top: 0;
  }
}
