//* @define find-us;

.find-us {
  @include font('HNL5');
  margin-bottom: 2 * $vertical-space-unit;
  color: color('white');
  padding-bottom: $vertical-space-unit;
  border-bottom: 1px solid color('charcoal');

  @include respond-to('large') {
    border-bottom: 0;
    padding-top: 1.6rem;
    border-top: 1px solid color('charcoal');
  }

  .icon {
    display: block;
    float: left;
    width: 0.875em;
    height: 1.25em;
    margin-top: 2px;
  }

  .icon__shape {
    fill: currentColor;
  }
}

.find-us__address {
  float: left;
  margin: 0 0 1.2rem 1rem;
}

.find-us__street {
  display: block;
}

.find-us__link {
  display: block;
  clear: both;
}

.find-us__map {
  max-width: 100%;
  border-radius: 6px;
}
