.footer {
  padding-top: $vertical-space-unit*3;
  background: color('dark-black');
  color: color('white');
}

.footer__heading {
  @include font('HNL5');
  color: color('accessible-grey-2');
  margin: 0 0 1em;

  @include respond-to('large') {
    margin: 0;
    min-height: 78px;
  }
}

.footer__heading--centered {
  @include respond-to('large') {
    text-align: center;
    border-top: 1px solid color('charcoal');
    margin-top: 2 * $vertical-space-unit;
    padding-top: $vertical-space-unit;
  }
}
