//* @define footer-nav

.footer-nav {
  color: color('white');
  margin-bottom: 2 * $vertical-space-unit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .icon {
    fill: color('white');
    width: 10rem;
  }
}

.footer-nav__brand {
  padding-bottom: 1rem;
  border-bottom: 1px solid color('charcoal');
  display: block;
}

.footer-nav__nav {
  padding: 1rem 0;
  border-bottom: 1px solid color('charcoal');
}

.footer-nav__list {
  @include plain-list();
}

.footer-nav__link {
  @include font('WB7');
  display: block;
  text-decoration: none;
  padding: 0.6em 0;
}
