//* @define footer-social

.footer-social {
  display: flex;
  flex-wrap: wrap;

  @include respond-to('xlarge') {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.footer-social__cell {
  flex-basis: 100%;
  min-width: 100%;

  @include respond-to('medium') {
    flex-basis: 50%;
    min-width: 50%;
  }

  @include respond-to('large') {
    flex-basis: 25%;
    min-width: 25%;
  }

  @include respond-to('xlarge') {
    flex-basis: auto;
    min-width: 0;
  }
}

.footer-social__link {
  color: color('white');
  text-decoration: none;
  margin-bottom: 2.3em;
  display: flex;
  align-items: center;
  transition: color 200ms ease;

  &:hover,
  &:focus {
    color: color('mint');

    .icon {
      @include hover-bounce;
    }
  }

  .icon__shape {
    fill: color('mint');
  }
}

.footer-social__service {
  @include visually-hidden();
}
