//* @define footer-social

.footer-social__link {
  @include font('HNM6');
  color: color('white');
  text-decoration: none;
  margin-bottom: 2.3em;
  display: flex;
  align-items: center;
  transition: color 200ms ease;

  &:hover,
  &:focus {
    color: color('action-green-2');

    .icon {
      @include hover-bounce;
    }
  }

  .icon {
    position: relative;
    width: 2em;
    height: 2em;
    margin-right: 1.4em;
  }

  .icon__shape {
    fill: color('action-green-2');
  }
}

.footer-social__service {
  @include visuallyhidden();
}
