$footer-strap-width: 220px;

.footer {
  padding-top: $vertical-space-unit*3;
  padding-bottom: $vertical-space-unit;
  color: color('white');
}

.footer__heading {
  color: color('silver');
  margin: 0 0 1em;

  @include respond-to('large') {
    padding-top: 39px;
    margin-bottom: $vertical-space-unit;
  }
}

.footer__heading--centered {
  @include respond-to('large') {
    text-align: center;
    border-top: 1px solid color('charcoal');
    margin-top: 2 * $vertical-space-unit;
    padding-top: $vertical-space-unit;
  }
}

.footer__bottom {
  border-top: 1px solid color('charcoal');
  padding-top: $vertical-space-unit;
  padding-bottom: 2 * $vertical-space-unit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__left {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @include respond-to('medium') {
    flex-wrap: nowrap;
  }

  @include respond-to('xlarge') {
    flex-basis: 60%;
  }
}

.footer__strap {
  display: flex;
  align-items: center;
  margin-bottom: $vertical-space-unit;
  min-width: $footer-strap-width;
  border-bottom: 1px solid color('charcoal');
  width: 100%;

  @include respond-to('medium') {
    width: auto;
    border-bottom: 0;
    border-right: 1px solid color('charcoal');
  }

  .icon {
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 0.6rem;
  }

  .icon__shape {
    fill: color('white');
  }
}

.footer__licensing {
  display: flex;
  align-items: center;
}

.footer__licensing-icons {
  display: flex;

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }

  .icon__shape {
    fill: color('white');
  }
}

.footer__licensing-copy {
  margin-bottom: 0;
}

.footer__licensing-link {
  color: color('mint');
  transition: color 600ms ease;
  text-decoration: none;

  &:hover,
  &:focus {
    color: color('white');
  }
}

.footer__strap-text {
  max-width: 10rem;
}

.footer__hygiene-nav {
  position: relative;
  flex-basis: 100%;
  margin-bottom: $vertical-space-unit;
  padding-bottom: $vertical-space-unit;
  border-bottom: 1px solid color('charcoal');

  @include respond-to('xlarge') {
    padding-bottom: 0;
    border-bottom: 0;
    flex-basis: auto;
  }
}

.footer__hygiene-list {
  @include plain-list();
  display: flex;
  justify-content: space-between;
  margin-bottom: $vertical-space-unit;
  border-top: 1px solid color('charcoal');
  padding-top: $vertical-space-unit;

  @include respond-to('xlarge') {
    border-top: 0;
    padding-top: 0;
  }
}

.footer__hygiene-item {
  width: 100%;
  text-align: center;

  @include respond-to('xlarge') {
    width: auto;
  }

  &:last-child {
    position: absolute;
    bottom: - (3 * $vertical-space-unit);
    left: 0;

    @include respond-to('medium') {
      position: static;
    }
  }
}

.footer__hygiene-link {
  padding: 0.5em 0;
  display: block;
  text-decoration: none;
  border-left: 1px solid color('charcoal');
  transition: color 200ms ease;

  &:hover {
    color: color('mint');
  }

  .footer__hygiene-item:first-child & {
    border-left: 0;
  }

  @include respond-to('xlarge') {
    padding-left: 2em;
    padding-right: 2em;
  }

  &.footer__hygiene-link--back-to-top {
    display: flex;
    align-items: center;
    border-left: 0;

    @include respond-to('medium') {
      border-left: 1px solid color('charcoal');
      justify-content: center;
    }

    @include respond-to('xlarge') {
      padding-right: 0;
    }

    .icon {
      width: 1em;
      height: 1em;
    }

    .icon__shape {
      fill: color('currentColor');
    }
  }
}
