.fullscreen-viewer {
  display: none;

  .enhanced & {
    display: block;
  }
}

.fullscreen-viewer-content {
  background-color: color('black');
  width: 100vw;
  height: 100vh;
  display: none;

  &:fullscreen {
    display: block;
  }
}

.fullscreen-viewer__controls {
  height: 3em;
  border-bottom: 1px solid color('charcoal');

  .button-text {
    display: none;

    @include respond-to('medium') {
      display: inline-block;
    }
  }
}

.fullscreen-viewer__image {
  background: #1d1d1d;
  width: 100%;
  height: calc(100vh - 3em);
}
