.gif-video {
  margin: 0;
  position: relative;
}

.gif-video__video {
  display: block;
  width: 100%;
}

.gif-video__play-pause {
  background: transparent;
  border: 0;
  appearance: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  transition: opacity 600ms ease;

  &:hover,
  &:focus,
  .gif-video:hover & {
    opacity: 1;
  }
}

.gif-video__button-text {
  @include visually-hidden();
}
