//* @define grid-placeholder; weak

.grid-placeholder {
  min-height: 20px;
  height: 100%;
  background: color('accessible-grey-1');
  padding: 20px;
  border-radius: 4px;
  color: color('white');

  // Example used in grids.njk
  @include container-query('s', '1') {
    background: color('red');

    &:before {
      content: 's1';
    }
  }

  @include container-query('m', '5') {
    background: color('orange');

    &:before {
      content: 'm5';
    }
  }

  @include container-query('l', '3') {
    background: color('yellow');

    &:before {
      content: 'l3';
    }
  }
  // Example ends
}
