//* @define header; weak

$tweakpoints: (
  'header-medium': 820px,
  'small': map-get($breakpoints, 'small')
);

.header {
  padding-top: 0.8rem;
}

.header__upper {
  border-bottom: 1px solid color('keyline-grey');
  position: relative;
}

.header__inner {
  padding-bottom: 0.8rem;
  display: flex;
  align-items: center;
}

.header__burger {
  flex: 1;
  display: block;

  @include respond-to('header-medium') {
    display: none;
  }
}

.header__burger-trigger {
  position: relative;
  width: 1.3rem;
  height: 1rem;
  display: block;

  // TODO: replace with svg-sprite icon
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: color('black');
    transition: transform 400ms ease;
    transform-origin: center center;

    &:nth-child(2) {
      top: 50%;
    }

    &:last-child {
      top: 100%;
    }

    .header--is-burger-open & {
      top: 0.5rem;

      &:first-child {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        display: none;
      }

      &:last-child {
        transform: rotate(-45deg);
        bottom: auto;
      }
    }
  }
}

.header__brand {
  @include respond-to('header-medium') {
    margin-right: 1.5rem;
    border-right: 1px solid color('keyline-grey');
    width: 10rem;
    height: 3.3rem;
    display: block;
  }

  .icon {
    width: 100%;
    height: 100%;
    max-width: 8rem;

    @include respond-to('header-medium') {
      margin-right: 1.5rem;
    }
  }
}

.header__nav {
  display: none;
  background: color('white');
  position: absolute;
  z-index: 1;
  padding-top: 0.5rem;
  top: 100%;
  left: 0;
  right: 0;
  padding-left: map-get($container-padding, 'small');
  padding-right: map-get($container-padding, 'small');

  @include respond-to('medium') {
    padding-left: map-get($container-padding, 'medium');
    padding-right: map-get($container-padding, 'medium');
  }

  @include respond-to('header-medium') {
    position: static;
    display: block;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .header--is-burger-open & {
    display: block;
  }
}

.header__search {
  margin-top: 1rem;

  .enhanced & {
    margin-top: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.header__form {
  position: relative;
}

.header__input-wrap {
  display: inline-block;
  position: static;
  width: auto;
  z-index: 1;

  .enhanced & {
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    margin-right: -1rem;
    width: calc(100vw - 6.4rem);
    max-width: 64.6rem;

    @include respond-to('medium') {
      width: calc(100vw - 8rem);
    }

    @include respond-to('header-medium') {
      width: calc(100vw - 16.4rem);
    }

    @include respond-to('large') {
      width: calc(100vw - 19rem);
    }
  }

  .header__form--is-active & {
    display: block;
  }
}

.header__label {
  @include visuallyhidden();
}

.header__input {
  .enhanced & {
    @include font('HNL2');
    width: 100%;
    border: 0;
    border-bottom: 1px solid color('keyline-grey');
    padding: 0.5rem 0;
  }

  &:focus {
    outline: 0;
  }
}

.header__button {
  @include font('WB7');
  cursor: pointer;
  align-items: center;
  appearance: none;
  border: 0;
  background: color('transparent');
  transition: color 200ms ease;
  position: relative;
  z-index: 1;

  .enhanced & {
    padding: 1rem 0 1rem 1.5rem;

    @include respond-to('header-medium') {
      border-left: 1px solid color('keyline-grey');
    }
  }

  .enhanced .header__form--is-active & {
    padding-left: 0;
    border-left: 0;
  }

  &:hover,
  &:focus {
    color: color('action-green-2');

    .enhanced & {
      outline: 0;
    }

    .icon {
      transform: rotate(45deg);
    }
  }

  .icon {
    width: 1.3em;
    height: 1.3em;
    transition: transform 200ms ease;

    @include respond-to('header-medium') {
      margin-right: 1em;
    }

    .header__form--is-active & {
      margin-right: 0;
      transform: rotate(45deg);
    }
  }

  .icon__shape {
    fill: color('currentColor');
    transition: fill 200ms ease;

    .header__form--is-active & {
      fill: color('action-green-2');
    }
  }
}

.header__button-inner {
  display: flex;
}

.header__search-button {
  position: relative;

  .header__form--is-active & {
    right: 30px;
  }
}

.header__button-text {
  .header__form--is-active & {
    @include visuallyhidden();
  }

  @include respond-between('small', 'header-medium') {
    @include visuallyhidden();
  }
}

.header__close-search {
  display: none;
  position: absolute;
  top: 1rem;
  z-index: 1;

  .icon {
    width: 1em;
    height: 1em;
    transition: transform 600ms ease;
  }

  .header__form--is-active & {
    display: flex;
  }

  &:hover {
    .icon {
      transform: rotate(90deg);
    }
  }
}

.header__list {
  @include plain-list();
  @include font('WB7');

  .enhanced & {
    margin-left: -0.3rem;
  }

  @include respond-to('header-medium') {
    display: flex;
  }
}

.header__item {
  border-bottom: 1px solid color('keyline-grey');

  @include respond-to('header-medium') {
    border-bottom: 0;
    margin-right: 1.5rem;
  }

  @include respond-to('large') {
    margin-right: 2rem;
  }
}

.header__link {
  padding: 2rem 0.3rem;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: color 400ms ease;

  @include respond-to('header-medium') {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 1.9rem;
    height: 0.6rem;
    left: 0;
    width: 0;
    background: color('yellow');
    z-index: -1;
    transition: width 200ms ease;

    @include respond-to('header-medium') {
      bottom: 0.9rem;
    }
  }

  &:hover,
  &:focus {
    &:after {
      width: 100%;
    }
  }

  .header__item--is-current & {
    &:after {
      width: 100%;
    }
  }
}
