.iframe-container {
  // relative
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.iframe-container__overlay {
  // absolute
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: background 600ms ease;

  .enhanced & {
    display: block;
  }
}

.iframe-container__trigger {
  // absolute
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:hover,
  &:focus {
    .iframe-container__launch {
      background: color('elf-green');
    }

    .iframe-container__overlay {
      background: color('transparent');
    }
  }

  .enhanced & {
    cursor: pointer;
  }
}

.iframe-container__launch {
  // absolute
  display: none;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  .enhanced & {
    display: block;
  }
}

.iframe-container__close {
  // absolute
  top: 2 * $spacing-unit;
  right: 2 * $spacing-unit;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  width: $icon-dimension;
  height: $icon-dimension;
}

.iframe-container__iframe {
  // relative
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
