.image-viewer {
  display: none; // shown with javascript if browser has the required support
}

.image-viewer__content {
  background-color: color('black');
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.image-viewer__controls {
  height: 3em;

  .icon {
    margin: 0;
  }

  .btn__text {
    @include visually-hidden;
  }
}

.image-viewer__image {
  background: #1d1d1d;
  width: 100%;
  height: calc(100vh - 3em);
}

.image-viewer__launch-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  margin: 0;

  .icon {
    margin: 0;
  }

  .btn__text {
    @include visually-hidden;
  }
}
