.image-gallery {
  width: 100%;
  display: flex;
  margin-bottom: $vertical-space-unit;
}

.image-gallery__item {
  flex-shrink: 0;
  margin-right: map_get($gutter-width, 'small');
}

.image-gallery__image {
  height: 204px;
  width: auto;
}

.image-gallery__figure {
  margin-bottom: 0;
  display: table;
}

.image-gallery__figure-caption {
  display: table-caption;
  caption-side: bottom;
  padding-bottom: 0;
}

