//* @define image-gallery
$image-gallery-control-size: 48px;
$image-gallery-control-margin: 18px;

.image-gallery {
  width: 100%;
  display: flex;
  margin-bottom: $vertical-space-unit;
  overflow: scroll;
}

.image-gallery__item {
  flex-shrink: 0;
  margin-right: map_get($gutter-width, 'small');

  .captioned-image {
    margin-bottom: 0;
    display: table;
  }

  .captioned-image__caption {
    display: table-caption;
    caption-side: bottom;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .image {
    height: 204px;
    width: auto;

    @include respond-to('medium') {
      height: 640px;
    }
  }
}
