//* @define image-gallery
$image-gallery-control-size: 48px;
$image-gallery-control-margin: 18px;

.image-gallery {
  width: 100%;
  display: flex;
  margin-bottom: $vertical-space-unit;
  overflow: scroll;
}

.image-gallery__item {
  flex-shrink: 0;
  margin-right: map_get($gutter-width, 'small');

  .captioned-image {
    margin-bottom: 0;
    display: table;
  }

  .captioned-image__caption {
    display: table-caption;
    caption-side: bottom;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .image {
    height: 204px;
    width: auto;

    @include respond-to('medium') {
      height: 640px;
    }
  }
}

// javascript slider styles
@include slider('image-gallery__');

.image-gallery__slider {
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin: -160px map-get($container-padding, 'small') * -1 0;

  @include respond-to('medium') {
    margin-left: map-get($container-padding, 'medium') * -1;
    margin-right: map-get($container-padding, 'medium') * -1;
  }

  @include respond-to('large') {
    margin-left: map-get($container-padding, 'large') * -1;
    margin-right: map-get($container-padding, 'large') * -1;
  }

  &:before {
    height: 60px;
    display: block;
    width: 100%;
    content: '';
    background: color('white');
    margin-bottom: -5px;
    clip-path: polygon(0% 75%, 0% 100%, 100% 100%, 100% 60%, 92% 85%, 70% 67%, 57% 90%, 45% 59%, 20% 72%);
  }
}

.image-gallery__slider-inner {
  overflow: visible;
  background: color('white');
  padding: 100px map-get($container-padding, 'small') 0;

  @include respond-to('medium') {
    padding-left: map-get($container-padding, 'medium');
    padding-right: map-get($container-padding, 'medium');
  }

  @include respond-to('large') {
    padding-left: map-get($container-padding, 'large');
    padding-right: map-get($container-padding, 'large');
  }
}

.image-gallery__slides-container { // these width and left calculations are related to the gallery appearing in the article template
  margin: 0;
  position: relative;
  width: calc(100vw - #{map-get($container-padding, 'small')});

  @include respond-to('medium') {
    width: calc(100vw - #{map-get($container-padding, 'medium')} - 12.5%);
    margin-left: 12.5%;
  }

  @include respond-to('large') {
    width: calc(100vw - #{map-get($container-padding, 'large')});
    margin-left: 0;
  }

  @include respond-to('xlarge') {
    width: $container-width-max - (map-get($container-padding, 'large') * 2);
    margin-left: 50%;
    left: (($container-width-max - (map-get($container-padding, 'large') * 2)) / 2) * (-5/6);
  }
}

.image-gallery__slide-item {
  opacity: 0.5;
  transition: opacity 0.7s ease;
  align-self: flex-start;

  .captioned-image {
    display: block;

    .captioned-image__caption {
      display: block;
    }
  }

  .image {
    height: auto;
  }

  .captioned-image__image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: color('smoke');
  }
}

.image-gallery__slide-item--current {
  opacity: 1;
}

.image-gallery__slider-controls {

  /* stylelint-disable plugin/selector-bem-pattern */
  .control-arrow {
    width: 20px;
    height: 26px;
  }
  /* stylelint-enable */
}

.image-gallery__slider-control--prev,
.image-gallery__slider-control--next {
  background: color('white');
  width: $image-gallery-control-size;
  height: $image-gallery-control-size;
  line-height: 0;
  border-radius: 50%;
  border: 2px solid color('accessible-grey-2');
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  top: -130px;
  margin-left: calc(100% - (2 * #{$image-gallery-control-size} + #{$image-gallery-control-margin}));

  // this calculation is related to the gallery appearing in the article template
  @include respond-to('xlarge') {
    margin-left: 50%;
    left: -(($container-width-max - (map-get($container-padding, 'large') * 2)) / 2) * (-5/6) - ((2 * $image-gallery-control-size) + $image-gallery-control-margin);
  }

  &:focus {
    background: color('smoke');
  }
}

.image-gallery__slider-control--next {
  margin-left: $image-gallery-control-margin;
}
