.image-viewer {
  display: none; // shown with javascript if browser has the required support
}

.image-viewer__content {
  background-color: color('black');
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  z-index: 1000;
  top: 0;
  left: 0;
  transition: transform 500ms;
}

.image-viewer__content2 {
  display:block;
}

.image-viewer__controls {
  height: 3em;
  
  .icon {
    margin: 0;
  }
  
  .btn__text {
    @include visually-hidden;
  }
}

.image-viewer__error {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
  max-width: 500px;
  margin: auto;
  color: color('white');
}

.image-viewer__image {
  background: color('black');
  width: 100%;
  height: calc(100vh - 3em);
}

.image-viewer__launch-button {
  position: absolute;
  bottom: 0;
  right: $container-padding-s;
  transform: translateX(-120%) translateY(50%);

  @include respond-to('medium') {
    right: 50%;
    transform: translateX(50%) translateY(50%);
  }

  .icon {
    margin: 0;
  }

  .btn__text {
    @include visually-hidden;
  }
}

.slideup {
  opacity: 0;
  transform: translateX(-120%) translateY(250%);
  transition: transform 700ms;

  @include respond-to('medium') {
    transform: translateX(50%) translateY(250%);
  }
}

.slideup-entered {
  opacity: 1;
  transform: translateX(-120%) translateY(50%);
  transition: transform 700ms, opacity 700ms;

  @include respond-to('medium') {
    transform: translateX(50%) translateY(50%);
  }
}

.scale {
  transition: transform 500ms;
  transform: scale(0);
}

.scale-entered {
  transform: scale(1);
}

.scale-exiting {
  transform: scale(0);
}
