//* @define image-gallery
.image-gallery {
  width: 100%;
  display: flex;
  margin-bottom: $vertical-space-unit;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.image-gallery__item {
  flex-shrink: 0;
  margin-right: map_get($gutter-width, 'small');

  .captioned-image {
    margin-bottom: 0;
    display: table;
  }

  .captioned-image__caption {
    display: table-caption;
    caption-side: bottom;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .image {
    height: 204px;
    width: auto;

    @include respond-to('medium') {
      height: 640px;
    }
  }
}

// javascript slider styles
@include slider('image-gallery__');

.image-gallery__slider {
  overflow: visible;
}

.image-gallery__slides-container {
  position: relative;
  width: calc(100vw - #{map-get($container-padding, 'small')});

  @include respond-to('medium') {
    width: calc(100vw - #{map-get($container-padding, 'medium')} - 12.5%);
    margin-left: 12.5%;
  }

  @include respond-to('large') {
    width: calc(100vw - #{map-get($container-padding, 'large')});
    margin-left: 0;
  }

  @include respond-to('xlarge') {
    width: $container-width-max - (map-get($container-padding, 'large') * 2);
    margin-left: 50%;
    left: (($container-width-max - (map-get($container-padding, 'large') * 2)) / 2) * (-5/6);
  }
}

.image-gallery__slide-item {
  opacity: 0.2;
  transition: opacity 0.7s ease;
  align-self: flex-end;
}

.image-gallery__slide-item--current {
  opacity: 1;
}

.image-gallery__slider-controls {
  width: 80px;
  display: flex;
  flex-direction: row;
  border: 1px solid color('smoke');
  border-width: 1px;
  background: color('white');
  min-height: 40px;
}

.image-gallery__slider-control--prev,
.image-gallery__slider-control--next {
  background: color('white');
  flex-grow: 1;
  width: 50px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border: 0;

  // &:focus {
  //  TODO need focus style
  // }
}

.image-gallery__slider-control--prev {
  border: 1px solid color('smoke');
  border-width: 0 1px 0 0;
}
