//* @define interview

.interview {
  border-left: 5px solid color('pumice');
  padding-left: 1.2rem;
  margin-bottom: 2em;
}

.interview__participant {
  .interview__question & {
    @include font('HNM6');
  }

  .interview__answer & {
    @include font('HNL7');
  }

  display: block;
  margin-bottom: 0.4em;
}

.interview__question,
.interview__answer {
  margin-bottom: 0.8em;
}

.interview__question {
  @include font('HNM4');

  @include respond-to('medium') {
    @include font('HNM3');
  }
}

.interview__answer {
  @include font('HNL4');

  @include respond-to('medium') {
    @include font('HNL3');
  }
}
