.more-info-link {
  display: inline-flex;
  color: color('mint');
  text-decoration: none;
  align-items: center;
  margin-top: $spacing-unit * 3;
}

.more-info-link__text {
  margin-left: $spacing-unit;
}
