//* @define numbered-list
// TODO styling - arrows and bit of a tidy
$numbered-list-number-size: 96px;

.numbered-list {
  margin-bottom: 2 * $vertical-space-unit;
}

.numbered-list__header {
  border-top-left-radius: $border-radius-unit;
  border-top-right-radius: $border-radius-unit;
  background: color('action-green-2');
  color: color('white');
  padding: 1rem 1.2rem;

  @include container-query(('l': ('4'))) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.numbered-list__heading {
  @include font('WB6');
  margin: 0;
}

.numbered-list__list {
  @include plain-list();
  border: 1px solid color('smoke');
  border-bottom-left-radius: $border-radius-unit;
  border-bottom-right-radius: $border-radius-unit;
}

.numbered-list__item {
  background-color: color('white');
  border: 1px solid color('smoke');
  border-width: 0 0 1px;
  position: relative;

  &:last-child {
    border-bottom: 0;
  }
}

.numbered-list__item--inactive {
  background: color('smoke');
  border-color: color('white');
  padding: 1rem 1.2rem;

  @include container-query(('l': ('4'))) {
    padding: 1.5rem 2rem;
  }

  min-height: calc(#{$numbered-list-number-size} + 0.2rem);

  @include container-query(('l': ('4'))) {
    min-height: calc(#{$numbered-list-number-size} + 1.6rem);
  }

  .numbered-list__number {
    color: color('white');
    opacity: 1;
  }
}

.numbered-list__number {
  @include font('WB1');
  font-size: $numbered-list-number-size;
  line-height: 1;
  color: color('smoke');
  position: absolute;
  right: 0.8rem;

  @include container-query(('l': ('4'))) {
    right: 1.5rem;
  }

  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
  transition: opacity 400ms ease;
  display: none;

  @supports (transform: translateY(-50%)) {
    display: block;
  }

  .numbered-list__link:hover &,
  .numbered-list__link:focus & {
    opacity: 1;
  }
}

.numbered-list__link {
  position: relative;
  z-index: 1;
  text-decoration: none;
  display: block;
  padding: 1rem 1.2rem;

  @include container-query(('l': ('4'))) {
    padding: 1.5rem 2rem;
  }

  min-height: calc(#{$numbered-list-number-size} + 0.2rem);

  @include container-query(('l': ('4'))) {
    min-height: calc(#{$numbered-list-number-size} + 1.6rem);
  }
}

.numbered-list__title {
  @include font('WB7');
  position: relative;
  margin-top: 0;
  margin-bottom: 0.3em;
  transition: color 400ms ease;

  .numbered-list__link:hover &,
  .numbered-list__link:focus & {
    color: color('action-green-1');
  }
}

.numbered-list__date {
  @include font('HNL7');
  position: relative;
  display: block;
  margin-bottom: 0;
}

.numbered-list--horizontal,
.numbered-list--horizontal-narrow {
  @include respond-to('medium') {
    display: flex;
  }

  .numbered-list__header {
    min-width: 300px;
    border-radius: 0;
  }

  .numbered-list__list {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 0;
    overflow: auto;
  }

  .numbered-list__item {
    min-width: 300px;
    border-width: 0 1px 0 0;
  }

  .numbered-list__item--inactive {
    padding: $v-spacing-unit*3 map-get($gutter-width, 'small');
    padding-right: 60px;

    @include respond-to('large') {
      padding: $v-spacing-unit*3 map-get($gutter-width, 'large');
      padding-right: 80px;
    }
  }

  .numbered-list__link {
    width: 100%;
    height: 100%;
    padding: $v-spacing-unit*3 map-get($gutter-width, 'small');
    padding-right: 60px;

    @include respond-to('large') {
      padding: $v-spacing-unit*3 map-get($gutter-width, 'large');
      padding-right: 80px;
    }
  }

  .numbered-list__number {
    top: 0.5rem;
    transform: none;
    right: map-get($gutter-width, 'small');

    @include respond-to('large') {
      right: map-get($gutter-width, 'large');
    }
  }
}

.numbered-list--horizontal-narrow {
  .numbered-list__header {
    display: none;

    @include respond-to('medium') {
      display: block;
    }
  }

  .numbered-list__item {
    min-height: 0;
  }

  .numbered-list__link {
    min-height: 0;
    padding-right: map-get($gutter-width, 'small');

    @include respond-to('large') {
      padding-right: map-get($gutter-width, 'large');
    }
  }

  .numbered-list__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .numbered-list__date {
    display: none;
  }

  .numbered-list__number {
    display: none;
  }
}

.numbered-list--sticky {
  position: sticky;
  top: 0;
}

// javascript slider styles
@include slider('numbered-list__');

.numbered-list__slider {
  border: 1px solid color('smoke');
  border-width: 1px 0;
}

.numbered-list__slides-container {
  border: 0;
}

.numbered-list__slider-controls {
  display: flex;
  flex-direction: column;
  border: 1px solid color('smoke');

  .numbered-list--horizontal-narrow & {
    flex-direction: row;
  }
}

.numbered-list__slider-control--prev,
.numbered-list__slider-control--next {
  height: 50%;
  width: 50px;
  cursor: pointer;
  background: color('white');
  outline: none;
  overflow: hidden;
  border: 0;

  // &:focus {
  //   background: color('smoke');
  // }

  .numbered-list--horizontal-narrow & {
    height: 100%;
  }
}

.numbered-list__slider-control--prev {
  border: 1px solid color('smoke');
  border-width: 0 0 1px;

  .numbered-list--horizontal-narrow & {
    border-width: 0 1px 0 0;
  }
}

