//* @define numbered-list
// TODO styling - arrows and bit of a tidy
$numbered-list-number-size-small: 54px;
$numbered-list-number-size-large: 96px;

.numbered-list__header {
  border-top-left-radius: $border-radius-unit;
  border-top-right-radius: $border-radius-unit;
  background: color('mint');
  color: color('white');
  padding: 1rem 1.2rem;

  @include container-query(('l': ('4'), 'xl': ('4'))) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .numbered-list--transporter & {
    background: none;
    padding-left: 0;
  }
}

.numbered-list__heading {
  margin: 0;
  position: relative;
  z-index: 2;
}

.numbered-list__list {
  border: 1px solid color('pumice');
  border-bottom-left-radius: $border-radius-unit;
  border-bottom-right-radius: $border-radius-unit;
}

.numbered-list__item {
  background-color: color('white');
  border: 1px solid color('pumice');
  border-width: 0 0 1px;
  position: relative;

  &:last-child {
    border-bottom: 0;
  }
}

.numbered-list__item--inactive {
  background: color('silver');

  .numbered-list__number {
    color: color('white');
  }
}

.numbered-list__number {
  font-size: $numbered-list-number-size-large;
  line-height: 1;
  color: color('silver');
  position: absolute;
  right: 0.8rem;

  @include container-query(('l': ('4'), 'xl': ('4'))) {
    right: 1.5rem;
  }

  top: 50%;
  transform: translateY(-50%);

  @supports (transform: translateY(-50%)) {
    display: block;
  }
}

.numbered-list__link,
.numbered-list__link-surrogate {
  position: relative;
  z-index: 1;
  text-decoration: none;
  display: block;
  padding: 1rem 1.2rem;

  min-height: calc(#{$numbered-list-number-size-large} + 0.2rem);

  @include container-query(('l': ('4'), 'xl': ('4'))) {
    padding: 1.5rem 2rem;
    min-height: calc(#{$numbered-list-number-size-large} + 1.6rem);
  }
}

.numbered-list__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0.3em;
  transition: color 400ms ease;

  .numbered-list__link:hover &,
  .numbered-list__link:focus & {
    color: color('seaweed');
  }
}

.numbered-list__visually-hidden-title {
  @include visually-hidden();
}

.numbered-list__date {
  position: relative;
  display: block;
  margin-bottom: 0;
}

.numbered-list__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: grayscale(1);
}

.numbered-list--transporter {
  &.numbered-list--turquoise {
    .numbered-list__header,
    .numbered-list__number {
      color: color('turquoise-text');
    }
  }

  &.numbered-list--orange {
    .numbered-list__header,
    .numbered-list__number {
      color: color('orange-text');
    }
  }

  &.numbered-list--red {
    .numbered-list__header,
    .numbered-list__number {
      color: color('red-text');
    }
  }

  &.numbered-list--purple {
    .numbered-list__header,
    .numbered-list__number {
      color: color('purple-text');
    }
  }

  .numbered-list__item--inactive {
    .numbered-list__number {
      color: color('pewter');
    }
  }

  .numbered-list__list {
    border: 0;
    flex-wrap: nowrap;
    margin-left: -(map-get($gutter-width, 'small'));
    position: relative;

    @include respond-to('medium') {
      margin-left: -(map-get($gutter-width, 'medium'));
    }

    @include respond-to('large') {
      margin-left: -(map-get($gutter-width, 'large'));
    }
  }

  .numbered-list__item {
    background-color: color('transparent');
    padding-left: 12 * $spacing-unit;
    flex-basis: 75%;
    min-width: 75%;
    border-bottom: 0;
    padding-top: 2 * $spacing-unit;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      height: 1px;
      top: 0;
      left: 0;
      right: 0;
      background: color('pumice');
    }

    &:first-child:after {
      @include respond-to('medium') {
        left: map-get($gutter-width, 'medium');
      }

      @include respond-to('large') {
        left: map-get($gutter-width, 'large');
      }
    }

    @include respond-to('medium') {
      flex-basis: 60%;
      min-width: 60%;
    }

    @include respond-to('large') {
      flex-basis: 40%;
      min-width: 40%;
    }

    @include respond-to('xlarge') {
      flex-basis: 30%;
      min-width: 30%;
    }
  }

  .numbered-list__number {
    top: 2 * $spacing-unit;
    left: 4 * $spacing-unit;
    font-size: $numbered-list-number-size-small;
    transform: translateY(0);
  }
}

.numbered-list--horizontal,
.numbered-list--horizontal-narrow {
  background: color('pumice');// Chrome has bug where borders sometimes disappear on elements with position:sticky, this compensates

  @include respond-to('medium') {
    display: flex;
  }

  .numbered-list__header {
    min-width: 300px;
    border-radius: 0;
    position: relative;
    overflow: hidden;
  }

  .numbered-list__list {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 0;
    overflow: auto;
  }

  .numbered-list__item {
    min-width: 300px;
    max-width: 300px;
    border-width: 0 1px 0 0;
  }

  .numbered-list__item--turquoise {
    border-bottom: $v-spacing-unit solid color('turquoise-graphics');
  }

  .numbered-list__item--orange {
    border-bottom: $v-spacing-unit solid color('orange-graphics');
  }

  .numbered-list__item--red {
    border-bottom: $v-spacing-unit solid color('red-graphics');
  }

  .numbered-list__item--purple {
    border-bottom: $v-spacing-unit solid color('purple-graphics');
  }

  .numbered-list__link,
  .numbered-list__link-surrogate {
    width: 100%;
    height: 100%;
    padding: $v-spacing-unit*3 map-get($gutter-width, 'small');
    padding-right: 84px;

    @include respond-to('large') {
      padding: $v-spacing-unit*3 map-get($gutter-width, 'large');
      padding-right: 96px;
    }
  }

  .numbered-list__number {
    right: map-get($gutter-width, 'small');

    @include respond-to('large') {
      right: map-get($gutter-width, 'large');
    }
  }
}

.numbered-list--horizontal-narrow {
  .numbered-list__item {
    @include respond-to('medium') {
      min-height: 0;
    }
  }

  .numbered-list__link,
  .numbered-list__link-surrogate {
    min-height: calc(#{$numbered-list-number-size-large} + 0.2rem);

    @include respond-to('medium') {
      min-height: 0;
      padding-right: 66px;
    }
  }

  .numbered-list__title {
    @include respond-between('small', 'medium') {
      white-space: normal;
      overflow: visible;
      text-overflow: clip;
    }
  }

  .numbered-list__number {
    @include respond-to('medium') {
      font-size: $numbered-list-number-size-small;
    }
  }

  .numbered-list__date {
    @include respond-to('medium') {
      display: none;
    }
  }
}

.numbered-list--sticky {
  @include respond-to('medium') {
    position: sticky;
    top: 0;
    z-index: 3;
  }
}
