.opening-hours {
  color: color('white');
}

.opening-hours__tablist {
  @include plain-list();
  @include font('HNM6');
  display: flex;
  border-bottom: 1px solid color('charcoal');
}

.opening-hours__tabitem {
  flex: 1;
  text-align: center;
  margin-bottom: -1px;
  margin-right: 0.2em;
  border: 1px solid color('transparent');

  &:last-child {
    margin-right: 0;
    margin-bottom: -1px;
  }

  &.opening-hours__tabitem--is-current {
    border-color: color('charcoal');
    border-bottom-color: color('black');
  }
}

.opening-hours__tablink {
  text-decoration: none;
  display: block;
  padding: 0.5em;
}

.opening-hours__table {
  @include font('HNL7');
  width: 100%;
  border-collapse: collapse;
  display: table;

  .enhanced & {
    display: none;
  }

  &.opening-hours__table--is-visible {
    display: table;
  }
}

.opening-hours__caption,
.opening-hours__thead {
  .enhanced & {
    @include visuallyhidden();
  }
}

.opening-hours__tr {
  border-bottom: 1px solid color('charcoal');
}

.opening-hours__td {
  padding: 1em 0;

  &:last-child {
    text-align: right;
  }
}
