//* @define page-description;

.page-description {
  margin-bottom: $vertical-space-unit;
}

.page-description__title {
  margin-top: $vertical-space-unit;
  margin-bottom: 0;
  margin-left: -0.06em;

  .page-description--a & {
    @include font('WB5');

    @include respond-to('medium') {
      @include font('WB4');
    }

    @include respond-to('large') {
      @include font('WB3');
    }
  }

  .page-description--b & {
    @include font('HNM1');
  }
}

.page-description__lead {
  margin-bottom: 0.6em;

  // This aligns the grey lead bar with text baseline
  &:before {
    .page-description--a & {
      bottom: 0.6em;
    }

    .page-description--b & {
      bottom: 0.4em;
    }
  }
}

.page-description__intro {
  @include font('HNL5');
  display: block;
  color: color('action-green-1');
  margin-bottom: 0.4em;
}

.page-description__publication-date {
  @include font('HNL5');
  display: flex;
  align-items: center;
  color: color('accessible-grey-1');

  .icon {
    margin-right: 0.5em;
    width: 1.3em;
    height: 1.3em;
  }
}
