//* @define page-description;

.page-description {
  &.page-description--b {
    padding-bottom: 1.2rem;
    border-bottom: 1px solid color('keyline-grey');
  }
}

.page-description__title {
  margin-top: 0;
  margin-left: -0.06em;

  .page-description--a & {
    @include font('WB3');
    margin-bottom: 0.25em;
  }

  .page-description--b & {
    @include font('HNM1');
  }
}

.page-description__intro {
  @include font('HNL5');
  display: block;
  color: color('action-green-1');
  margin-bottom: 0.4em;
}

.page-description__outro {
  @include font('HNL5');
  display: flex;
  align-items: center;
  color: color('accessible-grey-1');
}

.page-description__icon {
  margin-right: 0.5em;
  width: 1.3em;
  height: 1.3em;
}

.page-description__use {
  fill: color('currentColor');
}
