//* @define page-description;

.page-description {
  margin-bottom: 3 * $v-spacing-unit;

  @include respond-to('large') {
    margin-bottom: 10 * $v-spacing-unit;
  }
}

.page-description--hidden {
  @include visually-hidden();
}

.page-description__intro {
  display: block;
}

.page-description__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -0.06em;

  .icon {
    height: 0.8em;
  }
}

.page-description__row {
  margin-bottom: 0.3em;

  // This aligns the grey lead bar with text baseline
  &:before {
    bottom: 0.6em;
  }
}

.page-description__container {
  padding-top: 3 * $v-spacing-unit;

  @include respond-to('large') {
    padding-top: 5 * $v-spacing-unit;
  }
}

.page-description__subtext {
  display: flex;
  align-items: center;
  color: color('pewter');

  .icon {
    margin-right: 0.5em;
    height: 1.3em;
  }
}
