//* @define promo
//TODO hover/focus styles
.promo {
  display: block;
  text-decoration: none;

  @include container-query(('l': ('8', '12'))) {
    display: flex;
    align-items: flex-start;
  }

  @include container-query(('l': ('12'), 'm': ('8'))) {
    border-bottom: 0;
  }

  .icon {
    margin-right: 0.8em;
  }
}

.promo--gallery {
  .icon {
    width: 1.5em;
    height: 1.187em;
    min-width: 1.5em;
  }
}

.promo--podcast {
  .icon {
    width: 1.6875em;
    height: 1.375em;
    min-width: 1.6875em;
  }
}

.promo--video {
  .icon {
    width: 1.0625em;
    height: 1.187em;
    min-width: 1.0625em;
  }
}

.promo--underlined {
  padding-bottom: 3 * $vertical-space-unit;
  margin-bottom: $vertical-space-unit;
  border-bottom: 2px solid color('black');
}

.promo--series {
  .promo__image-container {
    position: relative;

    &:before {
      //content: 'test';
      content: attr(data-image url);
      //filter: hue-rotate(90deg);
    }
  }
}

.promo__image-container {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 1rem;

  @include container-query(('l': ('8', '12'))) {
    order: 1;
    width: percentage(2 / 3);
    margin-bottom: 0;
  }
}

.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

.promo__image-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $border-radius-unit;
  filter: url(#duotone);
  clip-path: polygon(0% 55%, 0% 100%, 100% 100%, 100% 60%, 80% 54%, 74% 56%, 80% 54%, 35% 67%, 20% 60%);
}

.promo__image {
  display: block;
  width: 100%;
  border-radius: $border-radius-unit;
  filter: grayscale(100%);
}

.promo__icon-container {
  background: color('white');
  position: absolute;
  bottom: 0;
  left: 0;
}

.promo__sr {
  @include visuallyhidden;
}

.promo__type {
  @include font('HNL5');
  color: color('action-green-2');
  display: block;
}

.promo__title {
  @include font('WB6');
  color: color('black');
  margin-top: 0;
  margin-bottom: 0.9em;

  @include container-query(('l': ('12'))) {
    @include font('WB3');
  }
}

.promo__date {
  display: block;
}

.promo__description {
  @include font('HNL5');
  align-items: center;
  color: color('accessible-grey-1');
  min-width: 0;
  flex: 1;

  @include container-query(('l': ('8', '12'))) {
    padding-right: map-get($gutter-width, 'large');
  }
}
