//* @define promo

.promo {
  padding-bottom: 3 * $vertical-space-unit;
  margin-bottom: $vertical-space-unit;
  border-bottom: 2px solid color('black');

  @include container-query(('l': ('8', '12'))) {
    display: flex;
    align-items: flex-start;
  }

  @include container-query(('l': ('12'), 'm': ('8'))) {
    border-bottom: 0;
  }
}

.promo__image {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  border-radius: $border-radius-unit;

  @include container-query(('l': ('8', '12'))) {
    order: 1;
    width: percentage(2 / 3);
    margin-bottom: 0;
  }
}

.promo__intro {
  @include font('HNL5');
  color: color('action-green-2');
  display: block;
}

.promo__title {
  @include font('WB6');
  color: color('black');
  margin-top: 0;
  margin-bottom: 0.9em;

  @include container-query(('l': ('12'))) {
    @include font('WB3');
  }
}

.promo__link {
  text-decoration: none;
}

.promo__description {
  @include font('HNL5');
  align-items: center;
  color: color('accessible-grey-1');
  min-width: 0;
  flex: 1;

  @include container-query(('l': ('8', '12'))) {
    padding-right: map-get($gutter-width, 'large');
  }
}
