//* @define promo
.promo {
  display: block;
  text-decoration: none;

  @include container-query(('l': ('8', '12'))) {
    display: flex;
    align-items: flex-start;
  }

  @include container-query(('l': ('12'), 'm': ('8'))) {
    border-bottom: 0;
  }

  .icon {
    vertical-align: middle;
    margin-right: map-get($gutter-width, 'small')/2;

    @include respond-to('medium') {
      margin-right: map-get($gutter-width, 'medium')/2;
    }

    @include respond-to('large') {
      margin-right: map-get($gutter-width, 'large')/2;
    }
  }
}

.promo--gallery {
  .icon { // aspect ratio: 24 x 19
    width: (24/19) * 1.6em;
    height: (19/19) * 1.6em;
  }
}

.promo--podcast {
  .icon { // aspect ratio: 27 x 22
    width: (27/22) * 1.6em;
    height: (22/22) * 1.6em;
  }
}

.promo--video {
  .icon { // aspect ratio: 17 x 19
    width: (17/19) * 1.6em;
    height: (19/19) * 1.6em;
  }
}

.promo--underlined {
  padding-bottom: 3 * $vertical-space-unit;
  margin-bottom: $vertical-space-unit;
  border-bottom: 2px solid color('black');
}

.promo__image-container {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  transform: translateZ(0); // Fixes scale/border-radius overflow bug: http://stackoverflow.com/a/31686781
  border-radius: $border-radius-unit;
  overflow: hidden;

  @include container-query(('l': ('8', '12'))) {
    order: 1;
    width: percentage(2 / 3);
    margin-bottom: 0;
  }
}

.promo__image {
  display: block;
  width: 100%;
  transition: transform 400ms ease;

  .promo:hover &,
  .promo:focus & {
    transform: scale(1.2);
  }
}

.promo__defs {
  position: absolute;
  height: 0;
  width: 0;
  overflow: none;
  left: -100%;
}

.promo__image-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: url('#duotone') saturate(80%);
}

.promo__clip-path--1 {
  clip-path: polygon(0% 65%, 0% 100%, 100% 100%, 100% 64%, 92% 57%, 70% 50%, 57% 60%, 45% 68%, 20% 70%);
}

.promo__clip-path--2 {
  clip-path: polygon(0% 55%, 0% 100%, 100% 100%, 100% 60%, 82% 57%, 74% 54%, 60% 60%, 55% 63%, 40% 60%, 27% 64%);
}

.promo__clip-path--3 {
  clip-path: polygon(0% 45%, 0% 100%, 100% 100%, 100% 42%, 75% 59%, 47% 50%, 27% 54%);
}

.promo__clip-path--4 {
  clip-path: polygon(0% 39%, 0% 100%, 100% 100%, 100% 50%, 72% 45%, 62% 55%, 52% 44%, 48% 50%, 30% 45%, 17% 42%);
}

.promo__clip-path--5 {
  clip-path: polygon(0% 58%, 0% 100%, 100% 100%, 100% 60%, 90% 68%, 84% 57%, 60% 60%, 45% 33%, 30% 40%, 13% 50%);
}

.promo__clip-path--6 {
  clip-path: polygon(0% 21%, 0% 100%, 100% 100%, 100% 24%, 92% 30%, 84% 26%, 70% 37%, 45% 45%, 36% 49%, 27% 42%, 14% 28%);
}

.promo__clip-path--7 {
  clip-path: polygon(0% 52%, 0% 100%, 100% 100%, 100% 57%, 70% 60%, 50% 53%, 40% 60%, 27% 64%);
}

.promo__clip-path--8 {
  clip-path: polygon(0% 45%, 0% 100%, 100% 100%, 100% 45%, 82% 52%, 74% 44%, 60% 50%, 55% 57%, 40% 52%, 27% 48%);
}

.promo__clip-path--9 {
  clip-path: polygon(0% 65%, 0% 100%, 100% 100%, 100% 30%, 84% 37%, 69% 32%, 60% 60%, 55% 63%, 40% 60%, 27% 64%);
}

.promo__clip-path--10 {
  clip-path: polygon(0% 85%, 0% 100%, 100% 100%, 100% 60%, 90% 50%, 78% 45%, 60% 60%, 55% 66%, 40% 76%, 27% 82%);
}

.promo__icon-container {
  @include font('HNL7');
  background: color('white');
  position: absolute;
  bottom: 0;
  left: 0;
  padding: map-get($gutter-width, 'small')/2;

  @include respond-to('medium') {
    padding: map-get($gutter-width, 'medium')/2;
  }

  @include respond-to('large') {
    padding: map-get($gutter-width, 'large')/2;
  }
}

.promo__length {
  display: inline-block;
}

.promo__sr {
  @include visuallyhidden;
}

.promo__type {
  @include font('HNL5');
  color: color('action-green-2');
  display: block;
  text-transform: capitalize;
  transition: color 400ms ease;

  .promo--series & {
    color: color('purple');
  }

  .promo:hover &,
  .promo:focus & {
    color: color('black');
  }
}

.promo__title {
  @include font('WB6');
  color: color('black');
  margin-top: 0;
  margin-bottom: 0.9em;
  transition: color 400ms ease;

  @include container-query(('l': ('12'))) {
    @include font('WB3');
  }

  .promo:hover &,
  .promo:focus & {
    color: color('action-green-2');
  }
}

.promo__date {
  @include font('HNL5');
  display: block;
}

.promo__description {
  @include font('HNL5');
  align-items: center;
  color: color('accessible-grey-1');
  min-width: 0;
  flex: 1;

  @include container-query(('l': ('8', '12'))) {
    padding-right: map-get($gutter-width, 'large');
  }
}
