@keyframes scrollToWobble {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.scroll-to-info--work {
  position: relative;
  transform: translateY(0);

  .icon {
    animation: scrollToWobble 2s ease-in-out 3 forwards;
  }
}
