.search-box {
  position: relative;

  .input {
    padding-right: 2em;
  }
}

.search-box__clear {
  right: $icon-dimension + ($spacing-unit * 4);
  display: none;

  .search-box.is-active & {
    display: block;
  }
}

.search-box__button {
  right: $spacing-unit * 2;
}
