.search-box {
  position: relative;

  .input {
    padding-right: 100px;
  }
}

.search-box__clear {
  right: $icon-dimension + ($spacing-unit * 8);
  display: none;

  .search-box.is-active & {
    display: block;
  }
}

.search-box__button-wrap {
  height: 100%;
  top: 0;
  right: 0;
  width: 8 * $spacing-unit;

  @include respond-to('medium') {
    width: 10 * $spacing-unit;
  }
}

.search-box__button {
  width: 100%;
  height: 100%;
}
