.slider--gallery {

  .slide-item {
    opacity: 0.5;
    transition: opacity 700ms ease;
    align-self: flex-start;

    .captioned-image {
      display: block;

      .captioned-image__caption {
        display: block;
      }
    }

    .image {
      display: block;
      width: 100%;
    }

    .captioned-image__image-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background: color('cream');

      .enhanced & {
        cursor: pointer;
      }
    }

    .captioned-image__caption {
      position: relative;
      opacity: 0;
      z-index: 0;
      transition: opacity 700ms ease;
      width: calc(100vw - #{(map-get($container-padding, 'small') * 2)});

      @include respond-to('medium') {
        width: calc(100vw - (#{map-get($container-padding, 'medium')} * 2) - 12.5%);
      }

      @include respond-to('large') {
        width: calc(((100vw - #{map-get($container-padding, 'large')}  * 2) / 12) * 10);
      }

      @include respond-to('xlarge') {
        width: ($container-width-max / 12) * 7;
      }
    }
  }
  .slide-item--current {
    opacity: 1;

    .captioned-image__caption {
      opacity: inherit;
      z-index: 1;
    }
  }
}

.slider-controls--gallery {
  top: -60px;
  position: relative;
}
