$slider-control-size: 48px;
$slider-control-margin: 18px;

.slider--in-content {
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin: 0 map-get($container-padding, 'small') * -1 0;

  @include respond-to('medium') {
    margin-left: map-get($container-padding, 'medium') * -1;
    margin-right: map-get($container-padding, 'medium') * -1;
  }

  @include respond-to('large') {
    margin-left: map-get($container-padding, 'large') * -1;
    margin-right: map-get($container-padding, 'large') * -1;
  }

  .slider-inner {
    position: relative;
    overflow: visible;
    background: color('white');
    padding: 0 map-get($container-padding, 'small');

    @include respond-to('medium') {
      padding-left: map-get($container-padding, 'medium');
      padding-right: map-get($container-padding, 'medium');
    }

    @include respond-to('large') {
      padding-left: map-get($container-padding, 'large');
      padding-right: map-get($container-padding, 'large');
    }
  }
}

.slider-controls--in-content {
  /* stylelint-disable plugin/selector-bem-pattern */
  .control-arrow {
    width: 16px;
    height: 16px;
  }
  /* stylelint-enable */

  .slider-control--prev,
  .slider-control--next {
    background: color('white');
    width: $slider-control-size;
    height: $slider-control-size;
    line-height: 0;
    border-radius: 50%;
    border: 2px solid color('silver');
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    margin-left: calc(100% - (2 * #{$slider-control-size} + #{$slider-control-margin}));

    // this calculation is related to the gallery appearing in the article template
    @include respond-to('xlarge') {
      margin-left: 50%;
      left: -(($container-width-max - (map-get($container-padding, 'large') * 2)) / 2) * (-5/6) - ((2 * $slider-control-size) + $slider-control-margin);
    }

    &:focus {
      background: color('smoke');
    }
  }

  .slider-control--next {
    margin-left: $slider-control-margin;
  }
}
