.sort-search {
  @include font('HNL5');

  .icon {
    width: 1.2em;
    height: 1.2em;
  }

  .icon__shape {
    fill: color('turquoise-text');
  }

  @include respond-to('medium') {
    display: flex;
    align-items: center;

    .icon {
      display: none;
    }
  }
}

.sort-search__close-icon {
  display: none;

  @include respond-between('small', 'medium') {
    .is-sort-search-active & {
      display: block;
    }
  }
}

.sort-search__header {
  color: color('turquoise-text');
  appearance: none;
  font-family: inherit;
  background: color('transparent');
  border: 0;
  padding: 0;
  text-align: left;
  width: 100%;

  &:focus {
    outline: 0;
  }

  @include respond-to('medium') {
    width: auto;
  }
}

.sort-search__form {
  .enhanced & {
    display: none;

    @include respond-to('medium') {
      display: inline-flex;
    }
  }

  .is-sort-search-active & {
    @include respond-between('small', 'medium') {
      display: block;
    }
  }
}

.sort-search__button {
  .enhanced & {
    display: none;
  }
}

.sort-search__group {
  @include respond-to('medium') {
    display: inline-flex;
  }
}
