.transporter {
  background: color('white');
}

.transporter__item:first-child:last-child {
  @include respond-to('large') {
    max-width: 50%;
  }
}

.transporter__link {
  position: relative;
  padding-left: ((12/12) * 0.8) + 0.5em;

  &:hover,
  &:focus {
    cursor: pointer;
    text-decoration: underline;
  }

  .icon { // aspect ratio: 12 x 13
    width: (12/12) * 0.8em;
    height: (13/12) * 0.8em;
    transform: rotate(270deg);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -(13/12) * 0.4em;
  }

  .icon__shape {
    fill: currentColor;
  }
}
