.wobbly-edge {
  height: 10vw;
  margin-top: -10vw;
  position: relative;
  top: 2px;
  z-index: 2;
  transition: clip-path 2000ms ease-in-out;
  display: none;

  @include respond-to('large') {
    max-height: 60px;
    margin-top: -60px;
  }

  @supports ((clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0))) {
    .enhanced & {
      display: block;
    }
  }
}

.wobbly-edge--cream {
  background: color('cream');
}

.wobbly-edge--white {
  background: color('white');
}

.wobbly-edge--rotated {
  transform: rotate(180deg);
  margin-top: 0;
  top: -2px;
}

.wobbly-edge--small {
  height: 5vw;
  margin-top: -5vw;
}
