.work-media {
  position: relative;

  .image {
    min-height: 200px;
    max-height: calc(100vh - 120px);
    width: auto;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    padding: 10 * $spacing-unit;

    .enhanced & {
      padding: 0;
    }

    @include respond-to(medium) {
      max-height: calc(100vh - 140px);
    }

    @supports (object-fit: contain) {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .image--noscript {
    display: block;
  }
}

.work-media__controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 400ms ease;
  pointer-events: none;

  .enhanced & {
    opacity: 1;
  }
}
