<div class="grid grid--breakout">
  <div class="grid__cell">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
  <div class="grid__cell">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
  <div class="grid__cell">
    {% include "views/grid/placeholder/placeholder.njk" %}
  </div>
</div>
