{% import '../../../views/macros.njk' as macro %}

<header class="page-description {% for modifier in modifiers %}page-description--{{ modifier }} {% endfor %}">
  <div class="row row--no-padding page-description__row {{ 'row--lead row--lead--l' if lead }}">
    <div class="container page-description__container">
      <div class="grid">
        <div class="grid__cell grid__cell--s4 grid__cell--m6 grid__cell--shift-m1 {{ 'grid__cell--shift-l1 grid__cell--l11 grid__cell--xl10' if lead else 'grid__cell--l12 grid__cell--xl11' }}">
          <h1 class="page-description__title">{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>
  {% if publicationDate %}
    <div class="row row--no-padding">
      <div class="container">
          <div class="grid">
            <div class="grid__cell grid__cell--shift-m1 {{ 'grid__cell--shift-l1' if lead }}">
              <span class="page-description__publication-date">
                {% icon 'other/clock' %}{{ publicationDate }}
              </span>
            </div>
          </div>
      </div>
    </div>
  {% endif %}
</header>
