<header class="page-description {{ 'page-description' | componentClasses(modifiers) }}">
  <div class="row page-description__row {{ 'row--lead row--lead--l' if model.lead }}">
    <div class="container page-description__container">
      <div class="grid">
        <div class="grid__cell grid__cell--s12 grid__cell--m10 grid__cell--shift-m1 {{ 'grid__cell--shift-l1 grid__cell--l11 grid__cell--xl10' if model.lead else 'grid__cell--l12 grid__cell--xl11' }}">
          {% if model.intro %}
            <span class="page-description__intro {{ {s:'WB7', m:'WB6', l:'WB5'} | fontClasses }} {{ {s:1, m:1, l:2} | spacingClasses({margin: ['bottom']}) }}">{{ model.intro }}</span>
          {% endif %}
          <h1 class="page-description__title {{ {s:'WB5', m:'WB4', l:'WB3'} | fontClasses }}" itemprop="headline">
            {% if data.icon %}{% icon data.icon %}{% endif %}
            {{ model.title }}
          </h1>
        </div>
      </div>
    </div>
  </div>
  {% if model.meta %}
    <div class="row">
      <div class="container">
        <div class="grid">
          <div class="grid__cell grid__cell--shift-m1 {{ 'grid__cell--shift-l1' if model.lead }}">
            <span class="page-description__subtext {{ 'HNL5' | fontClasses }}">
              {% if model.meta.type === 'date' %}
                {% icon 'other/clock' %}{{ model.meta.value | formatDate }}
              {% else %}
                {{ model.meta.value | safe }}
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</header>
