<header class="site-header" role="banner">
  <a class="site-header__logo" href="/">
    <img src="https://wellcomecollection.org/sites/all/themes/col_base/images/wellcomecollection-logo.svg" alt="Wellcome Collection" />
  </a>
  <p class="site-header__strapline">The free destination for the incurably curious</p>
  <a href="#" class="site-header__nav-toggle">Menu</a>
  <nav class="site-header__nav" aria-hidden="true">
    <ul class="site-header__list">
      <li class="site-header__item">
        <a class="site-header__link" href="#">Visit us</a>
      </li>
      <li class="site-header__item is-active">
        <a class="site-header__link" href="#">What's on</a>
      </li>
      <li class="site-header__item">
        <a class="site-header__link" href="#">Explore</a>
      </li>
      <li class="site-header__item">
        <a class="site-header__link" href="#">What we do</a>
      </li>
    </ul>
    <form class="site-header__form">
      <div class="site-header__input-wrap">
        <input class="site-header__input" placeholder="Search" type="text" name="search" />
      </div>
      <div class="site-header__submit-wrap">
        <input class="site-header__submit" title="search" type="image" alt="Search" name="submit" src="https://wellcomecollection.org/sites/all/themes/col_base/images/search.svg" />
      </div>
    </form>
  </nav>
</header>
