{% for icon in icons %}
<div class="styleguide__icon">
  <p class="styleguide__icon__id">{{icon.icon}}</p>
  {% component "icon", {extraClasses: icon.extraClasses, icon: icon.icon, title: icon.title} %}
</div>
{% endfor %}
