<div class="grid grid--breakout">
    <div class="grid__cell">
        {% include "views/components/grid-placeholder/grid-placeholder.njk" %}
    </div> 
    <div class="grid__cell">
        {% include "views/components/grid-placeholder/grid-placeholder.njk" %}
    </div>  
    <div class="grid__cell">
        {% include "views/components/grid-placeholder/grid-placeholder.njk" %}
    </div>     
</div>
