<a
  href="#{{ model.elementId }}"
  class="scroll-to-info js-scroll-to-info plain-link flex--v-center flex--h-center flex btn btn--round {% for class in data.extraClasses %}{{ class }} {% endfor %}"
  data-track-event='{"category": "component", "action": "scroll-to-info:click", "label": "scrolled-to-id:{{ model.elementId }}"}'>
  {% icon 'chevron', 'scroll to more information', data.extraIconClasses %}
</a>

