<div class="social-media-block">
  <div class="row row--cream row--has-wobbly-background {{ {s:10, m:10, l:10} | spacingClasses({padding: ['top', 'bottom']}) }}">
    <div class="row__wobbly-background"></div>
    <div class="container">
      {% componentV2 'divider', null, {'dashed': true} %}
      <div class="social-media-block__platform">{% icon 'social/twitter' %}Follow us on Twitter</div>
      <a href="#" class="social-media-block__handle">@explorewellcome</a>
      <div class="grid {{ {s:10, m:10, l:10} | spacingClasses({padding: ['bottom']}) }}">
        {% for tweet in model.tweets %}
          <div class="{{ {s:4, m:4, l:6, xl:3} | gridClasses }}">
            {% component 'tweet', { tweet: tweet } %}
          </div>
        {% endfor %}
      </div>
      {% componentV2 'divider', null, {'dashed': true} %}
    </div>
  </div>
</div>
