/* TODO: use scss variables file */
html {
  font-family: Helvetica, Arial, sans-serif;
  color: #1d1d1d;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #088574 !important;
}

.Header {
  background-color: #ffce3c;
  color: #1d1d1d;
}

.Frame-panel--sidebar {
  background-color: #eeebe2;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

[dir="ltr"]  .Header-button {
  border-right-color: #1d1d1d;
}

.icon-fill svg {
  fill: #1d1d1d;
}
