<figure class="{{ 'captioned-image' | componentClasses(modifiers) }}">
  <div class="captioned-image__image-container">
  {% if data.positionInSeries and data.series.commissionedLength and data.series.color and data.contentType === 'article' %}
    {% componentV2 'image', model, {}, {lazyload: true, sizesQueries: data.sizesQueries, clipPathClass: 'promo__clip-path--chapters-third'} %}
    {% set chapterIndicatorModel = {
      position: data.positionInSeries,
      series: data.series
    } %}
    {% componentV2 'chapter-indicator', chapterIndicatorModel %}
  {% else %}
    {% componentV2 'image', model, {}, {lazyload: true, sizesQueries: data.sizesQueries} %}
  {% endif %}
  </div>
  {% block figcaption %}
    {% if model.caption %}
      <figcaption class="captioned-image__caption {{ {s:'LR3', m:'LR2'} | fontClasses }}">
        {% icon 'other/picture', {}, ['float-l', 'margin-right-s2', 'margin-right-m2', 'margin-right-l2', 'margin-right-xl2'] %}
        <div class="captioned-image__caption-text{{ ' js-truncate-text' if data.truncateCaption }}" tabindex="0">
          {% if data.slideNumbers %}
            <span class="captioned-image__number {{ {s:'HNM5'} | fontClasses }} {{ {s:2, m:2, l:2} | spacingClasses({padding: ['right']}) }}"
              aria-label="slide {{ data.slideNumbers.current }} of {{ data.slideNumbers.total }}">
              <span aria-hidden="true">{{ data.slideNumbers.current }}/{{ data.slideNumbers.total }}</span>
            </span>
          {% endif %}
          {{ model.caption | safe }}
        </div>
      </figcaption>
    {% endif %}
  {% endblock %}
</figure>
