<figure class="{{ 'captioned-image' | componentClasses(modifiers) }}">
  <div class="captioned-image__image-container">
    {% if data.positionInSeries and data.series.commissionedLength and data.series.color and data.contentType === 'article' %}
      {% componentV2 'image', model, {}, {lazyload: true, sizesQueries: data.sizesQueries, clipPathClass: 'promo__clip-path--chapters-third'} %}
      {% set chapterIndicatorModel = {
        position: data.positionInSeries,
        series: data.series
      } %}
      {% componentV2 'chapter-indicator', chapterIndicatorModel %}
    {% else %}
      {% componentV2 'image', model, {}, {lazyload: true, sizesQueries: data.sizesQueries} %}
    {% endif %}
    {% if ((model.title or model.source.name or model.copyright.name or model.license) and data.showCopyright) %}
      <div class="captioned-image__copyright-holder {% if modifiers.full %}captioned-image__copyright-holder--top{% else %}captioned-image__copyright-holder--bottom{% endif %} {{ {s:'HNM6', m:'HNM6', l:'HNM6'} | fontClasses }} drawer js-show-hide"
        data-track-action="toggle-image-credit",
        data-track-label="image:{{ model.contentUrl }}">
        {% if not modifiers.full %}
          <button class="plain-button js-show-hide-trigger">
            <span class="captioned-image__icon flex flex--v-center flex--h-center">
              {% icon 'actions/information', 'information', ['icon--white'] %}
            </span>
          </button>
        {% endif %}
        <div class="drawer__body js-show-hide-drawer bg-white {{ {s:1} | spacingClasses({padding: ['top', 'right', 'bottom', 'left']}) }}">
          {% set tasl = {
            title: model.title,
            author: model.author,
            sourceName: model.source.name,
            sourceLink: model.source.link,
            license: model.license,
            copyrightHolder: model.copyright.holder,
            copyrightLink: model.copyright.link
          } %}

          {{ tasl | getTaslMarkup | safe }}
        </div>
        {% if modifiers.full %}
          <button class="plain-button js-show-hide-trigger">
            <span class="captioned-image__icon flex flex--v-center flex--h-center">
              {% icon 'actions/information', 'information', ['icon--white'] %}
            </span>
          </button>
        {% endif %}
      </div>
    {% endif %}
  </div>
  {% block figcaption %}
    {% if model.caption %}
      <figcaption class="captioned-image__caption {{ {s:'LR3', m:'LR2'} | fontClasses }}">
        {% icon 'other/picture', {}, ['float-l', 'margin-right-s1'] %}
        <div class="captioned-image__caption-text{{ ' js-truncate-text' if data.truncateCaption }}" tabindex="0">
          {% if data.slideNumbers %}
            <span class="captioned-image__number {{ {s:'HNM5'} | fontClasses }} {{ {s:2} | spacingClasses({padding: ['right']}) }}"
              aria-label="slide {{ data.slideNumbers.current }} of {{ data.slideNumbers.total }}">
              <span aria-hidden="true">{{ data.slideNumbers.current }}/{{ data.slideNumbers.total }}</span>
            </span>
          {% endif %}
          {{ model.caption | safe }}
        </div>
      </figcaption>
    {% endif %}
  {% endblock %}
</figure>
