<figure class="{{ 'captioned-image' | componentClasses(modifiers) }}">
  <div class="captioned-image__image-container">
    {% if data.positionInSeries and data.series.commissionedLength and data.series.color and data.contentType === 'article' %}
      {% componentV2 'image', model, {}, {lazyload: true, sizesQueries: data.sizesQueries, clipPathClass: 'promo__clip-path--chapters-third'} %}
      {% set chapterIndicatorModel = {
        position: data.positionInSeries,
        series: data.series
      } %}
      {% componentV2 'chapter-indicator', chapterIndicatorModel %}
    {% else %}
        {% if model.isIiif %}
          {% componentV2 'image-iiif', model, {}, {lazyload: true, sizesQueries: data.sizesQueries} %}
        {% else %}
          {% componentV2 'image', model, {}, {lazyload: true, sizesQueries: data.sizesQueries} %}
        {% endif %}
    {% endif %}
    {% if (model.attribute and data.showCopyright) %}
      <div
        data-component-name="Image credit drawer"
        data-component-id="image-credit"
        data-track-click='{"imageUrl": "{{ model.contentUrl }}"}'
        class="captioned-image__copyright-holder {{ {s:'HNM6', m:'HNM6', l:'HNM6'} | fontClasses }} drawer js-show-hide">
        <button class="plain-button js-show-hide-trigger">
          <span class="captioned-image__icon flex flex--v-center flex--h-center">
            {% icon 'actions/information', 'information', ['icon--white', 'icon--2x'] %}
          </span>
        </button>
        <div class="drawer__body js-show-hide-drawer bg-white {{ {s:1} | spacingClasses({padding: ['top', 'right', 'bottom', 'left']}) }}">
          {{ model.attribute | getTaslMarkup | safe }}
        </div>
      </div>
    {% endif %}
  </div>
  {% block figcaption %}
    {% if model.caption %}
      <figcaption class="captioned-image__caption {{ {s:'LR3', m:'LR2'} | fontClasses }}">
        {% icon 'other/picture', {}, ['float-l', 'margin-right-s2', 'margin-right-m2', 'margin-right-l2', 'margin-right-xl2'] %}
        <div class="captioned-image__caption-text{{ ' js-truncate-text' if data.truncateCaption }}" tabindex="0">
          {% if data.slideNumbers %}
            <span class="captioned-image__number {{ {s:'HNM5'} | fontClasses }} {{ {s:2} | spacingClasses({padding: ['right']}) }}"
              aria-label="slide {{ data.slideNumbers.current }} of {{ data.slideNumbers.total }}">
              <span aria-hidden="true">{{ data.slideNumbers.current }}/{{ data.slideNumbers.total }}</span>
            </span>
          {% endif %}
          {{ model.caption | safe }}
        </div>
      </figcaption>
    {% endif %}
  {% endblock %}
</figure>
