<figure class="{{ 'captioned-image' | componentClasses(modifiers) }}">
  <div class="captioned-image__image-container">
  {% componentV2 'image', model, {}, {lazyload: true, sizesQueries: data.sizesQueries} %}
  {% if data.positionInSeries and data.series.commissionedLength and data.series.color and data.contentType === 'article' %}
    {% componentV2 'image', model, {}, {clipMask: true, lazyload: true, sizesQueries: data.sizesQueries} %}
    {% set chapterIndicatorModel = {
      position: data.positionInSeries,
      series: data.series
    } %}
    {% componentV2 'chapter-indicator', chapterIndicatorModel %}
  {% endif %}
  </div>
  {% block figcaption %}
    {# TODO: separate licensing info from the fact that the content type is 'comic' #}
    {% if data.contentType === 'comic' %}
      <figcaption class="captioned-image__caption">
        {% icon 'other/cc_logo' %}
        {% icon 'other/cc_non_commercial' %}
        {% icon 'other/cc_attribution' %}
        <div class="captioned-image__caption-text" tabindex="0">
          <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC-BY-NC 4.0</a>
          {{ model.caption | safe }}
        </div>
      </figcaption>
    {% elif model.caption %}
      <figcaption class="captioned-image__caption">
        {% icon 'other/picture' %}

        <div class="captioned-image__caption-text" tabindex="0">
          {% if data.slideNumbers %}
            <span class="captioned-image__number {{ {s:2, m:2, l:2} | spacingClasses({padding: ['right']}) }}"
              aria-label="slide {{ data.slideNumbers.current }} of {{ data.slideNumbers.total }}">
              <span aria-hidden="true">{{ data.slideNumbers.current }}/{{ data.slideNumbers.total }}</span>
            </span>
          {% endif %}
          {{ model.caption | safe }}
        </div>
      </figcaption>
    {% else %}
      <div class="captioned-image__underline"></div>
    {% endif %}
  {% endblock %}
</figure>
