<figure class="{{ 'captioned-image' | componentClasses(modifiers) }}">
  <div class="captioned-image__image-container">
  {% set sizes = model | getImageSizesFor %}
  {% set comma = joiner() %}
  <img class="image lazyload"
        src="{{ model.contentUrl }}?w={{ sizes[0] }}"
        data-srcset="
        {%- for size in sizes -%}
          {{ comma() }}{{ model.contentUrl }}?w={{ size }} {{ size }}w
        {%- endfor %}"
        {% if data.sizesQueries %}
          sizes="{{ data.sizesQueries }}"
        {% endif %}
        alt="{{ model.caption | striptags() }}" />
  </div>

  {% block figcaption %}
    {% if model.caption %}
      <figcaption class="captioned-image__caption">
        <div class="flex">
          <div>{% icon 'other/picture' %}</div>
          <div>{{ model.caption }}</div>
        </div>
      </figcaption>
    {% else %}
      <div class="captioned-image__underline"></div>
    {% endif %}
  {% endblock %}
</figure>
