<div class="author">
  <img class="author__image" src="{{ image.url }}" alt="{{ image.alt if image.alt }}" />
  <div class="author__copy">
    <span class="author__name">{{ name }}</span>
    {% if twitterHandle %}
      <span class="author__twitter"><a href="https://twitter.com/{{ twitterHandle }}" class="author__link">{% icon 'social/twitter' %} @{{ twitterHandle }}</a></span>
    {% endif %}
  </div>
</div>
