{% set iconClasses = ['icon--2x', 'v-align-middle'] %}

<span class="{{ {s:'LR2'} | fontClasses }}"{% if model.subject %} about="{{model.subject}}{% endif %}">
  {% set licenseInfo = model.licenseType | getLicenseInfo %}

  <{{ 'a' if licenseInfo.url else 'span' }}
    class="plain-link {{ {s:'LR2'} | fontClasses }}"
    {% if licenseInfo.url %}
      rel="license"
      href="{{ licenseInfo.url }}"
    {% endif %}>
    {% for icon in licenseInfo.icons %}
      {% icon 'other/' + icon, null, iconClasses %}
    {% endfor %}
    <span class="{{ 'link-underline' if licenseInfo.url }}">{{ licenseInfo.text }}</a>
  </{{ 'a' if licenseInfo.url else 'span' }}>
</span>
