<div class="wobbly-edge wobbly-edge--{{ background }} js-wobbly-edge"
  {% if intensity %}data-max-intensity="{{ intensity }}"{% endif %}
  {% if points %}data-number-of-points="{{ points }}"{% endif %}>
</div>
