{% extends 'layout/default.njk' %}

{% set metaContent = {
  type: 'website',
  title: 'Exhibitions',
  image: temporaryExhibitions[0].image.contentUrl,
  url: pageConfig.canonicalUri,
  description: 'Explore the connections between science, medicine, life and art through our permanent and temporary exhibitions. Admission is always free.'
} %}

{% block pageMeta %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}
  <meta name="description" content="{{ metaContent.description }}" />
{% endblock %}

{% block body %}
   <script type="application/ld+json">
    [{% for exhibition in paginatedExhibitions.results %}
      {% set featuredImage = {contentUrl: exhibition.image.contentUrl} %}
      {% set exhib = exhibition | objectAssign({safeDescription: exhibition.description | safe | striptags, featuredImage: featuredImage}) %}
      {{ exhib | jsonLd('exhibitionLd') | safe }}{{ ',' if not loop.last }}
    {% endfor %}]
  </script>

  {% componentV2 'list-header', {name: 'Exhibitions', description: metaContent.description, total: paginatedExhibitions.results.length} %}

  {% if paginatedExhibitions.pagination.pageCount > 1  %}
    <div class="css-grid__container">
      <div class="css-grid">
        <div class="{{ {s:12, m:12, l:12, xl:12} | cssGridClasses }}">
          <div class="{{ {s:5, m:5, l:5} | spacingClasses({padding: ['top']}) }}  {{ {s:5, m:5, l:5} | spacingClasses({padding: ['bottom']}) }} flex flex--v-center font-pewter {{ {s:'LR3', m:'LR2'} | fontClasses }}">
            {{ paginatedExhibitions.pagination.range.beginning }} - {{ paginatedExhibitions.pagination.range.end }}
          </div>
          {% componentV2 'divider', null, {'keyline': true, 'pumice': true} %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="css-grid__container {{ {s:4} | spacingClasses({padding: ['top']}) }} ">
    <div class="css-grid">
        <div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }}">
          <div class="flex-inline flex--v-center">
            {% icon 'ticket', null, [''] %}
            <span class="{{ {s:1} | spacingClasses({padding: ['left', 'right']}) }} {{ {s:'HNM5', m:'HNM4'} | fontClasses }}">FREE</span>
          </div>
        </div>
        {% for exhibition in paginatedExhibitions.results %}
          <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
            {% componentV2 'exhibition-promo', exhibition, {}, {sizes: '(min-width: 1420px) 386px, (min-width: 960px) calc(28.64vw - 15px), (min-width: 600px) calc(50vw - 54px), calc(100vw - 36px)' } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="css-grid__container  {{ {s:2, m:2, l:2} | spacingClasses({padding: ['top']}) }} {{ {s:3, m:3, l:3} | spacingClasses({padding: ['bottom']}) }} ">
    <div class="css-grid">
      {% if paginatedExhibitions.pagination.pageCount > 1  %}
        <div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }} text-align-right">
          {% componentV2 'pagination', paginatedExhibitions.pagination %}
        </div>
      {% endif %}
      {% if paginatedExhibitions.currentPage === paginatedExhibitions.totalPages %}
        <div class="{{ {s: 12, m: 12, l: 12, xl: 12} | cssGridClasses }} {{ {s:4} | spacingClasses({margin: ['top']}) }} text-align-right">
          {% componentV2 'more-info-link', {name: 'Past exhibitions', url: '/exhibitions/past'} %}
        </div>
      {% endif %}
    </div>
  </div>


{% endblock %}
