<figure class="{{- [
  {s:0} | spacingClasses({margin: ['top', 'left', 'right' ]}),
  {s:3} | spacingClasses({margin: ['bottom']})
  ].join(' ') }} js-gif-video gif-video">
  <div class="gif-video__inner relative">
    <video class="gif-video__video block js-gif-video__video"
      poster="{{ model.posterFrameUrl }}" >
      <source src="{{ model.videoUrl }}" type="video/mp4">
      {# Fallback to poster frame #}
      {% componentV2 'image', model.posterFrame %}
    </video>
    <button class="gif-video__play-pause absolute js-gif-video__play-pause"
      type="button"
      tabindex="0"
      data-track-label="{{ model.videoUrl }}">
      <span class="{{ {s:'LR3'} | fontClasses }} js-gif-video__text gif-video__text"></span>
    </button>
    {% componentV2 'tasl', model.posterFrame %}
  </div>
  {% if model.caption %}
    <figcaption class="gif-video__caption border-bottom-width-1 border-color-pumice {{ {s:'LR3', m:'LR2'} | fontClasses }} {{ {s:3} | spacingClasses({padding: ['top', 'bottom']}) }} ">
      {% icon 'image',  null, ['margin-right-s1', 'float-l'] %}{{ model.caption | safe }}
    </figcaption>
  {% endif %}
</figure>
