<figure class="js-gif-video gif-video {{ {s:3} | spacingClasses({margin: ['bottom']}) }}">
  <div class="gif-video__inner">
    <video class="gif-video__video js-gif-video__video"
      poster="{{ model.posterFrameUrl }}" >
      <source src="{{ model.movieFileUrl }}" type="video/mp4">
      {# Fallback to poster frame #}
      <img src="{{ model.posterFrameUrl }}" alt="{{ model.caption | safe | striptags }}" />
    </video>
    <button class="gif-video__play-pause js-gif-video__play-pause" type="button" tabindex="0">
      <span class="gif-video__play">{% icon 'play' %}</span>
      <span class="gif-video__pause"></span>
      <span class="gif-video__button-text">play/pause</span>
    </button>
  </div>
  {% if model.caption %}
    <figcaption class="gif-video__caption {{ {s:'LR3', m:'LR2'} | fontClasses }} {{ {s:3} | spacingClasses({padding: ['top', 'bottom']}) }} ">
      {% icon 'image',  null, ['margin-right-s1'] %}{{ model.caption | safe }}
    </figcaption>
  {% endif %}
</figure>
