<h2 class="styleguide__item-heading">Components</h2>

{{#each components as |component|}}
  <section class="styleguide__section">
    <h3 class="styleguide__item-subheading" id="{{component.key}}">
      <a href="/components/{{ component.key }}">{{ component.name }}</a>
    </h3>
    {{{ renderComponent component.key default=true }}}
  </section>
{{/each}}
