<h2 class="styleguide__item-heading">Layouts</h2>
<section class="styleguide__section">
  <h3 class="styleguide__item-subheading">Layout number one</h3>
  {{{ renderComponent 'sample_component' heading="A layout" }}}
</section>

<h2 class="styleguide__item-heading">Grids</h2>
<section class="styleguide__section">
  <h3 class="styleguide__item-subheading">Grid number one</h3>
  {{{ renderComponent 'sample_component' heading="A grid" }}}
</section>
