<a href="#top"
   class="back-to-top icon-rounder bg-black border-color-silver js-back-to-top flex flex--v-center flex--h-center"
   data-track-event='{"category": "component", "action": "back-to-top:click", "label": "url:{{ data.trackId }}"}'>
  <span class="back-to-top__text">back to top</span>
  {% icon 'actions/chevron', null, ['icon--180', 'icon--white'] %}
</a>
