{% set hasLink = model.url %}
<div class="test">
<{{'a' if hasLink else 'div'}}
class="book-promo"
{% if hasLink %} href="{{model.url}}"{% endif %}>
  <div class="book-promo__image-container {{ {s:4} | spacingClasses({padding: ['top', 'left']}) }}">
    {% componentV2 'image', model.image, {}, {lazyload: true} %}
  </div>
  <div class="book-promo__text-container {{ {s:4} | spacingClasses({padding: ['top', 'right', 'bottom', 'left']}) }}">
    {% if data.index and data.total %}
      <p class="book-promo__item-number {{ {s:'HNM4'} | fontClasses }} {{ {s:0} | spacingClasses({margin: ['top', 'bottom']}) }}">{{data.index}}/{{data.total}}</p>
    {% endif %}
    <h3 class="{{ {s:'HNM3'} | fontClasses }} {{ {s:0} | spacingClasses({margin: ['top', 'bottom']}) }}">{{model.title}}</h3>
    <h4 class="{{ {s:'HNM4'} | fontClasses }} {{ {s:0} | spacingClasses({margin: ['top', 'bottom']}) }}">{{model.subTitle}}</h4>
    <p class="{{ {s:'HNL4'} | fontClasses }} {{ {s:2} | spacingClasses({margin: ['top']}) }} {{ {s:0} | spacingClasses({margin: ['bottom']}) }}">{{model.description}}</p>
  </div>
</{{'a' if hasLink else 'div'}}>
</div>
