<div class="grid__cell">
  <div class="sample-component">
    <h2 class="sample-component__heading">Sample component</h2>
    <p>{{ text }}</p>
    {% include "grid/_placeholder/placeholder.njk" %}
  </div>
</div>
