{% extends "layout/default.njk" %}

{% block body %}
<h1>Explore</h1>
<ul>
  <li>
    <a href="/node/1094">John Thomson's China (article)</a>
  </li>
  <li>
    <a href="/node/959">A fly on sugar crystals (audio)</a>
  </li>
  <li>
    <a href="/node/1143">David Cotterrell on Afghanistan (video)</a>
  </li>
  <li>
    <a href="/node/1833">AIDS Posters (image gallery)</a>
  </li>
</ul>
{% endblock %}



