{% extends "layout/default.njk" %}

{% block body %}
<h1>Explore</h1>
<ul>
  <li>
    <a href="/article/john-thomsons-china">John Thomson's China (article)</a>
  </li>
  <li>
    <a href="/article/fly-sugar-crystals">A fly on sugar crystals (audio)</a>
  </li>
  <li>
    <a href="/article/david-cotterrell-afghanistan">David Cotterrell on Afghanistan (video)</a>
  </li>
  <li>
    <a href="/article/aids-posters-0">AIDS Posters (image gallery)</a>
  </li>
</ul>
{% endblock %}



