<div aria-label="part {{ model.position }} of {{ model.series.total }}" class="chapter-indicator chapter-indicator--{{ model.series.color }} {% for modifier in modifiers %}chapter-indicator--{{ modifier }} {% endfor %}">
  {% for chapter in range(0, model.series.total) %}
    <div class="chapter-indicator__bar {{ 'chapter-indicator__bar--filled' if loop.index <= model.position }}">
      <img class="chapter-indicator__image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" />
      <div class="chapter-indicator__shim"></div>
    </div>
  {% endfor %}
</div>
