{% set colorDataUris = {
  white:'P///wAAACH5BAAAAAAALAAAAAABAAQAAAIChFEAOw==',
  red: 'P9DVQAAACH5BAAAAAAALAAAAAABAAQAAAIChFEAOw==',
  purple: 'LZ7wgAAACH5BAAAAAAALAAAAAABAAQAAAIChFEAOw==',
  turquoise: 'Fy4vwAAACH5BAAAAAAALAAAAAABAAQAAAIChFEAOw==',
  orange: 'Oh1AAAAACH5BAAAAAAALAAAAAABAAQAAAIChFEAOw=='
} %}
<div aria-label="part {{ model.position }} of {{ model.series.commissionedLength }}" class="chapter-indicator chapter-indicator--{{ model.series.color }} {{ 'chapter-indicator' | componentClasses(modifiers) if modifiers }}">

  {% for chapter in range(0, 1 if data.showSingle else model.series.commissionedLength) %}
    <img class="chapter-indicator__bar {{ 'chapter-indicator__bar--filled' if loop.index <= model.position or data.showTotal }}" src="data:image/gif;base64,R0lGODlhAQAEAIAAA{{ colorDataUris[model.series.color] if loop.index <= model.position or data.showTotal else colorDataUris.white }}" alt="" />
  {% endfor %}
</div>
