{% extends "layout/default.njk" %}

{% set gridCellClasses = 'grid__cell grid__cell--xl6 grid__cell--shift-xl1 grid__cell--l7 grid__cell--m6 grid__cell--shift-m1 grid__cell--s4' %}

{% block body %}
<div class="row row--lead row--lead--l">
  <div class="container">
    <div class="grid">
      <div class="grid__cell grid__cell--shift-l1">
        {% component 'page-description', {title: article.headline, modifiers: ['a']} %}
      </div>
    </div>
  </div>
</div>
{% for media in article.mainMedia %}
  {% if media.weighting == 'leading' %}
    {% component "media-item", { media: media } %}
  {% endif %}
{% endfor %}

<div class="row row--cream">
  <div class="container">
    <div class="grid">
      <div class="{{ gridCellClasses }}">
        {% component 'author', {
          name: article.author.name,
          twitterHandle: author.twitterHandle,
          image: article.author.image
        } %}
      </div>
    </div>
  </div>
  {% block articleBody %}
    <div class="body-content">
      {% for bodyPart in article.articleBody | parseBody %}
          {% if bodyPart.type === 'picture' %}
            <div class="container">
              <div class="grid">
                <div class="{{ gridCellClasses }}">
                  {% component 'figure', {
                    type: 'picture',
                    sources: [{src: bodyPart.value.contentUrl, size: bodyPart.value.width}],
                    caption: bodyPart.value.caption,
                    icon: 'other/picture'
                  } %}
                </div>
              </div>
            </div>
          {% elif bodyPart.type === 'video' %}
            <div class="container">
              <div class="grid">
                <div class="{{ gridCellClasses }}">
                  {% component 'iframed-video', {video: bodyPart.value} %}
                </div>
              </div>
            </div>
          {% elif bodyPart.type === 'list' %}
            <div class="container">
              <div class="grid">
                <div class="{{ gridCellClasses }}">
                  {% component 'list', {list: bodyPart.value} %}
                </div>
              </div>
            </div>
          {% elif bodyPart.type === 'imageGallery' %}
            <div class="container">
              <div class="grid">
                <div class="grid__cell grid__cell--l12 grid__cell--m8, grid__cell--s4">
                  {% component 'image-gallery', { imageGallery: bodyPart.value } %}
                </div>
              </div>
            </div>
          {% else %}
            <div class="container">
              <div class="grid">
                <div class="{{ gridCellClasses }}">
                    {% if loop.index === 1 %}
                      <div class="standfirst">
                        {{bodyPart.value | safe}}
                      </div>
                    {% else %}
                      {{bodyPart.value | safe}}
                    {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        {% if loop.last %}
          <div class="container">
            <div class="grid">
              <div class="{{ gridCellClasses }}">
                <hr class="body-content__hr" />
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endblock %}

  {% if article.tags.length > 0 %}
    <div class="container">
      <div class="grid">
        <div class="{{ gridCellClasses }}">
          {% component 'tags', { tags: article.tags } %}
        </div>
      </div>
    </div>
  {% endif %}

</div>
{% endblock %}
