{% extends 'layout/default.njk' %}

{% block body %}
  <div class="row row--cream">
    <div class="container">
      {% component 'page-description', {
        title: 'All articles',
        modifiers: ['a'],
        meta: {
          value: total + ' articles',
          type: 'count'
        }
      } %}
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="grid">
        {% for promo in promos.toJS() %}
          <div class="{{ {s:4, m:4, l:3, xl:3} | gridClasses }}">
            {% component 'promo', { promo: promo } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
