{% extends 'layout/default.njk' %}
{% set gridCellClasses = 'grid__cell grid__cell--xl6 grid__cell--shift-xl1 grid__cell--l7 grid__cell--m6 grid__cell--shift-m1 grid__cell--s4' %}

{% block pageMeta %}
  {% component 'open-graph', { pageConfig: pageConfig, article: article } %}
  {% component 'twitter-card', { pageConfig: pageConfig, article: article } %}
{% endblock %}

{% block body %}
{% if article.series[0] and article.series[0].commissionedLength %}
  {% set asyncContentEndpoint = '/series-nav/' + article.series[0].url + '?current=' + article.url %}
  {% component 'async', { endpoint: asyncContentEndpoint, placeholderClassname: 'series-nav-placeholder' } %}
{% endif %}
{% componentV2 'page-description', {title: article.headline, meta: {type: 'date', value: article.datePublished}, lead: true}, {'a': true}, {icon: article.contentType | getIconForContentType} %}


{% for media in article.mainMedia %}
  {% set seriesData = {
    positionInSeries: article.positionInSeries,
    series: article.series
  } %}
  {% componentV2 'main-media', media, {'full': true}, seriesData %}
{% endfor %}

<div class="row row--cream {{ {s:10, m:10, l:10} | spacingClasses({padding: ['top', 'bottom']}) }} ">
  <div class="container">
    <div class="grid grid--no-gutters">
      <div class="grid__cell grid__cell--s4 grid__cell--m6 grid__cell--shift-m1 grid__cell--l7 grid__cell--xl6 grid__cell--shift-xl1">
        {% if article.author %}
          {% component 'author', {
            name: article.author.name,
            twitterHandle: article.author.twitterHandle,
            modifiers: ['border-bottom'],
            image: article.author.image
          } %}

        {% endif %}

        <div class="article">
          {% block articleBody %}
            {% component 'article-body', { articleBody: article.bodyParts } %}
          {% endblock %}

          {% if article.author %}
            {% component 'author', {
              name: article.author.name,
              twitterHandle: article.author.twitterHandle,
              modifiers: ['border-left'],
              description: article.author.description,
              image: article.author.image
            } %}
          {% endif %}

          <hr class="divider divider--stub divider--black {{ {s:4, m:4, l:4} | spacingClasses({margin: ['top']}) }} {{ {s:1, m:1, l:1} | spacingClasses({margin: ['bottom']}) }}" />

          {% if article.tags.length > 0 %}
            {% component 'tags', { tags: article.tags } %}
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</div>

{% block transporters %}{% endblock %}
{% endblock %}
