{% extends 'layout/default.njk' %}

{% block pageMeta %}
  {% set metaContent = {
    type: 'article',
    title: article.headline,
    image: article.thumbnail.contentUrl,
    url: pageConfig.canonicalUri,
    description: article.description
  } %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}
  <meta name="description" content="{{ article.description | safe | striptags }}" />
{% endblock %}

{% block body %}

  <script type="application/ld+json">
    {{ article | jsonLd('contentLd') | safe }}
  </script>

  <article>
    {% componentV2 'page-description', {
      intro: seriesTitle,
      title: article.headline,
      meta: {type: 'date', value: article.datePublished},
      lead: true
    }, {icon: article.contentType | getIconForContentType} %}

    <div class="row bg-cream {{ {s:3} | spacingClasses({padding: ['top']}) }} {{ {s:8} | spacingClasses({padding: ['bottom']}) }} ">
      <div class="container">
        <div class="grid grid--no-gutters">
          <div class="{{ {s: 12, m: 10, shiftM: 1, l: 10, shiftL: 1, xl: 10, shiftXL: 1} | gridClasses }}">
            <div>
              {% block articleBody %}
                {% component 'basic-body', {articleBody: article.bodyParts, contentType: article.contentType} %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

{% endblock %}
