{% extends 'layout/default.njk' %}

{% block pageMeta %}
  {% component 'open-graph', { pageConfig: pageConfig, article: event } %}
  {% component 'twitter-card', { pageConfig: pageConfig, article: event } %}
  <meta name="description" content="{{ event.description | safe | striptags }}" />
{% endblock %}

{% block body %}
<script type="application/ld+json">
  {{ event | jsonLd('contentLd') | safe }}
</script>
<style>

</style>
<article itemscope itemtype="http://schema.org/Event">
  <div class="row {{{s: 4} | spacingClasses({ padding: ['left', 'right', 'top'] })}}">
    <div class="container">
      <div class="rounded-container">
        {% if event.featuredMedia %}
          {% componentV2 'image', event.featuredMedia, {lazyload: true} %}
        {% endif %}
      </div>
    </div>
  </div>
  {# {% componentV2 'page-description', {
      title: event.title,
      lead: true
    },
    { icon: event.contentType | getIconForContentType }
  %}
  <pre>
    {{event | prettyDump | safe}}
  </pre> #}
</article>
{% endblock %}
