{% extends 'layout/default.njk' %}

{% block pageMeta %}
  {% set metaContent = {
    type: 'website',
    title: event.title,
    image: event.featuredImage and event.featuredImage.contentUrl,
    url: pageConfig.canonicalUri
  } %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}
  <meta name="description" content="{{ event.description | safe | striptags }}" />
{% endblock %}

{% block body %}
<script type="application/ld+json">
  {{ event | jsonLd('eventLd') | safe }}
</script>

<article>
  <div class="row relative">

    <div class="flush-container-left absolute {{ {s:2} | spacingClasses({margin: ['top', 'bottom']}) }}">
      {% componentV2 'tags', tags %}
    </div>


    <div class="exhibition-hero exhibition-hero--restrict-width">

      <div class="exhibition-hero__copy {{ {l:10} | spacingClasses({margin: ['bottom']}) }}">
        <div class="container {{ {l:0} | spacingClasses({padding: ['left']}) }}">
          <div class="grid">
            <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
              <div class="bg-white inline-block exhibition-hero__box {{ {l:4} | spacingClasses({'padding': ['right', 'left']}) }} {{ {s:4} | spacingClasses({'padding': ['top', 'bottom']}) }} rounded-diagonal">
                <div class="flex flex--v-center flex--h-space-between {{ {s:'HNM4'} | fontClasses }}">
                  <span class="flex flex--v-center">
                    <div>{{ event.format.title }}</div>
                  </span>
                  <span>
                    {% if (event.accessOptions.size !== 0) %}
                      <div class="{{ {s:'HNL4', m:'HNL5', l:'HNL3', xl:'HNL2'} | fontClasses }}">
                        {% for accessOption in event.accessOptions %}
                          <div class="flex">
                            <div class="{{ {s:1} | spacingClasses({margin:['right']}) }}">{% icon 'a11y/' + (accessOption.accessOption.acronym | lower), accessOption.accessOption.title %}</div>
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </span>
                </div>


                <h1 class="{{ {s:'WB5', m:'WB4', xl:'WB3'} | fontClasses }} {{ {s: 0} | spacingClasses({margin:['bottom', 'top']}) }}">{{ event.title }}</h1>

                <div class="flex flex--v-center {{ {s: 2} | spacingClasses({margin: ['top']}) }}">
                  {% icon 'other/ticket' %}
                  <span class="{{ {s:'HNM4', m:'HNM3', xl:'HNM2'} | fontClasses }} {{ {s: 2} | spacingClasses({margin: ['left']}) }} {{ {s: 6} | spacingClasses({margin: ['right']}) }}">
                    <span class="caps">Free</span>
                    {{ ' / Drop in' if event.isDropIn }}
                    {{ ' / Booking in advance' if event.bookingEnquiryTeam }}
                  </span>
                </div>

                <span class="flex {{ {s:'HNM4', m:'HNM3', xl:'HNM2'} | fontClasses }} {{ {s: 2} | spacingClasses({margin: ['top']}) }}">
                  <div>
                    {% icon 'other/calendar' %}
                  </div>
                  <div class="{{ {s: 2} | spacingClasses({margin: ['left']}) }} {{ {s: 6} | spacingClasses({margin: ['right']}) }}">
                    {% for dateRange in event.times %}
                      {% set formattedDateRange = dateRange.start | formatAndDedupeOnDate(dateRange.end) %}
                      <div>
                        <time>
                          {{ formattedDateRange | joinDateStrings }}
                        </time>

                        {% if (formattedDateRange.size === 1) %}
                          <div class="{{ {s:'HNL4', m:'HNL3', xl:'HNL2'} | fontClasses }}">
                            <time>{{ dateRange.start | formatAndDedupeOnTime(dateRange.end) | joinDateStrings }}</time>
                          </div>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row {{ {l:5} | spacingClasses({margin: ['top']}) }}">
    <div class="container">
      <div class="grid">

        <div class="{{ {s:12, m:10, shiftM:1, l:7, xl:7} | gridClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
          {% if event.intro %}
            {% component 'standfirst', {body: event.intro | safe} %}
          {% endif %}
          {{ event.description | safe }}
        </div>


        <div class="{{ {s:12, m:10, shiftM:1, l:5, xl:5} | gridClasses }}">
          {% if event.bookingEnquiryTeam %}
            <hr class="divider divider--keyline divider--pumice is-hidden-l is-hidden-xl {{ {s:2} | spacingClasses({margin: ['bottom']}) }}" />
            {% set team = event.bookingEnquiryTeam %}

            <div>
              <a class="btn btn--full-width-s font-HNM5-s" href="mailto:{{team.email}}?subject=Booking for {{ event.title }}">{% icon 'other/ticket', null, ['icon--teal'] %}Email to book</a>
              <p class="{{ {s:2} | spacingClasses({margin: ['top']}) }} {{{s:'HNL4'} | fontClasses}}">
                Email <a href="mailto:{{team.email}}?subject=Booking for {{ event.title }}">{{ team.email }}</a>
                or call {{ team.phone }}
              </p>
              <p class="{{ {s:2} | spacingClasses({margin: ['top']}) }} {{{s:'HNL4'} | fontClasses}}">Places are free but limited.</p>
            </div>

            {% if event.bookingEnquiryTeam.url %}
              <div class="{{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
                {% componentV2 'more-info-link', {name: 'Find out more about ' + (event.bookingEnquiryTeam.title | lower), url: event.bookingEnquiryTeam.url} %}
              </div>
            {% endif %}
          {% endif %}

          {% if event.bookingInformation %}
            <hr class="divider divider--keyline divider--pumice {{ {s:2} | spacingClasses({margin: ['bottom']}) }}" />
            <h2 class="{{ {s:'HNM4'} | fontClasses }} {{ {s:3} | spacingClasses({margin: ['bottom']}) }}">Booking information</h2>
            <div class="{{ {s:'HNL4'} | fontClasses}}">
              {{ event.bookingInformation | safe }}
            </div>
          {% endif %}
        </div>


        {% if event.contributors.size !== 0 %}
          <div class="{{ {s:12} | gridClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
            <hr class="divider divider--keyline divider--pumice {{ {s:2} | spacingClasses({margin: ['bottom']}) }}" />

            <h2 class="{{ {s:'WB5', l:'WB4', xl:'WB3'} | fontClasses }}  {{ {s:3} | spacingClasses({margin: ['bottom']}) }}">The team</h2>
            <div class="grid">
              {% for contributor in event.contributors %}
                <div class="{{ {s:12, l:6} | gridClasses }}">
                  <div class="bg-cream rounded-diagonal half-in-image-container {{ {s:2} | spacingClasses({padding: ['top', 'bottom', 'left', 'right']}) }}">
                    <img class="round half-in-image person-image" src="{{ contributor.person.image | convertImageUri(300) }}" alt="" />
                    <div class="{{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
                      <h3 class="{{ {s:'HNM3'} | fontClasses }} no-margin">{{ contributor.person.name }}</h3>
                      <span class="{{ {s:'HNL4'} | fontClasses }}">{{ contributor.role.title }}</span>
                    </div>
                    <div class="{{ {s: 'HNL4'} | fontClasses }}">
                      {{ contributor.person.description | safe }}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>

</article>
{% endblock %}

