{% extends 'layout/default.njk' %}

{% block pageMeta %}
  {% set metaContent = {
    type: 'website',
    title: exhibition.title,
    image: exhibition.featuredImage.contentUrl,
    url: pageConfig.canonicalUri
  } %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}
  {# <meta name="description" content="{{ exhibition.description | safe | striptags }}" /> #}
{% endblock %}

{% block body %}
<script type="application/ld+json">
  {{ exhibition | jsonLd('contentLd') | safe }}
</script>

<article itemscope itemtype="http://schema.org/ExhibitionEvent">
  <div class="row relative">
    {# TODO: Tags will probably need to be passed in from the model. Just hard-coding a link to all exhibitions (fair to assume that should be on every exhibition page) for now  #}
    {% set tags = {
      id: 'exhibition-tags',
      tags: [{
        text: 'exhibition',
        url: '/whats-on/exhibitions/all-exhibitions'
      }]
    } %}

    <div class="flush-container-left absolute {{ {s:2} | spacingClasses({margin: ['top']}) }}">
      {% componentV2 'tags', tags %}
    </div>

    <div class="exhibition-hero">
      {% componentV2 'picture', {images: exhibition.featuredImages}, {}, {'lazyload': true, extraClasses: ['exhibition-hero__picture']} %}

      <div class="exhibition-hero__copy">
        <div class="is-hidden-m is-hidden-l is-hidden-xl">
          {% component 'wobbly-edge', {background: 'white'} %}
        </div>
        <div class="container {{ {m:0} | spacingClasses({padding: ['left']}) }}">
          <div class="grid">
            <div class="{{ {s:12} | gridClasses }}">

              <div class="bg-white inline-block {{ {m:4} | spacingClasses({'padding': ['right', 'left']}) }} {{ {s:4} | spacingClasses({'padding': ['top', 'bottom']}) }}">
                <div class="flex flex--v-center font-elf-green {{ {s:'HNM4', m:'HNM5', l:'HNM4'} | fontClasses }}">
                  {% icon 'other/ticket', null, ['icon--2x', 'icon--teal'] %}
                  <strong class="caps {{ {s: 2} | spacingClasses({margin: ['left']}) }} {{ {s: 6} | spacingClasses({margin: ['right']}) }}">Free</strong>
                  <strong>{{ {start: exhibition.start, end: exhibition.end} | formatDateRangeWithMessage }}</strong>
                </div>
                <h1 class="{{ {s:'WB4', m:'WB5', l:'WB4', xl:'WB3'} | fontClasses }}">{{ exhibition.title }}</h1>
                <span class="{{ {s:'HNM4', m:'HNM5', l:'HNM3'} | fontClasses }}">
                  <time datetime="{{ exhibition.start }}">{{ exhibition.start | formatDate }}</time> &ndash; <time datetime="{{ exhibition.end }}">{{ exhibition.end | formatDate }}</time>
                </span>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>


    {# {% componentV2 'image', exhibition.featuredImage, {}, {lazyload: true} %} #}
    <div class="is-hidden-s">
      {% component 'wobbly-edge', {background: 'white'} %}
    </div>
  </div>

  <div class="row {{ {s:10} | spacingClasses({padding: ['bottom']}) }} {{ {s:5} | spacingClasses({padding: ['top']}) }}">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:12, m:10, shiftM:1, l:7, xl:7} | gridClasses }} {{ {s:'HNL3', m:'HNL2'} | fontClasses}} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
          {% block exhibitionDescription %}
            {{ exhibition.text.value | safe }}
          {% endblock %}
        </div>
        <div class="{{ {s:12, m:10, shiftM:1, l:5, xl:5} | gridClasses }}">
          <div class="drawer js-show-hide"
            data-track-action="opening-times-drawer">
            <button class="plain-button no-padding pointer js-show-hide-trigger font-elf-green {{ {s:4} | spacingClasses({margin: ['bottom']}) }} {{ {s:'HNM5'} | fontClasses }}">{% icon 'actions/more-2', null, ['icon--elf-green'] %}Opening times</button>
            <div class="drawer__body js-show-hide-drawer">
              {% componentV2 'opening-hours', {places: pageConfig.openingHours, id: 'exhibition-page'}, {'light': true, 'compressed': true} %}
            </div>
          </div>
          <hr class="divider divider--keyline divider--pumice {{ {s:2} | spacingClasses({margin: ['bottom']}) }}" />
          {% block accessStatements %}
            <h2 class="{{ {s:'HNM4'} | fontClasses }}">Accessibility information</h2>
            {% if exhibition.galleryLevel %}
              <div class="flex {{ {s:1} | spacingClasses({margin: ['top', 'bottom']}) }} {{ {s:'HNL4'} | fontClasses}}">
                <div class="{{ {s:1} | spacingClasses({margin:['right']}) }}">{% icon 'a11y/lifts' %}</div>
                <p class="no-margin">This exhibition is on level {{ exhibition.galleryLevel }}</p>
              </div>
            {% endif %}
            <div class="flex {{ {s:1} | spacingClasses({margin: ['top', 'bottom']}) }} {{ {s:'HNL4'} | fontClasses}}">
              <div class="{{ {s:1} | spacingClasses({margin:['right']}) }}">{% icon 'a11y/a11y' %}</div>
              <p class="no-margin">Step-free access is available to all floors of the building</p>
            </div>
            <div class="flex {{ {s:1} | spacingClasses({margin: ['top', 'bottom']}) }} {{ {s:'HNL4'} | fontClasses}}">
              <div class="{{ {s:1} | spacingClasses({margin:['right']}) }}">{% icon 'a11y/a11y_visual' %}</div>
              <p>Magnifying glasses and sheets are available to borrow inside the gallery</p>
            </div>
            {% for statement in exhibition.accessStatements %}
              <div class="flex {{ {s:1} | spacingClasses({margin: ['top', 'bottom']}) }} {{ {s:'HNL4'} | fontClasses}}">
                <div class="{{ {s:1} | spacingClasses({margin:['right']}) }}">{% icon statement.value.slug | getA11yIcon %}</div>
                {{ statement.value.data.description | prismicAsHtml | safe  }}
              </div>
            {% endfor %}

            <p class="{{ {s:'HNL4'} | fontClasses}}">
              <a class="plain-link font-elf-green" href="https://wellcomecollection.org/visit-us/accessibility" class="font-elf-green">Find out more about accessiblity</a>
            </p>
          {% endblock %}


          <hr class="divider divider--pumice divider--keyline" />
        </div>
      </div>
    </div>
  </div>

  {% if exhibition.video %}
    <div class="row bg-black {{ {s:2} | spacingClasses({padding: ['top'], margin: ['bottom']}) }} {{ {s:10} | spacingClasses({padding: ['bottom']}) }}">
      <div class="container">
        <div class="grid">
          <div class="{{ {s:12, m:8, shiftM:2, l:8, shiftL:2, xl:6, shiftXl:3} | gridClasses }}">
            {% if exhibition.video.value.title %}
              <h2 class="{{ {s:'WB6'} | fontClasses }} font-white">{{ exhibition.video.value.title }}</h2>
            {% endif %}
            {% componentV2 'iframed-video', exhibition.video.value %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if exhibition.imageGallery %}
    <div class="row {{ {s:2} | spacingClasses({padding: ['top'], margin: ['bottom']}) }} {{ {s:10} | spacingClasses({padding: ['bottom']}) }}">
      <div class="container">
        {% component 'image-gallery', { imageGallery: exhibition.imageGallery.value, id: 'article-body-image-gallery--' + exhibition.id } %}
      </div>
    </div>
  {% endif %}

</article>
{% endblock %}

