{% extends 'layout/default.njk' %}
{% set exhibition = exhibitionContent.exhibition %}
{% block pageMeta %}
  {% set metaContent = {
    type: 'website',
    title: exhibition.title,
    image: exhibition.featuredImage and exhibition.featuredImage.contentUrl,
    url: pageConfig.canonicalUri
  } %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}
  <meta name="description" content="{{ exhibition.description | safe | striptags }}" />
{% endblock %}

{% block body %}
{% set jsonLdExhibition = exhibition | objectAssign({safeDescription: exhibition.description | safe | striptags}) %}

<script type="application/ld+json">
  {{ jsonLdExhibition | jsonLd('exhibitionLd') | safe }}
</script>

<article>
  <div class="row relative">
    <div class="flush-container-left absolute {{ {s:2} | spacingClasses({margin: ['top']}) }}">
      {% componentV2 'tags', tags %}
    </div>

    <div class="exhibition-hero">
      {% componentV2 'picture', {images: exhibition.featuredImages.toJS()}, {}, {'lazyload': true, extraClasses: ['exhibition-hero__picture']} %}

      <div class="exhibition-hero__copy {{ {l:10} | spacingClasses({margin: ['bottom']}) }}">
        <div class="is-hidden-l is-hidden-xl">
          {% component 'wobbly-edge', {background: 'white'} %}
        </div>

        <div class="container">
          <div class="grid">
            <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
              <div class="bg-white inline-block exhibition-hero__box {{ {l:4} | spacingClasses({'padding': ['right', 'left']}) }} {{ {s:4} | spacingClasses({'padding': ['top', 'bottom']}) }} rounded-diagonal">
                <div class="flex flex--v-center flex--h-space-between {{ {s:'HNM4', m:'HNM5', l:'HNM4'} | fontClasses }}">
                  <span class="flex flex--v-center">
                    {% icon 'other/ticket' %}
                    <strong class="{{ {s:'WB7', l:'WB6'} | fontClasses }} caps {{ {s: 2} | spacingClasses({margin: ['left']}) }} {{ {s: 6} | spacingClasses({margin: ['right']}) }}">Free</strong>
                  </span>
                  <span class="flex flex--v-center">
                    <span class="{{ {s:2} | spacingClasses({margin: ['right']}) }} flex flex--v-center">
                      {% set statusColor = 'icon--' + {start: exhibition.start, end: exhibition.end} | formatDateRangeWithColor %}
                      {% icon 'other/status-indicator', null, [statusColor] %}
                    </span>
                    <strong>{{ {start: exhibition.start, end: exhibition.end} | formatDateRangeWithMessage }}</strong>
                  </span>
                </div>
                <h1 class="{{ {s:'WB5', l:'WB4', xl:'WB3'} | fontClasses }}">{{ exhibition.title }}</h1>
                <span class="{{ {s:'HNL4', m:'HNL5', l:'HNL3', xl:'HNL2'} | fontClasses }}">
                  {% if exhibition.end %}
                    <time datetime="{{ exhibition.start }}">{{ exhibition.start | formatDate }}</time> – <time datetime="{{ exhibition.end }}">{{ exhibition.end | formatDate }}</time>
                  {% else %}
                    Permanent exhibition
                  {% endif %}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="is-hidden-s is-hidden-m">
      {% component 'wobbly-edge', {background: 'white', intensity: 30} %}
    </div>
  </div>

  <div class="row {{ {s:5} | spacingClasses({margin: ['top']}) }}">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:12, m:10, shiftM:1, l:7, xl:7} | gridClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
          {% if exhibition.subtitle %}
            {% component 'standfirst', {body: exhibition.subtitle | safe} %}
          {% endif %}
          {% block exhibitionDescription %}
            {{ exhibition.description | safe }}
          {% endblock %}
        </div>
        <div class="{{ {s:12, m:10, shiftM:1, l:5, xl:5} | gridClasses }}">
          <hr class="divider divider--keyline divider--pumice {{ {s:2} | spacingClasses({margin: ['bottom']}) }}" />
          <div class="drawer js-show-hide"
            data-track-action="opening-times-drawer">
            <button class="plain-button no-padding pointer js-show-hide-trigger font-elf-green {{ {s:3} | spacingClasses({margin: ['bottom']}) }} {{ {s:'HNM4'} | fontClasses }}">
              <span class="flex flex--v-center">{% icon 'actions/plus', null, ['icon--elf-green', 'margin-right-s1'] %}Opening times</span>
            </button>
            <div class="drawer__body js-show-hide-drawer">
              {% componentV2 'opening-hours', {places: pageConfig.openingHours, id: 'exhibition-page'}, {'light': true, 'compressed': true} %}
            </div>
          </div>
          <hr class="divider divider--keyline divider--pumice {{ {s:2} | spacingClasses({margin: ['bottom']}) }}" />
          {% block accessStatements %}
            <h2 class="{{ {s:'HNM4'} | fontClasses }} {{ {s:3} | spacingClasses({margin: ['bottom']}) }}">Access information</h2>
            {% if exhibitionContent.galleryLevel !== null %}
              <div class="flex {{ {s:1} | spacingClasses({margin: ['top', 'bottom']}) }} {{ {s:'HNL4'} | fontClasses}}">
                <div class="{{ {s:1} | spacingClasses({margin:['right']}) }}">{% icon 'a11y/lifts' %}</div>
                <p class="no-margin">This exhibition is on level {{ exhibitionContent.galleryLevel }}</p>
              </div>
            {% endif %}
            <div class="flex {{ {s:1} | spacingClasses({margin: ['top', 'bottom']}) }} {{ {s:'HNL4'} | fontClasses}}">
              <div class="{{ {s:1} | spacingClasses({margin:['right']}) }}">{% icon 'a11y/a11y' %}</div>
              <p class="no-margin">Step-free access is available to all floors of the building</p>
            </div>
            <div class="flex {{ {s:1} | spacingClasses({margin: ['top', 'bottom']}) }} {{ {s:'HNL4'} | fontClasses}}">
              <div class="{{ {s:1} | spacingClasses({margin:['right']}) }}">{% icon 'a11y/a11y_visual' %}</div>
              <p class="no-margin">Large print guides, transcripts and magnifiers are available in the gallery</p>
            </div>

            <div class="{{ {s:5} | spacingClasses({margin: ['top']}) }}">
              {% if exhibitionContent.textAndCaptionsDocument %}
                <a href="/download?uri={{ exhibitionContent.textAndCaptionsDocument.url }}"
                  download="{{ exhibitionContent.textAndCaptionsDocument.name }}"
                  data-track-event='{"category": "component", "action": "download-pdf:click", "label": "name:{{ exhibitionContent.textAndCaptionsDocument.name }}, url:{{ exhibitionContent.textAndCaptionsDocument.url }}"}'
                  class="plain-link font-mint flex {{ {s:1} | spacingClasses({margin: ['bottom']}) }} {{ {s:'HNM4'} | fontClasses}}">
                  <div class="{{ {s:1} | spacingClasses({margin:['right']}) }} flex flex--v-center">{% icon 'formats/pdf', null, ['icon--mint'] %}</div>
                  <span>Download exhibition texts (PDF {{ exhibitionContent.textAndCaptionsDocument.sizeInKb }}KB)</span>
                </a>
              {% endif %}
              <div class="{{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
                {% componentV2 'more-info-link', {name: 'Find out more about accessibility', url: 'https://wellcomecollection.org/visit-us/accessibility'} %}
              </div>
            </div>
          {% endblock %}

          <hr class="divider divider--pumice divider--keyline" />
        </div>
      </div>
    </div>
  </div>

  {% if exhibition.video %}
    <div class="row bg-black {{ {s:5} | spacingClasses({margin: ['bottom']}) }}">
      <div class="container">
        <div class="grid">
          <div class="{{ {s:12, m:8, shiftM:2, l:8, shiftL:2, xl:6, shiftXl:3} | gridClasses }}">
            {% if exhibition.video.value.title %}
              <h2 class="{{ {s:'WB6'} | fontClasses }} font-white">{{ exhibition.video.value.title }}</h2>
            {% endif %}
            {% componentV2 'iframed-video', exhibition.video.value %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if exhibitionContent.imageGallery %}
    <div class="row {{ {s:5} | spacingClasses({margin: ['bottom']}) }}">
      <div class="container">
        <div class="grid">
          {% component 'image-gallery', { imageGallery: exhibitionContent.imageGallery.value, id: 'article-body-image-gallery--' + exhibition.id } %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if exhibitionContent.relatedGalleries.length > 0 %}
    <div class="row {{ {s:5} | spacingClasses({margin: ['bottom']}) }}">
      <div class="container">
        <div class="grid">
          <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
            <h2 class="{{ {s:'WB5', l:'WB4', xl:'WB3'} | fontClasses }} flex flex--v-center {{ {s:1} | spacingClasses({margin: ['bottom']}) }}">
              {% icon 'actions/gallery_filled', null, ['margin-right-s2', 'icon--match-text'] %}Exhibition highlights
            </h2>
          </div>
        </div>
        <div class="grid">
          {% for promo in exhibitionContent.relatedGalleries %}
            <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
              <div class="{{ {s:1} | spacingClasses({margin: ['bottom']}) }}">
                {% componentV2 'more-info-link', {name: 'View highlights', url: promo.url} %}
              </div>
              <a href="{{ promo.url }}">
                {% componentV2 'image', promo.image, null, {'lazyload': true, sizesQueries: '(min-width: 1420px) 1218px, (min-width: 600px) 87.75vw, calc(100vw - 36px)'} %}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% macro relatedMarkup(promoList, heading, promoComponent, gridSizes, data) %}
    {% if promoList.length > 0 %}
      <div class="row">
        <div class="container">
          <div class="grid">
            <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
              <h2 class="{{ {s:'WB5', l:'WB4', xl:'WB3'} | fontClasses }}">{{ heading }}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container container--scroll touch-scroll">
          <div class="grid">
            <div class="{{ {s:12, m:10, shiftM:1} | gridClasses }}">
              <div class="grid grid--scroll">
                {% for promo in promoList %}
                  <div class="{{ gridSizes | gridClasses }}">
                    {% componentV2 promoComponent, promo,  {}, data %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endmacro %}

  {{ relatedMarkup(exhibitionContent.relatedEvents, 'Workshops, talks and tours', 'promo', {s:12, m:6, l:3, xl:3}, {'lazyload': true, sizesQueries: '(min-width: 960px) calc(21.36vw - 17px), (min-width: 600px) calc(50vw - 54px), calc(100vw - 36px)'}) }}

  <div class="row">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
          <hr class="divider divider--dashed {{ {s:5} | spacingClasses({margin: ['top']}) }}" />
        </div>
      </div>
    </div>
  </div>


  {{ relatedMarkup(exhibitionContent.relatedArticles, 'Read and explore', 'promo', {s:12, m:6, l:3, xl:3}, {'lazyload': true, sizesQueries: '(min-width: 1420px) 282px, (min-width: 960px) calc(21.36vw - 17px), (min-width: 600px) calc(50vw - 54px), calc(100vw - 36px)'}) }}

  <div class="row">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:12, m:10, shiftM:1, l:12, xl:12} | gridClasses }}">
          <hr class="divider divider--dashed {{ {s:5} | spacingClasses({margin: ['top']}) }}" />
        </div>
      </div>
    </div>
  </div>

  {{ relatedMarkup(exhibitionContent.relatedBooks, 'From the bookshop', 'book-promo', {s:12, m:6, l:6, xl:6}, {'lazyload': true, index: loop.index, total: loop.total, sizesQueries: '(min-width: 960px) 178px, 127px'}) }}

</article>
{% endblock %}

