{% extends 'layout/default.njk' %}

{% block body %}
  {% component 'page-description', { title: 'Explore', modifiers: ['hidden'] } %}
  <div class="row row--cream row--has-wobbly-background {{ {s:10, m:10, l:10} | spacingClasses({padding: ['top']}) }}">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:4, m:8, l:12, xl:12} | gridClasses }}">
          {% component 'promo', { promo: topPromo } %}
        </div>
      </div>
    </div>
    <div class="row__wobbly-background"></div>
    <div class="container">
      <hr class="divider divider--keyline divider--keyline-grey {{ {s:3, m:3, l:3} | spacingClasses({margin: ['bottom']}) }}" />
    </div>
    <div class="container container--scroll container--scroll-cream touch-scroll">
      <div class="grid grid--dividers grid--scroll">
        {% for promo in second3Promos.toJS() %}
          <div class="grid__cell">
            {% component 'promo', { promo: promo } %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="container container--no-collapse">
      <hr class="divider divider--thick divider--black {{ {s:5, m:5, l:5} | spacingClasses({margin: ['bottom']}) }}" />
    </div>
  </div>

  {% componentV2 'series-container', aDropInTheOcean %}

  {# Chronological #}
  <div class="row">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:4, m:8, l:12, xl: 12} | gridClasses }}">
          <h2 class="heading--large {{ {s:0, m:0, l:0} | spacingClasses({margin: ['top', 'bottom']}) }}">You may have missed</h2>
        </div>
        <div class="{{ {s:4, m:8, l:8} | gridClasses }}">
          <a class="more-info-link" href="/articles">
            {% icon 'actions/arrow-small', null, ['icon--270', 'icon--action'] %}
            <span class="more-info-link__text">More articles</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row {{ {s:4, m:4, l:4} | spacingClasses({padding: ['top']}) }} ">
    <div class="container container--scroll touch-scroll">
      <div class="grid grid--scroll grid--dividers grid--theme-6-strip">
        {% for promo in next8Promos.take(6).toJS() %}
          <div class="grid__cell">
            {% component 'promo', { promo: promo } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
