{% extends "layout/default.njk" %}

{% block body %}
  <div class="row">
    <div class="container">
      <div class="grid">
        <div class="grid__cell">
          <header class="page-description page-description--a">
            <h1 class="page-description__title">Explore</h1>
          </header>
        </div>
      </div>
      <div class="grid">
        <div class="grid__cell">

          <h2>From the blog</h2>
          <ul>
              {% for post in wpPosts %}
                <li>
                  <a href="/articles/wp/{{ post.slug }}">{{ post.title }}</a>
                </li>
              {% endfor %}
          </ul>

          <h1>From the Collection explore section</h1>
          <ul>
            <li>
              <a href="/articles/john-thomsons-china">John Thomson's China (article)</a>
            </li>
            <li>
              <a href="/articles/fly-sugar-crystals">A fly on sugar crystals (audio)</a>
            </li>
            <li>
              <a href="/articles/david-cotterrell-afghanistan">David Cotterrell on Afghanistan (video)</a>
            </li>
            <li>
              <a href="/articles/aids-posters-0">AIDS Posters (image gallery)</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
