{% extends 'layout/default.njk' %}

{% set metaContent = {
  type: 'website',
  image: 'https://iiif.wellcomecollection.org/image/prismic:fc1e68b0528abbab8429d95afb5cfa4c74d40d52_tf_180516_2060224.jpg/full/1200,/0/default.jpg',
  url: pageConfig.canonicalUri,
  description: 'Visit our free museum and library in central London connecting science, medicine, life and art. Explore our exhibitions, live events, gallery tours, restaurant, cafe, bookshop, and cafe. Fully accessible. Open late on Thursday evenings.'
} %}

{% block pageMeta %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}
  <meta name="description" content="{{ metaContent.description }}" />
{% endblock %}

{% block body %}
   <script type="application/ld+json">
    [{% for exhibition in exhibitionAndEventPromos.temporaryExhibitionPromos %}
      {{ exhibition | jsonLd('exhibitionPromoLd') | safe }},
    {% endfor %}
    {% for event in exhibitionAndEventPromos.eventPromos %}
      {{ event | jsonLd('eventPromoLd') | safe }},
    {% endfor %}
    {% for exhibition in exhibitionAndEventPromos.permanentExhibitionPromos %}
      {{ exhibition | jsonLd('exhibitionPromoLd') | safe }}{{ ',' if not loop.last }}
    {% endfor %}]
  </script>

  <div class="css-grid__container">
    <div class="css-grid">
      <div class="{{ {s:12, m:12, l:10, xl:9} | cssGridClasses }}">
        <h1 class="{{ {s: 'WB4', m:'WB3'} | fontClasses }} {{ {s: 3} | spacingClasses({margin: ['top', 'bottom']}) }}">The free museum and library for the incurably curious</h1>
      </div>
    </div>
  </div>

  {% componentJsx 'SectionHeader', {
    title: 'This month at Wellcome Collection',
    linkText: 'All exhibitions and events',
    linkUrl: '/whats-on'
  } %}

  <div class="css-grid__container">
    <div class="css-grid">
      {% set position = 0 %}
      {% for exhibition in exhibitionAndEventPromos.currentTemporaryExhibitionPromos %}
        {% if exhibition.id === 'Wv2HziAAAOcE8Txh' %}
          <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
            {% set position = position + 1 %}
            {% componentJsx 'EventPromo', exhibition | objectAssign({position: position}) %}
          </div>
        {% else %}
          <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
            {% set position = position + 1 %}
            {% componentJsx 'ExhibitionPromo', exhibition | objectAssign({position: position}) %}
          </div>
        {% endif %}
      {% endfor %}

      {% for event in exhibitionAndEventPromos.eventPromos %}
        <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
          {% set position = position + 1 %}
          {% componentJsx 'EventPromo', event | objectAssign({position: position}) %}
        </div>
      {% endfor %}

      {% for exhibition in exhibitionAndEventPromos.upcomingTemporaryExhibitionPromos %}
        <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
          {% set position = position + 1 %}
          {% componentJsx 'ExhibitionPromo', exhibition | objectAssign({position: position}) %}
        </div>
      {% endfor %}

      <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
        {% set position = position + 1 %}
        {% componentJsx 'EventPromo', dailyTourPromo | objectAssign({position: position}) %}
      </div>

      {% for exhibition in exhibitionAndEventPromos.permanentExhibitionPromos %}
        <div class="{{ {s: 12, m: 6, l: 4, xl:4} | cssGridClasses}}">
          {% set position = position + 1 %}
          {% componentJsx 'ExhibitionPromo', exhibition | objectAssign({position: position}) %}
        </div>
      {% endfor %}
    </div>
  </div>

  {% componentJsx 'SectionHeader', {
    title: 'Latest articles, comics and more',
    linkText: 'All stories',
    linkUrl: '/explore'
  } %}

  <div class="css-grid__container">
    <div class="css-grid">
      {% for promo in storiesPromos %}
        <div class="{{ {s: 12, m: 6, l: 3, xl:3} | cssGridClasses}}">
          {% componentJsx 'Promo', {
            sizes: '(min-width: 1420px) 282px, (min-width: 960px) calc(21.36vw - 17px), (min-width: 600px) calc(50vw - 54px), calc(100vw - 36px)',
            url: promo.url,
            contentType: promo.contentType,
            image: promo.image,
            title: promo.title,
            weight: promo.weight,
            description: promo.description,
            series: promo.series,
            positionInSeries: promo.positionInSeries
          } %}
        </div>
      {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}
