{% extends 'layout/default.njk' %}

{% block body %}
<div class="row">
    <div class="container">
        <div class="grid">
            <div class="grid__cell">
                <header class="page-description page-description--a">
                    <h1 class="page-description__title">Welcome to Wellcome Collection</h1>
                </header>
            </div>
        </div>
        <div class="grid">
            <div class="grid__cell">
                <p>
                    Take a look at our <a href="/explore">explore page</a> to see how we're getting on with our
                    editorial content.
                </p>
                <p>
                    You can also head over to our <a href="https://cardigan.wellcomecollection.org">pattern library</a>
                    to have a play around with any of the components on the site, and some that haven't graduated yet.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
