{% extends 'layout/default.njk' %}

{% block siteNotice %}
  {% component 'new-site-notice', {showLink: false} %}
{% endblock %}
{% block body %}
<div class="row">
    <div class="container">
        <div class="grid">
            <div class="grid__cell">
              <div class="body-content">
                {% markdown %}
                {% include '../docs/PROGRESS_NOTES.md' %}
                {% endmarkdown %}
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
