{% extends 'layout/default.njk' %}

{% block body %}
  <div class="row row--cream padding-top-10">
    <div class="container">
      <div class="grid">
        <div class="grid__cell">
          <h1 class="heading--large margin-top-0 margin-bottom-0">{{ list.name }}</h1>
        </div>
      </div>

      <div class="grid">
        <div class="{{ {s: 4, m: 8, l: 8} | gridClasses }}">
          <p class="margin-bottom-0 margin-top-2">{{ list.description }}</p>
        </div>
      </div>

      <div class="grid">
        <div class="grid__cell">
          <p class="text--meta margin-top-2 margin-bottom-2">{{ list.total }} articles</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row row--no-padding">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:4, m:8, l:12} | gridClasses }}">
          <div class="padding-top-5 padding-bottom-5 keyline-b text--meta flex flex--center">
            {{ pagination.range.beginning }} - {{ pagination.range.end }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row padding-top-4">
    <div class="container">
      <div class="grid">
        {% for promo in list.items.toJS() %}
          <div class="{{ {s:4, m:4, l:3, xl:3} | gridClasses }}">
            {% component 'promo', { promo: promo } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row padding-top-10 padding-bottom-10">
    <div class="container">
      <div class="grid">
        <div class="grid__cell">
          {% componentV2 'pagination', pagination %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
