{% extends 'layout/default.njk' %}

{% block body %}
  <div class="row row--cream {{ {s:10, m:10, l:10} | spacingClasses({padding: ['top']}) }}">
    <div class="container">
      <div class="grid">
        <div class="grid__cell">
          <h1 class="heading--large {{ {s:0, m:0, l:0} | spacingClasses({margin: ['top']}) }} {{ {s:0, m:0, l:0} | spacingClasses({margin: ['bottom']}) }}">{{ list.name }}</h1>
        </div>
      </div>

      <div class="grid">
        <div class="{{ {s: 12, m: 12, l: 8} | gridClasses }}">
          <p class="{{ {s:2, m:2, l:2} | spacingClasses({margin: ['top']}) }} {{ {s:0, m:0, l:0} | spacingClasses({margin: ['bottom']}) }}">{{ list.description }}</p>
        </div>
      </div>

      <div class="grid">
        <div class="grid__cell">
          <p class="text--meta {{ {s:2, m:2, l:2} | spacingClasses({margin: ['top']}) }} {{ {s:2, m:2, l:2} | spacingClasses({margin: ['bottom']}) }}">{{ list.total }} articles</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:12, m:12, l:12} | gridClasses }}">
          <div class="{{ {s:5, m:5, l:5} | spacingClasses({padding: ['top']}) }}  {{ {s:5, m:5, l:5} | spacingClasses({padding: ['bottom']}) }} text--meta flex flex--v-center">
            {{ pagination.range.beginning }} - {{ pagination.range.end }}
          </div>
        </div>
      </div>
      {% componentV2 'divider', null, {'keyline': true, 'pumice': true} %}
    </div>
  </div>

  <div class="row {{ {s:4, m:4, l:4} | spacingClasses({padding: ['top']}) }} ">
    <div class="container">
      <div class="grid">
        {% for promo in list.items.toJS() %}
          <div class="{{ {s:12, m:6, l:3, xl:3} | gridClasses }}">
            {% componentV2 'promo', promo, {}, {sizes: '(min-width: 1420px) 282px, (min-width: 960px) calc(21.36vw - 17px), (min-width: 600px) calc(50vw - 54px), calc(100vw - 36px)'} %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row {{ {s:10, m:10, l:10} | spacingClasses({padding: ['top']}) }} {{ {s:10, m:10, l:10} | spacingClasses({padding: ['bottom']}) }} ">
    <div class="container">
      <div class="grid">
        <div class="grid__cell">
          {% componentV2 'pagination', pagination %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
