{% extends 'layout/default.njk' %}

{% block body %}
  <div class="row {{ {s: 2} | spacingClasses({padding: ['top', 'bottom']}) }}">
    <div class="container">
      <div class="grid">
        <div class="{{ {s: 12, m: 12, l: 12, xl: 12} | gridClasses }}">
          <div class="body-text">
            {% if isSuccess %}
              <h1>Success</h1>
              <p>You've signed up. Please check your email to
              confirm.</p>
              <p>See <a href="/whats-on">what's on</a>, or visit our <a href="/">homepage.</a></p>
            {% else %}
              {% if errorReason %}
                <h1>There was a problem</h1>
                <p>Please try again.</p>
              {% else %}
                <h1>Newsletters</h2>
              {% endif %}
              {% componentJsx 'NewsletterSignup' %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
