{% extends 'layout/default.njk' %}

{% block body %}

  {% set newsletterModel = {
    isSuccess: isSuccess,
    isError: isError,
    isConfirmed: isConfirmed
  } %}

  {% if featuresCohort == 'wellcomeUser' %}
    {% componentJsx 'BasicPageColumn', {}, [{
      name: 'NewsletterSignup', model: newsletterModel
    }] %}
  {% endif %}
{% endblock %}
