{% extends 'layout/default.njk' %}

{% block pageMeta %}
  {# TODO confirm url #}
  {% set metaContent = {
    type: 'article',
    title: 'Opening times',
    url: '/opening-times',
    description: 'Opening times for galleries, library, restaurant, cafe and shop.'
  } %}
  <meta name="description" content="Opening times for galleries, library, restaurant, cafe and shop." />
{% endblock %}

{% block body %}
  {# <script type="application/ld+json">
    {{ page | jsonLd('contentLd') | safe }}
  </script>
  #}

  <div class="container">
    <div class="grid">
      <div class="{{ {s:12, m:12, l:12, xl:12} | gridClasses }}">
        <h1 class="{{ {s:'WB5'} | fontClasses }}">Opening times</h1>
      </div>
      <div class="{{ {s:12, m:12, l:12, xl:12} | gridClasses }}">
        <h2 class="{{ {s:'WB6'} | fontClasses }}" id="regular">Regular opening times</h2>
        <div class="grid">
          {% for place in placesOpeningHours %}
            <div class="{{ {s:12, m:6, l:4, xl:4} | gridClasses }}">
              {% componentJsx 'OpeningHoursTable', {place: place, extraClasses: 'opening-hours--light'} %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="{{ {s:12, m:12, l:12, xl:12} | gridClasses }}">
        {% componentJsx 'Divider', {extraClasses: 'divider--pumice divider--keyline ' + ( {s:1} | spacingClasses({margin: ['top', 'bottom']}))} %}
      </div>

      <div class="{{ {s:12, m:12, l:12, xl:12} | gridClasses }}">
        <h2 class="{{ {s:'WB6'} | fontClasses }}" id="exceptional">Exceptional opening times</h2>
        <div class="grid">
          {% for exceptionalDate, venues in exceptionalOpeningHours %}
            <div class="{{ {s:12, m:12, l:12, xl:12} | gridClasses }}">
              {% componentJsx 'ExceptionalOpeningHoursTable', {caption: exceptionalDate, venues: venues, extraClasses: 'opening-hours--light'} %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
