{% extends 'layout/default.njk' %}

{% block body %}
  <div class="row">
    <div class="container">
      <div class="grid">
        <div class="grid__cell">
          {% componentV2 'search' %}
          {% for result in results %}
          {% set img = {contentUrl: result.imgLink, width: 300, height: 300} %}
            {% componentV2 'promo', {title: result.label, image: img} %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
