{% extends 'layout/default.njk' %}

{% set metaTitle = 'Wellcome Collection search' %}
{% if query %}
  {% set metaTitle = 'Wellcome Collection search: ' + query %}
{% endif %}

{% set description = 'Discover our collections' %}

{% block pageMeta %}
  {% set metaContent = {
    type: 'website',
    title: metaTitle,
    image: resultsList.results[0].imgLink | replace('WIDTH', 1200),
    url: pageConfig.canonicalUri
  } %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}

  {% if query %}
  <meta name="description" content="A Wellcome Collection search for '{{ query }}'" />
  {% else %}
  <meta name="description" content="{{ description }}">
  {% endif %}
{% endblock %}

{% block body %}
  {% componentV2 'page-description', { title: 'Collections search' }, {'hidden': true} %}
  <div class="row bg-teal
    {{ {s:3, m:5} | spacingClasses({padding: ['top']}) }}
    {{ {s:3, m:4, l:6} | spacingClasses({padding: ['bottom']}) }}">
    <div class="container">
      <div class="grid">
        <div class="{{ {s:12, m:10, l:8, xl:8} | gridClasses }}">
          {% if not query %}
            <h2 class="font-white {{ {s:'WB6', m:'WB4'} | fontClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }} {{ {s:0} | spacingClasses({margin: ['top']}) }}">{{ description }}</h2>
          {% endif %}
          {% componentV2 'search-box', {id: 'search-works', action: '', name: 'query', query: query, autofocus: true} %}
          {% if not query %}
            <p class="font-white {{ {s:'HNL5', m:'HNL4'} | fontClasses }} {{ {s:4} | spacingClasses({margin: ['top']}) }} {{ {s:1} | spacingClasses({margin: ['bottom']}) }}">Images are free to download and use under Creative Commons licences.</p>
          {% else %}
            <p class="font-white {{ {s:2} | spacingClasses({margin: ['top']}) }} {{ {s:2} | spacingClasses({margin: ['bottom']}) }} {{ {s:'LR3', m:'LR2'} | fontClasses }}">
              {{ resultsList.totalResults if resultsList.totalResults > 0 else 'No' }} results for "{{ query }}"
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if not query %}
    <div class="row {{ {s:3, m:5} | spacingClasses({padding: ['top']}) }}">
      <div class="container">
        <div class="grid">
          <div class="grid__cell">
            <h3 class="{{ {s:'WB6', m:'WB4'} | fontClasses }}">Feeling curious?</h3>

            {% componentV2 'tags', [
              {text: 'Quacks', url: '/works?query=quack+OR+quacks', bgColor: 'turquoise-text'},
              {text: 'James Gillray', url: '/works?query=james+gillray', bgColor: 'turquoise-text'},
              {text: 'Botany', url: '/works?query=botany', bgColor: 'turquoise-text'},
              {text: 'Optics', url: '/works?query=optics', bgColor: 'turquoise-text'},
              {text: 'Sun', url: '/works?query=sun', bgColor: 'turquoise-text'},
              {text: 'Health', url: '/works?query=health', bgColor: 'turquoise-text'},
              {text: 'Paintings', url: '/works?query=paintings', bgColor: 'turquoise-text'},
              {text: 'Science', url: '/works?query=science', bgColor: 'turquoise-text'}
            ] %}

            <hr class="divider divider--dashed {{ {s:6} | spacingClasses({margin: ['bottom']}) }}" />
          </div>
        </div>
      </div>
    </div>

    <div class="row bg-cream row--has-wobbly-background {{ {s:10} | spacingClasses({padding: ['bottom']}) }}">
      <div class="container">
        <div class="row__wobbly-background"></div>
        <div class="grid grid--dividers">
          <div class="{{ {s: 12, m:10, l: 7, xl: 7} | gridClasses }}">
            <h2 class="{{ {s:'WB6', m:'WB4'} | fontClasses }} {{ {s:6} | spacingClasses({margin: ['bottom']}) }} {{ {s:0} | spacingClasses({margin: ['top']}) }}">Where do these images come from?</h2>
            <div class="body-content">
              <div class="standfirst {{ {s:'HNL3', m:'HNL2'} | fontClasses }}">
                <p>The artworks and photos are from the library at Wellcome Collection and have been gathered over several decades of collecting activity.</p>
              </div>
              <p>Much of the collection was acquired during the late nineteenth and early twentieth centuries, with the aim to present issues of medical interest. There are some representations of people and cultures that today may be considered offensive or distressing. On occasion individuals are depicted as research subjects, and the collection includes some images of nakedness, medical conditions and surgical interventions.</p>
              <p>Most of the works were acquired between 1890 and 1936 by Sir Henry Wellcome and his employed agents across the globe. The images largely reflect Wellcome’s collecting interests and were designed to form a documentary resource that reflects the cultural and historical contexts of health and medicine.</p>
              <p>Henry Wellcome had a personal interest in medical and ethnographical objects and the objects, artworks and photographs he collected were initially presented in the Wellcome Historical Medical Museum. Over the subsequent decades the library and its collections developed to become the Wellcome Collection as it is now: a free museum and library exploring health, life and our place in the world.</p>
              <p>Many of the images on this site were digitised during the 1990sand first made available online in 2002. Recent developments to the site have made these images more easily discoverable, but have also brought to the surface legacy issues such as the sensitive nature some of the content, and the poor quality of some of the early digitisation. As we aim to make more images from the library collections available over the coming months, we have planned a programme of work to enable us to identify and consider these issues in a systematic and consistent manner We would like to include a range a voices from inside and outside of Wellcome to assist us with this. If you would like to get involved and have information about an image which might help us to understand it better, please email <a href="mailto:collections@wellcome.ac.uk">collections@wellcome.ac.uk</a>.</p>
              <p>Visit the pages below for more information about the history of Sir Henry Wellcome, Wellcome Collection and Wellcome Library.</p>
            </div>

            <div class="{{ {s:6, l:0} | spacingClasses({margin: ['bottom']}) }}">
              <div>
                {% componentV2 'more-info-link', {name: 'History of Wellcome', url: 'https://wellcome.ac.uk/about-us/history-wellcome'} %}
              </div>
              <div>
                {% componentV2 'more-info-link', {name: 'Introducing Henry Wellcome', url: 'https://wellcomecollection.org/what-we-do/introducing-henry-wellcome'} %}
              </div>
              <div>
                {% componentV2 'more-info-link', {name: 'History of Wellcome Library', url: 'https://wellcomelibrary.org/what-we-do/history-of-wellcome-library/'} %}
              </div>
            </div>
          </div>
          <div class="{{ {s: 12, m: 8, l: 5, xl: 5} | gridClasses }}">
            {% set henryImage = {
              type: 'picture',
              contentUrl: 'https://s3-eu-west-1.amazonaws.com/miro-images-public/V0027000/V0027772.jpg',
              width: 1600,
              height: 1068,
              caption: 'Sir Henry Solomon Wellcome',
              alt: 'Portrait of Henry Wellcome',
              title: 'Sir Henry Solomon Wellcome. Photograph by Lafayette Ltd',
              source: {
                name: 'Wellcome Collection',
                link: 'https://wellcomecollection.org/works/a2d9ywt8'
              },
              copyright: {}
            } %}
            {% componentV2 'captioned-image', henryImage, null, {showCopyright: true} %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if resultsList.totalResults > 0 %}
    <div class="row {{ {s:3, m:5} | spacingClasses({padding: ['top']}) }}">
      <div class="container">
        <div class="grid">
          <div class="grid__cell">
            <div class="flex flex--h-space-between flex--v-center">
              <div class="flex flex--v-center font-pewter {{ {s:'LR3', m:'LR2'} | fontClasses }}">
                Showing {{ pagination.range.beginning }} - {{ pagination.range.end }}
              </div>
              {% componentV2 'pagination', pagination, null, {query: query} %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row {{ {s:4} | spacingClasses({padding: ['top']}) }} ">
      <div class="container">
        <div class="grid">
          {% for result in resultsList.results %}
          <div class="{{ {s:6, m:4, l:3 , xl:2} | gridClasses }}">
            {% set img = {contentUrl: result.thumbnail.url, width: 300, height: 300} %}
            {% set type = result.type | lower %}
            {% set url = '/works/' + result.id + queryString %}
            {% componentV2 'promo', {id: result.id, contentType: type, title: result.title, url: url, image: img, datePublished: result.createdDate.label}, {}, {defaultSize: 180, isConstrained: true, sizes: '(min-width: 1340px) 178px, (min-width: 960px) calc(25vw - 52px), (min-width: 600px) calc(33.24vw - 43px), calc(50vw - 27px)'} %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row {{ {s:10} | spacingClasses({padding: ['top']}) }} {{ {s:10} | spacingClasses({padding: ['bottom']}) }} ">
      <div class="container">
        <div class="grid">
          <div class="grid__cell">
            {% componentV2 'pagination', pagination, null, {query: query} %}
          </div>
        </div>
      </div>
    </div>
    {% componentV2 'back-to-top', {}, {}, {trackId: pageConfig.canonicalUri} %}
  {% endif %}
{% endblock %}
