{% extends 'layout/default.njk' %}
{# TODO: Maybe set this on the actual work? #}
{% block pageMeta %}
  {% set metaContent = {
    type: 'website',
    title: work.title,
    image: work.imgLink | replace('WIDTH', 1200),
    url: pageConfig.canonicalUri,
    description: work.description or work.title
  } %}
  {% component 'open-graph', { pageConfig: pageConfig, metaContent: metaContent } %}
  {% component 'twitter-card', { pageConfig: pageConfig, metaContent: metaContent } %}

  <meta name="description" content="{{ work.description }}" />
{% endblock %}

{% block body %}
  <script type="application/ld+json">
    {{ work | jsonLd('workLd') | safe }}
  </script>

  {% set iiifModel = {contentUrl: work.imgLink, caption: work.description, width: work.imgWidth} %}
  {% set iiifData = {infoUrl: work.imgInfo, lazyload: true, sizesQueries: '(min-width: 860px) 800px, calc(92.59vw + 22px)'} %}
  {% componentJsx 'WorkMedia', {
    id: id,
    queryString: queryString,
    iiifUrl: iiifInfoUrl,
    title: work.title | truncate(50)
  } %} {# TODO: we'll have to truncate this ourselves when we switch #}


  <div class="row {{ {s:6} | spacingClasses({padding: ['top', 'bottom']}) }}">
    <div class="container">
      <div class="grid">
        <div class="{{ {s: 12, m: 10, shiftM:1, l: 7, xl: 7} | gridClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
	        <div class="{{ {s: 5} | spacingClasses({margin: ['bottom']}) }}">
            <h1 id="work-info" class="{{ {s:'HNM3', m:'HNM2', l:'HNM1'} | fontClasses }} {{ {s:0} | spacingClasses({margin: ['top']}) }}">{{work.title}}</h1>

            <div class="{{- [
              {s:2} | spacingClasses({padding: ['top', 'bottom']}),
              {s:4} | spacingClasses({padding: ['left', 'right']}),
              {s:4} | spacingClasses({margin: ['bottom']})
            ].join(' ') }} bg-cream rounded-diagonal flex flex--v-center">
              {% icon 'under_construction', null, ['margin-right-s2'] %}
              <p class="{{ {s:'HNL5', m:'HNL4'} | fontClasses }} no-margin">We’re improving the information on this page. <a href="/progress">Find out more</a>.</p>
            </div>

            {% for metaItem in work.metaContent %}
              {% set needsDivider = not loop.last %}
              {% componentJsx 'MetaUnit', {headingText: metaItem.heading, text: metaItem.text, links: metaItem.links, includeDivider: needsDivider} %}
            {% endfor %}

            {% if work.encoreLink %}
              <div class="{{ {s:2} | spacingClasses({margin: ['top']}) }}">
                {% componentJsx 'MoreInfoLink', {name: 'View Wellcome Library catalogue record', url: work.encoreLink} %}
              </div>
            {% endif %}
          </div>

          {% set licenseInfo = work.thumbnail.license.licenseType | getLicenseInfo %}
          {% set usingThisImageData = [
            {headingText: 'Licence information', text: licenseInfo.humanReadableText},
            {headingText: 'Credit', text: work.attribution}
          ] %}

          {% componentJsx 'WorkDrawer', {data: usingThisImageData} %}
        </div>

        <div class="{{ {s: 12, m: 10, shiftM:1, l: 5, xl: 5} | gridClasses }} {{ {s:1} | spacingClasses({margin: ['top']}) }}">
          <h2 class="
            {{ {s:'HNM4' , m:'HNM3'} | fontClasses }}
            {{ {s:0} | spacingClasses({margin: ['top']}) }}
            {{ {s:2} | spacingClasses({margin: ['bottom']}) }}">
            Download
          </h2>

          <a
            class="{{ {s:2} | spacingClasses({margin: ['bottom']}) }} {{ {s:'HNM5' , m:'HNM4'} | fontClasses }} plain-link font-elf-green font-hover-mint flex flex--v-center"
            href="/download?uri={{ work.imgLink | convertImageUri('full', false) | urlencode }}"
            download="{{ work.id }}.jpg"
            rel="noopener noreferrer"
            data-track-event='{"category": "component", "action": "download-button:click", "label": "id:{{ work.id }}, size:original, title:{{ work.title | truncate(50) }}"}'>
            {% icon 'download', null, ['icon--green'] %}
            <div class="{{{s: 1} | spacingClasses({ margin: ['left'] })}}">
              Download original
            </div>
          </a>

          <a
            class="{{ {s:4} | spacingClasses({margin: ['bottom']}) }} {{ {s:'HNM5' , m:'HNM4'} | fontClasses }} plain-link font-elf-green font-hover-mint flex flex--v-center"
            href="/download?uri={{ work.imgLink | convertImageUri(760, false) | urlencode }}"
            download="{{ work.id }}.jpg"
            rel="noopener noreferrer"
            data-track-event='{"category": "component", "action": "download-button:click", "label": "id:{{ work.id }}, size:760, title:{{ work.title | truncate(50) }}"}'>
            {% icon 'download', null, ['icon--green'] %}
            <div class="{{{s: 1} | spacingClasses({ margin: ['left'] })}}">
              Download small (760px)
            </div>
          </a>

          <div class="{{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
            <p class="{{ {s:'HNL5', m:'HNL4'} | fontClasses }} {{ {s:1} | spacingClasses({margin: ['bottom']}) }}">Credit: {{ work.credit }}</p>
            {% componentJsx 'License', {subject: work.imgLink, licenseType: work.thumbnail.license.licenseType} %}
          </div>

          <div class="{{ {s:2} | spacingClasses({margin: ['top']}) }}">
            {% set dividerClasses = 'divider--pumice divider--keyline ' + {s:1} | spacingClasses({margin: ['top', 'bottom']}) %}
            {% componentJsx 'Divider', {extraClasses: dividerClasses} %}
            <h2 class="
              {{ {s:'HNM4' , m:'HNM3'} | fontClasses }}
              {{ {s:2} | spacingClasses({margin: ['top']}) }}
              {{ {s:1} | spacingClasses({margin: ['bottom']}) }}">
                Share
            </h2>
            {% set copyUrl = pageConfig.organization.url + pageConfig.canonicalUri %}
            {% componentJsx 'CopyUrl', {id: work.id, url: copyUrl} %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% componentJsx 'BackToTop', {trackId: pageConfig.canonicalUri} %}
{% endblock %}
