{% extends 'layout/default.njk' %}

{% block pageMeta %}
  <link rel="canonical" href="{{ requestHost }}{{ requestPath }}" />
{% endblock %}

{% block body %}
  {% set iiifModel = {contentUrl: work.imgLink, caption: work.description, width: work.imgWidth} %}
  {% set iiifData = {lazyload: true, sizesQueries: '(min-width: 1420px) 1218px, (min-width: 600px) 87.75vw, calc(100vw - 36px)'} %}
  {% componentV2 'work-media', {queryString: queryString, iiifModel: iiifModel, iiifData: iiifData} %}

  <div class="row {{ {s:3, m:3, l:3, xl: 3} | spacingClasses({padding: ['top', 'bottom']}) }}">
    <div class="container">
      <div class="grid">
        <div class="{{ {s: 12, m: 7, l: 8, xl: 7, shiftXl: 1} | gridClasses }} {{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
          <h1 id="work-info" class="{{ {s:'HNM3', m:'HNM2', l:'HNM1'} | fontClasses }} {{ {s:0} | spacingClasses({margin: ['top']}) }}">{{work.title}}</h1>

          {% if work.creators.length > 0 %}
            {% set needsDivider = work.createdDate.label.length > 0 or work.genre.length > 0 or work.subjects.length > 0 or work.lettering > 0 %}
            {% componentV2 'meta-unit', {headingText: 'By', content: work.creators | getLinkObjects('label', 'creators:'), includeDivider: needsDivider} %}
          {% endif %}

          {% if work.createdDate.label.length > 0 %}
            {% set needsDivider = work.genre.length > 0 or work.subjects.length > 0 or work.lettering > 0 %}
            {% componentV2 'meta-unit', {headingText: 'Date', content: work.createdDate.label, includeDivider: needsDivider} %}
          {% endif %}

          {% if work.genre.length > 0 %}
            {% set needsDivider = work.subjects.length > 0 or work.lettering > 0 %}
            {% componentV2 'meta-unit', {headingText: 'Genre', content: [work.genre | createLinkObject], includeDivider: needsDivider} %}
          {% endif %}

          {% if work.subjects.length > 0 %}
            {% set needsDivider = work.lettering.length > 0 %}
            {% componentV2 'meta-unit', {headingText: 'Subject', content: work.subjects | getLinkObjects('label'), includeDivider: needsDivider} %}
          {% endif %}

          {% if work.lettering.length > 0 %}
            {% componentV2 'meta-unit', {headingText: 'Lettering', content: work.lettering, includeDivider: false} %}
          {% endif %}
        </div>

        <div class="{{ {s: 12, m: 5, l: 4, xl: 3} | gridClasses }} {{ {s:1} | spacingClasses({margin: ['top']}) }}">
          <h2 class="
            {{ {s:'HNM5' , m:'HNM4'} | fontClasses }}
            {{ {s:0} | spacingClasses({margin: ['top']}) }}
            {{ {s:1} | spacingClasses({margin: ['bottom']}) }}">
            Download
          </h2>
          <div class="{{ {s:4} | spacingClasses({margin: ['bottom']}) }}">
            <p class="{{ {s:'HNL5' , m:'HNL4'} | fontClasses }} {{ {s:2} | spacingClasses({margin: ['bottom']}) }}">This image is free to use with attribution</p>
            {% componentV2 'license',  {subject: work.imgLink, licenseType: 'CC BY'} %}
          </div>

          <a
            class="{{ {s:2} | spacingClasses({margin: ['bottom']}) }} {{ {s:'HNM5' , m:'HNM4'} | fontClasses }} plain-link font-elf-green flex flex--v-center"
            href="/download?uri={{ work.imgLink | replace('WIDTH,', 'full') | urlencode }}"
            download="{{ work.id }}.jpg"
            rel="noopener noreferrer"
            data-track-event='{"category": "work", "action": "download", "label": "full:{{ work.id }}"}'>
            {% icon 'actions/download-1', null, ['icon--elf-green'] %}
            <div class="{{{s: 1} | spacingClasses({ margin: ['left'] })}}">
              Original image
            </div>
          </a>

          <a
            class="{{ {s:8} | spacingClasses({margin: ['bottom']}) }} {{ {s:'HNM5' , m:'HNM4'} | fontClasses }} plain-link font-elf-green flex flex--v-center"
            href="/download?uri={{ work.imgLink | replace('WIDTH', 760) | urlencode }}"
            download="{{ work.id }}.jpg"
            rel="noopener noreferrer"
            data-track-event='{"category": "work", "action": "download", "label": "760:{{ work.id }}"}'>
            {% icon 'actions/download-1', null, ['icon--elf-green'] %}
            <div class="{{{s: 1} | spacingClasses({ margin: ['left'] })}}">
              Smaller image (760px)
            </div>
          </a>

          <div class="{{ {s:2} | spacingClasses({margin: ['top']}) }}">
            {% componentV2 'divider', null, {'pumice': true, 'keyline': true}, {extraClasses: [{s:1} | spacingClasses({margin: ['top', 'bottom']})]}  %}
            <h2 class="
              {{ {s:'HNM5' , m:'HNM4'} | fontClasses }}
              {{ {s:0} | spacingClasses({margin: ['top']}) }}
              {{ {s:1} | spacingClasses({margin: ['bottom']}) }}">
                Share
            </h2>
            {% componentV2 'copy-url', {id: work.id, url: requestHost + requestPath} %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if work.moreInfo %}
    {% componentV2 'work-drawer', {id: 'more-info', heading: 'More information'}, null, {data: work.moreInfo, topDivider: true} %}
  {% endif %}

  {% if work.usingImage %}
    {% componentV2 'work-drawer', {id: 'using-image', heading: 'Using this image'}, null, {data: work.usingImage, bottomSpacing: true} %}
  {% endif %}

  {% componentV2 'back-to-top', {}, {trackId: 'work'} %}
{% endblock %}
