{% extends 'layout/default.njk' %}

{% block pageMeta %}{% endblock %}

{% block body %}
<div class="row {{ {s:10, m:10, l:10, xl: 10} | spacingClasses({padding: ['top']}) }}">
  <div class="container">
    <div class="grid">
      <div class="{{ {s:12, m:12, l:12, xl: 12} | gridClasses }}">
        {% componentV2 'captioned-image', {contentUrl: work.imgLink, caption: work.description} %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
