/* alignment modifiers per row */
.grid--top {
  align-items: flex-start;
}

.grid--bottom {
  align-items: flex-end;
}

.grid--center {
  align-items: center;
}

/* alignment modifiers per cell */
.grid__cell--top {
  align-self: flex-start;
}

.grid__cell--bottom {
  align-self: flex-end;
}

.grid__cell--center {
  align-self: center;
}
