//* @define grid; weak
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -(map-get($gutter-width, 'small'));

  @include respond-to('medium') {
    margin-left: -(map-get($gutter-width, 'medium'));
  }

  @include respond-to('large') {
    margin-left: -(map-get($gutter-width, 'large'));
  }
}

.grid--scroll {
  width: 250%;

  @include respond-to('medium') {
    width: auto;
  }

  .grid__cell {
    flex-basis: percentage(1 / 3);

    @include respond-to('medium') {
      flex-basis: inherit;
    }
  }
}

.grid--no-gutters {
  margin-left: 0;

  > .grid__cell {
    padding-left: 0;
  }
}

.grid__cell {
  flex: 1;
  padding-left: map-get($gutter-width, 'small');

  @include respond-to('medium') {
    padding-left: map-get($gutter-width, 'medium');
  }

  @include respond-to('large') {
    padding-left: map-get($gutter-width, 'large');
  }
}

.grid__cell--contains-flex {
  min-width: 0;
}
