.grid--scroll {
  margin-left: 0;
  flex-wrap: nowrap;
  padding-left: map-get($container-padding, 'small');
  padding-right: map-get($container-padding, 'small');

  @include respond-to('medium') {
    padding-left: map-get($container-padding, 'medium');
    padding-right: map-get($container-padding, 'medium');
  }

  @include respond-to('large') {
    padding-left: map-get($container-padding, 'large');
    padding-right: map-get($container-padding, 'large');
  }

  .grid__cell {
    flex: 1;
    min-width: 66.6666vw;

    @include respond-to('medium') {
      min-width: calc(33.3333vw - 20px); // TODO: remove magic
    }

    @include respond-to('large') {
      min-width: calc(33.3333vw - 30px); // TODO: remove magic
    }

    padding-left: 0;
    padding-right: map-get($gutter-width, 'small');

    @include respond-to('medium') {
      padding-right: map-get($gutter-width, 'medium');
    }

    @include respond-to('large') {
      padding-right: map-get($gutter-width, 'large');
    }
  }
}
