//* @define grid; weak

//.grid--4 {
//  .grid__cell {
//    width: 100%;
//
//    @include respond-to('xsmall') {
//      width: 50%;
//
//      &:nth-child(2n+1) {
//        clear: both;
//      }
//    }
//
//    @include respond-to('small') {
//      width: 33.333%;
//
//      &:nth-child(2n+1) {
//        clear: none;
//      }
//
//      &:nth-child(3n+1) {
//        clear: both;
//      }
//    }
//
//    @include respond-to('xlarge') {
//      width: 25%;
//
//       &:nth-child(4n+1) {
//        clear: both;
//      }
//
//      &:nth-child(3n+1) {
//        clear: none;
//      }
//    }
//  }
//}
