.grid--breakout {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  .grid__cell:first-child {
    padding-left: 0;
    margin-left: 0;
    border: 0;
  }
}
