.grid--dividers {
  .grid__cell {
    position: relative;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      bottom: $vertical-space-unit;
      width: 1px;
      background: color('keyline-grey');
      left: map-get($gutter-width, 'small') / 2;

      @include respond-to('medium') {
        left: map-get($gutter-width, 'medium') / 2;
      }

      @include respond-to('large') {
        left: map-get($gutter-width, 'large') / 2;
      }
    }

    &.grid__cell--s4:before,
    &[class*='grid__cell--shift-s']:before {
      @include respond-between('small', 'medium') {
        display: none;
      }
    }

    &.grid__cell--m8:before,
    &[class*='grid__cell--shift-m']:before {
      @include respond-between('medium', 'large') {
        display: none;
      }
    }

    &:first-child {
      &:before {
        display: none;
      }
    }
  }

  &.grid--scroll .grid__cell:not(:first-child):before {
    @include respond-between('small', 'medium') {
      display: block;
    }
  }
}
