@mixin grid-cells($columns, $key) {
  @for $i from 1 through $columns {
    .grid__cell--#{$key}#{$i} {
      flex-basis: ($i / $columns) * 100%;
      max-width: ($i / $columns) * 100%;
    }
  }
}

@each $key, $list in $grid-config {
  $padding: map-get($list, 'padding');
  $gutter: map-get($list, 'gutter');
  $columns: map-get($list, 'columns');
  $respond: map-get($list, 'respond');

  @if (length($respond) > 1) {
    $lower: nth($respond, 1);
    $higher: nth($respond, 2);

    @include respond-between($lower, $higher) {
      @include grid-cells($columns, $key);
    }
  } @else {
    @include respond-to($respond) {
      @include grid-cells($columns, $key);
    }
  }
}
