.grid__cell {
  [class*='grid--theme-'] & {
    flex-basis: 100%;
  }

  .grid--theme-2 & {
    @include respond-to('medium') {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  .grid--theme-3 & {
    @include respond-to('medium') {
      flex-basis: percentage(1 / 3);
      max-width: percentage(1 / 3);
    }
  }

  .grid--theme-4 & {
    @include respond-to('medium') {
      flex-basis: 50%;
      max-width: 50%;
    }

    @include respond-to('large') {
      flex-basis: 25%;
      max-width: 25%;
    }
  }

  .grid--theme-5 & {
    @include respond-to('medium') {
      &:nth-child(1),
      &:nth-child(2) {
        flex-basis: 50%;
        max-width: 50%;
      }

      &:nth-child(n+3) {
        flex-basis: percentage(1 / 3);
        max-width: percentage(1 / 3);
      }
    }
  }

  .grid--theme-6 & {
    @include respond-to('medium') {
      flex-basis: percentage(1 / 3);
      max-width: percentage(1 / 3);
    }
  }

  .grid--theme-7 & {
    @include respond-to('medium') {
      &:nth-child(n+1):nth-child(-n+4) {
        flex-basis: 50%;
        max-width: 50%;
      }

      &:nth-child(n+5):nth-child(-n+7) {
        flex-basis: percentage(1 / 3);
        max-width: percentage(1 / 3);
      }
    }

    @include respond-to('large') {
      &:nth-child(n+1):nth-child(-n+3) {
        flex-basis: percentage(1 / 3);
        max-width: percentage(1 / 3);
      }

      &:nth-child(n+4):nth-child(-n+7) {
        flex-basis: 25%;
        max-width: 25%;
      }
    }
  }

  .grid--theme-8 & {
    @include respond-to('medium') {
      &:nth-child(n+1):nth-child(-n+2) {
        flex-basis: 50%;
        max-width: 50%;
      }

      &:nth-child(n+3):nth-child(-n+8) {
        flex-basis: percentage(1 / 3);
        max-width: percentage(1 / 3);
      }
    }

    @include respond-to('large') {
      &:nth-child(n+1):nth-child(-n+8) {
        flex-basis: 25%;
        max-width: 25%;
      }
    }
  }
}
