.grid--featured {
  position: relative;
  padding-left: map-get($container-padding, 'small');
  padding-right: map-get($container-padding, 'small');

  @include respond-to('medium') {
    padding-left: map-get($container-padding, 'medium');
    padding-right: map-get($container-padding, 'medium');
  }

  @include respond-to('large') {
    padding-left: map-get($container-padding, 'large');
    padding-right: map-get($container-padding, 'large');
  }

  @include respond-between('small', 'medium') {
    // This leaves a comfortable amount of the 'next' grid
    // item displaying in this configuration
    // TODO: calculate this based on number of contained grid__cells
    width: 250%;
  }

  &:before,
  &:after {
    content: '';
    width: 100%;
    margin-left: map-get($gutter-width, 'small');

    @include respond-to('medium') {
      margin-left: map-get($gutter-width, 'medium');
    }

    @include respond-to('large') {
      margin-left: map-get($gutter-width, 'large');
    }
  }

  &:before {
    height: 1px;
    background: color('keyline-grey');
    margin-bottom: 3 * $v-spacing-unit;;
  }

  &:after {
    height: 22px;
    background: color('black');
    margin-bottom: 5 * $v-spacing-unit;

    @include respond-to('large') {
      margin-bottom: 10 * $v-spacing-unit;
    }
  }

  .grid__cell {
    @include respond-between('small', 'medium') {
      flex: 1;
    }
  }
}
