name: Lighthouse integration

on:
  deployment_status:
    paths-ignore:
      - 'assets/**'
      - 'cache/**'
      - 'playwright/**'
    
jobs:
  run_lighthouse:
    name: Lighthouse report
    runs-on: ubuntu-20.04
    if: |
      github.event.deployment.task == 'deploy:weco' &&
      github.event.deployment_status.state == 'success'
    steps:
      - uses: actions/checkout@v2
      - name: Create URLs list
        id: urls
        run: ./.github/scripts/get-lighthouse-urls.sh
        env:
          DEPLOYMENT_ID: ${{ github.event.deployment.id }}
          DEPLOYMENT_STATUS_ID: ${{ github.event.deployment_status.id }}
      - name: Run report and upload results
        uses: treosh/lighthouse-ci-action@v8
        with:
          urls: ${{ steps.urls.outputs.list }}
          serverBaseUrl: https://lighthouse.wellcomecollection.org
          serverToken: ${{ secrets.LHCI_BUILD_TOKEN }}
        env:
          LHCI_BUILD_CONTEXT__CURRENT_BRANCH: "main"
      - name: Get link to results
        run: echo https://lighthouse.wellcomecollection.org/app/projects/wellcomecollection.org/dashboard
