name: Performance

on:
  pull_request:
    paths-ignore:
      - '.buildkite/**'
      - 'assets/**'
      - 'cache/**'
      - 'cardigan/**'
      - 'catalogue/terraform/**'
      - 'content/terraform/**'
      - 'docs/**'
      - 'identity/terraform/**'
      - 'infrastructure/**'
      - 'playwright/**'
      - 'prismic-model/**'
      - 'preview/**'

jobs:
  bundle_size_diff:
    name: Bundle size diff
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      # TODO: Remove this line when we can safely upgrade all our packages
      # to versions that support Node 16.
      # See https://github.com/wellcomecollection/wellcomecollection.org/pull/9324
      - uses: actions/setup-node@v4
        with:
          node-version: 16
      - uses: preactjs/compressed-size-action@v2
        with:
          build-script: "build-webapps"
          clean-script: "clean"
          pattern: "**/webapp/{.next/static/chunks,lib/frontend/build}/**/*.js"
          strip-hash: "\\b[-\\.](\\w{20})\\.js$"
          minimum-change-threshold: 512 # Only report changes for > 0.5kb
