<div class="footer row bg-dark-black {{ {s:5, m:10} | spacingClasses({padding: ['top']}) }}">
  <div class="container">
    <div class="grid">
      <div class="{{ {s:12, m:6, l:3} | gridClasses }}">
        <h3 class="footer__heading {{ {s:'HNL5'} | fontClasses }} relative">
          <span class="hidden">Wellcome collection</span>
          <a href="#" class="footer-nav__brand absolute">
            {% include "icons/other/wellcome-collection-white.svg.njk" %}
          </a>
        </h3>
        <div class="border-top-width-1 border-color-charcoal">
          {% component 'footer-nav', {navLinks: navLinks} %}
        </div>
      </div>
      <div class="{{ {s:12, m:6, l:3} | gridClasses }}">
        <h3 class="footer__heading {{ {s:'HNL5'} | fontClasses }}">Finding us:</h3>
        {% componentV2 'find-us', address %}
      </div>
      <div class="{{ {s:12, l:6, xl:6} | gridClasses }}">
        <h3 class="footer__heading {{ {s:'HNL5'} | fontClasses }}">Opening times:</h3>
        {% componentV2 'opening-hours', {places: openingHours.places, id: 'footer'} %}
      </div>
    </div>
    <div class="grid">
      <div class="grid__cell">
        <h3 class="footer__heading {{ {s:'HNL5'} | fontClasses }}">Connect with us:</h3>
      </div>
    </div>
    {% component 'footer-social', {items: footerSocial.items} %}

    <div class="footer__bottom">
      <div class="footer__left {{ {s:2, l:0} | spacingClasses({margin: ['bottom']}) }}">
        <div class="footer__strap {{ {s:'HNM6'} | fontClasses }} {{ {m:4, l:6} | spacingClasses({margin: ['right']}) }} {{ {s:2, m:0} | spacingClasses({padding: ['bottom']}) }}">
          {% icon 'other/wellcome' %}
          <span class="footer__strap-text">The free museum and library from Wellcome</span>
        </div>
        <div class="footer__licensing {{ {s:'HNM6'} | fontClasses }} {{ {xl:2} | spacingClasses({padding: ['right']}) }}">
          <div class="footer__licensing-icons">
            {% icon 'other/cc' %}
            {% icon 'other/cc_by' %}
          </div>
          <p class="footer__licensing-copy">Except where otherwise noted, content on this site is licensed under a <a class="footer__licensing-link" href="https://creativecommons.org/licenses/by/4.0/"> Creative Commons Attribution 4.0 International Licence</a></p>
        </div>
      </div>
      <nav class="footer__hygiene-nav">
        <ul class="plain-list footer__hygiene-list {{ {s:0} | spacingClasses({margin: ['top', 'left', 'bottom', 'right'], padding: ['top', 'left', 'bottom', 'right']}) }}">
          <li class="footer__hygiene-item {{ {s:'HNM6'} | fontClasses }}">
            <a href="https://wellcome.ac.uk/jobs" class="footer__hygiene-link">Jobs</a>
          </li>
          <li class="footer__hygiene-item {{ {s:'HNM6'} | fontClasses }}">
            <a href="https://wellcome.ac.uk/about-us/terms-use" class="footer__hygiene-link">Privacy</a>
          </li>
          <li class="footer__hygiene-item {{ {s:'HNM6'} | fontClasses }}">
            <a href="https://wellcome.ac.uk/about-us/terms-use" class="footer__hygiene-link">Cookies</a>
          </li>
          <li class="footer__hygiene-item {{ {s:'HNM6'} | fontClasses }}">
            <a href="https://wellcomecollection.org/press/press-releases" class="footer__hygiene-link">Press</a>
          </li>
          <li class="footer__hygiene-item {{ {s:'HNM6'} | fontClasses }}">
            <a href="https://developers.wellcomecollection.org" class="footer__hygiene-link">Developers</a>
          </li>
          <li class="footer__hygiene-item {{ {s:'HNM6'} | fontClasses }}">
            <a href="#top" class="footer__hygiene-link  footer__hygiene-link--back-to-top"><span>Back to top</span>{% icon 'actions/arrow', null, ['icon--270'] %}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
