<div class="footer row row--dark-black">
  <div class="container">
    <div class="grid">
      <div class="grid__cell grid__cell--s4 grid__cell--m8 grid__cell--l3">
        {% component "footer-nav", {navLinks: footerNav.navLinks} %}
      </div>
      <div class="grid__cell grid__cell--s4 grid__cell--m8 grid__cell--l3">
        <h3 class="footer__heading">Finding us:</h3>
        {% component "find-us" %}
      </div>
      <div class="grid__cell grid__cell--s4">
        <h3 class="footer__heading">Opening times:</h3>
        {% component "opening-hours", {places: openingHours.places} %}
      </div>
    </div>
    <div class="grid">
      <div class="grid__cell">
        <h3 class="footer__heading footer__heading--centered">Connect with us:</h3>
      </div>
    </div>
    {% component "footer-social", {columns: footerSocial.columns} %}
  </div>
</div>
