<div class="footer row row--dark-black">
  <div class="container">
    <div class="grid">
      <div class={{ {s:4, m:4, l:3} | grid }}">
        {% component 'footer-nav', {navLinks: navLinks} %}
      </div>
      <div class={{ {s:4, m:4, l:3} | grid }}">
        <h3 class="footer__heading">Finding us:</h3>
        {% component 'find-us' %}
      </div>
      <div class="{{ {s:4} | grid }}">
        <h3 class="footer__heading">Opening times:</h3>
        {% component 'opening-hours', {places: openingHours.places} %}
      </div>
    </div>
    <div class="grid">
      <div class="grid__cell">
        <h3 class="footer__heading footer__heading--centered">Connect with us:</h3>
      </div>
    </div>
    {% component 'footer-social', {columns: footerSocial.columns} %}

    <div class="footer__bottom">
      <div class="footer__strap">
        {% icon 'other/wellcome' %}
        <span class="footer__strap-text">The free museum and library from Wellcome</span>
      </div>
      <nav class="footer__hygiene-nav">
        <ul class="footer__hygiene-list">
          <li class="footer__hygiene-item">
            <a href="https://wellcome.ac.uk/about-us/terms-use" class="footer__hygiene-link">Privacy</a>
          </li>
          <li class="footer__hygiene-item">
            <a href="https://wellcome.ac.uk/about-us/terms-use" class="footer__hygiene-link">Cookies</a>
          </li>
          <li class="footer__hygiene-item">
            <a href="https://wellcomecollection.org/press/press-releases" class="footer__hygiene-link">Press</a>
          </li>
          <li class="footer__hygiene-item">
            <a href="#top" class="footer__hygiene-link  footer__hygiene-link--back-to-top"><span>Back to top</span>{% icon 'actions/arrow-big-up' %}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
